<div class="row">
  <h2 class="text-center">Sign-in to your account</h2>
  <div class="col-md-8 col-sm-12 text-center brrightGray">
    <div id="logindashboard">
      <uib-tabset active="activeTab" type="pills">
        <uib-tab index="0">
          <uib-tab-heading>
            Login as Customer
          </uib-tab-heading>
          <form name="vm.userForm" ng-submit="vm.signin(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
            <fieldset>
              <div class="row form-group" show-errors>
                <uib-alert type="danger" ng-show="vm.error" class="text-center text-danger">
                  <span ng-bind="vm.error"></span>
                </uib-alert>
                <div class="col-md-6">
                  <label for="usernameOrEmail">Username or Email</label>
                </div>
                <div class="col-md-6">
                  <input type="text" id="usernameOrEmail" name="usernameOrEmail" class="form-control" ng-model="vm.credentials.usernameOrEmail" placeholder="Username or Email" required autofocus/>
                  <div ng-messages="vm.userForm.usernameOrEmail.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Username or Email is required.</p>
                  </div>
                </div>
              </div>
              <div class="row form-group" show-errors>
                <div class="col-md-6">
                  <label for="password">Password</label>
                </div>
                <div class="col-md-6">
                  <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" required>
                  <div ng-messages="vm.userForm.password.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Password is required.</p>
                  </div>
                </div>
              </div>
              <div class="row text-center form-group">
                <button type="submit" class="btn_1 medium">Sign in</button>
              </div>
              <div class="forgot-password">
                <div class="col-md-6">
                  <a ui-sref="authentication.signup">Sign up</a>
                </div>
                <div class="col-md-6">
                  <a ui-sref="password.forgot">Forgot your password?</a>
                </div>
              </div>
              <br />
            </fieldset>
          </form>
        </uib-tab>
        <uib-tab index="1">
          <uib-tab-heading>
            Login as Agent
          </uib-tab-heading>
          <!--action="/public/hexAxisroomsLogin.html"-->

          <form class="login-form" id="loginForm" name="loginForm" action="http://hex.axisrooms.com/public/hexAxisroomsLogin.html" method="post" novalidate="novalidate" target="_self">
            <input type="hidden" name="userType" value="9">
            <fieldset>
              <div class="row form-group">
                <div class="col-md-6">
                  <label class="control-label visible-ie8 visible-ie9">User Type</label>
                </div>
                <div class="col-md-6">
                  <select id="usertype-dd" class="form-control inputType input-sm" ng-model="deskUserValue" ng-change="deskUser(deskUserValue)">
                    <option value="1">Primary User</option>
                    <option value="2">Desk User</option>
                  </select>
                </div>
              </div>
              <div ng-if="deskUserFlag" class="row form-group">
                <div class="col-md-6">
                  <label for="userTypeName" class="control-label visible-ie8 visible-ie9">Primary Email</label>
                </div>
                <div class="col-md-6">
                  <input class="form-control input-sm placeholder-no-fix" type="text" name="primaryEmailId" id="userTypeName" placeholder="Primary Email">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label for="mobile" class="control-label visible-ie8 visible-ie9">Email *
                    :</label>
                </div>
                <div class="col-md-6">
                  <input class="form-control input-sm placeholder-no-fix" type="text" id="username" placeholder="Email ID" name="emailId">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-6">
                  <label for="mobile" class="control-label visible-ie8 visible-ie9">Password
                    * :</label>
                </div>
                <div class="col-md-6">
                  <input class="form-control input-sm placeholder-no-fix" type="password" id="password" placeholder="Password" name="password">
                </div>
              </div>
              <div class="row text-center form-group">
                <button type="submit" class="btn_1 medium">Login</button>
              </div>
            </fieldset>
          </form>
        </uib-tab>

      </uib-tabset>
    </div>
    <div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 text-center">
    <h4>or using your social accounts</h4>
    <!-- <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="vm.callOauthProvider('/api/auth/facebook')" ng-src="/views/staydilly/modules/users/client/img/buttons/facebook.png"></a></div>
    <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="vm.callOauthProvider('/api/auth/twitter')" ng-src="/views/staydilly/modules/users/client/img/buttons/twitter.png"></a></div>
    <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="vm.callOauthProvider('/api/auth/google')" ng-src="/views/staydilly/modules/users/client/img/buttons/google.png"></a></div>
    <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="vm.callOauthProvider('/api/auth/linkedin')" ng-src="/views/staydilly/modules/users/client/img/buttons/linkedin.png"></a></div>
    <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="vm.callOauthProvider('/api/auth/github')" ng-src="/views/staydilly/modules/users/client/img/buttons/github.png"></a></div>
    <div class="social-account-container social-button"><a class="btn"><img class="img-responsive" ng-click="vm.callOauthProvider('/api/auth/paypal')"  ng-src="/views/staydilly/modules/users/client/img/buttons/paypal.png"></a></div> -->
      <!--<google-plus-signin clientid="913110640346-qqev4u7vfssnp266qnghocgkitgbv5mn"></google-plus-signin>-->
        <div style="margin: 20px 10px 0px 30px">
          <button ng-click="authenticate('google')" class="loginBtn loginBtn--google" style="max-width: 260px;">
            SignIn with Google
          </button>
        </div>
        <div style="margin: 20px 10px 0px 30px">
          <!--<button class="btn btn-primary" style="width:186px;height:36px" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Login with Facebook</button>-->
          <button ng-click="authenticate('facebook')" class="loginBtn loginBtn--facebook" style="max-width: 260px;">
            SignIn with Facebook
          </button>
        </div>
  </div>
</div>
