@import url(fontic-hotel.css);

#manage .btn-orange {
	margin-top: 10px;
	text-align: center;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	background: #F46F22;
	cursor: pointer;
	padding: 7px 7px;
	display: inline-block;
	outline: none;
	font-size: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
}

.mmyy {
    display: block;
    font: 300 25px Open Sans, Lato, Arial;
    color: #04c;
}

.voucher-hotel-details {
    float: left;
    margin: 0px;
    width: 100%;
}

#manage .container-card {
	margin: 10px 0px;
	background: #fff;
	box-shadow: 0 4px 4px rgba(0, 0, 0, .175);
	min-height: 500px;
}

.ptb30 {
	padding: 30px 0px;
}

#manage .proHead h2 {
	margin: 0px;
	background: #fff;
	padding: 10px 0px 20px 0px;
	color: #333;
	font-size: 20px;
}

#manage .profileNavcard ul li {
	list-style: none;
	margin: 10px 0px;
}

#manage .profileNavcard ul li a {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #565A5C;
	display: block;
	text-align: center;
	color: #000;
}

#manage .profileNavcard .bordeTop {
	border-top: 1px solid #565A5C;
}

#manage .profileNavcard ul li a:hover {
	background-color: #565A5C;
	color: #fff;
}

#manage .yourDeatails {
	padding: 10px;
}

#manage .profileTable tr td {
	padding: 10px;
	border: 1px solid #ddd;
	width: 250px;
}
#manage .table {
	border-bottom: 1px solid #ddd;
}
#manage .profileTable tr td:first-child {
	color: #000;
}

#manage .profileTable tr td:nth-child(3) {
	color: #000;
}
#manage .phead {
	color: #333;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
}

#manage .lesswidth{
	width: 100px;
}

#manage .bookingsort{
	margin: 30px 0px;
	border-bottom: 1px solid #D4DEE7;
	padding: 10px;
}
#manage .bookingsort li{
	list-style: none;
	display: inline-block;
}
#manage .bookingsort li a{
	padding: 10px 0px;
	cursor: pointer;
	color: #2D2D2D;
	margin-right: 40px;
	font-size: 16px;
}
#manage .bookingsort li a:hover{
	border-bottom: 4px solid #2FBFCD;
}
#manage .bookingsort li a .active{
	border-bottom: 4px solid #2FBFCD;
}

#manage .bookCard{
	border: 1px solid #8A8A8A;
	padding: 5px 0px;
	margin: 10px 0px;
}
#manage .bookSection{
	padding: 0px 20px;
}
#manage .bookCard p{
margin: 0px;
}

#manage .bookCard .name{
	color: #4876A5;
	font-size: 17px;
	padding: 7px 0px;
	text-transform: capitalize;
}
#manage .bookCard .bookno{
	color: #494949;
	font-size: 14px;
	padding: 5px 0px;
	text-transform: capitalize;
}
#manage .bookCard .hotelimg{
	margin: 37px 0px;
}
#manage .bookCard .hotelimg img{
	height: 100%;
	width: 100%;
}
#manage .bookCard .bookno2{
	color: #93A2AB;
}
#manage .bookCard .currency{
	color: #494949;
	font-size: 16px;
	padding: 5px 0px;
	text-transform: uppercase;
}
#manage .bookCard .bookedon{
	color: #97a1a5;
	padding: 5px 0px;
}
.checkIn{
	color: #333334;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
	padding: 7px 10px;
}
.date{
	float: left;
	color: #333334;
	font-size: 40px;
	font-weight: bold;
	text-transform: capitalize;
	padding: 7px 0px;
}

.day{
	float: left;
	font-size: 14px;
	padding: 0px 10px;
	color: #333334;
	text-transform: capitalize;
}
.manabookbtn{
	background-color: #F1601C;
	float: left;
	margin-top: 10px;
	padding: 5px 20px;
	color: #fff;
	border-radius: 14px;
}
.manabookbtn:hover{
	color: #fff;
}
