<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Blogs</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href ui-sref="dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Blogs</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 pr0">
                    <div class="sect big">
                        <h4>{{ selectedBlogs[1].title }}</h4>
                        <img ng-src="{{selectedBlogs[1].thumbnail}}" style="height: 30px;"/>
                        <button class="btn btn-warning" ng-show="selectedBlogs[1]" ng-click="editBlog(1)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedBlogs[1]" ng-click="addBlog(1)">Add</button>
                    </div>
                </div>
                <div class="col-md-6 pl0">
                    <div class="sect big">
                        <h4>{{ selectedBlogs[2].title }}</h4>
                        <img ng-src="{{selectedBlogs[2].thumbnail}}" style="height: 30px;"/>
                        <button class="btn btn-warning" ng-show="selectedBlogs[2]" ng-click="editBlog(2)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedBlogs[2]" ng-click="addBlog(2)">Add</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr0">
                    <div class="sect big">
                        <h4>{{ selectedBlogs[3].title }}</h4>
                        <img ng-src="{{selectedBlogs[3].thumbnail}}" style="height: 30px;"/>
                        <button class="btn btn-warning" ng-show="selectedBlogs[3]" ng-click="editBlog(3)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedBlogs[3]" ng-click="addBlog(3)">Add</button>
                    </div>
                </div>
                <div class="col-md-6 pl0">
                    <div class="sect big">
                        <h4>{{ selectedBlogs[4].title }}</h4>
                        <img ng-src="{{selectedBlogs[4].thumbnail}}" style="height: 30px;"/>
                        <button class="btn btn-warning" ng-show="selectedBlogs[4]" ng-click="editBlog(4)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedBlogs[4]" ng-click="addBlog(4)">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 side" ng-if="!blogSectionVisibility">
            <heading heading-object="heading"></heading>
        </div>

        <div class="col-md-4 side" ng-if="blogSectionVisibility">
            <h3>Section {{ currentPanel }}</h3>
            <div class="form-group">
                <label class="booking-label">Select A Blog</label>
                <ul class="pl0">
                    <li ng-repeat="blog in blogs" class="p-t-10">
                        <div class="col-xs-1">
                            <input type="radio" name="blog" ng-model="selectedBlog.id" ng-value="blog.id"/>
                        </div>
                        <div class="col-xs-2">
                            <img ng-src="{{blog.thumbnail}}" style="width: 100%"/>
                        </div>
                        <div class="col-xs-8" ng-bind-html="blog.title"></div>
                    </li>
                </ul>
                <button class="btn btn-success" ng-click="saveBlog()" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="updateBlog()" ng-show="editing">Update</button>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>