<div id="cms">
  <div class="col-md-2">
    <div class="row">
      <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
          <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item" ng-class="{active: page == 'dashboard'}">
              <a href ui-sref=".dashboard" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
              </a>
            </li>
            <li class="heading">
              <h3 class="uppercase">Sections</h3>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'collections'}">
              <a href ui-sref=".collections" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Collections</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'deals'}">
              <a href ui-sref=".dealsCms" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Deals</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'locations'}">
              <a href ui-sref=".locations" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Locations</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'blog'}">
              <a href ui-sref=".blog" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Blog</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'hotels'}">
              <a href ui-sref=".hotels" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Hotels</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'policies'}">
              <a href ui-sref=".policies" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Policies</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'promotion'}">
              <a href ui-sref=".promotion" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Promotions</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'editor'}">
              <a href ui-sref=".editor" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Editor</span>
              </a>
            </li>
          </ul>
          <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div ui-view></div>
  </div>
</div>
