<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Collections</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href ui-sref="dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Collections</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="sect small col-xs-12">
                            <h4>{{ myCollections[1].name }}</h4>
                            <h5>{{ myCollections[1].description }}</h5>
                            <img ng-src="{{myCollections[1].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myCollections[1]" ng-click="editCollection(1)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myCollections[1]" ng-click="addCollection(1)">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sect small col-xs-12">
                            <h4>{{ myCollections[3].name }}</h4>
                            <h5>{{ myCollections[3].description }}</h5>
                            <img ng-src="{{myCollections[3].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myCollections[3]" ng-click="editCollection(3)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myCollections[3]" ng-click="addCollection(3)">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sect small col-xs-12">
                            <h4>{{ myCollections[4].name }}</h4>
                            <h5>{{ myCollections[4].description }}</h5>
                            <img ng-src="{{myCollections[4].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myCollections[4]" ng-click="editCollection(4)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myCollections[4]" ng-click="addCollection(4)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="sect big col-xs-12">
                            <h4>{{ myCollections[2].name }}</h4>
                            <h5>{{ myCollections[2].description }}</h5>
                            <img ng-src="{{myCollections[2].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myCollections[2]" ng-click="editCollection(2)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myCollections[2]" ng-click="addCollection(2)">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sect small col-xs-6">
                            <h4>{{ myCollections[5].name }}</h4>
                            <h5>{{ myCollections[5].description }}</h5>
                            <img ng-src="{{myCollections[5].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myCollections[5]" ng-click="editCollection(5)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myCollections[5]" ng-click="addCollection(5)">Add</button>
                        </div>
                        <div class="sect small col-xs-6">
                            <h4>{{ myCollections[6].name }}</h4>
                            <h5>{{ myCollections[6].description }}</h5>
                            <img ng-src="{{myCollections[6].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myCollections[6]" ng-click="editCollection(6)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myCollections[6]" ng-click="addCollection(6)">Add</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-4 side" ng-if="!rightSectionVisibility">
            <heading heading-object="heading"></heading>
        </div>

        <div class="col-md-4 side" ng-if="rightSectionVisibility">
            <h3>Section {{ currentIndex }}</h3>
            <div class="form-group">
                <label class="booking-label">Select A Collection</label>
                <ul class="pl0 fixedHeight">
                    <li ng-repeat="collection in collections" class="p-t-10 row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-1">
                                    <input type="radio" name="blog" ng-model="selectedCollection.id" ng-value="collection.id"/>
                                </div>
                                <div class="col-xs-10" ng-bind-html="collection.name"></div>
                            </div>
                            <div class="row p-t-10" ng-if="selectedCollection.id == collection.id">
                                <div class="col-xs-11 col-xs-offset-1">
                                    <div class="row">
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                <label><b>Desciption</b></label>
                                                <textarea ng-model="selectedCollection.description" class="form-control" style="height: 80px"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label><b>Image</b></label><br/>
                                            <button  class="f9" ng-click="openImageModal()" ng-if="!selectedCollection.image">Change Image</button>
                                            <img ng-src="{{selectedCollection.image}}" style="height: 80px; cursor: pointer;" ng-click="openImageModal()" ng-if="selectedCollection.image"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-success" ng-click="saveCollection()" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="updateCollection()" ng-show="editing">Update</button>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
