<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Deals</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href ui-sref="dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Deals</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="col-md-8">
            <div class="row p-t-10">
                <div class="col-md-8 pr0">
                    <div class="sect big">
                        <h4 ng-show="selectedDeals[1]">{{ selectedDeals[1].name }}</h4>
                        <button class="btn btn-warning" ng-show="selectedDeals[1]" ng-click="togglePanel(1, true)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedDeals[1]" ng-click="togglePanel(1)">Add</button>
                    </div>
                </div>
                <div class="col-md-4 pl0">
                    <div class="sect">
                        <h4 ng-show="selectedDeals[2]">{{ selectedDeals[2].name }}</h4>
                        <button class="btn btn-warning" ng-show="selectedDeals[2]" ng-click="togglePanel(2, true)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedDeals[2]" ng-click="togglePanel(2)">Add</button>
                    </div>
                </div>
                <div class="col-md-4 pl0">
                    <div class="sect">
                        <h4 ng-show="selectedDeals[3]">{{ selectedDeals[3].name }}</h4>
                        <button class="btn btn-warning" ng-show="selectedDeals[3]" ng-click="togglePanel(3, true)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedDeals[3]" ng-click="togglePanel(3)">Add</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pr0">
                    <div class="sect">
                        <h4 ng-show="selectedDeals[4]">{{ selectedDeals[4].name }}</h4>
                        <button class="btn btn-warning" ng-show="selectedDeals[4]" ng-click="togglePanel(4, true)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedDeals[4]" ng-click="togglePanel(4)">Add</button>
                    </div>
                </div>
                <div class="col-md-4 pl0 pr0">
                    <div class="sect">
                        <h4 ng-show="selectedDeals[5]">{{ selectedDeals[5].name }}</h4>
                        <button class="btn btn-warning" ng-show="selectedDeals[5]" ng-click="togglePanel(5, true)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedDeals[5]" ng-click="togglePanel(5)">Add</button>
                    </div>
                </div>
                <div class="col-md-4 pl0">
                    <div class="sect">
                        <h4 ng-show="selectedDeals[6]">{{ selectedDeals[6].name }}</h4>
                        <button class="btn btn-warning" ng-show="selectedDeals[6]" ng-click="togglePanel(6, true)">Edit</button>
                        <button class="btn btn-primary" ng-hide="selectedDeals[6]" ng-click="togglePanel(6)">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 side" ng-if="!showPanel">
            <heading heading-object="heading"></heading>
        </div>

        <div class="col-md-4 side" ng-if="showPanel">
            <h3>Section {{ currentPanel }}</h3>
            <div class="form-group">
                <label class="booking-label">Select A Deal</label>
                <ui-select ng-model="deal" title="Change Location" ng-change="setItem(deal)">
                    <ui-select-match placeholder="Location">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="deal in deals | filter: $select.search">
                        <span ng-bind-html="deal.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
                <button class="btn btn-success" ng-click="add(deal)" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="update(deal)" ng-show="editing">Update</button>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
