<div class="row">
    <div class="col-md-8 col-md-offset-3">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">CSS Editor</span>
                    <span class="caption-helper">Update your CSS here.</span>
                </div>
            </div>
            <div class="portlet-body">
                <textarea ng-model="css" class="css-editor"></textarea>
            </div>
            <button ng-click="update()" class="btn blue">Save</button>
        </div>
        </div>
    </div>