<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Locations</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href ui-sref="dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Locations</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-8">
                    <div class="row">
                        <div class="sect big col-xs-12">
                            <h4>{{ myLocations[1].state }}</h4>
                            <img ng-src="{{myLocations[1].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myLocations[1]" ng-click="editLocation(1)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myLocations[1]" ng-click="addLocation(1)">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sect small col-xs-6">
                            <h4>{{ myLocations[2].state }}</h4>
                            <img ng-src="{{myLocations[2].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myLocations[2]" ng-click="editLocation(2)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myLocations[2]" ng-click="addLocation(2)">Add</button>
                        </div>
                        <div class="sect small col-xs-6">
                            <h4>{{ myLocations[3].state }}</h4>
                            <img ng-src="{{myLocations[3].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myLocations[3]" ng-click="editLocation(3)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myLocations[3]" ng-click="addLocation(3)">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="sect small col-xs-12">
                            <h4>{{ myLocations[4].state }}</h4>
                            <img ng-src="{{myLocations[4].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myLocations[4]" ng-click="editLocation(4)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myLocations[4]" ng-click="addLocation(4)">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sect small col-xs-12">
                            <h4>{{ myLocations[5].state }}</h4>
                            <img ng-src="{{myLocations[5].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myLocations[5]" ng-click="editLocation(5)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myLocations[5]" ng-click="addLocation(5)">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="sect small col-xs-12">
                            <h4>{{ myLocations[6].state }}</h4>
                            <img ng-src="{{myLocations[6].image}}" style="height: 30px;"/>
                            <button class="btn btn-warning" ng-show="myLocations[6]" ng-click="editLocation(6)">Edit</button>
                            <button class="btn btn-primary" ng-hide="myLocations[6]" ng-click="addLocation(6)">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 side" ng-if="!rightSectionVisibility">
            <heading heading-object="heading"></heading>
        </div>

        <div class="col-md-4 side" ng-if="rightSectionVisibility">
            <h3>Section {{ currentIndex }}</h3>
            <div class="form-group">
                <label class="booking-label">Select A Location</label>
                <ul class="pl0 fixedHeight">
                    <li ng-repeat="location in locations" class="p-t-10 row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-1">
                                    <input type="radio" name="blog" ng-model="selectedLocation.id" ng-value="location.state_id"/>
                                </div>
                                <div class="col-xs-10" ng-bind-html="location.state"></div>
                            </div>
                            <div class="row" ng-if="selectedLocation.id == location.state_id">
                                <div class="col-xs-11 col-xs-offset-1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label><b>Image</b></label><br/>
                                            <button  class="f9" ng-click="openImageModal()" ng-if="!selectedLocation.image">Change Image</button>
                                            <img ng-src="{{selectedLocation.image}}" style="height: 80px; cursor: pointer;" ng-click="openImageModal()" ng-if="selectedLocation.image"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-success" ng-click="saveLocation()" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="updateLocation()" ng-show="editing">Update</button>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>