<div class="page-content-wrapper">
  <!-- BEGIN CONTENT BODY -->
  <div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
      <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
        <h1>Policy</h1>
      </div>
      <!-- END PAGE TITLE -->
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <a href ui-sref="dashboard">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
        <span class="active">Policy</span>
      </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light bordered">
          <div class="portlet-body">
            <wysiwyg textarea-id="policy-textarea" textarea-class="form-control"  textarea-height="80px" textarea-name="textareaQuestion" textarea-required ng-model="policy.text" class="css-editor" textarea-menu="policy.customMenu"></wysiwyg>
          </div>
          <button ng-click="savePolicy()" class="policybtn btn blue">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTENT BODY -->
</div>
