<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Promos</h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href ui-sref="dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Promos</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <!-- BEGIN DASHBOARD STATS 1-->
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 pr0">
                    <div class="sect big">
                        <h4><strong>{{ myPromos[1].title }}</strong></h4>
                        <h5><strong>{{ myPromos[1].hotel }}</strong></h5>
                        <h5>{{ myPromos[1].description }}</h5>
                        <button class="btn btn-warning" ng-show="myPromos[1]" ng-click="editPromo(1)">Edit</button>
                        <button class="btn btn-primary" ng-hide="myPromos[1]" ng-click="addPromo(1)">Add</button>
                    </div>
                </div>
                <div class="col-md-6 pl0">
                    <div class="sect big">
                        <h4><strong>{{ myPromos[2].title }}</strong></h4>
                        <h5><strong>{{ myPromos[2].hotel }}</strong></h5>
                        <h5>{{ myPromos[2].description }}</h5>
                        <button class="btn btn-warning" ng-show="myPromos[2]" ng-click="editPromo(2)">Edit</button>
                        <button class="btn btn-primary" ng-hide="myPromos[2]" ng-click="addPromo(2)">Add</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 pr0">
                    <div class="sect big">
                        <h4><strong>{{ myPromos[4].title }}</strong></h4>
                        <h5><strong>{{ myPromos[4].hotel }}</strong></h5>
                        <h5>{{ myPromos[4].description }}</h5>
                        <button class="btn btn-warning" ng-show="myPromos[4]" ng-click="editPromo(4)">Edit</button>
                        <button class="btn btn-primary" ng-hide="myPromos[4]" ng-click="addPromo(4)">Add</button>
                    </div>
                </div>
                <div class="col-md-6 pl0">
                    <div class="sect big">
                        <h4><strong>{{ myPromos[5].title }}</strong></h4>
                        <h5><strong>{{ myPromos[5].hotel }}</strong></h5>
                        <h5>{{ myPromos[5].description }}</h5>
                        <button class="btn btn-warning" ng-show="myPromos[5]" ng-click="editPromo(5)">Edit</button>
                        <button class="btn btn-primary" ng-hide="myPromos[5]" ng-click="addPromo(5)">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 side" ng-if="!rightSectionVisibility">
            <heading heading-object="heading"></heading>
        </div>

        <div class="col-md-4 side" ng-if="rightSectionVisibility">
            <h3>Section {{ currentIndex }}</h3>
            <div class="form-group">
                <label class="booking-label">Select A Promo</label>
                <ul class="pl0 fixedHeight">
                    <li ng-repeat="promo in promos" class="p-t-10">
                        <div class="row">
                            <div class="col-xs-1">
                                <input type="radio" name="promo" ng-model="selectedPromo.id" ng-value="promo.id"/>
                            </div>
                            <div class="col-xs-10">
                                <div><b>Hotel -</b> {{promo.hotel}}</div>
                                <div><b>Description -</b> {{promo.description}}</div>
                            </div>
                        </div>
                        <div class="row" ng-if="selectedPromo.id == promo.id">
                            <div class="col-xs-11 col-xs-offset-1">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input ng-model="selectedPromo.title" required placeholder="Title"></input>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-success" ng-click="savePromo()" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="updatePromo()" ng-show="editing">Update</button>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>