<div class="global-wrap container-fluid">
    <div class="row">

	 		<div class="vc_row wpb_row bg-holder vc_custom_1458810483422 bg-parallax img" style="background-position: 50% -24.5333px;">
	 			<div class="bg-mask">
	 			</div>
	 			<div class="container ">
	 				<div class="row">
						<div class="wpb_column column_container col-md-12">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h1 style="text-align: center;">
											<span style="color: #ffffff;">About Us</span>
										</h1>
									</div>
								</div>
							</div>
						</div> 
					</div><!--End .row-->
				</div><!--End .container-->
			</div>

			<div class="vc_row wpb_row bg-holder">
					<div class="row">
						<div class="wpb_wrapper">
							<h1 class="page-title">About Us</h1>
							<p>Travel.mv is the leading online seller of hotels &amp; experiences, providing access to various tours,&nbsp;attractions and activities in 100+ islands of Maldives.</p>
						</div>
					</div><!--End .row-->
					<div class="row">
						<div class="wpb_wrapper">
							<h2>One-Stop Shop.</h2>
							<p>Travel.mv offers travelers a one-stop shop to plan, research and book trip activities online and&nbsp;supplementing the tour information with reviews and photos from purchasing customers.</p>
						</div>
					</div><!--End .row-->
					<div class="row">
						<div class="wpb_wrapper">
							<div class="gap"></div>
							<p class="text-bigger">Search, compare and book a range of hotels &amp; experiences throughout the Maldives.</p>
							<div class="gap"></div>
						</div>
					</div><!--End .row-->
			</div>

	</div> 
</div>