.success_intro_title {
	font-size: 38px;
    margin-bottom: 15px;
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.booking-form-control{
	font-size: 12px;
    color: #333;
    height: 40px;
    border-radius: 0px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.step-details{
	padding: 20px 0 20px 31px;
    margin: 0 0 10px 20px;
}

.booking-line{
	border-color: #50bcbb;
    width: 60%;
}