<!--About us starts-->
<div class="container-fluid">
    <div class="row">
        <div class="img-resp">
            <img src="views/staydilly/modules/core/client/img/header-beach-view-b.jpg" alt="">
          <div class="text-data">
            <h2>How We work</h2>
            <span>The best hotels at the lowest prices.</span>
            </div>
        </div>
    </div>
</div>

<div class="container margin_60">

    <div class="main_title">
        <p>Welcome to Staydilly! You may be familiar with the concept of a Mystery Hotel as found on other Major online hotel booking sites. Staydilly takes this idea further by listing all the hotels on our site as Mystery hotels in order to give you, the
            traveler, the best prices available online. </p>
        <p>Because we know that even the best and most luxurious hotels have unsold rooms, Staydilly has partnered with some of the best and most recognizable hotel brands to sell their unsold rooms to savy travelers who want to stay at premium hotels but
            not pay the premium prices. The only catch is, to give you the best prices, we are only able to reveal the name of the Staydilly partner hotel you have chosen, only after the booking has been completed by you. </p>
    </div>
</div>
<hr class="hr-style">
<!-- End container -->

<!-- TEAM -->
<section class="section-team">
    <div class="container">

        <div class="team">

            <div class="team_content">
                <div class="row">

                    <!-- ITEM -->
                    <div class="col-xs-12 col-md-4">
                        <div class="team_item text-center">

                            <div class="img">
                                <a href=""><img src="views/staydilly/modules/core/client/images/browse.png" alt=""></a>
                            </div>

                            <div class="text">
                                <h2>BROWSE</h2>
                                <p>Select the destination of your next trip. This brings up a list of hotels bearing the Staydilly name in your desired destination for you to choose from. </p>
                            </div>

                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="col-xs-12 col-md-4">
                        <div class="team_item text-center">

                            <div class="img">
                                <a href=""><img src="views/staydilly/modules/core/client/images/book-pay.png" alt=""></a>
                            </div>

                            <div class="text">
                                <h2>BOOK &amp; PAY</h2>
                                <p>Select your desired hotel based on the photographs of the hotel and room, facilities, general location on a map, and other details of the hotel. Rest assured we only work with 3-star hotels and above who have received good
                                    reviews from previous guest.</p>
                            </div>

                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="col-xs-12 col-md-4">
                        <div class="team_item text-center">

                            <div class="img">
                                <a href=""><img src="views/staydilly/modules/core/client/images/enjoy-staydilly-hotels.png" alt=""></a>
                            </div>

                            <div class="text">
                                <h2>STAY</h2>
                                <p>Once you have selected your hotel, make the necessary payment and you will be provided an instant confirmation of your booking. At this point, the name of the Staydilly partner hotel will be revealed to you. </p>
                            </div>

                        </div>
                    </div>
                    <!-- END / ITEM -->
                </div>
            </div>
        </div>
    </div>
    <div class="container margin_60">
        <div class="main_title">
            <p>We guarantee that you will not find a cheaper price anywhere else online. We are so sure of our lowest price guarantee that we will refund you the price difference you would have paid if you found the hotel being sold, in the same category
                and conditions, for a cheaper price anywhere else online.</p>
        </div>
    </div>
</section>
<!-- END / TEAM -->

<!--About us ends-->
