<!--About us starts-->
<div class="container-fluid">
    <div class="row">
        <div class="img-resp">
            <img src="views/staydilly/modules/core/client/img/header-pool-b.jpg" alt="">
            <div class="text-data">
                <h2>About Us</h2>
                <span>Revolutionize the travel industry - that's what we aim to do. How?</span>
            </div>
        </div>
    </div>
</div>

<div class="container margin_60">

    <div class="main_title">
        <p>Even the best hotels in the world will have unoccupied rooms at any given time of the year. Since it makes more financial sense to have all the rooms occupied, these hotels partner with Staydilly to sell these rooms. By operating in a uniquely
            opaque distribution channel, we help travellers book these exquisite rooms at heavily discounted prices. But this also means that the hotel's name would be concealed and only made known to the traveller until the booking is confirmed. This
            allows us to sell these rooms at steep discounts and providing elements of mystery and excitement to the travellers. Our rooms are priced lower than any other travel site, that is our guarantee.</p>

        <p>Staydilly only partners with hotels that are of exceptional quality and have garnered positive reviews from the hotel guests. We understand every traveller has different needs . As such, we offer different type of accommodations, such as boutique,
            beach and city hotel collections so that you can find just what you're looking for.</p>

        <p>For more choices , browse our Staydilly website and start planning your Staydilly getaway today!</p>
    </div>
</div>

<!-- End container -->

<hr class="hr-style">
<!-- End container -->



<!--About us ends-->
