@import url(fontic-hotel.css);
.btn-orange {
    margin-top: 10px;
    text-align: center;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: #F46F22;
    cursor: pointer;
    padding: 7px 10px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.sale-summary {
    margin-top: 10px;
}

.portlet {
    clear: both;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 10px 0px;
    -webkit-box-shadow1: 0 1px 4px rgba(0, 0, 0, 0.07);
    box-shadow1: 0 1px 4px rgba(0, 0, 0, 0.07);
    /*border: 1px solid #ddd;*/
    border-radius: 4px;
}

.portlet>.portlet-title {
    background-color: #eee;
    border-radius: 4px 4px 0 0;
    padding: 10px 10px 2px 10px;
    height: 38px;
}

.portlet>.portlet-title>.caption {
    color: #333;
    float: left;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-top: 1px;
}

.portlet>.portlet-title>.caption>i {
    float: left;
    margin-top: 2px;
    display: inline-block !important;
    font-size: 13px;
    margin-right: 5px;
    color: #666;
}

.sortable .portlet>.portlet-title {
    cursor: move;
}

.portlet>.portlet-title>.tools,
.portlet>.portlet-title>.actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    float: right;
}

.portlet>.portlet-title>.tools {
    margin-top: 0px;
}

.portlet>.portlet-title>.tools>a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
}

.portlet>.portlet-title>.actions>.dropdown-menu i {
    color: #000 !important;
}

.portlet>.portlet-title>.tools>a.remove {
    margin-bottom: 2px;
    background-image: url(../img/portlet-remove-icon.png);
    background-repeat: no-repeat;
    width: 11px;
}

.portlet>.portlet-title>.tools>a.config {
    margin-bottom: 2px;
    background-image: url(../img/portlet-config-icon.png);
    background-repeat: no-repeat;
    width: 12px;
}

.portlet>.portlet-title>.tools>a.reload {
    margin-bottom: 2px;
    background-image: url(../img/portlet-reload-icon.png);
    width: 13px;
}

.portlet>.portlet-title>.tools>a.expand {
    margin-bottom: 2px;
    background-image: url(../img/portlet-expand-icon.png);
    width: 14px;
}

.portlet>.portlet-title>.tools>a.collapse {
    margin-bottom: 2px;
    background-image: url(../img/portlet-collapse-icon.png);
    width: 14px;
}

.portlet>.portlet-title>.tools>a:hover {
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: .6;
    filter: 'alpha(opacity=60)';
}

.portlet>.portlet-title>.actions>.btn-group {
    margin-top: -8px;
}

.portlet>.portlet-title>.actions>.btn {
    padding: 4px 10px;
    margin-top: -10px;
}

.portlet>.portlet-title>.actions>.btn-group>.btn {
    padding: 4px 10px;
    margin-top: -1px;
}

.portlet>.portlet-title>.actions>.btn.btn-sm {
    padding: 3px 8px;
    margin-top: -10px;
}

.portlet>.portlet-title>.actions>.btn-group>.btn-sm {
    padding: 3px 8px;
    margin-top: -1px;
}

.portlet>.portlet-title>.pagination.pagination-sm {
    float: right !important;
    display: inline-block !important;
    margin: 0px;
    margin-top: -6px;
}

.portlet>.portlet-body {
    clear: both;
    padding: 10px;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
}

.sale-summary li .sale-num {
    color: #51bce6;
    float: right;
    font-size: 16px;
}

.sale-summary li .sale-info {
    float: left;
    font-size: 16px;
}

.table-head {
    background-color: #eeeeee;
}

.table-body {
    color: #333333;
}


/*manageprofile*/

.editUser {
    padding: 10px;
}

.editUser table tr td {
    padding: 10px 20px;
}

.editUser table tr td input {
    padding: 5px 10px;
}

.editUser table tr td .inputDisabled {
    background: #eee;
    border: 1px solid #a9a9a9;
    cursor: not-allowed;
}

.changePassword .ChangePass {
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.referFriend {
    text-align: center;
}

.referFriend .refBtn {
    padding: 2px 10px;
    border-radius: 0px;
}

.referFriend .refinput {
    width: 300px;
}

.modal-header h4 {
    margin: 0px;
    color: #fff;
}

.errormsg p {
    text-align: center;
}

.policybtn{
	margin-top: 25px !important;
}
