<div class="custom-loader" ng-hide="dataReceived">
  <div class="Resloader">
    <img id="logo" src="../views/staydilly/modules/core/client/images/staydilly-loading.png">
  </div>
     <div class="sk-spinner-img sk-spinner-wave-img">
         <div class="sk-rect1-img"></div>
         <div class="sk-rect2-img"></div>
         <div class="sk-rect3-img"></div>
         <div class="sk-rect4-img"></div>
         <div class="sk-rect5-img"></div>
    </div>
</div>
<section ng-controller="SearchController">
  <div class="container">
    <div class="col-md-12 parallax-overide mar0">
      <form class="mar0 booking-form">
        <!--<div class="col-md-1"></div>-->
        <div class="form-group col-md-4">
          <i class="icon-location book-icons" style="right:20px;z-index:9999;"></i>
          <label class="booking-label">Search your Destination</label>
          <ui-select ng-model="location" title="Change Location" ng-change="setLoc(location)">
              <ui-select-match placeholder="Location">
                  <div ng-hide="$select.selected.city_id == -1 || $select.selected.city_id == null">{{$select.selected.city}},&nbsp{{$select.selected.state}}</div>
                  <div ng-show="$select.selected.city_id == -1 || $select.selected.city_id == null">{{$select.selected.state}}</div>
              </ui-select-match>
              <ui-select-choices repeat="loc in allLocations | filter: $select.search | orderBy: 'state'" >
                  <div ng-hide="loc.city_id == -1">
                      &nbsp &nbsp <i class="icon-level-up icon-rotate-90 search-icon"></i> <span ng-bind-html="loc.city | highlight: $select.search"></span>,&nbsp<span>{{loc.state}}</span>
                  </div>
                  <div ng-show="loc.city_id == -1">
                      <span ng-bind-html="loc.state | highlight: $select.search"></span>,&nbsp<span>{{loc.country}}</span>
                  </div>
              </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group col-md-2">
          <i class="icon-calendar book-icons" style="right:20px;" ng-click="open1()"></i>
          <label class="booking-label">Check In</label>
          <input class="form-control custom-cls config-start-date config-demo dp" ng-keyup="open1()" ng-click="open1()" name="startDate" required readonly="readonly" type="text" ng-change="setMinMaxDate();" uib-datepicker-popup="{{format}}" popup-placement="bottom"
                 ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" placeholder="Start" close-text="Close" />
        </div>
        <div class="form-group col-md-2">
          <i class="icon-calendar book-icons" style="right:20px;" ng-click="open2()"></i>
          <label class="booking-label">Check Out</label>
          <input class="form-control custom-cls config-end-date config-demo dp" ng-keyup="open2()" ng-click="open2()" name="endDate" required readonly="readonly" type="text" uib-datepicker-popup="{{format}}" popup-placement="bottom" ng-model="endDate" is-open="popup2.opened"
                 datepicker-options="dateOptions2" ng-required="true" placeholder="End" close-text="Close" />
        </div>
        <div class="form-group col-md-2">
          <label class="booking-label">Guests</label>
          <div class="btn-group wid100" uib-dropdown auto-close="outsideClick">
            <input type="text" class="form-control custom-cls guests" id="split-button" placeholder="{{ guest.rooms }} Rooms, {{ guest.adults }} Adults" readonly/>
            <button type="button" class="btn btn-danger guest-btn" uib-dropdown-toggle>
              <span class="caret"></span>
              <span class="sr-only">Split button!</span>
            </button>

            <div class="dropdown-menu guest-selection mg0" uib-dropdown-menu role="menu" aria-labelledby="split-button">
              <span>Adults</span>
              <div class="input-group number-spinner1">
                                    <span class="input-group-btn">
                                <button class="btn btn-default"  ng-click="spinDown('adults')">
                                  <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                    </span>
                <input type="text" class="form-control text-center" ng-model="guest.adults" value="{{ guest.adults }}" ng-change="onAdultsChange()">
                                    <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="spinUp('adults')">
                                  <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                    </span>
              </div>
              <br>
              <span>Rooms</span>
              <div class="input-group number-spinner">
                                    <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="spinDownroom('rooms')">
                                  <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                    </span>
                <input type="text" class="form-control text-center" ng-model="guest.rooms" value="{{ guest.rooms }}" ng-change="onRoomChange()">
                                    <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="spinUproom('rooms')">
                                  <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                    </span>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <a href ui-sref="list({
                       location: (cityId != -1) ? cityId : null,
                       checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()),
                       checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                       rooms: guest.rooms,
                       adults: guest.adults,
                       propertyType: propertyType,
                       country: cityId || stateId ? null : country,
                       deal: deal,
                       promo: promo,
                       stateId: (cityId != -1) ? null : stateId})" ui-sref-opts="{inherit: false}" class="btn_1">search</a>
        </div>
      </form>
    </div>
  </div>

</section>
<!-- End section -->

<div class="container no-hotels" ng-show="noHotels">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>No Hotels</h1>
    </div>
  </div>
</div>
<div class="container-fluid hotel-list-section" ng-hide="noHotels">
  <div class="container">
    <div class="row list-path-filter">
      <div class="col-md-6 page-position" ng-hide="showfilter">
        <div class="page-position" id="position">
          <div class="container">
            <ul ng-repeat="loc in loca track by $index" index="$index" ng-if="loc.city_id == location">
              <li>
                <a ui-sref="list({ country: loc.country_id, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                    rooms: guest.rooms, adults: guest.adults})" ui-sref-opts="{inherit: false}">{{loc.country}}</a></li>
              <li> <a ui-sref="list({ stateId: loc.state_id, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                    rooms: guest.rooms, adults: guest.adults})" ui-sref-opts="{inherit: false}">{{loc.state}}</a></li>
              <li>{{loc.city}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 filter text-right" ng-hide="showfilter">
        <a href ng-click="showfilter = !showfilter" class="bt_filters"><i class="fa fa-filter" aria-hidden="true"></i> Filters</a>
      </div>
      <div class="row filters" ng-show="showfilter">
        <div class="col-md-6 col-sm-12">
          <div class="filSection row">
              <p class="filhead">Price Range:</p>
              <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options">
              </rzslider>
          </div>
          <div class="filSection row">
            <p class="filhead">Search Hotel Name:</p>
            <div class="filDivSec">
              <input class="filSearch" type="search" ng-model="searchedHotel" placeholder="Search..." class="search-input" ng-change="onFilterChange()"></input>
            </div>
          </div>
          <div class="filSection row">
            <p class="filhead">Hotel Collection:</p>
            <hr>
            <div class="filDivSec" ng-repeat="propertyType in propertyTypes">
              <div class="col-md-4">
                <input type="checkbox" ng-model="propertyType.selected" ng-change="onFilterChange()" class="bttn"> {{propertyType.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="filSection row" ng-show="isState">
            <p class="filhead">Neighborhood:</p>
            <hr>
            <div ng-repeat="city in cityNames" class="filDivSec">
              <div class="col-md-4">
                <input type="checkbox" ng-model="city.selected" ng-change="onFilterChange()"> {{city.name}}
              </div>
            </div>
          </div>

          <div class="filSection row">
            <p class="filhead">Room Facilities:</p>
            <hr>
            <div ng-repeat="roomFacility in roomFacilities" class="filDivSec">
              <div class="col-md-4">
                <input type="checkbox" ng-model="roomFacility.selected" ng-change="onFilterChange()"> {{roomFacility.name}}
              </div>
            </div>
          </div>

          <div class="filSection row">
            <p class="filhead">Facilities:</p>
            <hr>
            <div class="filDivSec" ng-repeat="facility in facilities">
              <div class="col-md-4">
                <input type="checkbox" ng-model="facility.selected" ng-change="onFilterChange()"> {{facility.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 filterclose">
          <a href ng-click="showfilter = !showfilter" class="filclose">CLOSE <i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <!--filters start-->

    <!--filters end-->

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="tools-hotellist-page" id="tools">
          <div class="row">
            <div class="col-md-6 col-sm-4 col-xs-6">
                <span>Showing
                <span ng-if="view == 'list'">{{totalItems}} </span> <span ng-if="view == 'grid'">{{totalItems*2}} </span>
                <span>hotels in</span>
                <span ng-if="locationcity"> {{ locationcity }},</span>
                <span ng-if="locationstate"> {{ locationstate }},</span>
                <span ng-if="locationcountry">{{ locationcountry }}</span>
                <span ng-if="locationCountry">{{ locationCountry }}</span>
                <span ng-if="locationstatecountry">{{ locationstatecountry }}</span>
                </span>
            </div>
            <div class="col-md-1 col-sm-3 col-xs-6 text-right">
            </div>
            <div class="col-md-5 col-sm-5 text-right grid-mobile">
              Sort By:
              <!-- <a href ng-click="changeSort('recommended')" class="bt_filters">Recommended</a> -->
              <!-- <a href ng-click="changeSort('price')" class="bt_sort">Price</a>-->
                                <span uib-dropdown on-toggle="toggled(open)" >
                                    <a href id="simple-dropdown" class="bt_sort" uib-dropdown-toggle>
                                      Price<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    </a>
                                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                      <li>
                                        <a href class="login_Dropdown" ng-click="changeSort('price', false)">
                                          <span class="arrow"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                          Low to High
                                        </a>
                                      </li>
                                      <li>
                                        <a href class="login_Dropdown" ng-click="changeSort('price', true)">
                                          <span class="arrow"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                                          High to Low
                                        </a>
                                      </li>
                                    </ul>
                                </span>
                                <span uib-dropdown on-toggle="toggled(open)">
                                    <a href id="simple-dropdown" class="bt_sort" uib-dropdown-toggle>
                                      Discount<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    </a>
                                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                      <li>
                                        <a href class="login_Dropdown" ng-click="changeSort('discount', true)">
                                          <span class="arrow"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                          Low to High
                                        </a>
                                      </li>
                                      <li>
                                        <a href class="login_Dropdown" ng-click="changeSort('discount', false)">
                                          <span class="arrow"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                                          High to Low
                                        </a>
                                      </li>
                                    </ul>
                                </span>
              <!--<a href ng-click="changeSort('discount')" class="bt_sort">Discount</a>-->
              &nbsp;&nbsp;&nbsp;
              <a href ng-click="changeView('grid', true)" class="bt_filters"><i class="icon-th-thumb"></i></a>
              <a href ng-click="changeView('list', true)" class="bt_filters"><i class="icon-th-list-3"></i></a>
            </div>
          </div>
        </div>
        <!--/tools -->

        <!--stripe1 Starts -->
        <div ng-if="view == 'list'" class="strip_all_tour_list fadeIn animated" ng-repeat="hotel in hotels" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
          <div class="row clickable" id="hotel-list-row" ui-sref="view({
                        url: hotel.hotel_id,
                            productId: hotel.hotel_id,
                            searchId: searchId,
                            location: location,
                           checkin: checkin,
                           checkout: checkout,
                           rooms: guest.rooms,
                           adults: guest.adults,
                           promo: promo})">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hotel-list-space_plr15 ">
              <div class="offer-image " ng-if="hotel.Show_discount > 0">
                <img src="/views/staydilly/modules/core/client/images/orange.svg ">
              </div>
              <div class="wishlist ">
                <a class="tooltip_flip tooltip-effect-1 " href="javascript:void(0); ">+<span class="tooltip-content-flip "><span class="tooltip-back ">Add to wishlist</span></span></a>
              </div>
              <div class="offer-hotels" ng-if="hotel.Show_discount > 0">
                <span class="list_dis_per">{{ hotel.Show_discount | number:0 }}% </n></span><span class="list_less">LESS</span>
              </div>
              <div ng-click="changeSlide($event)" class="carousel slide room_carousel ">
                <div uib-carousel active="0 " interval="5000 ">
                  <div uib-slide ng-repeat="img in hotel.images track by $index" index="$index ">
                    <img ng-src="{{ img || '/views/staydilly/modules/core/client/img/notredame.jpg' }} " style="margin:auto; ">
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix visible-xs-block"></div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 textLeftRes">
              <div class="tour_list_desc">
                    <div uib-tooltip-html="'<h3> WHY HOTEL NAMES ARE STAYDILLY? </h3> <h5> When hotel partners have unsold rooms, we get exclusive deals to fill them. Since hotels prefer not to publicize these deeply discounted rates, we hide their names until after booking.</h5>'">
                          <span class="hotel-name">{{ hotel.hotel_name | trim:true:37 }}</span>
                          <span style="color: #ec4a0a">  Why Staydilly?</span>
                    </div>
                <p id="address-hotel mt10">{{ hotel.address.city }},&nbsp;{{ hotel.address.state }},&nbsp;{{ hotel.address.country }},&nbsp;
                  <span class="hotel-map pointer" data-toggle="modal" data-target="map{{$index}}" ng-click="openMapModal($event, hotel)"> Map<i class="icon-location" ></i></span><br><br>
                  <span class="type-badge list" id="{{ hotel.property_type | lowercase | limitTo:3 }}">{{ hotel.property_type }}</span>
                  <br>
                </p>

                <p id="description-hotel">{{ hotel.description | trim:true:200 }}</p>
                <p class="no-people-viewing">&nbsp;</p>
                <ul class="add_info" ng-repeat="amenities in hotel.amenities track by $index" index="$index" ng-if="amenities=='Wi-Fi (Complimentary)'">
                  <li>
                    <a href class="tooltip-1" data-placement="top" title="" data-original-title="wifi"><img src="/views/staydilly/modules/core/client/images/aminites/{{ amIcon(amenities) || '77.png' }}" alt="{{ amText(icons) }}"></a>
                  </li>
                                    <span ng-repeat-end><span  ng-if="amText(amenities)">{{ amText(amenities) | uppercase }}</span>
                                    <span ng-if="!amText(amenities)">{{ amText(amenities) | uppercase }}</span>
                                    </span>
                </ul>

                <br/>
                <div ng-repeat="reviews in hotelReviews">
                  <div ng-show="reviews.hotel_id == hotel.hotel_id && reviews.status == 'success'" class="rating_list">
                    {{reviews.rating_text}}
                    <span class="rating_list_text"> {{reviews.rating}} </span>
                    <span class="rating_simple"> /10 based on </span>
                    {{reviews.total_reviews}}
                    <span class="rating_simple"> reviews </span>
                  </div>
                </div>

                <!--<p class="trip-review"><img ng-src="/views/staydilly/modules/core/client/images/{{ getStars(hotel.tripadvisor.ratings) }}">&nbsp;{{ hotel.tripadvisor.reviews_count }} reviews</p>-->
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
              <div class="price_list">
                <div ng-if="hotel.sellExclusive > 0 && hotel.isAvailable">

                  <p ng-if="hotel.Show_discount > 0">
                    <span class="normal_price_list" ng-show="currency != undefined">{{ currency }} {{ hotel.fix_rate * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</span>
                    <span class="normal_price_list" ng-hide="currency != undefined">{{ hotel.currency }} {{ hotel.fix_rate | number:shiftDecimal[hotel.currency]}}</span>
                    <small>if booked elsewhere</small>
                  </p>
                  <p class="marg-top">
                    <sup ng-show="currency != undefined">{{ currency }}</sup>
                    <sup ng-hide="currency != undefined">{{ hotel.currency }}</sup>
                    <span class="room-avg-price" ng-show="currency != undefined">{{hotel.sellExclusive * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</span>
                    <span class="room-avg-price" ng-hide="currency != undefined">{{hotel.sellExclusive | number:shiftDecimal[hotel.currency]}}</span>
                    <span class="avg-night">AVG/NIGHT</span>
                  </p>
                  <a id="btn-hotel-select" class="btn_1" ui-sref="view({
                                        url: hotel.hotel_id,
                                            productId: hotel.hotel_id,
                                            searchId: searchId,
                                            location: location,
                                           checkin: checkin,
                                           checkout: checkout,
                                           rooms: guest.rooms,
                                           adults: guest.adults,
                                           promo: promo})">Select</a>
                </div>
                <div ng-if="hotel.sellExclusive <= 0 || !hotel.isAvailable">
                  <img src="/views/staydilly/modules/core/client/images/sorry-sold-out.png" height="100" alt="Sold Out">
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="map{{$index}}" role="dialog">
            <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
              </div>
            </div>
          </div>
        </div>
        <!--stripe1 Ends-->
        <div class="row fadeIn animated" ng-if="view == 'grid'" ng-repeat="hotelSet in hotels" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
          <div class="col-md-6 col-sm-6 zoomIn" ng-repeat="hotel in hotelSet" data-wow-delay="0.1s">
            <!--<div class="wishlist grid-view">-->
            <!--<a class="tooltip_flip tooltip-effect-1" href>+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>-->
            <!--</div>-->
            <div class="hotel_container">
              <div class="img_container">
                <div class="offer-image2" ng-if="hotel.Show_discount > 0">
                  <img src="/views/staydilly/modules/core/client/images/orange.svg">
                </div>
                <div class="offer-hotels2" ng-if="hotel.Show_discount > 0">
                  <span class="list_dis_per">{{ hotel.Show_discount | number:0 }}% </n></span><span class="list_less">LESS</span>
                </div>
                <a href ui-sref="view({
                            url: hotel.hotel_id,
                            productId: hotel.hotel_id,
                            searchId: searchId,
                            location: location,
                           checkin: checkin,
                           checkout: checkout,
                           rooms: guest.rooms,
                           adults: guest.adults,
                           promo: promo
                            })">
                  <div class="carousel slide">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-click="changeSlide($event)">
                      <div uib-slide ng-repeat="img in hotel.images track by $index" index="$index">
                        <img ng-src="{{ img || '/views/staydilly/modules/core/client/img/notredame.jpg' }}" style="margin:auto; height:330px !important;">
                      </div>
                    </div>
                  </div>
                  <div ng-if="hotel.sellExclusive>0 && hotel.isAvailable">
                    <div class="score">
                      <sup id="currency-gridview" ng-show="currency != undefined">{{ currency }}</sup>
                      <sup id="currency-gridview" ng-hide="currency != undefined">{{ hotel.currency }}</sup>
                      <span id="avg-price-gridview" ng-show="currency != undefined">{{ hotel.sellExclusive*currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</span>
                      <span id="avg-price-gridview" ng-hide="currency != undefined">{{ hotel.sellExclusive | number:shiftDecimal[hotel.currency]}}</span>
                      <br><span id="avg-night">AVG/NIGHT</span></div>
                    <div class="short_info hotel" ng-if="hotel.Show_discount > 0">
                      <span id="normal_price_list_grid" ng-show="currency != undefined">{{ currency }} {{ hotel.fix_rate * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</span>
                      <span id="normal_price_list_grid" ng-hide="currency != undefined">{{ hotel.currency }} {{ hotel.fix_rate | number:shiftDecimal[hotel.currency]}}</span>
                      <small>if booked elsewhere</small>
                    </div>
                  </div>
                  <div ng-if="hotel.sellExclusive == 0 || !hotel.isAvailable">
                    <div class="score">
                      <img src="/views/staydilly/modules/core/client/images/sorry-sold-out.png" height="100" alt="Sold Out">
                    </div>
                  </div>

                </a>
              </div>
              <a href ui-sref="view({
                            url: hotel.hotel_id,
                            productId: hotel.hotel_id,
                            searchId: searchId,
                            location: location,
                           checkin: checkin,
                           checkout: checkout,
                           rooms: guest.rooms,
                           adults: guest.adults,
                           promo: promo
                            })">
                <div class="hotel_title">
                  <div uib-tooltip-html="'<h3> WHY HOTEL NAMES ARE STAYDILLY? </h3> <h5> When hotel partners have unsold rooms, we get exclusive deals to fill them. Since hotels prefer not to publicize these deeply discounted rates, we hide their names until after booking.</h5>'">
                        <h3>{{ hotel.hotel_name | trim:true:37 }}
                        <span style="color: #ec4a0a; font-size: 12px;">  Why Staydilly?</span> </h3>
                  </div>
                 <!-- <h3>{{ hotel.hotel_name }}</h3> -->
                  <div class="rating">
                    {{ hotel.address.country }},&nbsp;{{ hotel.address.state }},&nbsp;{{ hotel.address.city }} &nbsp;&nbsp;
                    <span class="type-badge" id="{{ hotel.property_type | lowercase | limitTo:3 }}">{{ hotel.property_type }}</span>


                                        <span ng-repeat="amenities in hotel.amenities | limitTo : 1 track by $index" index="$index" href="#" class="tooltip-1" data-placement="top" title="" data-original-title="amenities" ng-if="amenities=='Wi-Fi (Complimentary)'">
                                            <img src="/views/staydilly/modules/core/client/images/aminites/{{ amIcon(amenities) || '77.png' }}" alt="{{ amText(amenities) }}">


                                          <!--<span ng-repeat-end><span ng-if="amText(amenities)">{{ amText(amenities) | uppercase }}</span>
                                          <span ng-if="!amText(amenities)">{{ amText(amenities) | uppercase}}</span>
                                          </span>-->
                                        </span>
                                        <span class="trip-review-grid">
                                        <img ng-src="/views/staydilly/modules/core/client/images/{{ getStars(hotel.tripadvisor.ratings) }}">  {{ hotel.tripadvisor.reviews_count }}
                              <div ng-repeat="reviews in hotelReviews">
                                  <div class="rating_grid" ng-show="reviews.hotel_id == hotel.hotel_id && reviews.status == 'success'">
                                    {{reviews.rating_text}}
                                    <span class="rating_list_text">{{reviews.rating}}</span>
                                    /10 <br>
                                    <span class="rating_simple"> based on </span>
                                    {{reviews.total_reviews}}
                                    <span class="rating_simple"> reviews </span>
                                  </div>
                              </div>
                                    </span>

                  </div>
                  <!-- end rating -->
                </div>
              </a>
            </div>
            <!-- End box tour -->
          </div>
          <!-- End col-md-6 -->
        </div>

        <!--Show nearby hotels-->
        <div ng-show="location != undefined">
            <hr>
            <div class="row" style="padding: 5px; margin-bottom: 15px;">
                <span>Showing</span> <span>{{nearHotels.length}}</span> <span>hotels near</span><span ng-if="locationcity"> {{ locationcity }},&nbsp{{locationstate}},&nbsp{{locationcountry}}</span>
            </div>
            <div ng-if="view == 'list'" class="strip_all_tour_list fadeIn animated" ng-repeat="hotel in nearHotels" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="row clickable" id="hotel-list-row" ui-sref="view({
                    url: hotel.hotel_id,
                        productId: hotel.hotel_id,
                        searchId: searchId,
                        location: location,
                       checkin: checkin,
                       checkout: checkout,
                       rooms: guest.rooms,
                       adults: guest.adults,
                       promo: promo})">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hotel-list-space_plr15 ">
                        <div class="offer-image " ng-if="hotel.Show_discount > 0">
                            <img src="views/staydilly/modules/core/client/images/orange.svg ">
                        </div>
                        <div class="wishlist ">
                            <a class="tooltip_flip tooltip-effect-1 " href="javascript:void(0); ">+<span class="tooltip-content-flip "><span class="tooltip-back ">Add to wishlist</span></span></a>
                        </div>
                        <div class="offer-hotels" ng-if="hotel.Show_discount > 0">
                            <span class="list_dis_per">{{ hotel.Show_discount | number:0 }}% </n></span><span class="list_less">LESS</span>
                        </div>
                        <div ng-click="changeSlide($event)" class="carousel slide room_carousel ">
                            <div uib-carousel active="0 " interval="5000 ">
                                <div uib-slide ng-repeat="img in hotel.images track by $index" index="$index ">
                                    <img ng-src="{{ img || '/views/staydilly/modules/core/client/img/notredame.jpg' }} " style="margin:auto; ">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 textLeftRes">
                        <div class="tour_list_desc">
                          <div uib-tooltip-html="'<h3> WHY HOTEL NAMES ARE STAYDILLY? </h3> <h5> When hotel partners have unsold rooms, we get exclusive deals to fill them. Since hotels prefer not to publicize these deeply discounted rates, we hide their names until after booking.</h5>'">
                            <span class="hotel-name">{{ hotel.hotel_name | trim:true:37 }}</span>
                            <span style="color: #ec4a0a">  Why Staydilly?</span>
                          </div>
                            <p id="address-hotel mt10">{{ hotel.address.city }},&nbsp;{{ hotel.address.state }},&nbsp;{{ hotel.address.country }},&nbsp;
                                <span class="hotel-map pointer" data-toggle="modal" data-target="map{{$index}}" ng-click="openMapModal($event, hotel)"> Map<i class="icon-location" ></i></span><br><br>
                                <span class="type-badge list" id="{{ hotel.property_type | lowercase | limitTo:3 }}">{{ hotel.property_type }}</span>
                                <br>
                            </p>

                            <p id="description-hotel">{{ hotel.description | trim:true:200 }}</p>
                            <p class="no-people-viewing">&nbsp;</p>
                            <ul class="add_info" ng-repeat="amenities in hotel.amenities track by $index" index="$index" ng-if="amenities=='Wi-Fi (Complimentary)'">
                                <li>
                                    <a href class="tooltip-1" data-placement="top" title="" data-original-title="wifi"><img src="/views/staydilly/modules/core/client/images/aminites/{{ amIcon(amenities) || '77.png' }}" alt="{{ amText(icons) }}"></a>
                                </li>
                                <span ng-repeat-end><span  ng-if="amText(amenities)">{{ amText(amenities) | uppercase }}</span>
                                <span ng-if="!amText(amenities)">{{ amText(amenities) | uppercase }}</span>
                                </span>
                            </ul>

                <br/>
                    <div ng-repeat="reviews in hotelReviews">
                      <div ng-show="reviews.hotel_id == hotel.hotel_id && reviews.status == 'success'" class="rating_list">
                        {{reviews.rating_text}}
                        <span class="rating_list_text"> {{reviews.rating}} </span>
                        <span class="rating_simple"> /10 based on </span>
                        {{reviews.total_reviews}}
                        <span class="rating_simple"> reviews </span>
                      </div>
                    </div>


                            <!--<p class="trip-review"><img ng-src="views/staydilly/modules/core/client/images/{{ getStars(hotel.tripadvisor.ratings) }}">&nbsp;{{ hotel.tripadvisor.reviews_count }} reviews</p>-->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <div class="price_list">
                            <div ng-if="hotel.sellExclusive > 0 && hotel.isAvailable">

                                <p ng-if="hotel.Show_discount > 0">
                                  <span class="normal_price_list" ng-show="currency != undefined">{{ currency }} {{ hotel.fix_rate * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</span>
                                  <span class="normal_price_list" ng-hide="currency != undefined">{{ hotel.currency }} {{ hotel.fix_rate | number:shiftDecimal[hotel.currency]}}</span>
                                  <small>if booked elsewhere</small>
                                </p>
                                <p class="marg-top">
                                  <sup ng-show="currency != undefined">{{ currency }}</sup>
                                  <sup ng-hide="currency != undefined">{{ hotel.currency }}</sup>
                                  <span class="room-avg-price" ng-show="currency != undefined">{{hotel.sellExclusive * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</span>
                                  <span class="room-avg-price" ng-hide="currency != undefined">{{hotel.sellExclusive | number:shiftDecimal[hotel.currency]}}</span>
                                  <span class="avg-night">AVG/NIGHT</span>
                                </p>
                                <a id="btn-hotel-select" class="btn_1" ui-sref="view({
                                    url: hotel.hotel_id,
                                        productId: hotel.hotel_id,
                                        searchId: searchId,
                                        location: location,
                                       checkin: checkin,
                                       checkout: checkout,
                                       rooms: guest.rooms,
                                       adults: guest.adults,
                                       promo: promo})">Select</a>
                            </div>
                            <div ng-if="hotel.sellExclusive <= 0 || !hotel.isAvailable">
                                <img src="views/staydilly/modules/core/client/images/sorry-sold-out.png" height="100" alt="Sold Out">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="map{{$index}}" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fadeIn animated" ng-if="view == 'grid'" ng-repeat="hotelSet in nearHotels" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="col-md-6 col-sm-6 zoomIn" ng-repeat="hotel in hotelSet" data-wow-delay="0.1s">
                    <!--<div class="wishlist grid-view">-->
                    <!--<a class="tooltip_flip tooltip-effect-1" href>+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>-->
                    <!--</div>-->
                    <div class="hotel_container">
                        <div class="img_container">
                            <div class="offer-image2" ng-if="hotel.Show_discount > 0">
                                <img src="views/staydilly/modules/core/client/images/orange.svg">
                            </div>
                            <div class="offer-hotels2" ng-if="hotel.Show_discount > 0">
                                <span class="list_dis_per">{{ hotel.Show_discount | number:0 }}% </n></span><span class="list_less">LESS</span>
                            </div>
                            <a href ui-sref="view({
                        url: hotel.hotel_id,
                        productId: hotel.hotel_id,
                        searchId: searchId,
                        location: location,
                       checkin: checkin,
                       checkout: checkout,
                       rooms: guest.rooms,
                       adults: guest.adults,
                       promo: promo
                        })">
                                <div class="carousel slide">
                                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-click="changeSlide($event)">
                                        <div uib-slide ng-repeat="img in hotel.images track by $index" index="$index">
                                            <img ng-src="{{ img || '/views/staydilly/modules/core/client/img/notredame.jpg' }}" style="margin:auto; height:330px !important;">
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="hotel.sellExclusive>0 && hotel.isAvailable">
                                    <div class="score">
                                      <sup id="currency-gridview" ng-show="currency != undefined">{{ currency }}</sup>
                                      <sup id="currency-gridview" ng-hide="currency != undefined">{{ hotel.currency }}</sup>
                                      <span id="avg-price-gridview" ng-show="currency != undefined">{{hotel.sellExclusive * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</span>
                                      <span id="avg-price-gridview" ng-hide="currency != undefined">{{hotel.sellExclusive | number:shiftDecimal[hotel.currency]}}</span>
                                        <br><span id="avg-night">AVG/NIGHT</span></div>
                                    <div class="short_info hotel" ng-if="hotel.Show_discount > 0">
                                      <span id="normal_price_list_grid" ng-show="currency != undefined">{{ currency }} {{ hotel.fix_rate * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</span>
                                      <span id="normal_price_list_grid" ng-hide="currency != undefined">{{ hotel.currency }} {{ hotel.fix_rate | number:shiftDecimal[hotel.currency]}}</span>
                                      <small>if booked elsewhere</small>
                                    </div>
                                </div>
                                <div ng-if="hotel.sellExclusive == 0 || !hotel.isAvailable">
                                    <div class="score">
                                        <img src="views/staydilly/modules/core/client/images/sorry-sold-out.png" height="100" alt="Sold Out">
                                    </div>
                                </div>

                            </a>
                        </div>
                        <a href ui-sref="view({
                        url: hotel.hotel_id,
                        productId: hotel.hotel_id,
                        searchId: searchId,
                        location: location,
                       checkin: checkin,
                       checkout: checkout,
                       rooms: guest.rooms,
                       adults: guest.adults,
                       promo: promo
                        })">
                            <div class="hotel_title">
                                <div uib-tooltip-html="'<h3> WHY HOTEL NAMES ARE STAYDILLY? </h3> <h5> When hotel partners have unsold rooms, we get exclusive deals to fill them. Since hotels prefer not to publicize these deeply discounted rates, we hide their names until after booking.</h5>'">
                                      <h3>{{ hotel.hotel_name | trim:true:37 }}
                                      <span style="color: #ec4a0a; font-size: 12px;">  Why Staydilly?</span> </h3>
                                </div>
                               <!-- <h3>{{ hotel.hotel_name }}</h3>  -->
                                <div class="rating">
                                    {{ hotel.address.country }},&nbsp;{{ hotel.address.state }},&nbsp;{{ hotel.address.city }} &nbsp;&nbsp;
                                    <span class="type-badge" id="{{ hotel.property_type | lowercase | limitTo:3 }}">{{ hotel.property_type }}</span>


                                    <span ng-repeat="amenities in hotel.amenities | limitTo : 1 track by $index" index="$index" href="#" class="tooltip-1" data-placement="top" title="" data-original-title="amenities" ng-if="amenities=='Wi-Fi (Complimentary)'">
                                        <img src="/views/staydilly/modules/core/client/images/aminites/{{ amIcon(amenities) || '77.png' }}" alt="{{ amText(amenities) }}">


                                    <!--<span ng-repeat-end><span ng-if="amText(amenities)">{{ amText(amenities) | uppercase }}</span>
                                    <span ng-if="!amText(amenities)">{{ amText(amenities) | uppercase}}</span>
                                    </span>-->
                                    </span>
                                    <span class="trip-review-grid">
                                    <img ng-src="views/staydilly/modules/core/client/images/{{ getStars(hotel.tripadvisor.ratings) }}">{{ hotel.tripadvisor.reviews_count }}

                              <div ng-repeat="reviews in hotelReviews">
                                  <div class="rating_grid" ng-show="reviews.hotel_id == hotel.hotel_id && reviews.status == 'success'">
                                    {{reviews.rating_text}}
                                    <span class="rating_list_text">{{reviews.rating}}</span>
                                    /10 <br>
                                    <span class="rating_simple"> based on </span>
                                    {{reviews.total_reviews}}
                                    <span class="rating_simple"> reviews </span>
                                  </div>
                              </div>
                                    </span>

                                </span>
                                </div>
                                <!-- end rating -->
                            </div>
                        </a>
                    </div>
                    <!-- End box tour -->
                </div>
                <!-- End col-md-6 -->
            </div>
        </div>
        <!--Complete nearby hotels-->

        <hr>
        <div class="text-right page-count">
          <div ng-if="view == 'list'"><p>Showing {{startNum+1}}-{{endNum + nearHotels.length}} of {{totalItems + nearHotels.length}} Rooms</p></div>
          <div ng-if="view == 'grid'"><p>Showing {{startNum*2+1}}-{{(endNum*2) + (nearHotels.length*2)}} of {{(totalItems*2) + (nearHotels.length * 2)}} Rooms</p></div>
          <div class="Pagination" ng-show="view == 'list'">
            <ul uib-pagination total-items="totalItem" ng-model="currentPage" class="pagination" items-per-page="itemsPerPage" boundary-links="true" ng-change="pageChanged()" boundary-link-numbers="true" rotate="false" max-size="maxSize"></ul>
          </div>
          <div class="Pagination" ng-hide="view == 'list'">
            <ul uib-pagination total-items="totalItem" ng-model="currentPage" class="pagination" items-per-page="itemsPerPage" boundary-links="true" ng-change="pageChanged()" boundary-link-numbers="true" rotate="false" max-size="maxSize"></ul>
          </div>
        </div>

        <!-- end pagination-->

      </div>
      <!-- End col lg-9 -->
    </div>
    <!-- End row -->
  </div>
</div>
