<div class="custom-loader" ng-hide="dataReceived">
  <div class="Resloader">
    <img id="logo" src="../views/staydilly/modules/core/client/images/staydilly-loading.png">
  </div>
     <div class="sk-spinner-img sk-spinner-wave-img">
         <div class="sk-rect1-img"></div>
         <div class="sk-rect2-img"></div>
         <div class="sk-rect3-img"></div>
         <div class="sk-rect4-img"></div>
         <div class="sk-rect5-img"></div>
    </div>
</div>

<!-- Slider -->
<div id="full-slider-wrapper" ng-hide="noHotels">
    <!-- angular slider start -->
    <div class="viewTopslider">
        <div class="room-carousel-desc">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <h1>{{ Hotdetail.hotel_name }}&nbsp;&nbsp;<span id="exclusive">{{Hotdetail.property_type}}</span></h1>
                        <span class="hotel-details-address">{{ Hotdetail.address.address_Line }}, {{ Hotdetail.address.city }}, {{ Hotdetail.address.country }} </span>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2" class="reviews_image" ng-show="hotelReviews != null">
                        <div class="reviews_image_inner">
                          <span class="reviews_white">{{hotelReviews.rating_text}}</span>
                            {{hotelReviews.rating}}
                          <span class="reviews_display">/10 </span>
                          <br>
                          <span class="reviews_secondary">
                            <span class="reviews_white"> based on </span>
                            {{hotelReviews.total_reviews}}
                            <span class="reviews_tertiary"> reviews </span>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="img in Hotdetail.images track by $index" index="$index">
                <img ng-src="{{ img || '/views/staydilly/modules/core/client/img/notredame.jpg'}}" class="viewTopimg">
            </div>
        </div>
    </div>
    <!-- angular slider End -->
    <div id="position-room-details">
        <div class="container">
            <ul>
                <li><a ui-sref="homepage">Home</a></li>
                <li><a ui-sref="list({ country: Hotdetail.address.countryId, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                    rooms: guest.rooms, adults: guest.adults})">{{Hotdetail.address.country}}</a></li>
                <li ng-if="Hotdetail.address.state">{{Hotdetail.address.state}}</li>
            </ul>
            <div class="lightbox-gallery hidden-xs">
                <ul lightbox="Hotdetail.images">
                    <li ng-repeat="img in Hotdetail.images">
                        <a href="{{ img }}" class="lightbox-trigger">
                           <img ng-src="{{img ||'/views/staydilly/modules/core/client/img/notredame.jpg' }}" class="img-responsive styled light-box-img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      <div class="lightbox-gallery visible-xs">
        <ul lightbox="Hotdetail.images">
          <li class="arrow" ng-repeat="img in Hotdetail.images">
            <a href="{{ img }}" class="lightbox-trigger">
              <img ng-src="{{img ||'/views/staydilly/modules/core/client/img/notredame.jpg' }}" class="img-responsive styled light-box-img">
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
<!-- End layerslider -->

<!-- search widget -->
<section ng-controller="SearchController">
    <div class="container">
        <div class="col-md-12 pt20">
            <form class="mar0 booking-form" name="myForm">
                <div class="form-group col-md-2 col-md-offset-3">
                    <i class=" icon-calendar book-icons " style="right:20px; " ng-click="open1() "></i>
                    <label class="booking-label ">Check In</label>
                    <input class="form-control custom-cls config-start-date config-demo dp " ng-keyup="open1() " ng-click="open1() " name="startDate " readonly="readonly " type="text " ng-change="setMinMaxDate(); " uib-datepicker-popup="{{format}}
                    " popup-placement="bottom " ng-model="startDate " is-open="popup1.opened " datepicker-options="dateOptions1 " ng-required="true " placeholder="Start " close-text="Close " required />
                    <span ng-show="myForm.startDate.$untouched && myForm.myName.$invalid ">Enter Check-in</span>
                </div>
                <div class="form-group col-md-2 ">
                    <i class="icon-calendar book-icons " style="right:20px; " ng-click="open2() "></i>
                    <label class="booking-label ">Check Out</label>
                    <input class="form-control custom-cls config-end-date config-demo dp " ng-keyup="open2() " ng-click="open2() " name="endDate " readonly="readonly " type="text " uib-datepicker-popup="{{format}} " popup-placement="bottom
                    " ng-model="endDate " is-open="popup2.opened " datepicker-options="dateOptions2 " ng-required="true " placeholder="End " close-text="Close " required/>
                </div>
                <div class="form-group col-md-2">
                    <label class="booking-label">Guests</label>
                    <div class="btn-group wid100" uib-dropdown auto-close="outsideClick">
                        <input type="text" class="form-control custom-cls guests" id="split-button" placeholder="{{ guest.rooms }} Rooms, {{ guest.adults }} Adults" readonly/>
                        <button type="button" class="btn btn-danger guest-btn" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <div class="dropdown-menu guest-selection mg0" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                            <span>Adults</span>
                            <div class="input-group number-spinner1">
                                <span class="input-group-btn">
                                <button class="btn btn-default"  ng-click="spinDown('adults')">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                </span>
                                <input type="text" class="form-control text-center" ng-model="guest.adults" value="{{ guest.adults }}">
                                <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="spinUp('adults')">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                </span>
                            </div>
                            <br>
                            <span>Rooms</span>
                            <div class="input-group number-spinner">
                                <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="spinDownroom('rooms')">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                                </span>
                                <input type="text" class="form-control text-center" ng-model="guest.rooms" value="{{ guest.rooms }}">
                                <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="spinUproom('rooms')">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center ">
                    <a href ui-sref="view({ location: (cityId != -1) ? cityId : null, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                    rooms: guest.rooms, adults: guest.adults, propertyType: propertyType, country: country, deal: deal, promo: promo, stateId: stateId}) " class="btn_1 checkbtn ">Check Availability</a>
                </div>
            </form>
        </div>
    </div>

</section>
<!-- End section -->

<div class="container no-hotels" ng-show="noHotels">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>No Hotel as such</h1>
    </div>
  </div>
</div>

<div class="container-fluid hotel-list-section" ng-hide="noHotels">
    <div class="container margin_60 ">
        <div class="row ">
            <div class="col-lg-12 col-md-12 ">
                <p class="room-type-details ">Room Type</p>

                <!--Stripe Starts -->
                <div class="row-cust ">
                    <div class="col-md-12 strip_all_tour_list wow fadeIn animated " ng-repeat-start="room in Hotdetail.rooms " data-wow-delay="0.1s " style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn; ">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hotel-list-space ">
                            <div class="offer-image2" ng-if="room.Show_discount > 0">
                                <img src="/views/staydilly/modules/core/client/images/orange.svg ">
                            </div>
                            <div class="wishlist ">
                                <a class="tooltip_flip tooltip-effect-1 " href="javascript:void(0); ">+<span class="tooltip-content-flip "><span class="tooltip-back ">Add to wishlist</span></span></a>
                            </div>
                            <div class="offer-hotels2" ng-if="room.Show_discount > 0">
                                <span class="list_dis_per">{{room.Show_discount | number:0 }}% </n></span><span class="list_less">LESS</span>
                            </div>
                            <div class="carousel slide room_carousel ">
                                <div uib-carousel active="0 " interval="5000 ">
                                    <div uib-slide ng-repeat="img in room.images track by $index " index="$index ">
                                        <img ng-src="{{ img || '/views/staydilly/modules/core/client/img/notredame.jpg' }} " style="margin:auto; ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block "></div>
                        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 txt-left textRescenter">
                            <div class="tour_list_desc " style="padding: 0px; ">
                                <span class="hotel-name ">{{room.type}}</span>
                                <p ng-if="room.max_occupancy !=- 1 " class="address-hotel ">Max occupancy {{room.max_occupancy}} Persons</p>
                                <div class="room_amenities_section ">
                                    <p ng-repeat="amenity in room.amenities track by $index " index="$index " class="mtb5 ameicons ">
                                        <i class="{{ amIcon(amenity) }} "></i>
                                        <span>{{ amText(amenity) | uppercase }}</span>
                                    </p>
                                    <p class="mtb5 ameicons ">
                                        <i class="{{ amIcon(breakfast) }} "></i>
                                        <span ng-show="room.break_fast">BREAKFAST INCLUDED</span>
                                        <span ng-hide="room.break_fast">BREAKFAST EXCLUDED</span>
                                    </p>
                                </div>
                                <div class="taxing">
                                    <p>{{room.description}}</p>
                                </div>
                                <div class="taxing">
                                    <h5>Price does not include below taxes:</h5>
                                    <p ng-repeat="tax in room.taxes track by $index " index="$index ">
                                        <span ng-if="tax.type=='Percentage' "> <span ng-if="tax.id == 2">GST/VAT:  </span> <span ng-if="tax.id != '2'">{{tax.name}}:  </span><span>{{tax.value}}</span><span class="cur ">%</span></span>
                                        <span ng-if="tax.type=='Fixed' ">{{tax.name}}:
                                            <span ng-show="currency != undefined">{{tax.value * currencyMultiplier[Hotdetail.currency]}}</span>
                                            <span ng-hide="currency != undefined">{{tax.value}}</span>
                                            <span class="cur" ng-show="currency != undefined">{{currency}}</span>
                                            <span class="cur" ng-hide="currency != undefined">{{Hotdetail.currency}}</span>
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 txt-left">
                            <div class="price_list ">
                              <div ng-if="room.sellExclusive>0">

                                <p ng-if="room.Show_discount > 0">
                                  <span class="normal_price_list" ng-show="currency != undefined">{{currency}} {{room.fix_rate * currencyMultiplier[Hotdetail.currency] | number:shiftDecimal[currency]}}</span>
                                  <span class="normal_price_list" ng-hide="currency != undefined">{{Hotdetail.currency}} {{room.fix_rate | number:shiftDecimal[Hotdetail.currency]}}</span>
                                  <small>if booked elsewhere</small>
                                </p>
                                <p class="topRes">
                                  <sup ng-show="currency != undefined">{{currency}}</sup>
                                  <sup ng-hide="currency != undefined">{{Hotdetail.currency}}</sup>
                                  <span class="room-avg-price" ng-show="currency != undefined">{{room.sellExclusive*currencyMultiplier[Hotdetail.currency] | number:shiftDecimal[currency]}}</span>
                                  <span class="room-avg-price" ng-hide="currency != undefined">{{room.sellExclusive | number:shiftDecimal[Hotdetail.currency]}}</span>
                                  <span class="avg-night ">PER/NIGHT</span>
                                </p>
                                <p class="last-rooms ">Our Last {{room.inventory}} Rooms!</p>
                                <p ng-if="room.deal.applicable " class="marg-top ">
                                  <a href ui-sref="booking({ productId: Hotdetail.hotel_id, searchId: searchId, location: location, checkin: checkin, checkout: checkout, rooms: guest.rooms, adults: guest.adults, promo: promo, ratePlanId: room.rate_plan_Id, price: room.price.discounted, roomId: room.room_id}) " class="btn-hotel-select-room " class="btn_1 " ng-click="isempty() ">Select</a>
                                </p>
                                <p ng-if="!room.deal.applicable " class="marg-top ">
                                  <a href ui-sref="booking({ productId: Hotdetail.hotel_id, searchId: searchId, location: location, checkin: checkin, checkout: checkout, rooms: guest.rooms, adults: guest.adults, promo: promo, ratePlanId: room.rate_plan_Id, price: room.price.actual, roomId: room.room_id}) " class="btn-hotel-select-room " class="btn_1 " ng-click="isempty() ">Select</a>
                                </p>
                              </div>
                              <div ng-if="room.sellExclusive == 0">
                                <img src="/views/staydilly/modules/core/client/images/sorry-sold-out.png" height="100" alt="Sold Out">
                              </div>
                            </div>
                        </div>
                    </div>
                    <hr ng-repeat-end style="clear: both; " ng-if="!$last " class="hidde-xs">
                    <!--Stripe Ends-->
                </div>
                <hr>
                <!--hotel facilities starts-->
                <div class="row roomFacilities">
                    <div class="col-md-12 col-sm-12 col-xs-12 topBorder">
                        <p class="room-facilities-details ">Hotel Facilities & Amenities</p>
                        <div id="single_tour_feat ">
                            <div class="row ficons ">
                                <div class=" col-lg-2 col-md-2 col-sm-2 col-xs-4 hotel_amenities " ng-repeat="icons in Hotdetail.amenities | limitTo:10 track by $index " index="$index " ng-if="amText(icons)">
                                    <p class="h30"><img ng-if="amIcon(icons)" src="/views/staydilly/modules/core/client/images/aminites/{{ amIcon(icons) || '77.png' }}" alt="{{ amText(icons) }}"></p>
                                    <p ng-if="amText(icons)">{{ amText(icons) | uppercase }}</p>
                                    <p ng-if="!amText(icons)">{{icons}}</p>
                                </div>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <!--hotel facilities ends-->
              <!--description and good to know starts-->
              <div class="row ">
                <div class="col-md-8 ">
                  <p class="room-facilities-heading ">Why Stay Here</p>
                  <p>{{Hotdetail.description}}</p>

                  <p class="room-facilities-heading ">Places of Interest</p>
                  <div ng-repeat="point in Hotdetail.commute | orderBy:'value'">
                    <div class="col-md-8">
                      <p style="margin: 0px;">{{point.key}}</p>
                    </div>
                    <div class="col-md-4">
                      <p style="color:#f25625;margin: 0px;">{{point.value}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 ">
                  <div style="border-left:1px solid #DDD;height:auto; ">
                    <p class="room-facilities-heading " style="padding-left:30px; ">Good to Know</p>
                    <ul>
                      <li ng-repeat="point in Hotdetail.goodToKnow ">{{point}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <hr>
              <!--description and good to know ends-->

                <!--user reviews starts-->
                <div class="row" ng-show="hotelReviews != null">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="room-facilities-heading "> Guest Reviews </p>
                    </div>
                </div>

                <div class="row" style="margin-bottom:10px;" ng-show="hotelReviews != null">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="rating_circle">
                            <div class="clearfix">
                                <div class="c100 p{{hotelReviews.rating*10}} green center" style="font-size:140px;">
                                    <span>{{hotelReviews.rating}}/10</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                <div class="rating_text">
                                    {{hotelReviews.rating_text}}
                                </div>
                                <div class="rating_text_details">
                                    based on
                                    <span style="color:#f47621">{{hotelReviews.total_reviews}}</span>
                                    reviews
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12" style="margin-bottom:10px;">
                        <div class="review_breakdown_container">
                            <table width="100%">
                              <tr ng-repeat="review in hotelReviews.sub_rat">
                                <td width="15%"></td>
                                <td width="15%"> {{review.key}} </td>
                                <td width="5%" style="color:rgb(244, 118, 33)"> {{review.value}} </td>
                                <td width="65%">
                                  <div class="review_bar">
                                    <div ng-style="{'width':review.value+'%'};" style="background:#f47621;height:10px;"></div>
                                  </div>
                                </td>
                              </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="hotelReviews != null">
                   <div class="col-md-12 col-sm-12 col-xs-12">
                     <p class="room-facilities-heading">Most Mentioned Topics By Guests</p>
                   </div>
                </div>

                <div id="most_mentioned_container" class="row" style="margin-bottom:10px;" ng-show="hotelReviews != null">
                    <div class="col-md-2 col-sm-1 col-xs-12"></div>
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <div class="most_mentioned">
                            <table ng-repeat="review in hotelReviews.left" class="review_table">
                                <tr>
                                    <td style="width:10%" align="center">
                                        <i class="fa fa-plus-circle plus" aria-hidden="true"></i>
                                    </td>
                                    <td style="width:90%;" class="most_mentioned_data">
                                        <span style="font-size:14px;">{{review.key}}</span>
                                        <br>
                                        <span style="color:#999999">{{review.value}} mentions</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-bottom:10px;">
                        <div class="most_mentioned">
                             <table ng-repeat="review in hotelReviews.right" class="review_table">
                                 <tr>
                                    <td style="width:10%" align="center">
                                        <i class="fa fa-plus-circle plus" aria-hidden="true"></i>
                                    </td>
                                    <td style="width:90%;" class="most_mentioned_data">
                                        <span style="font-size:14px;">{{review.key}}</span>
                                        <br>
                                        <span style="color:#999999">{{review.value}} mentions</span>
                                    </td>
                                </tr>
                             </table>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="hotelReviews != null">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td><i class="fa fa-info-circle fa-4 plus" aria-hidden="true"></i></td>
                                    <td style="padding-left:10px;">Staydilly is constantly monitoring and capturing hotel reviews from over 100 review websites, travel communities and booking websites, visited by people from different countries and cultures. Real reviews, Real guests.</td>
                                </tr>
                             </tbody>
                         </table>
                    </div>
                </div>

                <hr ng-show="hotelReviews != null">

                <!--user reviews ends-->

                <!--locations & point of interest starts-->
                <div class="row ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="room-facilities-heading ">Location</p>
                        <div class="detail_map ">
                            <div id="map"></div>
                            <div id="class " ng-repeat="marker in markers | orderBy : 'title' ">
                                <a href="# " ng-click="openInfoWindow($event, marker) ">{{}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--locations & point of interest ends-->
                <!--Photos of rooms start-->
                <p class="room-facilities-heading ">Hotel Photos</p>
               <!--  <div class="row ">
                    <div class="col-md-12">
                        <div class="photosCarosal">
                            <ul lightbox="roomimages">
                                <li ng-repeat="img in roomimages track by $index" index="$index">
                                    <a href="{{ img }}" class="lightbox-trigger">
                                        <img class="roomimgSize" ng-src="{{img}}" class="img-responsive">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="photosCarosal">
                            <ul lightbox="roomimages">
                                <div class="col-md-4 col-sm-6 col-xs-12 plr5" ng-repeat="img in roomimages | limitTo: 5">
                                    <a href="{{img}}" class="lightbox-trigger">
                                        <img class="roomimgSize" ng-src="{{img}}" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12 plr5" ng-if="roomimages.length >= 6">
                                  <a href="{{roomimages[5]}}" class="lightbox-trigger">
                                    <div class="hotel-photos">
                                      <div class="col-md-12 col-sm-12 col-xs-12 pt10pe">
                                        <h3 style="color:white;">See all {{roomimages.length}} photos</h3>
                                      </div>
                                    </div>
                                    <img class="roomimgSize" ng-src="{{roomimages[5]}}" class="img-responsive">
                                  </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Photos of rooms ends-->

                <hr>
                <p class="room-facilities-heading ">Other Hotels Nearby</p>
                <div class="row ">
                    <div class="col-md-12">
                        <div class="row fadeIn animated" ng-repeat="hotelSet in hotelNearBy" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                              <div class="col-md-4 col-sm-6 col-xs-12 zoomIn" ng-repeat="hotel in hotelSet" data-wow-delay="0.1s">
                                <div class="hotel_container">
                                  <div class="img_container">
                                    <div class="offer-image2" ng-if="hotel.Show_discount > 0">
                                      <img src="/views/staydilly/modules/core/client/images/orange.svg">
                                    </div>
                                    <div class="offer-hotels2" ng-if="hotel.Show_discount > 0">
                                      <span class="list_dis_per">{{ hotel.Show_discount | number:0 }}% </n></span><span class="list_less">LESS</span>
                                    </div>
                                    <a href ui-sref="view({url: hotel.hotel_id, productId: hotel.hotel_id, searchId: searchId, location: location, checkin: checkin, checkout: checkout, rooms: guest.rooms, adults: guest.adults, promo: promo})">
                                      <div class="carousel slide">
                                        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-click="changeSlide($event)">
                                          <div uib-slide ng-repeat="img in hotel.images track by $index" index="$index">
                                            <img ng-src="{{ img || '/views/staydilly/modules/core/client/img/notredame.jpg' }}" style="margin:auto; height:230px !important;">
                                          </div>
                                        </div>
                                      </div>
                                      <div ng-if="hotel.sellExclusive>0 && hotel.isAvailable">
                                        <div class="score">
                                          <sup id="minor-currency-gridview" ng-show="currency != undefined">{{ currency }}</sup>
                                          <sup id="minor-currency-gridview" ng-hide="currency != undefined">{{ hotel.currency }}</sup>
                                          <span id="minor-avg-price-gridview" ng-show="currency != undefined">{{ hotel.sellExclusive*currencyMultiplier[hotel.currency] | number:2 }}</span>
                                          <span id="minor-avg-price-gridview" ng-hide="currency != undefined">{{ hotel.sellExclusive | number:2 }}</span>
                                          <br><span id="avg-night">AVG/NIGHT</span></div>
                                        <div class="short_info hotel" ng-if="hotel.Show_discount > 0">
                                          <span id="normal_price_list_grid" ng-show="currency != undefined">{{ currency }} {{ hotel.fix_rate * currencyMultiplier[hotel.currency] | number:2 }}</span>
                                          <span id="normal_price_list_grid" ng-hide="currency != undefined">{{ hotel.currency }} {{ hotel.fix_rate | number:2 }}</span>
                                          <small>if booked elsewhere</small>
                                        </div>
                                      </div>
                                      <div ng-if="hotel.sellExclusive == 0 || !hotel.isAvailable">
                                        <div class="score">
                                          <img src="/views/staydilly/modules/core/client/images/sorry-sold-out.png" height="100" alt="Sold Out">
                                        </div>
                                      </div>
                                    </a>
                                  </div>
                                  <a href ui-sref="view({url: hotel.hotel_id, productId: hotel.hotel_id, searchId: searchId, location: location, checkin: checkin, checkout: checkout, rooms: guest.rooms, adults: guest.adults, promo: promo})">
                                    <div class="hotel_title">
                                      <h5>{{ hotel.hotel_name }}</h5>
                                      <div class="rating">
                                        {{ hotel.address.country }}, {{ hotel.address.state }}, {{ hotel.address.city }}
                                        <!-- <span class="type-badge" id="{{ hotel.property_type | lowercase | limitTo:3 }}">{{ hotel.property_type }}</span> -->
                                        <span ng-repeat="amenities in hotel.amenities | limitTo : 1 track by $index" index="$index" href="#" class="tooltip-1" data-placement="top" title="" data-original-title="amenities" ng-if="amenities=='Wi-Fi (Complimentary)'">
                                            <img src="/views/staydilly/modules/core/client/images/aminites/{{ amIcon(amenities) || '77.png' }}" alt="{{ amText(amenities) }}">
                                        </span>
                                        <span class="trip-review-grid">
                                        <img ng-src="/views/staydilly/modules/core/client/images/{{ getStars(hotel.tripadvisor.ratings) }}">  {{ hotel.tripadvisor.reviews_count }}
                                          <div ng-repeat="reviews in neaerHotelReviews">
                                              <div class="rating_grid" ng-show="reviews.hotel_id == hotel.hotel_id && reviews.status == 'success'">
                                                {{reviews.rating_text}}
                                                <span class="rating_list_text">{{reviews.rating}}</span>
                                                /10 <br>
                                                <span class="rating_simple"> based on </span>
                                                {{reviews.total_reviews}}
                                                <span class="rating_simple"> reviews </span>
                                              </div>
                                          </div>
                                        </span>
                                      </div>
                                      <!-- end rating -->
                                    </div>
                                  </a>
                                </div>
                                <!-- End box tour -->
                              </div>
                              <!-- End col-md-6 -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
