<div class="modal-header">
  <span ng-click="$ctrl.cancel()" class="pull-right glyphicon glyphicon-remove-sign" style="font-size: 20px; cursor: pointer;"></span>
  <h3 class="whiteh3">{{hotel.hotel_name}}</h3>
  <span>{{ hotel.address.city }},&nbsp;{{ hotel.address.state }},&nbsp;{{ hotel.address.country }}</span>
</div>
<div class="modal-body" id="modal-body">
  <div class="detail_map">
    <div id="map-popup"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
      <a href="#" ng-click="openInfoWindow($event, marker)">{{}}</a>
    </div>
  </div>
</div>
