<section id="hero_2">
    <div class="intro_title animated fadeInDown">
        <h1>Your payment has been successful</h1>
    </div>
    <!-- End intro-title -->
</section>
<!-- End Section hero_2 -->

<div id="position">
    <div class="container">
        <ul>
            <li><a href="http://www.staydilly.com">Home</a></li>
            <li>Success</li>
        </ul>
    </div>
</div>
<!-- End position -->

<div class="container margin_60">
    <div class="row">
        <div class="col-md-8 add_bottom_15">
            <div id="printable">
                <div class="form_title">
                    <h3><strong><i class="icon-ok"></i></strong>Thank you!</h3>
                    <p class="order">Order ID: {{ orderId }}</p>
                </div>
                <div class="step">

                </div>
                <!--End step -->

                <div class="form_title">
                    <h3><strong><i class="icon-tag-1"></i></strong>Transaction Acknowledgement</h3>

                </div>
                <div class="step">
                    <table class="table confirm">
                        <tbody>

                            <tr>
                                <td>
                                    <strong>Guest Name</strong>
                                </td>
                                <td>
                                    {{name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Hotel Name</strong>
                                </td>
                                <td>
                                    {{hotelName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Check in</strong>
                                </td>
                                <td>
                                    {{checkin}}</td>
                            </tr>
                            <tr>
                                <td><strong>Check out</strong></td>
                                <td>
                                    {{checkout}}<br>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Rooms Category</strong></td>
                                <td>{{rooms}}</td>
                            </tr>
                            <tr>
                                <td><strong>Number of Rooms</strong></td>
                                <td>{{noRooms}}</td>
                            </tr>
                            <tr>
                                <td><strong>Nights</strong></td>
                                <td>{{nights}}</td>
                            </tr>
                            <tr>
                                <td><strong>Adults</strong></td>
                                <td>{{adult}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>TOTAL COST</strong>
                                </td>
                                <td>
                                    {{amt}}&nbsp<span>{{curr}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </div>
                <!--End step -->
            </div>

            <button ng-click="printDiv('printable');" class="printbook">Print Booking Details</button>
        </div>
        <!--End col-md-8 -->


        <aside class="col-md-4">
            <!-- <div class="box_style_1">
                <h3 class="inner">Thank you!</h3>
                <p>
                    Nihil inimicus ex nam, in ipsum dignissim duo. Tale principes interpretaris vim ei, has posidonium definitiones ut. Duis harum fuisset ut his, duo an dolor epicuri appareat.
                </p>
                <hr>
                <a class="btn_full_outline" href="invoice.html" target="_blank">View your invoice</a>
            </div> -->
            <div class="box_style_4">
                <i class="icon_set_1_icon-90"></i>
                <h4>Have <span>questions?</span></h4>
                <a href="" class="phone">+603 2106 8888</a>
                <small>Monday to Friday 9.00am - 6.00pm</small>
            </div>
        </aside>

    </div>
    <!--End row -->
</div>
<!--End container -->