<div style="position:relative; font-size:38px; text-transform:uppercase; font-weight:bold; text-align:center;"><div style="margin:50px"><img src="site/assets/img/payment-failed.png"/></div>
        <p>Transaction cannot BE completeD :(</p>
</div> 



    <div class="row">
            <div class="form_title" style="text-align:center; padding:30px 0 10px 0">
                <p class="order">Order ID: {{ orderId }}</p>
            </div>
            
          <div class="step" style="text-align:center">
            	<p>The transaction cannot be completed successfully. Please try to use an alternative payment method.</p>
				<p>You may contact our customer experience team using the Live Chat or visit <a href="contact-us">Contact Us</a> page.<br/>We apologize for the inconvenience.</p>
          </div>
          <!--End step -->
	</div>
