/* -----------------------------------------------
 * angular-lightbox
 * -----------------------------------------------
 */

.angular-lightbox-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

span.angular-lightbox-inner {
    position: relative;
    min-width: 10em;
    min-height: 10em;
}

span.angular-lightbox-inner>img {
    vertical-align: bottom;
    max-height: 90vh;
}

span.angular-lightbox-inner>a {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    outline: 0;
    position: absolute;
    color: #ddd;
}

span.angular-lightbox-inner>a:hover {
    color: white;
}

span.angular-lightbox-inner>a.previous,
span.angular-lightbox-inner>a.next {
    width: 2em;
    height: 2em;
    top: 50%;
    margin-top: -1em;
    /* center vertically */
}

span.angular-lightbox-inner>a.previous {
    left: 0;
    margin-left: -2em;
}

span.angular-lightbox-inner>a.next {
    right: 0;
    margin-right: -2em;
}

span.angular-lightbox-inner>a.close {
    top: -1.5em;
    right: 0;
}