.vc_row.vc_row_inner
{
    margin-left: -15px;
    margin-right: -15px;
}

.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
    margin-bottom: 0 ;
}

.row-no-gutter .wpb_row, .row-no-gutter .wpb_content_element, .row-no-gutter .wpb_button {
    margin-bottom: 0px;
}

.vc_custom_1458810483422 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    background-image: url(../../../about-us/client/img/main.jpg) !important;
}

.vc_custom_1458810483423 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    background-image: url(../../../contact/client/img/main.jpg) !important;
}

.vc_custom_1458810483424 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    background-image: url(../../../privacy-policy/client/img/main.jpg) !important;
}

.vc_custom_1458810483425 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    background-image: url(../../../terms-and-conditions/client/img/main.jpg) !important;
}

.bg-parallax {
    background-position: 50% 0;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.bg-holder > .bg-mask, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-mask-white, .bg-holder > .bg-mask-color, .bg-holder > .bg-mask-color-invert {
    /* background: none repeat scroll 0 0 #000; */
    height: 100%;
    opacity: 0.5;
    width: 100%;
    z-index: 1;
}

.img{
	margin-left: -50px;
	margin-right: -50px;
	margin-top: -25px;
}

.wpb_wrapper{
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 5px;
}


