@font-face {
    font-family: 'skolasansblack';
    src: url('css/fonts/skolasans-black-webfont.woff2') format('woff2'),
         url('css/fonts/skolasans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skolasansbold';
    src: url('css/fonts/skolasans-bold-webfont.woff2') format('woff2'),
         url('css/fonts/skolasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skolasanscnlight_italic';
    src: url('skolasanscn-lightitalic-webfont.woff2') format('woff2'),
         url('skolasanscn-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skolasanscnregular_italic';
    src: url('skolasanscn-regularitalic-webfont.woff2') format('woff2'),
         url('skolasanscn-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skolasanslight';
    src: url('skolasans-light-webfont.woff2') format('woff2'),
         url('skolasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skolasanslight_italic';
    src: url('skolasans-lightitalic-webfont.woff2') format('woff2'),
         url('skolasans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skolasansmedium';
    src: url('skolasans-medium-webfont.woff2') format('woff2'),
         url('skolasans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skolasansmedium_italic';
    src: url('../fonts/skolasans-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/skolasans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'skolasansregular';
    src: url('fonts/skolasans-regular-webfont.woff2') format('woff2'),
         url('fonts/skolasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}