<div class="page-container-responsive">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-middle">
      <h1 class="text-jumbo text-ginormous hide-sm">Oops!</h1>
      <h2>We can't seem to find the page you're looking for.</h2>
      <br/>
      <h6>Error code: 404</h6>
      <br/>
      <ul class="list-unstyled">
        <li>Here are some helpful links instead:</li>
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/how-we-work">How We Work</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/faq">FAQs</a></li>
      </ul>
    </div>
    <div class="col-md-5 col-middle text-center">
      <img src="http://www.arcotelhotels.com/files/icons/top-services/ARCOTEL_Hotel_Checkin_Checkout.png" width="313" height="428" class="hide-sm" alt="Hotel Key.">
    </div>
  </div>
</div>
