<!-- top footer -->
<div id="footer">
  <div class="container-fluid top-footer">
    <div class="container" ng-controller="upperFooterCtrl">
      <div class="row">
        <div class="col-md-12">
          <h3 class="upfoottxt">{{ menuText }}</h3>
        </div>
        <div class="col-md-2 col-sm-12 set" ng-repeat="citySet in topCities track by $index">
          <ul>
            <li ng-repeat="city in citySet track by $index">
              <a href ng-click="diplaycity(city)">{{city.city}},&nbsp{{city.country}} hotels</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- End container -->

  <footer class="pad30">
    <div class="container-fluid" ng-controller="footerController">
      <div class="container">
        <div class="row">
          <!--<div class="col-md-2 col-sm-3 ng-hide">
              <h3>{{footer.newsletter.title | uppercase}} <br> {{footer.newsletter.subtitle | uppercase}}</h3>
              <form method="post" name="newsletter_2" id="newsletter_2">
                  <div class="form-group">
                      <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="{{footer.newsletter.placeholder}}" class="form-control">
                  </div>
                  <input type="submit" value="{{footer.newsletter.buttontitle | uppercase}}" class="btn_1" id="submit-newsletter_2">
              </form>
          </div>-->
          <!--<div class="col-md-1"></div>-->

          <div class="col-md-2 col-sm-12 footLinksSet set">
            <h3>QUICK LINKS</h3>
            <ul>
              <li>
                <a ui-sref="hotelsResorts">HOTEL & RESORTS</a>
              </li>
              <li>
                <a ui-sref="deals({checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()),
                   checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                   rooms: guest.rooms,
                   adults: guest.adults})">Deals</a>
              </li>

            </ul>
          </div>
          <div class="col-md-2 col-sm-12 footLinksSet set">
            <h3>POLICIES</h3>
            <ul>
              <li>
                <a ui-sref="privacyPolicy">PRIVACY POLICY</a>
              </li>
              <li>
                <a ui-sref="termsConditions">TERMS OF USE</a>
              </li>

            </ul>
          </div>
          <div class="col-md-2 col-sm-12 footLinksSet set">
            <h3>PARTNER HOTEL</h3>
            <ul>
              <li>
                <a ui-sref="partnerPortal">PARTNERS PORTAL</a>
              </li>
              <li>
                <a ui-sref="becomePartner">BECOME A PARTNER</a>
              </li>

            </ul>
          </div>
          <div class="col-md-2 col-sm-12 footLinksSet set">
            <h3>PRESS ROOMS</h3>
            <ul>
              <li>
                <a ui-sref="pressRelease">PRESS RELEASE</a>
              </li>
              <li>
                <a ui-sref="pressKit">PRESS KIT</a>
              </li>

            </ul>
          </div>
          <div class="col-md-2 col-sm-12 footLinksSet set">
            <h3>CUSTOMER SERVICE</h3>
            <ul>
              <li>
                <a ui-sref="contact">CONTACT US</a>
              </li>
              <li>
                <a ui-sref="faq">FREQUENTLY ASKED QUESTIONS</a>
              </li>
              <li>
                <a ui-sref="aboutUs">ABOUT US</a>
              </li>
              <li>
                <a ui-sref="careers">CAREERS</a>
              </li>
            </ul>
          </div>



        <!-- End row -->
        <div class="row">
          <div class="col-md-4">
            <div id="social_footer">&copy; 2016 Siestaz Pte Ltd</div>
          </div>
          <div class="col-md-4">
            <div id="social_footer">
              <a ui-sref="homepage" hre"/"><img src="/views/staydilly/modules/core/client/images/logo_footer.png" alt="Staydilly logo"></a>
            </div>
          </div>
          <div class="col-md-4">
            <div id="social_footer">
              <ul>
                <li><a href="https://www.facebook.com/Staydilly/" target="_blank"><i class="icon-facebook" alt="Facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/company/staydilly" target="_blank"><i class="icon-linkedin" alt="linkedIn"></i></a></li>
                <li><a href="https://twitter.com/staydilly" target="_blank"><i class="icon-twitter" alt="Twitter"></i></a></li>
                <li><a href="https://www.instagram.com/staydilly/" target="_blank"><i class="icon-instagram" alt="Instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCyXWOqhxM6QdI5b3E2UlkWQ" target="_blank"><i class="icon-youtube-play" alt="Youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End row -->
      </div>


    </div>
    <!-- End container -->
  </footer>
  <!-- End footer -->

</div>

<div id="toTop"></div>
<!-- Back to top button
