<div ng-controller="HeaderController as $ctrl">
  <div class="row" ng-show="bannerMessage != ''">
      <div id="join-rewards-banner" class="secondary">
        <div id="join-rewards-container">
            <button type="button" class="tog" id="join-rewards-close-btn"><i class="icon icon-close" aria-hidden="true"></i><span class="alt">X</span></button>
        </div>
        <span class="cta">
          {{bannerMessage}}
        </span>
    </div>
  </div>
  <div class="header-image"></div>
    <!-- Mobile menu overlay mask -->

  <!-- Header -->
  <header class="header-image">
    <div id="top_line mainmenu" class="pdtb5">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2 logo">
            <a href ui-sref="homepage"><img id="logo" src="{{header.logo.src}}" alt=""></a>
          </div>
          <nav class="col-md-10 col-sm-10 col-xs-10 pull-right navigation mtm2">

            <div class="row mb8">
              <ul id="top_links" class="hidden-xs" >
                <li>
                  <div class="dropdown dropdown-search clearRight">
                               <span uib-dropdown="" on-toggle="toggled(open)" class="dropdown open">
                                   <a href="" id="currency-dropdown" class="fnt15 ng-binding dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
                                     {{currency}}<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                   </a>
                                   <ul class="dropdown-menu dpwidth" uib-dropdown-menu="" aria-labelledby="currency-dropdown">
                                     <table border="0">
                                       <thead>All Currency</thead>
                                       <tr>
                                         <td ng-click="onCurrencyChange('AUD')"><a href="">AUD<span>Australian Dollar</span></a></td>
                                         <td ng-click="onCurrencyChange('EUR')"><a href="">EUR<span>Euro</span></a></td>
                                       </tr>
                                       <tr>
                                         <td ng-click="onCurrencyChange('IDR')"><a href="">IDR<span>Indonesian Rupiah</span></a></td>
                                         <td ng-click="onCurrencyChange('MYR')"><a href="">MYR<span>Malaysian Ringgit</span></a></td>
                                       </tr>
                                       <tr>
                                         <td ng-click="onCurrencyChange('SGD')"><a href="" >SGD<span>Singapore Dollar</span></a></td>
                                         <td ng-click="onCurrencyChange('THB')"><a href="">THB<span>Thai Baht</span></a></td>
                                       </tr>
                                       <tr>
                                         <td ng-click="onCurrencyChange('USD')"><a href="" > USD<span>US Dollar</span> </a></td>
                                       </tr>
                                     </table>
                                   </ul>
                               </span>
                  </div>
                  <!-- End dropdown-cart-->
                </li>
                <li><a ui-sref="faq">FAQs</a></li>
                <li><a ui-sref="aboutUs">About</a></li>
                <!--TEMP-->
                <!--<li ng-show="!user"><a ui-sref="authentication.signin">Login</a></li>-->
                <!--<li ng-show="user">-->
                   <!--<span uib-dropdown on-toggle="toggled(open)">-->
                       <!--<a href id="simple-dropdown" class="fnt18" uib-dropdown-toggle>-->
                         <!--Hi, {{user.displayName}}!<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>-->
                       <!--</a>-->
                   <!--<ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">-->
                     <!--<li>-->
                       <!--<a href class="login_Dropdown" ui-sref="user.profile({userId:114858})"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> Profile</a>-->
                     <!--</li>-->
                     <!--<li>-->
                       <!--<a href class="login_Dropdown" ui-sref="user.manageBooking({userId:114858})"><span class="arrow"><i class="fa fa-calendar" aria-hidden="true"></i></span>Bookings</a>-->
                     <!--</li>-->
                     <!--<li>-->
                       <!--<a href class="login_Dropdown" ui-sref="user.wallet({userId:114858})"><span class="arrow"><i class="fa fa-google-wallet" aria-hidden="true"></i></span>Wallet</a>-->
                     <!--</li>-->
                     <!--<li ng-controller="AuthenticationController as vm">-->
                       <!--<a class="login_Dropdown" ng-click="vm.signout()"><span class="arrow"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Log Out</a>-->
                     <!--</li>-->
                   <!--</ul>-->
              <!--</span>-->
                <!--</li>-->
              </ul>
              <div class="visible-xs ">
                <div class="dropdown dropdown-search clearRight ">
                               <span uib-dropdown="" on-toggle="toggled(open)" class="dropdown open">
                                   <a href="" id="currency-dropdown" class="fnt15 resToggle ng-binding dropdown-toggle pull-right" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
                                     <span class="arrow"><i class="fa fa-bars" aria-hidden="true"></i></span>
                                   </a>
                                 <div class="dropdown-menu dpwidth mobileMenu" uib-dropdown-menu="" aria-labelledby="currency-dropdown">
                                   <table border="0">
                                     <tr>
                                       <td  ui-sref="faq"><a href="">FAQ</a></td>
                                     </tr>
                                     <tr>
                                       <td ui-sref="aboutUs"><a href="">About Us</a></td>
                                     </tr>
                                   </table>
                                 </div>
                                   <ul >

                                   </ul>
                               </span>
                </div>
                <div class="dropdown dropdown-search clearRight">
                               <span uib-dropdown="" on-toggle="toggled(open)" class="dropdown open">
                                   <a href="" id="currency-dropdown" class="fnt15 resBtn ng-binding dropdown-toggle pull-right" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
                                     {{currency}}<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                   </a>
                                 <div class="dropdown-menu dpwidth curreEncy" uib-dropdown-menu="" aria-labelledby="currency-dropdown">
                                   <table border="0">
                                     <thead>All Currency</thead>
                                     <tr>
                                       <td ng-click="onCurrencyChange('AUD')"><a href="">AUD<span>Australian Dollar</span></a></td>
                                     </tr>
                                     <tr>
                                       <td ng-click="onCurrencyChange('EUR')"><a href="">EUR<span>Euro</span></a></td>
                                     </tr>
                                     <tr>
                                       <td ng-click="onCurrencyChange('IDR')"><a href="">IDR<span>Indonesian Rupiah</span></a></td>
                                     </tr>
                                     <tr>
                                       <td ng-click="onCurrencyChange('MYR')"><a href="">MYR<span>Malaysian Ringgit</span></a></td>
                                     </tr>
                                     <tr>
                                       <td ng-click="onCurrencyChange('SGD')"><a href="" >SGD<span>Singapore Dollar</span></a></td>
                                     </tr>
                                     <tr>
                                       <td ng-click="onCurrencyChange('THB')"><a href="">THB<span>Thai Baht</span></a></td>
                                     </tr>
                                     <tr>
                                       <td ng-click="onCurrencyChange('USD')"><a href="" > USD<span>US Dollar</span> </a></td>
                                     </tr>
                                   </table>
                                 </div>
                                   <ul >

                                   </ul>
                               </span>
                </div>

              </div>
            </div>
            <div class="row">
              <ul class="nav_ul">
                <li class="submenu" ng-repeat="links in header.topnavlink">
                  <a ng-if="links.url!='deals'" href ui-sref="{{links.url}}">{{links.title}}</a>
                  <a ng-if="links.url=='deals'" href ui-sref="deals({checkin: checkin, checkout: checkout})">Deals</a>
                </li>

              </ul>
            </div>
            <!-- End main-menu -->
          </nav>
        </div>
      </div>
      <!-- End container-->
    </div>
    <!-- End top line-->
  </header>
  <!-- End Header -->

  <script type="text/javascript">
      $(document).ready(function() {
          $(this).scrollTop(0);
          $(".tog").click(function() {
              $("#join-rewards-banner").css('display', 'none');
          });
      });
  </script>

</div>
