.logo-default {
	width: 70%;
	margin: 10px 0 !important;
}

.css-editor {
	width: 100%;
	height: 350px;
	font-family: 'Moncaco', 'Consolas', monospace, "Courier New" !important;
}

.sect.big {
	height: 240px;
}

.sect {
	height:120px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #0a6aa1;
	text-align: center;
}

.pl0 {
	padding-left: 0;
}

.pr0 {
	padding-right: 0;
}

.side {
	border-left: 1px solid #888;
	height: 350px;
}
.side .fixedHeight{
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.side .ui-select-container {
	margin-bottom: 20px;
}

.admin-view ul, .admin-view ul li{
	list-style: none;
	list-style-type: none;
}

.p-t-5{	padding-top: 5px;}
.p-t-10{	padding-top: 10px;}
.m-r-10{ margin-right: 10px;}
.f9{ font-size: 9px;}

#policy-textarea{
	height: 250px !important;
}

.cropArea {
	background: #E4E4E4;
	overflow: hidden;
	width:100%;
	height:500px;
}

.block-margin{
	display:block;
	margin-top: 10px;
}

.page-header.navbar.navbar-fixed-top{
	z-index: 1000!important;
}

#loading-bar .bar {
	background: #F46F22;
}

.footer-container{
	padding: 10px 30px;
    background: #858585;
    color: #fff;
    bottom: 0;
    width: 110% !important;
    margin-left: -20px;
}

.footer-container a{
	color: white;
}

.footer-container p{
	color:#a2a5b7;
}

.nav-item{
	border-left: solid 5px #3b3f51 !important;
	background: #dddddd;
}

.page-header.navbar{
	background: #4d4d4d !important;
	min-height: 0px !important;
	max-height: 50px !important;
	height: 50px !important;
}

.cmsHeader{
	padding: 0px !important;
	height: 50px !important;
	background-color: #4d4d4d !important;
}

.container-cms{
	padding-top: 50px;
}

.page-head{
	border-bottom: solid;
}

.page-head .page-title {
    padding: 5px 0 0px;
}

.breadcrumb {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
    float: right;
}

.loc{
	padding: 0;
}