@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}
#custnav{
	position: relative;
	/*top: 10px;*/
	/*bottom: 10px;*/
	margin: 20px 0px;
}
#content{
	position: relative;
	padding: 30px 20px 20px 20px;
}
#custnav .navhead{
	text-align: left;
	font-size: 18px;
	padding: 20px 0px;
	font-weight: bold;
	background: #F0EFF0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	text-align: center;
}
#custnav ul{
	margin: 0px;
}
#custnav ul li{
	list-style: none;
	margin: 0 0 5px 0;
}

#custnav ul li:last-child{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#custnav ul li a{
	padding: 10px 20px;
	background: #f9f9f9;
	color: #333;
	display: block;
	text-align: left;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 16px;
	border-left: thick solid #50bcbb;
}
#custnav ul li a:hover{
	background: #50bcbb;
	color: #fff;
}

#custnav .usremail{
	font-size: 12px;
	font-weight: 400;
	background: #f3f1f1;
}



/*User profile starts here*/

#profile .phead{
	color: #333;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
}
#wallet .phead{
	color: #333;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
}

#profile .subhead{
	color: #333;
	font-weight: 600;
	font-size: 16px;
	text-transform: capitalize;
	padding: 5px 10px;
	border: 1px solid #c4c3c3;
}
.navhead .profileimg{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin:10px 0px;
}
#profile table{
	border: none;
}
#profile table tr td{
	border: none!important;
	font-size: 14px;
}

#profile table tr td:first-child{
	text-align: right;
	width: 20%;
	font-weight: 600;
}
#profile table tr td:last-child{
	text-align: left;
	width: 70%;
	border-bottom: solid !important;
    border-bottom-width: thin !important;
    border-bottom-color: #4d4d4d !important;
}
.changepass .chhead{

	font-size: 16px;
	font-weight: 600;
}
.changepass p{
	margin: 10px 0px;
}
.changepass .chbtn{
	margin-top: 10px;
	border-radius: 0px;
	border: none;
	background: #24A4FF;
	padding: 7px 30px;
}

.referfriend .chhead{

	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.referfriend p{
	margin: 10px 0px;
	text-align: center;
}
.referfriend .chbtn{
	margin-top: 10px;
	border-radius: 0px;
	border: none;
	background: #24A4FF;
	padding: 7px 30px;
}
.referfriend .refinput{
	padding: 5px;
	width: 50%;
}
.referfriend .refBtn{
	padding: 7px 20px;
	border: none;
	border-radius: 0px;
	background: #24A4FF;
}
#profile .rphead{
	color: #333;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
	text-align: center;
}

.curser{
	cursor: pointer;
}
.pbttn{
	border: none;
	padding: 7px 10px;
	border-radius: 0px;
}

.profile-input{
	border: none !important;
	width: 100%;
}

.inputDisabled{
	color: red;
}

.profile-input:focus{
	outline: none;
	width: 100%;
}

.btn_1:hover{
    background: #333;
}

.btn_1 {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: #51bce6;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}