/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 100%;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.closeBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    background: transparent;
    border: none;
}

.forgotPass {
    text-align: center;
}

.forgotPass .btn {
    padding: 5px 20px;
    border-radius: 0px;
}

.forgotPass .emaiInput {
    width: 260px;
    padding: 4px 5px;
}

.btn_1.green {
    background: #83c99f;
}

.btn_1.white {
    background: #fff;
    color: #50bcbb;
}

.btn_1.white:hover,
.btn_1.white a:hover {
    background: #333;
    color: #fff;
}

.btn_1.outiline,
input .btn_1.outiline {
    color: #555;
    background: none;
    border: 2px solid #555;
    padding: 5px 18px;
}

.btn_1.outiline:hover,
input .btn_1.outiline:hover {
    color: #fff;
    background: #50bcbb;
    border: 2px solid #50bcbb;
}

.btn_1.medium {
    padding: 10px 25px;
    font-size: 14px;
}

.btn_1.small {
    padding: 5px 8px;
    font-size: 10px;
    line-height: 9px;
    text-transform: none;
    color: #fff !important;
}

.btn_1:hover {
    background: #333;
}
