
@media (max-width: 500px ) {
	#search_bar_container {
		position: absolute;
		left: 0;
		bottom: 0;
		top: 130px;

	}

	#search_bar_container .form-control {
		margin: 5px 0;
	}

	#search_bar_container .searchwi span {
		margin: 0 !important;
	}

	.cmn-toggle-switch {
		position: relative;
		right: -10px;
	}

	.mobileMenu {
		margin-top: 3px !important;
		right: -38px !important;
	}

	#logindashboard .nav-item {
		width: 100px;
	}

	#logindashboard .nav {
		padding: 0;
	}

	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background: none;
		color: #fff;
		font-weight: bolder;
	}

	ul#top_tools {
		left: 15px !important;
	}

	header {
		padding: 5px 0 !important;
	}

	.pl35{
		padding-left: 28%;
	}

}
@media (min-width: 501px) and (max-width: 768px) {
	#search_bar_container{
		position: absolute;
		left: 0;
		bottom: 0;
		top: 120px;

	}
	#search_bar_container .form-control{
		margin: 5px 0;
	}
	#search_bar_container .searchwi span{
		margin: 0 !important;
	}
	.cmn-toggle-switch{
		position: relative;
		right: 0;
	}
	.mobileMenu{
		margin-top: 3px !important;
	}
	ul#top_tools{
		left: 15px !important;
	}
	header{
		padding: 5px 0 !important;
	}
	.pl35{
		padding-left: 35%;
	}

}
@media (min-width: 769px) and (max-width: 992px) {
	.cmn-toggle-switch{
		position: relative;
		right: 0;
	}
	.mobileMenu{
		margin-top: 3px !important;
	}

}
@media (min-width: 993px) and (max-width: 1290px) {
#logindashboard .nav li{
	padding: 0 0;
}
#logindashboard .nav-item{
width: 100px !important;
}
#logindashboard .nav{
padding: 0 0;
}

}
@media (min-width: 1290px) {

}
