<div class="container-fluid">
    <div class="clock" ng-hide="dataReceived"></div>

    <div class="success_intro_title animated fadeInDown" ng-show="dataReceived">
        <h1>Confirm your order</h1>
        <hr class="booking-line">
    </div>
    <!-- End intro-title -->

    <div class="container" ng-show="dataReceived">
        <div class="row">
            <!-- Form left side-->
            <div class="col-md-8 add_bottom_15">
                <div class="step-details">
                    <div class="row">
                        <div class="col-md-4 img_container">
                            <img ng-src="{{hotel.images[0]}}" style="width: 100%; height: 100%;">
                        </div>
                        <div class="col-md-8">
                            <h2 class="confirm_hotel_name">{{hotel.hotel_name}}</h2>
                            <p>{{ hotel.address.address_Line }}, {{hotel.address.city}}, {{hotel.address.state}}, {{hotel.address.country}}</p>
                        </div>
                    </div>
                </div>
                <!--End step -->

                <div ng-if="!showBookingForm">
                        <div class="row">
                            <h4>ACTIVITY (ADD-ONS)</h4>
                        </div>
                        <div class="row" ng-repeat="activity in policies">
                            <hr>
                            <div class="col-md-12">
                                <div class="col-md-4 col-sm-4">
                                    <img src="{{activity.policy_image_url || '/views/traveler.mv/modules/core/client/img/notredame.jpg'}}" alt="Image" class="img-responsive styled">
                                </div>
                                <div class="col-md-5 col-sm-5 sub-p">
                                    <h4>{{activity.policy_name}}</h4>
                                    <p>{{activity.policy_description}}</p>
                                    <div class="roomoccunrate">
                                        <h4 ng-if="currency == undefined">{{activity.currency}} {{activity.cost | number:2}}</h4>
                                        <h4 ng-if="currency != undefined">{{currency}} {{activity.cost*currencyMultiplier[activity.currency] | number:2}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="input-group number-spinner1" ng-if="!activity.mandatory" style="padding-top: 50px;">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="spinDown(activity.policy_id)">
                                                <span class="glyphicon glyphicon-minus span-cls" style="color:#285e8e;"></span>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control text-center" ng-model="acitivity.adults" value="{{activity.adults}}" readonly>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="spinUp(activity.policy_id)">
                                                <span class="glyphicon glyphicon-plus span-cls" style="color:#285e8e;"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group number-spinner1" ng-if="activity.mandatory" style="padding-top: 50px;">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="spinDown(activity.policy_id)" disabled style="color:#285e8e;">
                                                <span class="glyphicon glyphicon-minus span-cls"></span>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control text-center" ng-model="acitivity.adults" value="{{activity.adults}}" readonly>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="spinUp(activity.policy_id)" disabled>
                                                <span class="glyphicon glyphicon-plus span-cls" style="color:#285e8e;"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 plt20">
                            <br/>
                            <button type="button" id="toggleBookingForm" class="btn_1 green medium" ng-click="displayBookingForm()">Continue</button>
                        </div>
                </div>

                <form name="bookingForm" ng-submit="book(bookingForm.$valid)" ng-if="showBookingForm">
                    <div class="row">
                        <h4>CUSTOMER DETAILS</h4>
                    </div>
                    <div class="step-details">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>First name*</label>
                                    <input type="text" ng-model="firstName" class="booking-form-control" id="firstName" name="firstName" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Last name*</label>
                                    <input type="text" ng-model="lastName" class="booking-form-control" id="lastName" name="lastName" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="email" ng-model="emailId" id="emailId" name="emailId" class="booking-form-control" required>
                                    <span class="error" ng-show="bookingForm.emailId.$error.email">Not valid email!</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Telephone/Mobile*</label>
                                    <input type="text" ng-model="mobileNo" id="mobileNo" name="mobileNo" class="booking-form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea name="address" cols="30" rows="5" ng-model="address" class="booking-form-control" style="height: auto;"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Special Requests</label>
                                    <textarea name="spl_requests" cols="30" rows="5" ng-model="spl_requests" class="booking-form-control" style="height: auto;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End step -->
                    <div id="policy">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="policy_terms" id="policy_terms" checked required>
                                I accept <a href="/terms-and-conditions" target="_new" ng-disabled="confirmed">terms and conditions</a> and <a href="/privacy-policy" target="_new" ng-disabled="confirmed">privacy policy.</a>
                            </label>
                        </div>
                        <div class="col-md-12 plt20">
                            <button type="button" id="toggleBookingForm" class="btn_1 green medium" ng-click="displayBookingForm()" ng-show="activities.policies.length > 0">Add Experiences</button>
                            <button type="button" id="myPay" class="btn_1 green medium" data-toggle="molpayseamless" data-mpsmerchantid="{{options.mpsmerchantid}}" data-mpschannel="{{ payment.option }}" data-mpsamount="{{ options.mpsamount }}" data-mpsorderid="{{ options.mpsorderid }}"
                                data-mpsbill_email="{{ options.mpsbill_email }}" data-mpsbill_mobile="{{ options.mpsbill_mobile }}" data-mpsbill_desc="{{ options.mpsbill_desc }}" data-mpsreturnurl="{{ options.mpsreturnurl }}" data-mpscancelurl="{{ options.mpscancelurl }}"
                                data-mpsvcode="{{ options.mpsvcode }}" data-mpscurrency="{{options.mpscurrency}}" data-mpsbill_name="{{options.mpsbill_name }}" ng-click="refresh()">Book Now
                            </button>
                        </div>
                    </div>
                </form>

                <!-- <form name="paymentForm">
                    <div ng-show="confirmed">
                        <div class="row makepay">
                            <uib-tabset active="activeTab">
                                <uib-tab index="0">
                                    <uib-tab-heading>
                                        Credit or Debit Card
                                    </uib-tab-heading>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                                <label class="hand" for="paymentcredit_alb-paymex">
                                                    <img src="site/assets/images/seamless/payment-credit.jpg" title="ALB-Paymex" />
                                                </label>
                                                <br />
                                                <input type="radio" name="payment_options" id="paymentcredit_alb-paymex" ng-model="payment.option" value="credit3" data-toggle="molpayseamlessiframe" data-mpsmerchantid="{{options.mpsmerchantid}}" data-mpschannel="credit" data-mpsamount="{{ options.mpsamount }}"
                                                    data-mpsorderid="{{ options.mpsorderid }}" data-mpsbill_name="{{options.mpsbill_name }}" data-mpsccbox="#MOLPAYCC" ng-change="hideDefaultPaymentButton()" />
                                            </div>
                                        </div>
                                    </div>

                                </uib-tab>
                                <uib-tab index="1">
                                    <uib-tab-heading>
                                        Online Banking
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentfpx">
                                                <img src="site/assets/images/seamless/payment-fpx.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymentfpx" value="fpx" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>

                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentm2u">
                                                <img src="site/assets/images/seamless/payment-m2u.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymentm2u" value="maybank2u" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymenthlb">
                                                <img src="site/assets/images/seamless/payment-hlb.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymenthlb" value="hlb" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentcimb">
                                                <img src="site/assets/images/seamless/payment-cimb.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymentcimb" value="cimbclicks" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentrhb">
                                                <img src="site/assets/images/seamless/payment-rhb.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymentrhb" value="rhb" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentaffin">
                                                <img src="site/assets/images/seamless/payment-affin.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymentaffin" value="affinonline" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentam">
                                                <img src="site/assets/images/seamless/payment-amonline.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymentam" value="amb" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentislam">
                                                <img src="site/assets/images/seamless/payment-bank-islam.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymentislam" value="bankislam" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentpaysbuy">
                                                <img src="site/assets/images/seamless/payment-paysbuy.jpg" />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="paymentpaysbuy" value="paysbuy" required ng-model="payment.option" ng-change="refresh()" />
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="2">
                                    <uib-tab-heading>
                                        Pay @ 7-Eleven
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr ">
                                            <label class="hand " for="payment7e ">
                                                <img src="site/assets/images/seamless/payment-7e.jpg " />
                                            </label>
                                            <br />
                                            <input type="radio" name="payment_options" id="payment7e" value="cash-711" required ng-model="payment.option" ng-change="refresh()" />

                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                            <div class="row" style="min-height: 80px;">
                                <div class="col-md-12 plt20" ng-if="payment.option && refreshed">
                                    <button type="button" id="myPay" class="btn_1 green medium" data-toggle="molpayseamless" data-mpsmerchantid="{{options.mpsmerchantid}}" data-mpschannel="{{ payment.option }}" data-mpsamount="{{ options.mpsamount }}" data-mpsorderid="{{ options.mpsorderid }}"
                                        data-mpsbill_email="{{ options.mpsbill_email }}" data-mpsbill_mobile="{{ options.mpsbill_mobile }}" data-mpsbill_desc="{{ options.mpsbill_desc }}" data-mpsreturnurl="{{ options.mpsreturnurl }}" data-mpscancelurl="{{ options.mpscancelurl }}"
                                        data-mpsvcode="{{ options.mpsvcode }}" data-mpscurrency="{{options.mpscurrency}}" data-mpsbill_name="{{options.mpsbill_name }}" ng-click="refresh()">Book Now
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form> -->
            </div>
            <!-- Details right side-->
            <aside class="col-md-4 ">
                <div class="box_style_1 ">
                    <h3 class="inner ">- Summary -</h3>
                    <table class="table table_summary ">
                        <tbody>
                            <tr>
                                <td>
                                    Check in
                                </td>
                                <td class="text-right ">
                                    {{ displayCheckIn }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Check out
                                </td>
                                <td class="text-right ">
                                    {{ displayCheckOut }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rooms
                                </td>
                                <td class="text-right ">
                                    {{ guest.rooms }} room
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nights
                                </td>
                                <td class="text-right ">
                                    {{ guest.nights }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Adults
                                </td>
                                <td class="text-right ">
                                    {{ guest.adults }}
                                </td>
                            </tr>
                            <tr ng-show="promoApplied ">
                                <td colspan="2 " class="promo-applied ">
                                    <span class="glyphicon glyphicon-ok-sign "></span> Promo Code Applied
                                </td>
                            </tr>
                            <tr ng-hide="promoApplied ">
                                <td colspan="2 ">
                                    <b>Promo Code</b>
                                </td>
                            </tr>
                            <tr ng-hide="promoApplied ">
                                <td>
                                    <input type="text " name=" " class="booking-form-control " ng-model="promo " value="{{promo | uppercase}} " ng-disabled="confirmed ">
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm " href ng-hide="checkingPromo " ng-click="checkPromo() ">Apply</a>
                                    <div class="sk-spinner sk-spinner-wave promo-spinner " ng-show="checkingPromo ">
                                        <div class="sk-rect1 "></div>
                                        <div class="sk-rect2 "></div>
                                        <div class="sk-rect3 "></div>
                                        <div class="sk-rect4 "></div>
                                        <div class="sk-rect5 "></div>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-if="promoMessage ">
                                <td colspan="2 ">{{promoMessage}}</td>
                            </tr>
                            <tr>
                                <td>
                                    Room Charges
                                </td>
                                <td class="text-right ">
                                    <span ng-show="currency != undefined">{{currency}} {{subTotal*currencyMultiplier[hotel.currency] | number:2}}</span>
                                    <span ng-hide="currency != undefined">{{hotel.currency}} {{subTotal | number:2}}</span>
                                </td>
                            </tr>
                            <tr ng-if="discounts ">
                                <td>
                                    Discounts
                                </td>
                                <td class="text-right ">
                                    <span ng-show="currency != undefined">{{currency}} {{discounts*currencyMultiplier[hotel.currency] | number:2}}</span>
                                    <span ng-hide="currency != undefined">{{hotel.currency}} {{discounts | number:2}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Taxes and Service Charge
                                </td>
                                <td class="text-right ">
                                    <span ng-show="currency != undefined">{{currency}} {{finalTaxes*currencyMultiplier[hotel.currency] | number:2}}</span>
                                    <span ng-hide="currency != undefined">{{hotel.currency}} {{finalTaxes | number:2}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Add Ons Charge
                                </td>
                                <td class="text-right ">
                                    <span ng-show="currency != undefined">{{currency}} {{activityTotal*currencyMultiplier[hotel.currency] | number:2}}</span>
                                    <span ng-hide="currency != undefined">{{hotel.currency}} {{activityTotal | number:2}}</span>
                                </td>
                            </tr>
                            <tr class="total ">
                                <td>
                                    Total
                                </td>
                                <td class="text-right ">
                                    <span ng-show="currency != undefined">{{currency}} {{totalAmount*currencyMultiplier[hotel.currency] | number:2}}</span>
                                    <span ng-hide="currency != undefined">{{hotel.currency}} {{totalAmount | number:2}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn_full_outline " href ng-click="goBack() "><i class="icon-right "></i> Modify your search</a>
                </div>
            </aside>
        </div>
    </div>
    <!--End row -->
</div>
<!--End container -->
