<div class="global-wrap container-fluid">
    <div class="row">

	 		<div class="vc_row wpb_row bg-holder vc_custom_1458810483425 bg-parallax img" style="background-position: 50% -24.5333px;">
	 			<div class="bg-mask">
	 			</div>
	 			<div class="container ">
	 				<div class="row">
						<div class="wpb_column column_container col-md-12">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h1 style="text-align: center;">
											<span style="color: #ffffff;">Terms & Conditions</span>
										</h1>
									</div>
								</div>
							</div>
						</div> 
					</div><!--End .row-->
				</div><!--End .container-->
			</div>

			<div class="vc_row wpb_row bg-holder">
					<div class="row">
						<div class="wpb_wrapper">
							<h1 class="page-title">Terms & Conditions</h1>

							<h2>General</h2>

							<p>1.1</p>
							<p>Access to and use of this Website and the Products and Services available through this Website (collectively, the “Services”) are subject to the Maldives Tourism Act (Law No. 2/99), the operation of travel agencies, and the regulation of persons providing such services and the following terms, conditions and notices (the “Terms of Service”). By using the Services, you are agreeing to all of the Terms of Service, as may be updated by us from time to time. You should check this page regularly to take notice of any changes we may have made to the Terms of Service.</p>

							<p>1.2</p>
							<p>Access to this Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the Services without notice. We will not be liable if for any reason this Website is unavailable at any time or for any period. From time to time, we may restrict access to some parts or all of this Website.</p>

							<p>1.3</p>
							<p>This Website may also contain links to other websites, which are not operated by TRAVELER.MV (the “Linked Sites”). TRAVELER.MV has no control over the Linked Sites and accepts no responsibility for them or for any loss or damage that may arise from your use of them. Your use of the Linked Sites will be subject to the terms of use and service contained within each such site.Prohibitions</p>

							<p>2.1</p>
							<p>You must not misuse this Website. You will not: commit or encourage a criminal offence; transmit or distribute a virus, trojan, worm, or post any other material which is malicious, technologically harmful, in breach of confidence or in any way offensive or obscene; hack into any aspect of the Service; corrupt data; cause annoyance to other users; infringe upon the rights of any other person’s proprietary rights; send any unsolicited advertising or promotional material, commonly referred to as “spam”; or attempt to affect the performance or functionality of any computer facilities of or accessed through this Website. TRAVELER.MV will report any such breach to the relevant law enforcement authorities and disclose your identity to them.</p>

							<p>2.2</p>
							<p>We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of this Website or to your downloading of any material posted on it, or on any website linked to it.</p>

							<h2>Intellectual Property, Software and Content</h2>

							<p>3.1</p>
							<p>The intellectual property rights in all software and content made available to you on or through this Website remains the property of TRAVELER.MV or its licensors and are protected by copyright laws and treaties around the world. All such rights are reserved by TRAVELER.MV and its licensors. You may store, print and display the content supplied solely for your own personal use. You are not permitted to publish, manipulate, distribute or otherwise reproduce, in any format, any of the content or copies of the content supplied to you or which appears on this Website nor may you use any such content in connection with any business or commercial enterprise.</p>

							<p>3.2</p>
							<p>You shall not modify, translate, reverse engineer, decompile, disassemble or create derivative works based on any software or accompanying documentation supplied by TRAVELER.MV or its licensors. No licence or consent is granted to you to use TRAVELER.MV’s trade marks in any way, and you agree not to use these marks or any marks which are colourably similar without the written permission of TRAVELER.MV.</p>

							<h2>Registration</h2>

							<p>4.1</p>
							<p>TRAVELER.MV reserves the right to close accounts if any user is seen to be attempting to hide the use of multiple accounts or disrupts any of our services in any way.</p>

							<p>4.2</p>
							<p>If you use multiple logins for the purpose of disrupting the Website you may have action taken against all of your accounts.</p>

							<h2>Submission of Material</h2>

							<p>5.1</p>
							<p>By submitting any material to us, you automatically grant TRAVELER.MV the royalty-free, perpetual, exclusive right and license to use, reproduce, modify, edit, adapt, publish, translate, create derivative works from, distribute, perform and display such material (in whole or part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed. You also acknowledge that TRAVELER.MV is not obliged to publish any material submitted by you on any TRAVELER.MV publication.</p>

							<p>5.2</p>
							<p>In certain circumstances TRAVELER.MV may also share your contribution with trusted third parties.</p>

							<h2>Payments</h2>

							<p>6.1</p>
							<p>Any payments you make on this Website are subject to the following terms and conditions.</p>

							<p>6.2</p>
							<p>In order to make a payment you must possess a valid credit or debit card issued by a bank acceptable to us. TRAVELER.MV retains the right to refuse any request made by you. When making a payment you undertake that all details you provide to us are true and accurate, that you are an authorised user of the credit or debit card used to make the payment and that there are sufficient funds to cover the payment.</p>

							<p>6.3</p>
							<p>Payments shall be made through a linked payment gateway and will be processed directly by the Bank of Maldives Plc (the “Bank”) using Secure Socket Layer (SSL) technology. TRAVELER.MV will not have access to your credit or debit card details.</p>

							<p>6.4</p>
							<p>Upon receiving your order the Bank will carry out a standard pre-authorisation check on your payment card to ensure there are sufficient funds to fulfill the transaction. When you complete the online payment, funds will be deducted from your credit or debit card in the selected currency.</p>

							<p>6.5</p>
							<p>Discount codes – We may from time to time offer promotional discount codes which may apply in respect of any, or certain specified, purchases made though this Website. Only one promotional discount code can be applied to an order. The conditions of use relating to any discount code will be specified at the time of issue.</p>

							<h2>Disclaimer of Liability</h2>

							<p>7.1</p>
							<p>The material displayed on this Website is provided without any guarantees, conditions or warranties as to its accuracy. Unless expressly stated to the contrary to the fullest extent permitted by law TRAVELER.MV and its suppliers, content providers and advertisers hereby expressly exclude all conditions, warranties and other terms which might otherwise be implied by statute and shall not be liable for any damages whatsoever, including but without limitation to any direct, indirect, special, consequential, punitive or incidental damages, or damages for loss of use, profits, data or other intangibles, damage to goodwill or reputation, or the cost of procurement of substitute goods and services, arising out of or related to the use, inability to use, performance or failures of this Website or the Linked Sites and any materials posted thereon, irrespective of whether such damages were foreseeable or arise in contract, tort, equity, restitution, by statute, at common law or otherwise. This does not affect TRAVELER.MV’s liability for death or personal injury arising from its negligence, nor for fraudulent misrepresentation, misrepresentation as to a fundamental matter or any other liability which cannot be excluded or limited under applicable law.</p>

							<h2>Linking to this website</h2>

							<p>8.1</p>
							<p>You may link to any page on our website, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>

							<p>8.2</p>
							<p>This Website must not be framed on any other site. We reserve the right to withdraw linking permission without notice.</p>

							<h2>Disclaimer as to Ownership of Trade Marks, Images of Personalities and Third Party Copyright</h2>

							<p>9.1</p>
							<p>Except where expressly stated to the contrary all persons (including their names and images), third party trade marks and images of third party products, services and/or locations featured on this Website are in no way associated, linked or affiliated with TRAVELER.MV and you should not rely on the existence of such a connection or affiliation. Any trade marks/names featured on this Website are owned by the respective trade mark owners. Where a trade mark or brand name is referred to it is used solely to describe or identify the products and services and is in no way an assertion that such products or services are endorsed by or connected to TRAVELER.MV.</p>

							<h2>Indemnity</h2>

							<p>10.1</p>
							<p>You agree to indemnify, defend and hold harmless TRAVELER.MV, its directors, officers, employees, consultants, agents, and affiliates, from any and all third party claims, liability, damages and/or costs (including, but not limited to, legal fees) arising from your use this Website or your breach of the Terms of Service.</p>

							<h2>Variation</h2>

							<p>11.1</p>
							<p>TRAVELER.MV shall have the right in its absolute discretion at any time and without notice to amend, remove or vary the Services and/or any page of this</p>
							<p>Website.</p>

							<h2>Invalidity</h2>

							<p>12.1</p>
							<p>If any part of the Terms of Service is unenforceable (including any provision in which we exclude our liability to you) the enforceability of any other part of the Terms of Service will not be affected all other clauses remaining in full force and effect. So far as possible where any clause/sub-clause or part of a clause/sub-clause can be severed to render the remaining part valid, the clause shall be interpreted accordingly. Alternatively, you agree that the clause shall be rectified and interpreted in such a way that closely resembles the original meaning of the clause /sub-clause as is permitted by law.</p>

							<h2>Waiver</h2>

							<p>13.1</p>
							<p>If you breach these conditions and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these conditions.</p>

							<h2>Entire Agreement</h2>

							<p>14.1</p>
							<p>The above Terms of Service constitute the entire agreement of the parties and supersede any and all preceding and contemporaneous agreements between you and TRAVELER.MV relating to the use of this Website.</p>

							<h2>Governing Law and Jurisdiction</h2>

							<p>15.1</p>
							<p>These terms and conditions are to be construed in accordance with the laws of Maldives and in the event of any dispute or claim associated with these terms and conditions, that dispute or claim shall be subject to the exclusive jurisdiction of the Maldivian courts.</p>

							<h2>Cancellation &amp; No-show Policy</h2>

							<p>16.1</p>
							<p>To cancel a confirmed booking should be 21 days before the arrival.</p>

							<p>16.2</p>
							<p>No Shows and Early Departure will be charged 100% of the total stay No Shows and Early Departure will be charged 100% of the total stay</p>

							<p>16.3</p>
							<p>Cancellations received after 21 days will be charged 25% of the total stay Cancellations received after 14 days will be charged 50% of the total stay</p>

							<p>16.4</p>
							<p>Cancellations received after 07 days will be charged 100% of the total stay.</p>

						</div>
					</div><!--End .row-->
			</div>

	</div> 
</div>