<!--USP starts-->
<div class="container-fluid">
    <div class="clock" ng-hide="dataReceived"></div>

    <div class="container mt150" ng-show="dataReceived">
        <div class="row">
            <div class="strip_all_tour_list wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s" ng-repeat="addon in addons">
                        <div class="tour_container">
                            <div class="img_container">
                                <a ui-sref="viewAddon({addonId: addon.policy_id})">
                                    <img ng-src="{{addon.policy_image_url}}" class="img-responsive" alt="Image">
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3>{{addon.policy_name}}</h3>
                                <a id="btn-hotel-select" class="btn_1 mt10" ui-sref="viewAddon({
                                addonId: policy_id})">Read more</a>
                            </div>
                        </div>
                    </div>
                <!-- End box tour -->
                </div>
            </div>
            <!--End strip -->
        </div>
        <!-- End row -->
    </div>
</div>