<div class="container-fluid" ng-hide="dataReceived">
    <div class="clock"></div>
</div>

<!-- Slider -->
<div id="full-slider-wrapper" ng-show="dataReceived">
    <!-- angular slider start -->
    <div class="viewTopslider">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="img in destination.images track by $index" index="$index">
                <img ng-src="{{ img || '/views/traveler/modules/core/client/img/noimage.png'}}" class="viewTopimg" style="max-height: 400px">
            </div>
        </div>
    </div>
</div>
<!-- End layerslider -->

<div class="container mt50" ng-show="dataReceived">
    <div class="row">
        <div class="col-md-12">
            <div class="strip_all_tour_list wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="row">
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                            <h3>{{location.city}}</h3>
                            <p>{{destination.address}}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="container" ng-show="dataReceived">
    <div class="row">
        <aside class="col-md-3">

            <!--No. of Rooms-->
            <div class="row">
                <div class="aside col-md-12">
                    <h3 class="inner">NO.OF GUESTHOUSES</h3>
                    <div class="col-md-3 col-sm-6 col-xs-3">
                        <img src="../views/traveler.mv/modules/hotels/client/img/facilities/bed.png" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>{{totalHotels}}</p>
                    </div>
                </div>
            </div>
            <hr>

            <!--Check In & Check Out-->
            <div class="row">
                <div class="aside col-md-12">
                    <h3 class="inner">LOCATION</h3>
                    <p style="font-size: 18px !important; padding-top: 5px;">{{location.city}}, {{destination.address}}</p>
                    <img src="{{destination.map}}" alt="" style="height:400px;width:100%">
                </div>
            </div>
            <hr>

            <!--Distance-->
            <div class="row">
                <div class="distance col-md-12 col-sm-12">
                    <h3 class="inner">Distance from Airport</h3>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-3">
                            <img src="../views/traveler.mv/modules/hotels/client/img/facilities/car.png" alt="">
                        </div>
                        <div class="col-md-9 col-sm-6">
                            <p>{{destination.distance_from.car}} mins</p>
                            <p>by Car</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-3">
                            <img src="../views/traveler.mv/modules/hotels/client/img/facilities/ferry.png" alt="">
                        </div>
                        <div class="col-md-9 col-sm-6">
                            <p>{{destination.distance_from.ferry}} mins</p>
                            <p>bt ferry</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-3">
                            <img src="../views/traveler.mv/modules/hotels/client/img/facilities/speed_boat.png" alt="">
                        </div>
                        <div class="col-md-9 col-sm-6">
                            <p>{{destination.distance_from.speed_boat}} mins</p>
                            <p>by speed boat</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-3">
                            <img src="../views/traveler.mv/modules/hotels/client/img/facilities/seaplane.png" alt="">
                        </div>
                        <div class="col-md-9 col-sm-6">
                            <p>{{destination.distance_from.sea_plane}} mins</p>
                            <p>by sea plane</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-3">
                            <img src="../views/traveler.mv/modules/hotels/client/img/facilities/aeroplane.png" alt="">
                        </div>
                        <div class="col-md-9 col-sm-6">
                            <p>{{destination.distance_from.aeroplane}} mins</p>
                            <p>by aeroplane</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <div class="col-md-offset-1 col-md-8" id="single_tour_desc">
            <div class="row">
                <div class="col-md-12 desc">
                    <p>{{destination.description}}</p>
                </div>
            </div>
            <!-- End row  -->

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h4>GUESTHOUSES AT THE ISLAND</h4>
                </div>
            </div>
            <!-- End row -->

            <div class="strip_all_tour_list wow fadeIn animated" data-wow-delay="0.1s" style="visibility:visible; animation-delay: 0.1s; animation-name: fadeIn;" ng-show="totalHotels > 0" ng-repeat="hotel in destination.hotels">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="img_list">
                            <a ui-sref="view({url: hotel.hotel_id, productId: hotel.hotel_id, searchId: searchId, location: location, checkin: checkin, checkout: checkout, rooms: guest.rooms, adults: guest.adults, promo: promo})"><img src="{{hotel.images[0] || '/views/traveler.mv/modules/core/client/img/notredame.jpg'}}" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="clearfix visible-xs-block"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="tour_list_desc">
                            <div class="rating"><i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i></div>
                            <h3>{{hotel.hotel_name}}</h3>
                            <p>{{hotel.address.address_Line}}, {{hotel.address.city}}, {{hotel.address.state}}, {{hotel.address.country}}</p>
                            <p>
                                <a id="btn-hotel-select" class="btn_1 mt10" ui-sref="view({
                                url: hotel.hotel_id, productId: hotel.hotel_id, searchId: searchId, location: location, checkin: checkin, checkout: checkout, rooms: guest.rooms, adults: guest.adults, promo: promo})"> Book Now</a>
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <!-- End displaying hotels -->

            <div class="text-left" ng-show="totalHotels > 0">
                <div class="Pagination">
                    <ul uib-pagination total-items="totalItem" ng-model="currentPage" class="pagination" items-per-page="itemsPerPage" boundary-links="true" ng-change="pageChanged()" boundary-link-numbers="true" rotate="false" max-size="maxSize"></ul>
                </div>
            </div>
            <!-- End Pagination -->
        </div>

    </div>
    <!--End row -->
</div>
