<div class="custom-loader" ng-hide="dataReceived">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<section id="hero_2" style="height: 350px;">
    <div class="intro_title animated fadeInDown">
        <h1>Confirm your order</h1>
    </div>
    <!-- End intro-title -->
</section>
<!-- End Section hero_2 -->
<div id="position">
    <div class="container">
        <ul>
            <li><a href ui-sref="homepage">Home</a></li>
            <li>Booking</li>
        </ul>
    </div>
</div>
<!-- End position -->
<div class="container margin_60">
    <div class="row">
        <div class="col-md-8 add_bottom_15">
          <form name="bookingForm" ng-submit="book(bookingForm.$valid)">
            <div class="form_title">
              <h3><strong>1</strong>Hotel Details</h3>
            </div>
            <div class="step">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="confirm_hotel_name">{{hotel.hotel_name}}</h2>
                  <p>{{ hotel.address.address_Line }},
                  <br/>
                  {{ hotel.address.city }}, {{ hotel.address.state }}, {{ hotel.address.country }}</p>
                </div>
              </div>
            </div>
            <!--End step -->
            <div class="form_title">
              <h3><strong>2</strong>Your Details</h3>
            </div>
            <div class="step">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>First Name*</label>
                    <input type="text" ng-model="firstName" class="form-control" id="firstName" name="firstName" required autofocus>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Last Name*</label>
                    <input type="text" ng-model="lastName" class="form-control" id="lastName" name="lastName" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Email*</label>
                    <input type="email" ng-model="emailId" id="emailId" name="emailId" class="form-control" required>
                    <span class="error" ng-show="bookingForm.emailId.$error.email">Not valid email!</span>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>Telephone/Mobile* (e.g +60123456789)</label>
                    <input type="text" ng-model="mobileNo" id="mobileNo" name="mobileNo" class="form-control" required ng-pattern="patterns.MOBILE">
                                <span class="error" ng-show="bookingForm.mobileNo.$error.pattern">
                                Not a valid phone number!</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Address*</label>
                    <textarea name="address" cols="30" rows="5" ng-model="address" class="form-control" required></textarea>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label>Special Requests</label>
                    <textarea name="spl_requests" cols="30" rows="5" ng-model="spl_requests" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <!--End step -->
            <div id="policy">
              <div class="form-group">
                <label>
                  <input type="checkbox" name="policy_terms" id="policy_terms" checked required>
                  I accept <a href="/terms-and-conditions" target="_new" ng-disabled="confirmed">terms and conditions</a> and <a href="/privacy-policy" target="_new" ng-disabled="confirmed">privacy policy.</a>                        </label>
              </div>
              <input type="submit" class="btn_1 green medium" value="Next" ng-hide="confirmed">
              <!-- Modal -->
            </div>
          </form>
            <form name="paymentForm">
                <div ng-show="confirmed">
                    <div class="row makepay">
                        <uib-tabset active="activeTab">
                            <uib-tab index="0">
                                <uib-tab-heading>
                                    Credit or Debit Card
                                </uib-tab-heading>
                                <div class="container-fluid">
                                    <div class="row" ng-show="options.mpscurrency != 'MYR'">
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentcredit_alb-paymex">
                                                <img src="/views/staydilly/modules/core/client/images/seamless/payment-credit.jpg" title="ALB-Paymex" />
                                            </label>
                                            <br />
                                                <input type="radio"  name="payment_options" id="paymentcredit_alb-paymex" ng-model="payment.option" value="credit3" data-toggle="molpayseamlessiframe" data-mpsmerchantid="{{options.mpsmerchantid}}" data-mpschannel="credit" data-mpsamount="{{ options.mpsamount }}" data-mpsorderid="{{ options.mpsorderid }}" data-mpsbill_name="{{options.mpsbill_name }}" data-mpsccbox="#MOLPAYCC" ng-change="hideDefaultPaymentButton()" checked/>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="options.mpscurrency == 'MYR'">
                                        <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                            <label class="hand" for="paymentcredit_alb-paymex1">
                                                <img src="/views/staydilly/modules/core/client/images/seamless/payment-credit.jpg" title="ALB-Paymex1" />
                                            </label>
                                            <br />
                                                <input type="radio"  name="payment_options" id="paymentcredit_alb-paymex1" ng-model="payment.option" value="credit" data-toggle="molpayseamlessiframe" data-mpsmerchantid="{{options.mpsmerchantid}}" data-mpschannel="credit" data-mpsamount="{{ options.mpsamount }}" data-mpsorderid="{{ options.mpsorderid }}" data-mpsbill_name="{{options.mpsbill_name }}" data-mpsccbox="#MOLPAYCC" ng-change="hideDefaultPaymentButton()" checked/>
                                        </div>
                                    </div>
                                </div>

                            </uib-tab>
                            <uib-tab index="1">
                                <uib-tab-heading>
                                    Online Banking
                                </uib-tab-heading>
                                <div class="row">
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymentfpx">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-fpx.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymentfpx" value="fpx" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>

                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymentm2u">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-m2u.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymentm2u" value="maybank2u" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymenthlb">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-hlb.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymenthlb" value="hlb" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymentcimb">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-cimb.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymentcimb" value="cimbclicks" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymentrhb">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-rhb.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymentrhb" value="rhb" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymentaffin">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-affin.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymentaffin" value="affinonline" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymentam">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-amonline.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymentam" value="amb" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymentislam">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-bank-islam.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymentislam" value="bankislam" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr">
                                        <label class="hand" for="paymentpaysbuy">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-paysbuy.jpg" />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="paymentpaysbuy" value="paysbuy" required ng-model="payment.option" ng-change="refresh()" />
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="2">
                                <uib-tab-heading>
                                    Pay @ 7-Eleven
                                </uib-tab-heading>
                                <div class="row">
                                    <div class="col-md-2 col-xs-6 marginbttm text-center myr ">
                                        <label class="hand " for="payment7e ">
                                            <img src="/views/staydilly/modules/core/client/images/seamless/payment-7e.jpg " />
                                        </label>
                                        <br />
                                        <input type="radio" name="payment_options" id="payment7e" value="cash-711" required ng-model="payment.option" ng-change="refresh()" />

                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                        <div class="row" style="min-height: 80px;">
                            <div class="col-md-12 plt20" ng-if="payment.option && refreshed">
                                <button type="button" id="myPay" class="btn_1 green medium" data-toggle="molpayseamless" data-mpsmerchantid="{{options.mpsmerchantid}}" data-mpschannel="{{ payment.option }}" data-mpsamount="{{ options.mpsamount }}" data-mpsorderid="{{ options.mpsorderid }}" data-mpsbill_email="{{ options.mpsbill_email }}" data-mpsbill_mobile="{{ options.mpsbill_mobile }}" data-mpsbill_desc="{{ options.mpsbill_desc }}" data-mpsreturnurl="{{ options.mpsreturnurl }}" data-mpscancelurl="{{ options.mpscancelurl }}" data-mpsvcode="{{ options.mpsvcode }}" data-mpscurrency="{{options.mpscurrency}}" data-mpsbill_name="{{options.mpsbill_name }}" ng-click="refresh()">Book Now
                                </button>
                            </div>
                        </div>

                    </div>

                </div>



                <!--
                  <button type="button " class="btn_1 green medium myPayButton " ng-click="trigger($event) ">Book Now</button> -->
        </div>
        </form>
        <aside class="col-md-4 ">
            <div class="box_style_1 ">
                <h3 class="inner ">- Summary -</h3>
                <table class="table table_summary ">
                    <tbody>
                        <tr>
                            <td>
                                Check in
                            </td>
                            <td class="text-right ">
                                {{ displayCheckIn }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Check out
                            </td>
                            <td class="text-right ">
                                {{ displayCheckOut }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rooms
                            </td>
                            <td class="text-right ">
                                {{ guest.rooms }} room
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nights
                            </td>
                            <td class="text-right ">
                                {{ guest.nights }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Adults
                            </td>
                            <td class="text-right ">
                                {{ guest.adults }}
                            </td>
                        </tr>
                        <tr ng-show="promoApplied ">
                            <td colspan="2 " class="promo-applied ">
                                <span class="glyphicon glyphicon-ok-sign "></span> Promo Code Applied
                            </td>
                        </tr>
                        <tr ng-hide="promoApplied ">
                            <td colspan="2 ">
                                <b>Promo Code</b>
                            </td>
                        </tr>
                        <tr ng-hide="promoApplied ">
                            <td>
                                <input type="text " name=" " class="form-control " ng-model="promo " value="{{promo | uppercase}} " ng-disabled="confirmed ">
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm " href ng-hide="checkingPromo " ng-click="checkPromo() ">Apply</a>
                                <div class="sk-spinner sk-spinner-wave promo-spinner " ng-show="checkingPromo ">
                                    <div class="sk-rect1 "></div>
                                    <div class="sk-rect2 "></div>
                                    <div class="sk-rect3 "></div>
                                    <div class="sk-rect4 "></div>
                                    <div class="sk-rect5 "></div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="promoMessage ">
                            <td colspan="2 ">{{promoMessage}}</td>
                        </tr>
                        <tr>
                            <td>
                                Room Charges
                            </td>
                            <td class="text-right ">
                                <div ng-show="currency != undefined">{{currency}} {{ subTotal * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</div>
                                <div ng-hide="currency != undefined">{{hotel.currency}} {{ subTotal | number:shiftDecimal[hotel.currency]}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Taxes and Service Charge
                            </td>
                            <td class="text-right ">
                                <div ng-show="currency != undefined">{{currency}} {{ finalTax * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</div>
                                <div ng-hide="currency != undefined">{{hotel.currency}} {{ finalTax | number:shiftDecimal[hotel.currency]}}</div>
                            </td>
                        </tr>
                        <tr ng-if="discounts ">
                            <td>
                                Discounts
                            </td>
                            <td class="text-right ">
                                <div ng-show="currency != undefined">{{currency}} {{ discount * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</div>
                                <div ng-hide="currency != undefined">{{hotel.currency}} {{ discount | number:shiftDecimal[hotel.currency]}}</div>
                            </td>
                        </tr>
                        <tr class="total ">
                            <td>
                                Total
                            </td>
                            <td class="text-right ">
                                <div ng-show="currency != undefined">{{currency}} {{ totalAmount * currencyMultiplier[hotel.currency] | number:shiftDecimal[currency]}}</div>
                                <div ng-hide="currency != undefined">{{hotel.currency}} {{ totalAmount | number:shiftDecimal[hotel.currency]}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn_full_outline " href ng-click="goBack() "><i class="icon-right "></i> Modify your search</a>
            </div>
            <div class="box_style_4 ">
                <i class="icon_set_1_icon-57 "></i>
                <h4>Need <span>Help?</span></h4>
                <a href=" " class="phone ">+603 2106 8888</a>
                <small>Monday to Friday 9.00am - 6.00pm</small>
            </div>
        </aside>
    </div>


</div>
<!--End row -->
</div>
<!--End container -->
