<div id="manage" class="ng-scope">
  <div class="container-fluid">
      <div class="proHead">
        <div class="col-md-10">
          <h2>
            Booking Voucher ID - {{bookingDetails.refrenceId}} ({{bookingDetails.status}})
          </h2>
        </div>
        <div ng-if="bookingDetails.status == 'Confirmed' && setModifyflag" class="col-md-2">
          <div class="col-md-5">
            <a class="btn btn-orange btn-sm pull-right" href ng-click="modify()">Modify</a>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <a class="btn btn-orange btn-sm pull-right" href ng-click="cancelConfirm(bookingDetails.refrenceId)">Cancel</a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-9 bhoechie-tab">
              <div class="bhoechie-tab-content active">

                <div class="row">
                  <div class="input-group col-md-6 col-md-offset-3 cin-cout-noni" style="">
                                        <span class="input-group-addon cin-info">
                                      <small>Check-in</small>
                                      <span class="mmyy">{{bookingDetails.checkInDay}}</span>
                                        <small>{{bookingDetails.checkInYear}}, {{bookingDetails.checkInMonth}}</small>
                                        </span>
                                        <span class="input-group-addon noni-info">
                                      <i class="icon-clock-3"></i><br>
                                      <small>{{bookingDetails.noOfnights}} Night(s)</small>
                                    </span>
                                        <span class="input-group-addon cout-info">
                                      <small> Check-out</small>
                                      <span class="mmyy">{{bookingDetails.checkOutDay}}</span>
                                        <small>{{bookingDetails.checkOutYear}}, {{bookingDetails.checkOutMonth}}</small>
                                        </span>
                  </div>

                  <div class="voucher-hotel-details">
                    <div class="col-md-2">
                      <img ng-src="{{ bookingDetails.image_URL || '/site/assets/img/notredame.jpg' }}" class=" img-responsive ">
                    </div>
                    <div class="col-md-10 ">
                      <h4>{{bookingDetails.hotelName}}</h4>
                      <p><i class="fa fa-map-marker "></i>{{bookingDetails.hoteladdress}}</p>
                      <p><i class="fa fa-phone "></i>{{bookingDetails.mobileNo}}</p>
                    </div>
                  </div>

                  <div class="voucher-hotel-details ">
                    <div class="col-md-11 ">

                      <table class="table table-bordered table-responsive ">
                        <thead>
                        <tr>
                          <th>Guest Name</th>
                          <th>No. of guests</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                          <td>{{bookingDetails.firstName}} {{bookingDetails.lastName}}</td>
                          <td>{{bookingDetails.adults}} Adults</td>
                        </tr>
                        </tbody>
                      </table>

                      <h4>Payment Summary</h4>

                      <table class="table table-bordered table-responsive ">
                        <thead>
                        <tr>
                          <th>Room Type</th>
                          <th>No. of rooms</th>
                          <th>No. of nights</th>
                          <th>Cost</th>
                          <th>Tax</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>{{bookingDetails.roomType}}</td>
                          <td>{{bookingDetails.noOfRooms}}</td>
                          <td>{{bookingDetails.noOfnights}}</td>
                          <td>{{bookingDetails.cost}}</td>
                          <td>{{bookingDetails.serviceTax}}</td>
                        </tr>
                        <tr>
                          <th colspan="3 ">Total Cost</th>
                          <th>{{bookingDetails.cost}}</th>
                          <th>{{bookingDetails.serviceTax}}</th>
                        </tr>
                        <tr>
                          <th colspan="1 ">Promo code Applied</th>
                          <th colspan="2 " style="color: #EC6F00; ">{{bookingDetails.promocode}}</th>
                          <th colspan="2 ">{{bookingDetails.appliedPromoCode}}</th>
                        </tr>
                        <tr>
                          <th colspan="3 ">Grand Total (incl. Tax)</th>
                          <th colspan="2 ">{{bookingDetails.totalAmount}}</th>
                        </tr>
                        </tbody>
                      </table>

                      <h4>Inclusions</h4>

                      <p>{{bookingDetails.specialRequest}}</p>

                      <div class="input-group col-md-12 support-numbers " style=" ">
                                                <span class="input-group-addon ">
                                          <span>For any Support:</span><br>
                                                <i class="fa fa-phone-square "></i> <small>+ 60(3) 2106 8888</small>
                                                </span>
                      </div>

                      <div class="voucher-footer ">
                        hello@staydilly.com
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>

<script type="text/ng-template" id="cancelConfirm.html">
  <div class="confirmCancel">
    <div class="modal-header">
      <div ng-show="cpd.isDisallow != undefined && cpd.isDisallow == true">
        <h4>Booking cancellation failed!</h4>
      </div>
      <div ng-show="cpd.isDisallow == undefined || cpd.isDisallow == false">
        <h4>Are you sure you want to cancel this booking?</h4>
      </div>
    </div>
    <div class="modal-body">
      <div ng-show="cpd.isDisallow != undefined && cpd.isDisallow == true">
        <p style="text-align: center;">
          This booking cannot be cancelled. Please contact customer center.
        </p>
      </div>
      <div ng-show="cpd.isDisallow == undefined || cpd.isDisallow == false">
        <div class="row">
          <div class="col-md-1 col-sm-1">
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 style="color:inherit">Reference ID:</h4>
          </div>
          <div class="col-md-3 col-sm-3">
            <h4 style="color:inherit">{{item.refId}}</h4>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-1 col-sm-1">
          </div>
          <div class="col-md-4 col-sm-4">
            Booking Amount:
          </div>
          <div class="col-md-3 col-sm-3">
              <div ng-show="currency != undefined">{{cpd.total_amount * currencyMultiplier[cpd.currency]}} {{currency}}</div>
              <div ng-hide="currency != undefined">{{cpd.total_amount}} {{cpd.currency}}</div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-1 col-sm-1">
          </div>
          <div class="col-md-4 col-sm-4">
            Refund Amount:
          </div>
          <div class="col-md-3 col-sm-3">
            <div ng-show="currency != undefined">{{cpd.refund_amount * currencyMultiplier[cpd.currency]}} {{currency}}</div>
            <div ng-hide="currency != undefined">{{cpd.refund_amount}} {{cpd.currency}}</div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-1 col-md-1">
          </div>
          <div class="col-sm-10 col-md-10">
            <p>*Refund amount will be added to your wallet!</p>
            <p>*Please refer TERMS & CONDITIONS for more details!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" value="Yes" class="btn btn-primary" ng-hide="cpd.isDisallow != undefined && cpd.isDisallow == true" ng-click="delete()" />
      <button class="btn btn-warning " ng-hide="cpd.isDisallow != undefined && cpd.isDisallow == true" ng-click="cancel() ">No</button>
      <button class="btn btn-warning " ng-show="cpd.isDisallow != undefined && cpd.isDisallow == true" ng-click="cancel() ">Close</button>
    </div>
  </div>
</script>
