<div id="manage" class="ng-scope">
  <div class="row">
  <p class="phead">Manage details</p>
  </div>
<div class="row">
  <div class="col-md-12">
    <ul class="bookingsort">
      <li><a ng-click="filter('all')">All <span class="bubble">{{allBookDeatils.length}}</span> </a></li>
      <li><a ng-click="filter('Charging')">Charging <span class="bubble">{{chargingLength}}</span> </a></li>
      <li><a ng-click="filter('Aborted')">Aborted <span class="bubble">{{abortedLength}}</span> </a></li>
      <li><a ng-click="filter('Cancelled')">Cancelled <span class="bubble">{{cancelledLength}}</span> </a></li>
      <li><a ng-click="filter('Confirmed')">Confirmed <span class="bubble">{{confirmedLength}}</span> </a></li>
      <li><a ng-click="filter('Charged')">Charged <span class="bubble">{{chargedLength}}</span> </a></li>
    </ul>
  </div>
</div>
<div class="bookSection">
  <div class="row bookCard" ng-repeat="bookH in bookDeatils">
    <div class="col-md-2 col-sm-12 col-xs-12">
      <div class="hotelimg">
        <img ng-src="{{ bookH.hotel_image || '/views/staydilly/modules/core/client/img/notredame.jpg' }}">
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <p class="name">{{bookH.hotel_name}}</p>
      <p class="bookno">booking number: <span class="bookno2">{{bookH.reference_id}}</span> </p>
      <p class="currency">{{bookH.currency}} {{bookH.total_amount}}</p>
      <p class="bookedon">Booked on <span>{{bookH.booking_date.dd}} {{bookH.booking_date.mm}}</span></p>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <p class="checkIn">Check In</p>
      <p>
        <span class="date">{{bookH.check_in.dd}}</span><span class="day">{{bookH.check_in.mm}}<br>
        {{bookH.check_in.day}}</span>
      </p>
      <div style="clear: both;"></div>
        <p><a href="#" class="manabookbtn">Book Again</a></p>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <p class="checkIn">Check Out</p>
      <p>
        <span class="date">{{bookH.check_out.dd}}</span><span class="day">{{bookH.check_out.mm}}<br>
        {{bookH.check_out.day}}</span>
      </p>
      <div style="clear: both;"></div>
      <p><a ui-sref="user.bookingDetails({bookingRefId: bookH.reference_id})" class="manabookbtn">manage Bookings</a></p>
  </div>
</div>
</div>
</div>
</div>
