<!--Career starts-->
<div class="container-fluid">
    <div class="row">
        <div class="img-resp">
            <img src="views/staydilly/modules/core/client/img/header-working-on-computer.jpg" alt="Work with Staydilly">
            <div class="text-data">
                <h2>We are Hiring!</h2>
                <span>Are you ready for an adventure?</span>
            </div>
        </div>
    </div>
</div>



<div class="container margin_60">

    <div class="main_title">
        <h2>We <span>love </span>our People</h2>
        <p></p>

        <p>At Staydilly, our employees are truly essential to the success of our business. Working at Staydilly is not just a job, it is a career. We offer career opportunities in the various disciplines in the hospitality industry, including, sales, marketing,
            finance, information technology, as well as many other areas. Staydilly is expanding and looking for employees committed to excellence. We invite you to tell us about yourself and why you would be an indispensable member of our growing family.
            Come work with us to create innovative solutions that drive Staydilly's reach and growth.</p>
    </div>

    <div class="row">
        <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <div class="feature">
                <i class="icon_set_1_icon-30"></i>
                <h3><span>Business Development</span> Managers</h3>
                <p>Staydilly's Business Development teams are hyper-focused on growing sustainably with flair. We support all departments, helping to accelerate projects and establish new relationships. Our teams are obsessed with helping our hotel partners
                    and guests have the best travel experience possible.
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
            <div class="feature">
                <i class="icon_set_1_icon-72"></i>
                <h3><span>Web</span> Developers</h3>
                <p>
                    We are all about smart information. We develop, run, and maintain the systems that let information flow freely between all of Staydilly's global systems - anytime, anywhere. If you're not afraid of creating solutions from scratch and joining our team
                    of IT pioneers, you'll love working in our team.
                </p>
            </div>
        </div>
    </div>
    <!-- End row -->
    <div class="row">
        <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeIn;">
            <div class="feature">
                <i class="icon_set_1_icon-18"></i>
                <h3><span>Customer</span> Experience Specialists</h3>
                <p>
                    Customer Experience is a creative, highly trained team of global specialists responsible for escalated customer cases that begin online, but exist in the offline world. We seek those who are passionate about human relationships and behavioral psychology,
                    who thrive on finding creative solutions to complicated situations, and treat every upset user as an opportunity to create a loyal promoter. </p>
            </div>
        </div>

        <div class="col-md-6 wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">
            <div class="feature">
                <i class="icon_set_1_icon-100"></i>
                <h3><span>Marketing</span> Executives</h3>
                <p>
                    We are Staydilly's storytellers. The Marketing team is responsible for sharing the Staydilly love around the world. We create the content that moves our users to laughter and tears. We're accountable for the social, partnership, and distribution networks
                    that spread the good word about Staydilly both offline and online. We're the type of people who are struck by creative ideas in the middle of the night and can't wait to share them.
                </p>
            </div>
        </div>


    </div>
    <!-- End row -->
    <div class="row">
        <div class="col-md-6 wow fadeIn animated" data-wow-delay="1.1s" style="visibility: visible; animation-delay: 1.1s; animation-name: fadeIn;">
            <div class="feature">
                <i class="icon_set_1_icon-36"></i>
                <h3><span>Finance</span> Managers</h3>
                <p>
                    We are problem solvers at heart. We take our responsibilities very seriously, but we meet new challenges with a creative, innovative spirit. We provide reports, pay the bills and teams, watch our cash, and meet stringent compliance standards - but we
                    also develop solutions that fuel Staydilly's rapid growth and underpin its success.</p>
            </div>
        </div>
        <div class="col-md-6 wow fadeIn animated" data-wow-delay="1.3s" style="visibility: visible; animation-delay: 1.3s; animation-name: fadeIn;">
            <div class="feature">
                <i class="icon_set_1_icon-68"></i>
                <h3><span>Graphic</span> Designers</h3>
                <p>
                    Staydilly bleeds design. We believe design is as much about behavior and emotion as it is about utility and ease. We are a broad team that contributes to product direction and crafts pixel-perfect output. We love simplicity and a sense of whimsy. Sound
                    like your type of space? Join us.
                </p>
            </div>
        </div>
    </div>
    <!-- End row -->
    <div class="row">
        <div class="col-md-6 wow fadeIn animated" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeIn;">
            <div class="feature">
                <i class="icon_set_1_icon-65"></i>
                <h3><span>Operation</span> Managers</h3>
                <p>
                    The Operations team is passionate about creating amazing experiences that stretch far and wide. Whether it's through managing our hotel partners, forecasting supply and demand, or acquiring more hotel partners and guests in our targeted marketplaces,
                    Operations spans through a number of Staydilly departments.</p>
            </div>
        </div>

        <div class="col-md-6 wow fadeIn animated" data-wow-delay="1.7s" style="visibility: visible; animation-delay: 1.7s; animation-name: fadeIn;">
            <div class="feature">
                <i class="icon_set_1_icon-88"></i>
                <h3><span>Data</span> Analystics</h3>
                <p>
                    The Data Analytics team helps navigate Staydilly through uncharted waters. We turn hard data into useful insights and compelling stories. From optimizing our site to guiding on-the-ground operations, we love to challenge conventional wisdom, use information
                    to build awesome visualizations, and develop effective solutions for teams around the world.
                </p>
            </div>
        </div>

    </div>
    <!-- End row -->

</div>
<!--Career ends-->
