<div class="container-fluid" ng-hide="dataReceived">
    <div class="clock"></div>
</div>

    <section class="parallax-window" ng-show="dataReceived">
        <img ng-if="Hotdetail.images.length > 1" ng-src="{{Hotdetail.images[1]}}" width="100%" height="470">
        <img ng-if="Hotdetail.images.length <= 1" ng-src="{{Hotdetail.images[0]}}" width="100%" height="470">
        <div class="parallax-content-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div id="price_single_main" class="back-price">
                            from 
                            <span ng-show="currency != undefined">{{currency}}{{Hotdetail.rooms[0].sellExclusive*currencyMultiplier[Hotdetail.currency] | number:2}}</span>
                            <span ng-hide="currency != undefined">{{Hotdetail.currency}}{{Hotdetail.rooms[0].sellExclusive | number:2}}</span>
                            /per night
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">&nbsp;</div> 
                    <div class="col-md-2 col-sm-2 lightbox-gallery">
                        <div class="lightbox-gallery">
                            <ul lightbox="Hotdetail.images">
                                <a href="{{ Hotdetail.images[0] }}" class="btn_full lightbox-trigger viewTopimg">View Photos</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-md-12" ng-hide="dataReceived || !dataReceived">
        <div class="detail_map ">
            <div id="map"></div>
            <div id="class " ng-repeat="marker in markers | orderBy : 'title' ">
                <a href="# " ng-click="openInfoWindow($event, marker) ">{{}}</a>
            </div>
        </div>
    </div>

    <div class="container mt50" ng-show="dataReceived">
        <div class="row">
            <div class="col-md-12">
                <div class="strip_all_tour_list wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                    <div class="row">
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="rating"><!-- <i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i> --></div>
                            <h3>{{Hotdetail.hotel_name}}</h3>
                            <p>{{Hotdetail.address.address_Line}}, {{Hotdetail.address.city}}, {{Hotdetail.address.state}}, {{Hotdetail.address.country}}</p>
                        </div>
                        <!-- <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="room-rating">
                                <p>7.8</p>
                                <p>Very good</p>
                                <p>Based on 265 reviews</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container" ng-show="dataReceived">
        <div class="row">
            <aside class="col-md-3">

                <!--No. of Rooms-->
                <div class="row">
                    <div class="aside col-md-12">
                        <h3 class="inner">No. of Rooms</h3>
                        <div class="col-md-3 col-sm-6 col-xs-3">
                            <img src="../views/traveler.mv/modules/hotels/client/img/facilities/bed.png" alt="">
                        </div>
                        <div class="col-md-9">
                            <p>{{totalRooms}}</p>
                        </div>
                    </div>
                </div>
                <hr>

                <!--Check In & Check Out-->
                <div class="row">
                    <div class="check col-md-12">
                        <p>Check In:&nbsp;&nbsp;<span>{{checkin}}</span></p>
                        <p>Check Out:&nbsp;&nbsp;<span>{{checkout}}</span></p>
                    </div>
                </div>
                <hr>

                <!--Distance-->
                <div class="row">
                    <div class="distance col-md-12 col-sm-12">
                        <h3 class="inner">Distance from Airport</h3>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/car.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>by Car</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/ferry.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>bt ferry</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/speed_boat.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>by speed boat</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/seaplane.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>by sea plane</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/aeroplane.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>by aeroplane</p>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="col-md-offset-1 col-md-8" id="single_tour_desc">
                <div class="row">
                    <div class="col-md-12 desc">
                        <p>{{Hotdetail.description}}</p>
                    </div>
                    <!-- End col-md-9  -->
                </div>
                <!-- End row  -->
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Services / Facilities</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-6 col-sm-6 keywords">
                            <ul class="list-style">
                                <li ng-repeat="amenity in Hotdetail.amenities | limitTo:(Hotdetail.amenities.length/2)">{{amenity}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 keywords">
                            <ul class="list-style">
                                <li ng-repeat="amenity in Hotdetail.amenities | limitTo:Hotdetail.amenities.length | limitTo:-(Hotdetail.amenities.length/2)">{{amenity}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End row  -->
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Activities / Excursions</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-6 col-sm-6 keywords">
                            <ul class="list-style">
                                <li ng-repeat="activity in activities | limitTo:(activities.length/2)">{{activity}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 keywords">
                            <ul class="list-style">
                                <li ng-repeat="activity in activities | limitTo:activities.length | limitTo:-(activities.length/2)">{{activity}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End row  -->
            </div>

            <!--Rooms availability-->
            <div class="col-md-12">
                <hr>

                <div class="col-md-12">
                    <div class="row">
                        <h4>Availability</h4>
                    </div>
                        <!-- search widget -->
                    <section ng-controller="SearchController">
                        <div class="container">
                            <div class="col-md-12 pt20">
                                <form class="mar0 booking-form" name="myForm">
                                    <div class="form-group col-md-2 col-md-offset-1">
                                        <i class=" icon-calendar book-icons " style="right:20px; " ng-click="open1() "></i>
                                        <label class="booking-label ">Check In</label>
                                        <input class="form-control custom-cls config-start-date config-demo dp " ng-keyup="open1() " ng-click="open1() " name="startDate " readonly="readonly " type="text " ng-change="setMinMaxDate(); " uib-datepicker-popup="{{format}}
                                        " popup-placement="bottom " ng-model="startDate " is-open="popup1.opened " datepicker-options="dateOptions1 " ng-required="true " placeholder="Start " close-text="Close " required />
                                        <span ng-show="myForm.startDate.$untouched && myForm.myName.$invalid ">Enter Check-in</span>
                                    </div>
                                    <div class="form-group col-md-2 ">
                                        <i class="icon-calendar book-icons " style="right:20px; " ng-click="open2() "></i>
                                        <label class="booking-label ">Check Out</label>
                                        <input class="form-control custom-cls config-end-date config-demo dp " ng-keyup="open2() " ng-click="open2() " name="endDate " readonly="readonly " type="text " uib-datepicker-popup="{{format}} " popup-placement="bottom
                                        " ng-model="endDate " is-open="popup2.opened " datepicker-options="dateOptions2 " ng-required="true " placeholder="End " close-text="Close " required/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="booking-label">Guests</label>
                                            <ui-select ng-model="guest.adults">
                                                <ui-select-match placeholder="Adults">{{$select.selected}} guests</ui-select-match>
                                                <ui-select-choices repeat="num in numbers">
                                                    <span ng-bind-html="num"> guests</span>
                                                </ui-select-choices>
                                            </ui-select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="booking-label">Rooms</label>
                                            <ui-select ng-model="guest.rooms">
                                                <ui-select-match placeholder="Rooms">{{$select.selected}} rooms</ui-select-match>
                                                <ui-select-choices repeat="num in numbers">
                                                    <span ng-bind-html="num"> rooms</span>
                                                </ui-select-choices>
                                            </ui-select>
                                    </div>
                                    <div class="col-md-1 text-center" style="padding-top: 25px">
                                        <a href ui-sref="view({ location: cityId, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                                        rooms: guest.rooms, adults: guest.adults}) " class="btn_1 checkbtn ">Search</a>
                                    </div>
                                    <!--<div class="col-md-3 "></div>-->
                                </form>
                            </div>
                        </div>
                    </section>
                </div>

                <!--new room starts-->
                <div class="row" ng-repeat="room in Hotdetail.rooms">
                    <div class="col-md-12 rooms">
                        <div class="col-md-3 col-sm-3">
                            <img src="{{room.images[0] || '/views/traveler.mv/modules/core/client/img/notredame.jpg'}}" alt="Image" class="img-responsive styled">
                        </div>
                        <div class="col-md-offset-1 col-md-3 col-sm-3 sub-p">
                            <h4>{{room.type}}</h4>
                            <!-- <p>Free Cancellation</p>
                            <p>until Sat, 22 Oct</p> -->
                            <p ng-show="room.break_fast">Breakfast Included</p>
                        </div>
                        <div class="col-md-3 col-sm-3 roomoccunrate">
                            <p>We have {{room.inventory}} rooms left</p>
                            <h4 ng-show="currency != undefined">{{currency}} {{room.price.discounted*currencyMultiplier[Hotdetail.currency] | number:2}}</h4>
                            <h4 ng-hide="currency != undefined">{{Hotdetail.currency}} {{room.price.discounted | number:2}}</h4>
                        </div>
                        <div class="col-md-2 col-sm-2 roomoccunrate">
                            <p>
                                <a href ui-sref="booking({ productId: Hotdetail.hotel_id, searchId: searchId, location: location, checkin: checkin, checkout: checkout, rooms: guest.rooms, adults: guest.adults, promo: promo, ratePlanId: room.rate_plan_Id, price: room.price.actual, roomId: room.room_id})" class="btn_1 mt20" ng-click="isempty() ">Book Now</a>
                                <!--<a href="#" class="btn_1 mt20">Book Now</a>-->
                            </p>
                        </div>
                        <!-- End row  -->
                    </div>
                    <!-- End col-md-9  -->
                </div>
                <!--new room ends-->

               <!--  
                <hr>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8 reviewnstar">
                        <h5>35 Reviews <i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i></h5>
                        <blockquote class="reviews">
                            <p>Even you're on the highest floor, there's a building in front of you and blocked quite a part of your room, so don't expect too much as in photo showing in here. But staff are nice, helpful and the swimming pool is very nice too.</p>
                            <p><b>Christy Hong Kong</b>, September 30, 2016</p>
                        </blockquote>
                        <hr>
                        <blockquote class="reviews">
                            <p>We stay in fuana. deluxe room is seaview and room is bigger than another hotel and we had invited to Noomoo hotel by the owner, he just open new hotel, Noomoo hotel is awesome.we stay 3nights. Everything is perfect. The trip to Male, resort day trip, photo flight seaplane trip is reasonable price. I recommend to buy day trip in this hotel. The hotel few step to the beautiful beach, shopping area and restaurant.</p>
                            <p><b>Christy Hong Kong</b>, September 30, 2016</p>
                        </blockquote>
                        <hr>
                        <blockquote class="reviews">
                            <p>Nice and calm stopover stay with friendly personal and nice breakfest opportunity next to the hostel Bodo Germany, August 16, 2016</p>
                            <p><b>Christy Hong Kong</b>, September 30, 2016</p>
                        </blockquote>
                        <hr>
                        <div class="text-left">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">></a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!--End row -->
    </div>
