<div class="row">
    <div class="col-xs-12">

        <div class="cropArea" style="overflow: auto;">
            <img-crop image="myImage"
                      result-image="myCroppedImage"
                      area-type="rectangle"
                      result-image-quality = "1.0"
                      result-width="myCroppedImageW"
                      result-height="myCroppedImageH"
                      aspect-ratio="1.8"

                      result-x="myCroppedImageX"
                      result-y="myCroppedImageY"

                      original-width="myOriginalW"
                      original-height="myOriginalH"

                      original-crop-x="myOriginalX"
                      original-crop-y="myOriginalY"

                      original-crop-width="myCroppedOriginalW"
                      original-crop-height="myCroppedOriginalH"
                      result-image-size="'max'"
            ></img-crop>
        </div>
        <div class="row p-t-10">
            <div class="col-xs-12">
                <button class="btn btn-success pull-right m-r-10" ng-click="saveImage()">Save</button>
                <button class="btn btn-primary pull-right m-r-10" ng-click="selectFile()">Change Image</button>
            </div>
        </div>

        <div><input type="file" id="fileInput" ng-model="image" ng-change="fileChanged($event)" style="visibility: hidden;"/></div>
    </div>
</div>