<div id="cms" class="container-cms">
  <div class="col-md-2">
    <div class="row">
      <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
          <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item" ng-class="{active: page == 'dashboard'}">
              <a href ui-sref=".dashboard" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'locations'}">
              <a href ui-sref=".locations" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Locations</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'packags'}">
              <a href ui-sref=".packags" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Packages</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'currencies'}">
              <a href ui-sref=".currencies" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Currencies</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'metatags'}">
              <a href ui-sref=".metatags" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Metatags</span>
              </a>
            </li>
            <li class="nav-item"  ng-class="{active: page == 'destinations'}">
              <a href ui-sref=".destinations" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Destinations</span>
              </a>
            </li>
          </ul>
          <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div ui-view></div>
  </div>
</div>
