<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Currencies</h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <a href ui-sref="dashboard">Home</a>
                <span class="active"> / Currencies</span>
            </ul>
            <!-- END PAGE BREADCRUMB -->
        </div>
        <!-- END PAGE HEAD-->
        
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="col-md-6 p-t-10">
            <div class="col-xs-12">
                <table class="table table-hover table-bordered">
                  <thead class="table-head">
                      <tr>
                        <th><a class="table-body" href="#" ng-click="orderByField='name'; reverseSort = !reverseSort"> Name </a></th>
                        <th><a class="table-body" href="#" ng-click="orderByField='code'; reverseSort = !reverseSort"> Code </a></th>
                        <th>&nbsp;</th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="currency in currencies|orderBy:orderByField:reverseSort">
                    <td>{{currency.name}}</td>
                    <td>{{currency.code}}</td>
                    <td><button class="btn btn-warning" ng-click="editCurrency(currency.code)">Edit</button></td>
                  </tr>
                  </tbody>
                </table>
                <button class="btn btn-primary" ng-click="addCurrency()">Add</button>
            </div>
        </div>

        <div class="col-md-6 side p-t-10" ng-if="rightSectionVisibility">
            <h3>Section {{ currentIndex }}</h3>
            <div class="form-group" role="form" name="currencyForm">
                <div class="col-md-12">
                    <label for="txtName" class="col-sm-6 control-label">Name*:</label>
                    <div class="col-sm-6">
                        <select class="form-control" name="txtName" id="txtName" ng-model="currency.name" ng-options="n for n in currencyNames" ng-change="onNameChange()" required>
                            <option value="">-- choose a Currency Name --</option>
                        </select>
                    </div>    
                </div>
                <div class="col-md-12" ng-repeat="value in currency.values">
                    <div class="col-md-4">
                        <select class="form-control" name="txtValueName" id="txtValueName" ng-model="value.from_code" ng-options="n for n in clientCurrency" required ng-change="onValueChange(value)">
                            <option value="">-- choose a Currency Name --</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        {{value.conversionRate}}
                    </div>
                    <div class="col-md-4">
                        <input id="txtCurrencyMultiplier{{value.from_code}}" name="txtCurrencyMultiplier" type="text" value="" class="form-control" ng-model="value.multiplier" placeholder="Enter Multiplier" ng-pattern="pattern.DECIMAL" />
                        <div ng-messages="currencyForm.txtCurrencyMultiplier.$error" ng-show="currencyForm.txtCurrencyMultiplier.$dirty" class="error-message">
                            <div ng-message="pattern">Enter Decimal numbers only</div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" ng-click="add()">Add</button>
                <br/>
                <button class="btn btn-success" ng-click="saveCurrency()" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="updateCurrency()" ng-show="editing">Update</button>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>