<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Admin Dashboard</h1>
            </div>
            <ul class="page-breadcrumb breadcrumb">
                <a href ui-sref="dashboard">Home</a>
                <span class="active">/ Dashboard</span>
            </ul>
            <!-- END PAGE TITLE -->
        </div>
        <div class="clearfix">
            
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>