<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Destinations</h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <a href ui-sref="dashboard">Home</a>
                <span class="active"> / Destinations</span>
            </ul>
            <!-- END PAGE BREADCRUMB -->
        </div>
        <!-- END PAGE HEAD-->
        
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="col-md-6 p-t-10">
            <div class="col-xs-12">
                <table class="table table-hover table-bordered">
                  <thead class="table-head">
                      <tr>
                        <th><a class="table-body" href="#" ng-click="orderByField='city'; reverseSort = !reverseSort"> City Name </a></th>
                        <th><a class="table-body" href="#" ng-click="orderByField='state'; reverseSort = !reverseSort"> Address </a></th>
                        <th>&nbsp;</th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="city in allCities|orderBy:orderByField:reverseSort">
                    <td>{{city.city}}</td>
                    <td>{{city.state}}, {{city.country}}</td>
                    <td><button class="btn btn-warning" ng-click="editDestination(city)">Edit</button></td>
                  </tr>
                  </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 side p-t-10" ng-if="rightSectionVisibility">
            <h3>Section {{ destination.city }}</h3>
            <div class="form-group" role="form" name="destinationForm">
                <div class="col-md-12">
                    <div class="row">
                        <label><b>City Name: </b>{{destination.city}}</label>
                    </div>
                    <div class="row">
                        <label><b>City Address: </b>{{destination.address}}</label>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label><b>Description: </b></label>
                        </div>
                        <div class="col-md-9">
                            <textarea id="txtDescription" name="txtDescription" type="text" value="" class="form-control" ng-model="destination.description" placeholder="Enter Description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <label><b><ul>Distance from Airport:</ul></b></label>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label><b>Car:</b></label>
                        </div>
                        <div class="col-md-8">
                            <input id="txtCarDistance" name="txtCarDistance" type="text" value="" class="form-control" ng-model="destination.distance_from.car" placeholder="Enter Distance by Car" ng-pattern="pattern.DECIMAL" />
                            <div ng-messages="destinationForm.txtCarDistance.$error" ng-show="destinationForm.txtCarDistance.$dirty" class="error-message">
                                <div ng-message="pattern">Enter Decimal numbers only</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label><b>Ferry:</b></label>
                        </div>
                        <div class="col-md-8">
                            <input id="txtFerryDistance" name="txtFerryDistance" type="text" value="" class="form-control" ng-model="destination.distance_from.ferry" placeholder="Enter Distance by Ferry" ng-pattern="pattern.DECIMAL" />
                            <div ng-messages="destinationForm.txtFerryDistance.$error" ng-show="destinationForm.txtFerryDistance.$dirty" class="error-message">
                                <div ng-message="pattern">Enter Decimal numbers only</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label><b>Speed boat:</b></label>
                        </div>
                        <div class="col-md-8">
                            <input id="txtSpeedBoatDistance" name="txtSpeedBoatDistance" type="text" value="" class="form-control" ng-model="destination.distance_from.speed_boat" placeholder="Enter Distance by Speed Boat" ng-pattern="pattern.DECIMAL" />
                            <div ng-messages="destinationForm.txtSpeedBoatDistance.$error" ng-show="destinationForm.txtSpeedBoatDistance.$dirty" class="error-message">
                                <div ng-message="pattern">Enter Decimal numbers only</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label><b>Sea Plane:</b></label>
                        </div>
                        <div class="col-md-8">
                            <input id="txtSeaPlaneDistance" name="txtSeaPlaneDistance" type="text" value="" class="form-control" ng-model="destination.distance_from.sea_plane" placeholder="Enter Distance by Sea Plane" ng-pattern="pattern.DECIMAL" />
                            <div ng-messages="destinationForm.txtSeaPlaneDistance.$error" ng-show="destinationForm.txtSeaPlaneDistance.$dirty" class="error-message">
                                <div ng-message="pattern">Enter Decimal numbers only</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label><b>Aeroplane:</b></label>
                        </div>
                        <div class="col-md-8">
                            <input id="txtAeroplaneDistance" name="txtAeroplaneDistance" type="text" value="" class="form-control" ng-model="destination.distance_from.aeroplane" placeholder="Enter Distance by Aeroplane" ng-pattern="pattern.DECIMAL" />
                            <div ng-messages="destinationForm.txtAeroplaneDistance.$error" ng-show="destinationForm.txtAeroplaneDistance.$dirty" class="error-message">
                                <div ng-message="pattern">Enter Decimal numbers only</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label><b>Map: </b></label>
                        <button  class="f9" ng-click="openMapImageModal()" ng-if="!destination.map">Change Image</button>
                        <img ng-src="{{destination.map}}" style="height: 80px; cursor: pointer;" ng-click="openImageModal()" ng-if="destination.image"/>
                    </div>
                    <div class="row" ng-repeat="image in destination.images">
                        <img ng-src="{{image}}" style="height: 80px; cursor: pointer;" ng-click="openImageModal()"/>
                    </div>
                    <button class="f9" ng-click="openImageModal()">Add Image</button>
                </div>
                <button class="btn btn-success" ng-click="saveDestination()" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="updateDestination()" ng-show="editing">Update</button>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>