<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Metatags</h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <a href ui-sref="dashboard">Home</a>
                <span class="active"> / Metatags</span>
            </ul>
            <!-- END PAGE BREADCRUMB -->
        </div>
        <!-- END PAGE HEAD-->
        
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="col-md-6 p-t-10">
            <div class="col-xs-12">
                <table class="table table-hover table-bordered">
                  <thead class="table-head">
                      <tr>
                        <th><a class="table-body" href="#" ng-click="orderByField='screen'; reverseSort = !reverseSort"> Screen </a></th>
                        <th><a class="table-body" href="#" ng-click="orderByField='url'; reverseSort = !reverseSort"> URL </a></th>
                        <th>&nbsp;</th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="metatag in metatags|orderBy:orderByField:reverseSort">
                    <td>{{metatag.screen}}</td>
                    <td>{{metatag.url}}</td>
                    <td><button class="btn btn-warning" ng-click="editMetatag(metatag._id)">Edit</button></td>
                  </tr>
                  </tbody>
                </table>
                <button class="btn btn-primary" ng-click="addMetatag()">Add</button>
            </div>
        </div>

        <div class="col-md-6 side p-t-10" ng-if="rightSectionVisibility">
            <h3>Section {{ currentIndex }}</h3>
            <div class="form-group" role="form" name="metatagForm">
                <div class="col-md-12">
                    <div class="row">
                        <label><b>Screen: </b></label>
                        <input id="txtScreen" name="txtScreen" type="text" value="" class="form-control" ng-model="metatag.screen" placeholder="Enter Screen Name" required />
                        <div ng-messages="metatagForm.txtScreen.$error" ng-show="metatagForm.txtScreen.$dirty" class="error-message">
                            <div ng-message="required">Screen name is mandatory</div>
                        </div>
                    </div>
                    <div class="row">
                        <label><b>URL: </b></label>
                        <input id="txtUrl" name="txtUrl" type="text" value="" class="form-control" ng-model="metatag.url" placeholder="Enter URL" required />
                        <div ng-messages="metatagForm.txtUrl.$error" ng-show="metatagForm.txtUrl.$dirty" class="error-message">
                            <div ng-message="required">URL is mandatory</div>
                        </div>
                    </div>
                    <div class="row">
                        <label><b>Title: </b></label>
                        <textarea id="txtTitle" name="txtTitle" type="text" value="" class="form-control" ng-model="metatag.title" placeholder="Enter Title" required rows="3"></textarea>
                        <div ng-messages="metatagForm.txtTitle.$error" ng-show="metatagForm.txtTitle.$dirty" class="error-message">
                            <div ng-message="required">Title is mandatory</div>
                        </div>
                    </div>
                    <div class="row">
                        <label><b>Description: </b></label>
                        <textarea id="txtDescription" name="txtDescription" type="text" value="" class="form-control" ng-model="metatag.description" placeholder="Enter Description" required rows="3"></textarea>
                        <div ng-messages="metatagForm.txtDescription.$error" ng-show="metatagForm.txtDescription.$dirty" class="error-message">
                            <div ng-message="required">Description is mandatory</div>
                        </div>
                    </div>
                    <div class="row">
                        <label><b>Keywords: </b></label>
                        <textarea id="txtKeywords" name="txtKeywords" type="text" value="" class="form-control" ng-model="metatag.keywords" placeholder="Enter Keywords" required rows="3"></textarea>
                        <div ng-messages="metatagForm.txtKeywords.$error" ng-show="metatagForm.txtKeywords.$dirty" class="error-message">
                            <div ng-message="required">Keywords is mandatory</div>
                        </div>
                    </div>
                    <div class="row">
                        <label><b>Image</b></label>
                        <button  class="f9" ng-click="openImageModal()" ng-if="!metatag.image">Change Image</button>
                        <img ng-src="{{metatag.image}}" style="height: 80px; cursor: pointer;" ng-click="openImageModal()" ng-if="metatag.image"/>
                    </div>
                </div>
                <button class="btn btn-success" ng-click="saveMetatag()" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="updateMetatag()" ng-show="editing">Update</button>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>