<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Packags</h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <a href ui-sref="dashboard">Home</a>
                <span class="active"> / Packags</span>
            </ul>
            <!-- END PAGE BREADCRUMB -->
        </div>
        <!-- END PAGE HEAD-->
        
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="col-md-8">
            <div class="row">
                <div class="sect small col-xs-4">
                    <h4>{{ myPackags[1].name }}</h4>
                    <img ng-src="{{myPackags[1].image}}" style="height: 30px;"/>
                    <button class="btn btn-warning" ng-show="myPackags[1]" ng-click="editPackag(1)">Edit</button>
                    <button class="btn btn-primary" ng-hide="myPackags[1]" ng-click="addPackag(1)">Add</button>
                </div>
                <div class="sect small col-xs-4">
                    <h4>{{ myPackags[2].name }}</h4>
                    <img ng-src="{{myPackags[2].image}}" style="height: 30px;"/>
                    <button class="btn btn-warning" ng-show="myPackags[2]" ng-click="editPackag(2)">Edit</button>
                    <button class="btn btn-primary" ng-hide="myPackags[2]" ng-click="addPackag(2)">Add</button>
                </div>
                <div class="sect small col-xs-4">
                    <h4>{{ myPackags[3].name }}</h4>
                    <img ng-src="{{myPackags[3].image}}" style="height: 30px;"/>
                    <button class="btn btn-warning" ng-show="myPackags[3]" ng-click="editPackag(3)">Edit</button>
                    <button class="btn btn-primary" ng-hide="myPackags[3]" ng-click="addPackag(3)">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="sect small col-xs-4">
                    <h4>{{ myPackags[4].name }}</h4>
                    <img ng-src="{{myPackags[4].image}}" style="height: 30px;"/>
                    <button class="btn btn-warning" ng-show="myPackags[4]" ng-click="editPackag(4)">Edit</button>
                    <button class="btn btn-primary" ng-hide="myPackags[4]" ng-click="addPackag(4)">Add</button>
                </div>
                <div class="sect small col-xs-4">
                    <h4>{{ myPackags[5].name }}</h4>
                    <img ng-src="{{myPackags[5].image}}" style="height: 30px;"/>
                    <button class="btn btn-warning" ng-show="myPackags[5]" ng-click="editPackag(5)">Edit</button>
                    <button class="btn btn-primary" ng-hide="myPackags[5]" ng-click="addPackag(5)">Add</button>
                </div>
                <div class="sect small col-xs-4">
                    <h4>{{ myPackags[6].name }}</h4>
                    <img ng-src="{{myPackags[6].image}}" style="height: 30px;"/>
                    <button class="btn btn-warning" ng-show="myPackags[6]" ng-click="editPackag(6)">Edit</button>
                    <button class="btn btn-primary" ng-hide="myPackag[6]" ng-click="addPackag(6)">Add</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 side" ng-if="!rightSectionVisibility">
            <heading heading-object="heading"></heading>
        </div>

        <div class="col-md-4 side" ng-if="rightSectionVisibility">
            <h3>Section {{ currentIndex }}</h3>
            <div class="form-group">
                <label class="booking-label">Select A Packag</label>
                <ul class="pl0 fixedHeight">
                    <li ng-repeat="packag in packags" class="p-t-10 row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-1">
                                    <input type="radio" name="blog" ng-model="selectedPackag.id" ng-value="packag.id"/>
                                </div>
                                <div class="col-xs-10" ng-bind-html="packag.name"></div>
                            </div>
                            <div class="row" ng-if="selectedPackag.id == packag.id">
                                <div class="col-xs-11 col-xs-offset-1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label><b>Image</b></label><br/>
                                            <button  class="f9" ng-click="openImageModal()" ng-if="!selectedPackag.image">Change Image</button>
                                            <img ng-src="{{selectedPackag.image}}" style="height: 80px; cursor: pointer;" ng-click="openImageModal()" ng-if="selectedPackag.image"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-success" ng-click="savePackag()" ng-hide="editing">Save</button>
                <button class="btn btn-warning" ng-click="updatePackag()" ng-show="editing">Update</button>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>