    <!-- HEADER -->
   <!-- <div ng-include="../../../core/client/views/header.client.view.html"></div>-->
    <div class="container-fluid" ng-hide="dataReceived">
        <div class="clock"></div>
    </div>
    <!-- End Preload -->

    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->

    <section id="hero">
        <div class="intro_title">
            <p class="animated fadeInDown p-tag">everybody needs a little bit of <span>maldives</span></p>
        </div>

        <div id="search_bar_container">
            <div class="container">
                <div class="search_bar" ng-controller="SearchController">
                    <div class="nav-searchfield-outer">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12 search_options">
                            <ui-select ng-model="location" ng-change="setLoc(location)">
                                <ui-select-match class="custom-cls" placeholder="Where are you going?">
                                    <div ng-show="$select.selected.city_id != -1">
                                        {{$select.selected.city}},&nbsp{{$select.selected.state}}
                                    </div>
                                    <div ng-hide="$select.selected.city_id != -1">
                                        {{$select.selected.state}}
                                    </div>
                                </ui-select-match>
                                <ui-select-choices repeat="loc in allLocations | filter: $select.search | orderBy: 'state'">
                                    <div ng-if="loc.city_id != -1">
                                        &nbsp;<i class="icon-level-up icon-rotate-90 search-icon"></i> <span ng-bind-html="loc.city | highlight: $select.search"></span>,&nbsp<span>{{loc.state}}</span>
                                    </div>
                                    <div ng-show="loc.city_id == -1">
                                        <span ng-bind-html="loc.state | highlight: $select.search"></span>,&nbsp<span>{{loc.country}}</span>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 search_options">
                            <input class="form-control custom-cls config-start-date config-demo dp" ng-keyup="open1()" ng-click="open1()" name="startDate" required readonly="readonly" type="text" ng-change="setMinMaxDate();" uib-datepicker-popup="{{format}}" popup-placement="bottom" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" placeholder="Start" close-text="Close" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-sm-12 search_options">
                            <input class="form-control custom-cls config-end-date config-demo dp" ng-keyup="open2()" ng-click="open2()" name="endDate" required readonly="readonly" type="text" uib-datepicker-popup="{{format}}" popup-placement="bottom" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" placeholder="End" close-text="Close" />
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-sm-12 search_options">
                            <div class="col-sm-6 search_options">
                                <ui-select ng-model="guest.adults" class="adu" ng-change="onAdultsChange()">
                                    <ui-select-match placeholder="Adults">{{$select.selected}} guests</ui-select-match>
                                    <ui-select-choices repeat="num in numbers">
                                        <span ng-bind-html="num"> guests</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-sm-6 search_options">
                                <ui-select ng-model="guest.rooms" class="adu" ng-change="onRoomChange()">
                                    <ui-select-match placeholder="Rooms" >{{$select.selected}} rooms</ui-select-match>
                                    <ui-select-choices repeat="num in numbers">
                                        <span ng-bind-html="num"> rooms</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-sm-12 search_options">
                            <a href ui-sref="list({location: cityId, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()), rooms: guest.rooms, adults: guest.adults})" class="btn_full"> Search </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /search_bar-->
    </section>
    <!-- End hero -->

    <!--USP starts-->
    <section class="margin_60 gray_bg">
        <div class="container">

            <div class="row">
                <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
                    <div class="feature_home">
                        <h3>Best Price Guarantee</h3>
                        <img src="views/traveler.mv/modules/homepage/client/img/USP/1.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 wow zoomIn" data-wow-delay="0.4s">
                    <div class="feature_home">
                        <h3>Trust &amp; Safety</h3>
                        <img src="views/traveler.mv/modules/homepage/client/img/USP/2.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 wow zoomIn" data-wow-delay="0.6s">
                    <div class="feature_home">
                        <h3>Best Travel Agent</h3>
                        <img src="views/traveler.mv/modules/homepage/client/img/USP/3.png" alt="">
                        <p>
                            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </section>
    <!--USP ends-->

    <section class="container">

        <div class="main_title">
            <h2 class="lined-heading"><span>Popular Packages</span></h2>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
                <div class="tour_container">
                    <div class="img_container">
                        <a href="javascript:void(0);">
                            <img src="views/traveler.mv/modules/homepage/client/img/packages/1.jpg" class="img-responsive" alt="Image">
                        </a>
                    </div>
                    <div class="tour_title">
                        <h3>Arena Lodge Maldives</h3>
                        <a href="#"><h4>Read more</h4></a>
                    </div>
                </div>
                <!-- End box tour -->
            </div>
            <!-- End col-md-4 -->

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                <div class="tour_container">
                    <div class="img_container">
                        <a href="javascript:void(0);">
                            <img src="views/traveler.mv/modules/homepage/client/img/packages/2.jpg" width="800" height="533" class="img-responsive" alt="Image">
                        </a>
                    </div>
                    <div class="tour_title">
                        <h3>Athiri Inn</h3>
                        <a href="#"><h4>Read more</h4></a>
                    </div>
                </div>
                <!-- End box tour -->
            </div>
            <!-- End col-md-4 -->

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="tour_container">
                    <div class="img_container">
                        <a href="javascript:void(0);">
                            <img src="views/traveler.mv/modules/homepage/client/img/packages/3.jpg" width="800" height="533" class="img-responsive" alt="Image">
                        </a>
                    </div>
                    <div class="tour_title">
                        <h3>Arena Beach Hotel</h3>
                        <a href="#"><h4>Read more</h4></a>
                    </div>
                </div>
                <!-- End box tour -->
            </div>
            <!-- End col-md-4 -->

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                <div class="tour_container">
                    <div class="img_container">
                        <a href="javascript:void(0);">
                            <img src="views/traveler.mv/modules/homepage/client/img/packages/4.jpg" width="800" height="533" class="img-responsive" alt="Image">
                        </a>
                    </div>
                    <div class="tour_title">
                        <h3>Amazing View</h3>
                        <a href="#"><h4>Read more</h4></a>
                    </div>
                </div>
                <!-- End box tour -->
            </div>
            <!-- End col-md-4 -->

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.5s">
                <div class="tour_container">
                    <div class="img_container">
                        <a href="javascript:void(0);">
                            <img src="views/traveler.mv/modules/homepage/client/img/packages/5.jpg" width="800" height="533" class="img-responsive" alt="Image">
                        </a>
                    </div>
                    <div class="tour_title">
                        <h3>Arena Lodge Sky</h3>
                        <a href="#"><h4>Read more</h4></a>
                    </div>
                </div>
                <!-- End box tour -->
            </div>
            <!-- End col-md-4 -->

            <div class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="tour_container">
                    <div class="img_container" width="800" height="533">
                        <a href="javascript:void(0);">
                            <img src="views/traveler.mv/modules/homepage/client/img/packages/6.jpg" class="img-responsive" alt="Image">
                        </a>
                    </div>
                    <div class="tour_title">
                        <h3>Airport Comfort</h3>
                        <a href="#"><h4>Read more</h4></a>
                    </div>
                </div>
                <!-- End box tour -->
            </div>
            <!-- End col-md-4 -->
        </div>
        <!-- End row -->
    </section>
    <!-- End section -->

    <section class="promo_full mt30">
        <div class="promo_full_wp magnific">
            <div>
                <h3>Get 10% Off On Your Next Travel</h3>
                <p>
                    Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
                </p>
                <a href="#" class="btn_col">Buy Now</a>
            </div>
        </div>
    </section>
    <!-- End section -->

    <div class="container mt75">
        <div class="main_title">
            <h2>Explore Maldives</h2>
        </div>
        <div class="row magnific-gallery">
            <div class="col-md-6 class-overide">
                <div class="col-md-6 col-sm-6 class-overide">
                    <img src="views/traveler.mv/modules/homepage/client/img/islands/grid1.jpg" alt="Image" class="img-responsive styled margin-overide">
                    <span>Thinadhoo Island</span>
                </div>
                <div class="col-md-6 col-sm-6 class-overide">
                    <img src="views/traveler.mv/modules/homepage/client/img/islands/grid2.jpg" alt="Image" class="img-responsive styled margin-overide">
                    <span>Keyodhoo Island</span>
                </div>
                <div class="col-md-6 col-sm-6 class-overide">
                    <img src="views/traveler.mv/modules/homepage/client/img/islands/grid3.jpg" alt="Image" class="img-responsive styled margin-overide">
                    <span>Bodufolhudhoo Island</span>
                </div>
                <div class="col-md-6 col-sm-6 class-overide">
                    <img src="views/traveler.mv/modules/homepage/client/img/islands/grid4.jpg" alt="Image" class="img-responsive styled margin-overide">
                    <span>Thoddoo Island</span>
                </div>
            </div>

            <div class="col-md-6 class-overide">
                <div class="col-md-12 col-sm-12 class-overide">
                    <img src="views/traveler.mv/modules/homepage/client/img/islands/grid5.jpg" alt="Image" class="img-responsive styled margin-overide">
                    <span>Maafushi Island</span>
                </div>
            </div>
        </div>

            <div class="row magnific-gallery">
                <div class="col-md-3 class-overide">
                    <div class="col-md-12 col-sm-12 class-overide">
                        <img src="views/traveler.mv/modules/homepage/client/img/islands/grid6.jpg" alt="Image" class="img-responsive styled margin-overide">
                        <span>Dhigurah Island</span>
                    </div>
                    <div class="col-md-12 col-sm-12 class-overide">
                        <img src="views/traveler.mv/modules/homepage/client/img/islands/grid7.jpg" alt="Image" class="img-responsive styled margin-overide">
                        <span>Maalhos Island</span>
                    </div>
                </div>

                <div class="col-md-6 class-overide">
                    <div class="col-md-12 col-sm-12 class-overide">
                        <img src="views/traveler.mv/modules/homepage/client/img/islands/grid8.jpg" alt="Image" class="img-responsive styled margin-overide">
                        <span>Rasdhoo Island</span>
                    </div>
                </div>

                <div class="col-md-3 class-overide">
                    <div class="col-md-12 col-sm-12 class-overide">
                        <img src="views/traveler.mv/modules/homepage/client/img/islands/grid9.jpg" alt="Image" class="img-responsive styled margin-overide">
                        <span>Thulusdhoo Island</span>
                    </div>
                    <div class="col-md-12 col-sm-12 class-overide">
                        <img src="views/traveler.mv/modules/homepage/client/img/islands/grid10.jpg" alt="Image" class="img-responsive styled margin-overide">
                        <span>Ukulhas Island</span>
                    </div>
                </div>
            </div>
    </div>

    <div id="toTop"></div>
    <!-- Back to top button -->
