<div class="custom-loader" ng-hide="dataReceived">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="site/assets/css/blog.css">

<link href="site/assets/css/base.css" rel="stylesheet">

<!--<div class="container-fluid">
    <div class="row">
        <div class="img-resp">
            <img src="/site/assets/img/notredame2.jpg" alt="">
            <h2>Blog</h2>
        </div>
    </div>
</div>-->

<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="homepage">Home</a></li>
            <li> <a ui-sref="blog" ui-sref-opts="{inherit: false}">Blog</a> </li>
        </ul>
    </div>
</div>
<!-- End position -->

<div>
    <!-- class="bgwhite" -->
    <div class="container margin_60">
        <div class="col-md-9">
            <div class="row">

                <div class="col-md-12" ng-repeat="blog in blogs  track by $index" index="$index">
                    <div class="box_style_1">
                        <div class="post">
                            <a href ui-sref="blogview({Blog: blog.slug})"><img class="postimg" ng-src="{{blog.thumbnail || '/site/assets/img/notredame.jpg'}}" alt="Image" class="img-responsive"></a>
                            <div class="post_info clearfix">
                                <div class="post-left">
                                    <ul>
                                        <li><i class="icon-calendar-empty"></i> On <span>{{blog.date}}</span></li>
                                        <!-- <li><i class="icon-inbox-alt"></i> In <a href="#">Top tours</a></li> -->
                                        <li><i class="icon-tags"></i> Tags <a ng-repeat="tag in blog.tags track by $index" index="$index">{{tag.title}}, </a></li>
                                    </ul>
                                </div>
                                <!--<div class="post-right"><i class="icon-comment"></i><a href="#">{{blog.comments.length}} </a></div>-->
                            </div>
                            <a href ui-sref="blogview({Blog: blog.slug})">
                                <h2 ng-bind-html="blog.title"></h2>
                            </a>
                            <p ng-bind-html="blog.excerpt | trim:true:300">

                            </p>
                            <a href ui-sref="blogview({Blog: blog.slug})" class="btn_1">Read more</a>
                        </div>
                        <!-- end post -->

                        <!-- <hr> -->

                    </div>
                </div>
            </div>
        </div>
        <aside class="col-md-3">

            <!--<div class="widget">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
						<button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
						</span>
                </div>
            </div>-->
            <!-- End Search -->
            <!--<hr>-->
            <div class="widget" id="cat_blog">
                <h4>Categories</h4>
                <ul>
                    <li ng-repeat="blogc in blogCat | orderBy: -blogs.date | limitTo: 4"><a href ui-sref="blog({Category: blogc.slug})" ui-sref-opts="{inherit: false}">{{blogc.title}}</a></li>

                </ul>
            </div>
            <!-- End widget -->

            <hr>

            <div class="widget">
                <h4>Recent post</h4>
                <ul class="recent_post">
                    <li ng-repeat="recBlog in recBlogs | orderBy: -recBlog.date | limitTo: 4">
                        <i class="icon-calendar-empty"></i> {{recBlog.modified}}
                        <div>
                            <a href ui-sref="blogview({blogId: recBlog.id})" ng-bind-html="recBlog.title | trim:true:100"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End widget -->
            <hr>
            <div class="widget tags">
                <h4>Tags</h4>
                <a ng-repeat="tag in blogTags" href ui-sref="blog({Tag: tag.slug})" ui-sref-opts="{inherit: false}">{{tag.title}}</a>
            </div>
            <!-- End widget -->

        </aside>
        <!-- End aside -->


    </div>
</div>


<div id="toTop"></div>
<!-- Back to top button -->





<!-- <div class="row">
    <div class="col-md-6 blg-title" ng-repeat="blog in blogs  track by $index" index="$index"">
                <div><img ng-src="{{blog.thumbnail || '/site/assets/img/notredame.jpg'}}" alt="" class="img-responsive styled blogimg"></div>
                <h3>{{blog.title}}</h3>
                
                <div ng-bind-html="blog.content"></div>
                <p><b>Author:</b> {{blog.author.name}}</p>
                <h4><b>Comments:</b></h4>
                <div class="commit" ng-repeat="com in blog.comments track by $index" index="$index">
                    <p class="pull-left"><b>Name:</b> {{com.name}}</p>
                    <p class="pull-right">{{com.date}}</p>
                    <hr style="clear:both;">
                    <p ng-bind-html="com.content"></p>
                    <hr>
                </div>
                
      </div>
</div> -->