<link rel="stylesheet" type="text/css" href="site/assets/css/blog.css">
<div>
    <!-- parallex section start -->
    <!-- <div class="parallax-mirror" style="visibility: visible; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden; height: 670px; width: 1286px;">
        <img class="parallax-slider" ng-src="{{blog.thumbnail || '/site/assets/img/notredame.jpg'}}" style="position: absolute; top: -41px; left: 0px; height: 631px; width: 1286px;"></div>
    <section class="parallax-window" data-parallax="scroll" data-image-src="/site/assets/img/notredame.jpg" data-natural-width="1400" data-natural-height="470">
        <div class="parallax-content-1">
            <div class="animated fadeInDown">
                <h1>Blog</h1>
            </div>
        </div>
    </section> -->

    <!--<div class="container-fluid">
        <div class="row">
            <div class="img-resp">
                <img ng-src="{{blog.thumbnail || '/site/assets/img/notredame.jpg'}}" alt="">
                <h2>{{blog.title}}</h2> 
            </div>
        </div>
    </div> -->

    <!-- End section -->
    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
    <!-- End position -->
    <div class="bgwhite">
        <div class="container pa_30">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="post">
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i> On <span>{{blog.date}}</span></li>
                                    <li><i class="icon-tags"></i> Tags <a ng-repeat="tag in blog.tags track by $index" index="$index">{{tag.title}}, </a></li>
                                </ul>
                            </div>
                            <!--  <div class="post-right"><i class="icon-comment"></i><a href="#">{{blog.comments.length}} </a></div> -->
                        </div>
                        <h1 ng-bind-html="blog.title"></h1>
                        <p class="aut"><b>Author:</b> {{blog.author.name}}</p>
                        <p class="para" ng-bind-html="blog.content">
                            <!-- <h4><b><i class="icon-comment"></i>Comments:</h4>
                            <div class="commit" ng-repeat="com in blog.comments track by $index " index="$index ">
                                <p class="pull-left "><b>Name:</b> {{com.name}}</p>
                                <p class="pull-right ">{{com.date}}</p>
                                <div style="clear:both;"></div>
                                <p ng-bind-html="com.content"></p>
                                <hr>
                            </div> -->
                    </div>
                    <!-- end post -->
                    <!-- <hr> -->
                    <!-- <p>To comment:&nbsp<a ui-sref="'blog.url'" target="_blank">Click Here</a></p> -->
                </div>
                <aside class="col-md-3 col-xs-12">

                    <!--<div class="widget">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
						<button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
						</span>
                </div>
            </div>-->
                    <!-- End Search -->
                    <!--<hr>-->
                    <div class="widget" id="cat_blog">
                        <h4>Categories</h4>
                        <ul>
                            <li ng-repeat="blogc in blogCat | orderBy: -blogs.date | limitTo: 4"><a href ui-sref="blog({Category: blogc.slug})" ui-sref-opts="{inherit: false}">{{blogc.title}}</a></li>

                        </ul>
                    </div>
                    <!-- End widget -->

                    <hr>

                    <div class="widget">
                        <h4>Recent post</h4>
                        <ul class="recent_post">
                            <li ng-repeat="recBlog in recBlogs | orderBy: -recBlog.date | limitTo: 4">
                                <i class="icon-calendar-empty"></i> {{recBlog.modified}}
                                <div>
                                    <a href ui-sref="blogview({blogId: recBlog.id})" ng-bind-html="recBlog.title | trim:true:100"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End widget -->
                    <hr>
                    <div class="widget tags">
                        <h4>Tags</h4>
                        <a ng-repeat="tag in blogTags" href ui-sref="blog({Tag: tag.slug})" ui-sref-opts="{inherit: false}">{{tag.title}}</a>
                    </div>
                    <!-- End widget -->

                </aside>
                <!-- End aside -->
            </div>
        </div>
    </div>
</div>
<div id="toTop"></div>
<!-- Back to top button -->