<div class="global-wrap container-fluid">
    <div class="row">

	 		<div class="vc_row wpb_row bg-holder vc_custom_1458810483424 bg-parallax img" style="background-position: 50% -24.5333px;">
	 			<div class="bg-mask">
	 			</div>
	 			<div class="container ">
	 				<div class="row">
						<div class="wpb_column column_container col-md-12">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h1 style="text-align: center;">
											<span style="color: #ffffff;">Privacy Policy</span>
										</h1>
									</div>
								</div>
							</div>
						</div> 
					</div><!--End .row-->
				</div><!--End .container-->
			</div>

			<div class="vc_row wpb_row bg-holder">
					<div class="row">
						<div class="wpb_wrapper">
							<h1 class="page-title">Privacy policy</h1>

							<p>At TRAVELER.MV, our customers are our first priority – always. Everything we do is focused on providing excellent customer service.</p>

							<p>The information you share with TRAVELER.MV allows us to provide the products and services you need and want while giving you the very best shopping experience. It’s our promise to customers that we respect the trust you place in us and the privacy of the information you share.</p>

							<h2>What Type of Information Do We Collect?</h2>

							<p>We collect information to deliver the products and services you request and to help improve your shopping experience.</p>

							<p>You share information with us when you:</p>
							<ul>
								<li>Subscribes to our newsletter</li>
								<li>Make a booking</li>
							</ul>

							<p>When you engage in these activities, you may share different types of personal information with us, such as your name, email address, physical or postal address, phone number, date of birth, and information related to customer survey such a preferences and interests.</p>

							<h2>How Do We Use Your Personal Information?</h2>

							<p>We use your personal information to offer and provide you products and services and to support our business functions. These business functions include order and service fulfillment, marketing, authentication, loss and fraud prevention, public safety and legal functions as follows:</p>
							<ul>
								<li>To fulfill your requests for products and services and communicate with you about those requests;</li>
								<li>To register and service your account;</li>
								<li>To respond to reviews, comments, or other feedback you provide us; and</li>
								<li>To protect the security and integrity of our website, and our business.</li>
							</ul>

							<h2>How Do We Share Your Personal Information</h2>
							<p>We will not share your personal information, except in the following circumstances:</p>

							<h4>Legal Requirements and Protection of Our Company and Others</h4>
							<p>We may share your personal information in other special circumstances, which include situations when sharing is required by law, or we believe sharing will help to protect the safety, property, or rights of Lintel, our customers, our associates, or other persons. Examples include:</p>
							<ul>
								<li>Protecting the health or safety of customers;</li>
								<li>Identifying and addressing fraud or financial risk;</li>
								<li>Providing personal information to law enforcement at their written request;</li>
								<li>Responding to a valid legal inquiry; and</li>
								<li>Responding to an investigative body in the case of a breach of an agreement or violation of law.</li>
							</ul>

							<h2>How Do We Secure Your Personal Information?</h2>
							<p>We recognize the importance of maintaining the security of our customer’s personal information. We use reasonable security measures, including physical, administrative, and technical safeguards.</p>
							<ul>
								<li>Passwords are required to access your online account and help to protect your account information. Please keep this password confidential.</li>
								<li>Your connection to the website is always encrypted using TLS/SSL to protect your privacy and personal information.</li>
								<li>For credit card and debit card payment processing, we use the Maldives Payment Gateway of Bank of Maldives Plc, to which you will be re-directed from our Website once you are ready to make the payment and enter card information. We will not be able to see, capture or store you card details and any other information you may enter at the Maldives Payment Gateway. All communications between TRAVELER.MV and the Maldives Payment Gateway are encrypted using the TLS/SSL protocol. Once payment processing is completed (successfully or unsuccessfully) you will be redirected back to TRAVELER.MV</li>
							</ul>

							<h2>How Do We Use Cookies?</h2>
							<p>Your web browser offers so-called “cookies” which, if you allow their use, store small amounts of data on your computer when you visit a website. Cookies do not contain any personally identifiable information about you and therefore cannot be used to identify you personally. However, cookies assist us in tracking which of our features you like best and make it easier to use the Website. We use a cookie in order to retain the contents of your shopping cart while you browse the Website. Cookies also enable us to customize our content according to your preferences. You have the ability to accept or decline cookies by modifying your browser.</p>

							<h2>Contact Information</h2>
							<p>If you have any questions about this Privacy Policy or our privacy practices, please e-mail us at sales@traveler.mv. Please include the URL of the Website and/or specific page within the Website involved in your request.</p>

						</div>
					</div><!--End .row-->
			</div>

	</div> 
</div>