/*Ananth changes*/

@font-face {
    font-family: 'skolalightitalic';
    font-style: normal;
    font-weight: normal;
    src: url('../../../modules/core/client/css/fonts/SkolaSans-LightItalic.otf') format('opentype');
    src: url('../../../modules/core/client/css/fonts/SkolaSans-LightItalic.ttf') format('truetype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'skolaregularitalic';
    font-style: normal;
    font-weight: normal;
    src: url('../../../../modules/core/client/css/fonts/SkolaSansCn-RegularItalic.otf') format('opentype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSansCn-RegularItalic.ttf') format('truetype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSansCn-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'skolamedium';
    font-style: normal;
    font-weight: normal;
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Medium.otf') format('opentype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Medium.ttf') format('truetype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'skolablack';
    font-style: normal;
    font-weight: normal;
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Black.otf') format('opentype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Black.ttf') format('truetype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Black.woff') format('woff');
}

@font-face {
    font-family: 'skolaregular';
    font-style: normal;
    font-weight: normal;
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Regular.otf') format('opentype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Regular.ttf') format('truetype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'skolabold';
    font-style: normal;
    font-weight: normal;
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Bold.otf') format('opentype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Bold.ttf') format('truetype');
    src: url('../../../../modules/core/client/css/fonts/SkolaSans-Bold.woff') format('woff');
}

.btn_col {
    background: #50bcbb;
    font-family: 'skolaregular', sans-serif;
    text-transform: capitalize;
    font-size: 15px;
    border-radius: 0px;
    padding: 10px 30px;
    width: 300px;
    color: #333333;
}

.btn_col:hover {
    color: #fff;
    background: #029695 !important;
}

.main_title h2 {
    text-transform: capitalize;
    font-family: 'skolamedium', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 25px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 40px;
}

.mt75 {
    margin-top: 75px;
}

.mt100 {
    margin-top: 100px;
}

.main-menu > ul > li > a {
    font-size: 15px;
    padding: 0 15px 15px 8px;
    color: #fff;
}

.lined-heading {
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    display: block;
}

h1.lined-heading:before,
h2.lined-heading:before,
h3.lined-heading:before,
h4.lined-heading:before,
h5.lined-heading:before,
h6.lined-heading:before {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 2px solid #ccc;
    content: "";
}

h1.lined-heading span,
h2.lined-heading span,
h3.lined-heading span,
h4.lined-heading span,
h5.lined-heading span,
h6.lined-heading span {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    background: #fff;
    color: #5e5e5e;
    display: inline-block;
    text-transform: capitalize;
    font-family: 'skolamedium', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 25px;
}

h2,
.h2 {
    font-size: 24px;
}

.feature_home i {
    color: #5e5e5e;
    border: none;
    margin-bottom: 0px;
}


/*Mixed Grid*/

.main {
    margin: 0 auto -60px;
}

.main .img-responsive {
    margin-bottom: 0px;
}

.grid-custom .col-sm-6,
.grid-custom .col-xs-6,
.grid-custom .col-xs-12,
.grid-custom .col-sm-3 {
    padding: 5px;
}

.img-responsive¨
}
.first-block {
    border-bottom: 5px #000 solid;
}



.intro_title p {
    font-family: 'skolalightitalic', sans-serif;
    font-size: 45px;
    text-transform: none;
    line-height: 110%;
    text-align: left;
}

.p-tag {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 30%;
}

.intro_title p span {
    font-family: 'skolaregularitalic', sans-serif;
}

.feature_home h3 {
    font-family: 'skolamedium', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 20px;
}

.tour_container .tour_title h3 {
    font-family: 'skolamedium', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 15px;
    text-transform: none;
}

.tour_container .tour_title h4 {
    font-family: 'skolalightitalic', sans-serif;
    letter-spacing: 1px;
    color: #50bcbb;
    font-size: 12px;
}

.payment img {
    border-radius: 5px;
    height: auto;
    width: 75px;
    pointer-events: none;
}

/*grid related*/

.class-overide {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.class-overide span {
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-family: 'skolabold', sans-serif;
	font-size: 18px;
	color: #fff;
	text-shadow: 1px 1px #888787;
	background: none;
	width: 75%;
	padding: 5px 10px;
}

.margin-overide {
    margin: 0px !important;
}

.img-responsive.styled {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-select-bootstrap .ui-select-match-text{
    position: absolute;
    top: 30%;
    font-weight: bold;
    color: #4d4d4d;
}

.text-muted{
    position: absolute;
    top: 30%;
    font-weight: bold;
    color: #4d4d4d;
}

.select-filter:active{
    background-color: #50bcbb;
}


/*ends*/

