<div>
    <div class="content">
        <div class="container">
            <!-- header title -->
            <div id="destination">


                <div class="row head">
                    <h1 align="center">Website Term of Use</h1>
                    <!-- description -->
                </div>

            </div>

        </div>
    </div>
</div>

<div class="container">
  <p>Last Revised on 17 September, 2016</p>
  <p><strong>AGREEMENT BETWEEN CUSTOMER AND SIESTAZ PTE. LTD.</strong></p>
  <p>This Website (&quot;Website&quot;) is owned and operated by Siestaz Pte. Ltd., a Singapore private company. This Website is provided solely to assist customers in gathering travel information, determining the availability of travel-related goods and services, making legitimate reservations or otherwise transacting business with travel suppliers, and for no other purposes. The terms we, us, our and Staydilly refer to Siestaz Pte. Ltd. (hereinafter &quot;Staydilly&quot;). The term &ldquo;you&rdquo; refers to the customer visiting the Website and/or booking a reservation through us on this Website, or through our customer service agents.</p>
  <p>This Website is offered to you conditioned upon your acceptance without modification of all the terms, conditions, and notices set forth below (collectively, the &quot;Terms of Use&quot; or &quot;Agreement&quot;). Please read the Terms of Use carefully. By accessing or using this Website, booking any reservations for travel products or services on this Website, or contacting our call center agents, you agree that the Terms of Use then in force shall apply. If you do not agree to the Terms of Use, please do not use or book any reservations through this Website or our call center agents. Staydilly may at any time change these Terms of Use and your continued use of this Website is conditioned upon acceptance of the updated Terms of Use.</p>
  <p><strong>USE OF THE WEBSITE</strong></p>
  <p>As a condition of your use of this Website, you warrant that:</p>
  <ul>
    <li>you are at least 18 years of age and are of sound mind,</li>
    <li>you possess the legal authority to create a binding legal obligation,</li>
    <li>you will use this Website in accordance with the Terms of Use,</li>
    <li>you will only use this Website to make legitimate reservations for you or for another person for whom you are legally authorized to act,</li>
    <li>you will inform such other persons about the Terms of Use that apply to the reservations you have made on their behalf, including all rules and restrictions applicable thereto,</li>
    <li>all information supplied by you on this Website is true, accurate, current and complete, and</li>
    <li>if you have an online account with this Website, you will safeguard your account information and will supervise and be completely responsible for any use of your account by you and anyone other than you.</li>
  </ul>
  <p>We retain the right at our sole discretion to deny access to anyone to this Website and the services we offer, at any time without notice and for any reason, including, but not limited to, for violation of these Terms of Use.</p>
  <p><strong>PROHIBITED ACTIVITIES</strong></p>
  <p>The content and information on this Website (including, but not limited to, price and availability of travel services), as well as the infrastructure used to provide such content and information, is proprietary to us or our suppliers and providers. While you may make limited copies of your travel itinerary (and related documents) for travel or service reservations booked through this Website, you agree not to otherwise modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services obtained from or through this Website. Additionally, you agree not to:</p>
  <ul>
    <li>use this Website or its contents for any commercial purpose;</li>
    <li>make any speculative, false, or fraudulent reservation or any reservation in anticipation of demand;</li>
    <li>access, monitor or copy any content or information of this Website using any robot, spider, scraper or other automated means or any manual process for any purpose without our express written permission;</li>
    <li>violate the restrictions in any robot exclusion headers on this Website or bypass or circumvent other measures employed to prevent or limit access to this Website;</li>
    <li>take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load on our infrastructure;</li>
    <li>deep-link to any portion of this Website (including, without limitation, the purchase path for any travel services) for any purpose without our express written permission; or</li>
    <li>&quot;frame&quot;, &quot;mirror&quot; or otherwise incorporate any part of this Website into any other website without our prior written authorization.</li>
  </ul>
  <p>&nbsp;</p>
  <p>If your booking or account shows signs of fraud, abuse, or suspicious activity, Staydilly may cancel any travel or service reservations associated with your name, email address, or account, and close any associated Staydilly accounts. In addition, we may verify (i.e. preauthorize) your credit card. If you have conducted any fraudulent activity, Staydilly reserves the right to take any necessary legal action and you may be liable for monetary losses to Staydilly, including litigation costs and damages. To contest the cancellation of a booking or freezing or closure of an account, please contact Staydilly Customer Service.<br />
     <br />
  <strong>SUPPLIER RULES AND RESTRICTIONS</strong></p>
  <p>Additional terms and conditions of third party suppliers will apply to your reservation and purchase of travel-related goods and services that you select. Please read these additional terms and conditions carefully. To minimize the impact to your travel plans, you are advised to purchase travel insurance to cover travel disruption. You agree to abide by the terms and conditions of purchase imposed by any third party supplier with whom you elect to deal, including, but not limited to, payment of all amounts when due and compliance with the third party supplier's rules and restrictions regarding availability and use of fares, products, or services. We reserve the right to cancel your booking if full payment is not received in a timely fashion.</p>
  <p>Some hotel suppliers may require you to present a credit card or cash deposit upon check-into cover additional expenses during your stay. Such deposit is unrelated to any payment received by us for your hotel booking.</p>
  <p>You acknowledge that some third-party suppliers offering certain services and/or activities may require you to sign their liability waiver prior to participating in the service and/or activity they offer. You understand that any violation of any such supplier's rules and restrictions may result in cancellation of your reservation(s), in your being denied access to the applicable travel product or services, in your forfeiting any monies paid for such reservation(s), and/or in our debiting your account for any costs we incur as a result of such violation.</p>
  <p><strong>PRIVACY POLICY</strong></p>
  <p>Staydilly believes in protecting your privacy. Please visit our pricacy policy page to review our current Privacy Policy, which also governs your use of the Website, and is incorporated by reference, to understand our practices: <a href="/privacy-policy">Privacy Policy</a>.</p>
  <p><strong>REVIEWS, COMMENTS, PHOTOS AND OTHER SUBMISSIONS</strong></p>
  <p>We appreciate hearing from you. Please be aware that by submitting content to this Website by electronic mail, postings on this Website or otherwise, including any hotel reviews, photos, videos, questions, comments, suggestions, ideas or the like contained in any submissions (collectively, Submissions), you grant Staydilly and its corporate affiliates (which shall mean any entity (whether a person, corporation, partnership or otherwise) that directly or indirectly, controls, are controlled by, or are under common control with Staydilly. An entity shall be deemed to be in &quot;control&quot; of another entity when it holds fifty (50%) percent or more of voting shares in that entity or has management control of that entity) (collectively, the &quot;Siestaz Companies&quot;) and the affiliated, co-branded and/or linked website partners through whom we provide links, content or service (collectively, the &quot;Staydilly Partners&quot;), a nonexclusive, royalty-free, perpetual, transferable, irrevocable and fully sublicensable right to (a) use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and publicly display and perform such Submissions throughout the world in any media, now known or hereafter devised; and (b) use the name that you submit in connection with such Submission. You agree and acknowledge that the Staydilly Companies may choose to provide attribution of your comments or reviews (for example, listing your name and hometown on a hotel review that you submit) at our discretion, and that such submissions may be shared with our supplier partners. You further grant the Siestaz Companies the right to pursue at law any person or entity that violates your or the Siestaz Companies rights in the Submissions by a breach of these Terms of Use. You acknowledge and agree that Submissions are non-confidential and non-proprietary. You expressly waive any and all &quot;moral rights&quot; (including rights of attribution or integrity) that may subsist in your Submissions and agree that you have no objection to the publication, use, modification, deletion or exploitation of your Submissions by us, the Staydilly Partners or any of our partners or licensees. We take no responsibility and assume no liability for any Submissions posted or submitted by you. We have no obligation to post your comments; we reserve the right in our absolute discretion to determine which comments are published on the Website. If you do not agree to these Terms of Use, please do not provide us with any Submissions. </p>
  <p>You are fully responsible for the content of your Submissions, (specifically including, but not limited to, reviews posted to this Website). You will not post or transmit to or from this Website: (i) any unlawful, threatening, libelous, defamatory, obscene, pornographic, or other material or content that would violate rights of publicity and/or privacy or that would violate any law; (ii) any commercial material or content (including, but not limited to, solicitation of funds, advertising, or marketing of any good or services); (iii) any material or content that infringes, misappropriates or violates any copyright, trademark, patent right or other proprietary right of any third party; and (iv) any materials that are objectionable on the grounds of public interest, public morality, public order, public security, national harmony, or otherwise prohibited by applicable laws. You shall be solely liable for any damages resulting from any violation of the foregoing restrictions, or any other harm resulting from your posting of content to this Website. You acknowledge that Staydilly may exercise its rights (e.g. use, publish, delete) to any content you submit without notice to you. If you submit more than one review for the same hotel, only your most recent submission is eligible for use. </p>
  <p>From time to time Staydilly may offer customers incentives to leave reviews (i.e. discount coupon/entry into prize draws etc.) As it is important to us that reviews are impartial and honest, these incentives will be available to customers regardless of whether the hotel review is positive or negative. </p>
  <p>All photos submitted are subject to our Photo Submission Guidelines. You agree to indemnify Siestaz Companies for any loss, claim, suits, and proceedings arising out of or in connection with your failure to adhere to our Photo Submission Guidelines. </p>
  <p>Staydilly claims no ownership, affiliation with, or endorsement of any photos that are submitted by end users through our sites. </p>
  <p>Staydilly's policies with respect to claims by third parties that the content of the Website, including the content of any Submissions, infringes the copyrights owned by said third party can be found in the sections titled &quot;Account Termination&quot;, &quot;Notice of Infringing Material&quot;, and &quot;Counter Notices&quot; below.</p>
  <p><strong>PHOTO SUBMISSION GUIDELINES</strong></p>
  <p>Any photos you submit must be:</p>
  <ul>
    <li><strong>On topic -</strong> All photos must be relevant to accommodation, restaurant, location, or general travel experiences.</li>
    <li><strong>Community/family friendly</strong> –<strong></strong></li>
    <ul>
      <li>Do not submit any photos or materials that are illegal, obscene, pornographic, profane, vulgar, offensive or insulting.<strong></strong></li>
      <li>Do not submit photos or materials that invade the privacy or violate any personal right of any person or entity.<strong></strong></li>
      <li>Do not submit photos or information about children or any third parties without their consent (or their parent's consent in the case of a child under 13 years of age).<strong></strong></li>
      <li>Children under 13 may not submit photos or other materials.<strong></strong></li>
    </ul>
  </ul>
  <ul>
    <li><strong>Original</strong> - You may only submit your own photos. Do not submit photos from any other source (personal or commercial). Do not submit photos that infringe the copyright, trademark, or other property right of any third party.<strong></strong></li>
  </ul>
  <p>&nbsp;</p>
  <ul>
    <li><strong>Non-commercial</strong> - Do not submit photos that include logos, branding, promotional material, or any other content intended for commercial purposes.</li>
  </ul>
  <ul>
    <li><strong>No harmful files</strong> - Do not submit photos that contain viruses or other harmful code that is either intended or may result in damage to the computers and systems of STAYDILLY and/or those using it.<strong></strong></li>
  </ul>
  <p>&nbsp;</p>
  <p><strong>PRICES</strong></p>
  <p>Subject to the Note below, you acknowledge and agree that your debit or credit card will be charged by the Siestaz Companies or the supplier(s) with which your booking is made (as applicable) for the total booking price of the travel services in full at the time of the booking, which includes the price displayed on the Website, plus taxes, and service fees.</p>
  <p>Staydilly is a fully opaque distribution Website. This is important in several important ways in that the name and exact address of the hotel are not shown until after payment has been made for the booking. All bookings are final and cannot be changed, refunded, exchanged, cancelled, or transferred to another party. Your credit card will be charged for the amount shown even if you do not use the booking. Room type will be determined by the hotel based on the number of guests provided at time of booking. All reservations are booked for stays in non-smoking rooms (subject to availability). Hotel room assignments are determined at check-in and upgrades are not available. The maximum number of Staydilly rooms that can be booked at one time is five (5). If we determine that you have booked reservations for more than 5 rooms in total in separate reservations, we may cancel your reservations, and charge you a cancellation fee, if applicable. If you paid a non-refundable deposit, your deposit will be forfeited. If you wish to book reservations for 6 or more rooms, you must contact Staydilly's group travel specialists by phone or by filling out the group travel form online. One of our group travel specialists will research your request and contact you to complete your reservation. You may be asked to sign a written contract and/or pay a nonrefundable deposit. Staydilly rooms will be booked under the same name, and the guest under whose name the reservation is made must be present at check-in. Upon check-in, guests must present a valid ID and credit card in their name (the amount of available credit required will vary by hotel).</p>
  <p>You acknowledge that the Siestaz Companies pre-negotiate certain room rates with hotel suppliers. The room rate displayed on the Website is a combination of the pre-negotiated room rate for rooms reserved on your behalf through Staydilly and compensation retained by Staydilly for its services. You authorize Staydilly to book reservations for the total reservation price, which includes the room rate displayed on this Website, plus taxes (where applicable), and service fees. You agree that your debit or credit card will be charged by Siestaz Pte Ltd or another member of the Siestaz Companies doing business as Staydilly for the total reservation price. Upon submitting your reservation request you authorize the Siestaz Companies to facilitate hotel reservations on your behalf, including making payment arrangements with hotel suppliers.</p>
  <p>The tax charges on prepaid hotel transactions are a recovery of the estimated taxes (e.g. sales and use, occupancy, room tax, excise tax, value added tax, etc) that the Siestaz Companies pay to the hotel in connection with your bookings. The hotels charge the Siestaz Companies for certain charges, including such tax amounts. The hotels are responsible for remitting these amounts to the applicable taxing jurisdictions. Taxability and the appropriate tax rate vary greatly by location. The actual amounts paid by the Siestaz Companies to the hotels in connection with taxes may vary from the tax recovery charge, depending upon the rates, taxability, etc. in effect at the time of your actual use of the hotel. In certain jurisdictions, VAT, GST or other similar taxes may be imposed on the booking price or the compensation Staydilly retains for its services. The actual tax amounts on our services, if any, may vary depending on the rates in effect at the time of your hotel stay. We may retain service fees as additional compensation in servicing your travel reservation. Service fees retained by Staydilly for its services vary based on the amount and type of hotel reservation.</p>
  <p>In the event you do not show for the first night of the reservation and plan to check-in for subsequent nights in your reservation, you must confirm the reservation changes with us no later than the date of the first night of the reservation to prevent cancellation of your reservation.</p>
  <p>Prices and fees for some accomodation bookings, may be in another currency (e.g. EUR, USD),for which we will provide an estimate for in the default currency of this Website, or selected preferred currency (if applicable). The actual amount charged by the accomodation supplier may slightly differ due to varying exchange rates applied by different card issuers. In addition, your statement may include a conversion or transaction fee (which may be in a foreign currency) charged by your card issuer to process the transaction. Staydilly is not associated with these additional fees and will not be held liable for any fees relating to varying exchange rates and card issuer fees.</p>
  <p>All bookings on Staydilly are made on a non-cancellable, non-refundable basis. </p>
  <p>In certain limited cases [Eg. Corporate accounts], and where applicable, Staydilly may permit changes to bookings made at the sole discretion of Staydilly. Where changes are permitted, we will charge an amendment fee for changes made by you on any bookings, which will be payable by you. You agree to pay any change fees that you incur. The price of your new arrangements will be based on the prices that apply on the day you ask us to make the change. These prices may not be the same as when you booked the products or services.</p>
  <p>In situations where changes are permitted,  you will be charged the change fee indicated in the rules and restrictions for the hotel reservation. If you do not change your reservation before the change policy period applicable to the hotel you reserved, which varies by hotel (usually 72 hours) prior to your date of arrival, you will be subject to a charge equal to applicable nightly rates, tax recovery charges and service fees.</p>
  <p>In limited cases, some hotels do not permit changes to or cancellations of reservations after they are made, as indicated in the rules and restrictions for the hotel reservation. You agree to abide by the Terms of Use imposed with respect to your prepaid hotel reservations.</p>
  <p>&nbsp;</p>
  <p><strong>TRAVEL DESTINATIONS</strong></p>
  <p>You are responsible for ensuring that you meet foreign entry requirements and that your travel documents, such as passports and visas (transit, business, tourist, and otherwise), are in order and any other foreign entry requirements are met. The Siestaz Companies have no special knowledge regarding foreign entry requirements or travel documents. We urge customers to review travel prohibitions, warnings, announcements, and advisories issued by the relevant governments prior to booking travel to international destinations.</p>
  <p>Passport and Visa: You must consult the relevant Embassy or Consulate for this information. Requirements may change and you should check for up-to-date information in good time before booking and departure. We accept no liability if you are refused entry onto the flight or into any country due to failure on your part to carry the correct passport, visa or other documents required by any airline, authority or country, including countries you may just be transiting through. This includes all stops made by the aircraft even if you do not leave the aircraft or airport.</p>
  <p>Health: Recommended inoculations for travel may change at any time and you should consult your doctor on current recommendations before you depart. It is your responsibility to ensure that you obtain the recommended inoculations, take all recommended medication and follow all medical advice in relation to your trip.</p>
  <p>BY OFFERING RESERVATIONS FOR TRAVEL PRODUCTS IN PARTICULAR INTERNATIONAL DESTINATIONS, STAYDILLY DOES NOT REPRESENT OR WARRANT THAT TRAVEL TO SUCH AREAS IS ADVISABLE OR WITHOUT RISK, AND IS NOT LIABLE FOR DAMAGES OR LOSSES THAT MAY RESULT FROM TRAVEL TO SUCH DESTINATIONS.</p>
  <p><strong>LIABILITY DISCLAIMER</strong></p>
  <p>The Information, Software, Products and Services published on this Website may include inaccuracies or errors, including pricing errors. In particular, the Siestaz Companies and Staydilly Partners do not guarantee the accuracy of, and disclaim all liability for any errors or other inaccuracies relating to the information and description of the hotel and other travel products and services displayed on this Website (including, without limitation, the pricing, photographs, list of hotel amenities, general product descriptions, etc.). In addition, Staydilly expressly reserves the right to correct any pricing errors on our Website and/or pending reservations made under an incorrect price. In such event, if available, we will offer you the opportunity to keep your pending reservation at the correct price or we will cancel your reservation without penalty.</p>
  <p>Hotel ratings displayed on this Website are intended as only general guidelines, and the Siestaz Companies and Staydilly Partners do not guarantee the accuracy of the ratings. The Siestaz Companies, the Staydilly Partners and their respective suppliers make no guarantees about the availability of specific products and services. The Siestaz Companies and Staydilly Partners and their respective suppliers may make improvements and/or changes on the Website at any time.<br />
    The Siestaz Companies and Staydilly Partners and their respective suppliers make no representations about the suitability of the information, software, products and services contained on this Website for any purpose, and the inclusion or offering of any products or services on this Website does not constitute any endorsement or recommendation of such products or services by the Siestaz Companies and Staydilly Partners. All such information, software products, and services are provided &quot;as is&quot; without warranty of any kind. The Siestaz Companies and Staydilly Partners and their respective suppliers disclaim all warranties and conditions that this Website, its servers or any email sent from the Siestaz Companies and Staydilly Partners and/or their respective suppliers are free of viruses or other harmful components. The Siestaz Companies and Staydilly Partners and their respective suppliers hereby disclaim all warranties and conditions, whether express or implied, with regard to this information, software, products and services, including all implied warranties and conditions of merchantability, satisfactory quality, fitness for a particular purpose, compliance with any description, title and non-infringement, including that this Website shall be free from infringement of any copyright, trademark or other intellectual property rights of third parties.</p>
  <p>The hotels and other suppliers providing travel or other services on this Website are independent contractors and not agents or employees of the Sieztaz Companies or the Staydilly Partners. The Siestaz Companies and Staydilly Partners are not liable for the acts, errors, omissions, representations, warranties, breaches or negligence of any such suppliers or for any personal injuries, death, property damage, or other damages or expenses resulting there from. Sieztaz Companies are not liable for any costs, expenses, claims or damages arising out of any services to recover any of the foregoing, including without limitation relocation costs. Without limiting the foregoing, the Siestaz Companies and Staydilly Partners have no liability and will make no refund in the event of any delay, cancellation, overbooking, strike, force majeure or other causes beyond their direct control, and they have no responsibility for any additional expenses, omissions, delays, re-routing or acts of any government or authority.</p>
  <p>In no event shall the Siestaz Companies and Staydilly Partners and/or their respective suppliers be liable for any direct, indirect, punitive, incidental, special or consequential damages arising out of, or in any way connected with, your access to, display of or use of this Website or with the delay or inability to access, display or use this Website (including, but not limited to, your reliance upon opinions appearing on this Website; any computer viruses, information, software, linked sites, products and services obtaining through this Website; or otherwise arising out of the access to, display of or use of this Website) whether based on a theory of negligence, contract, tort, strict liability, consumer protection statutes, or otherwise, and even if the Siestaz Companies, the Staydilly Partners and/or their respective suppliers have been advised of the possibility of such damages.</p>
  <p>If, despite the limitation above, the Siestaz Companies, the Staydilly Partners or their respective suppliers are found liable for any loss or damage which arises out of or in any way connected with any of the occurrences described above, then the liability of the Siestaz Companies, the Staydilly Partners and/or their respective suppliers will in no event exceed, in the aggregate, the greater of (a) the service fees you paid to the Siestaz Companies in connection with such transaction(s) on this Website, or (b) One-Hundred United States dollars (US$100.00) or the equivalent in local currency.</p>
  <p>The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in these Terms of Use is found to have failed of its essential purpose. The limitations of liability provided in these Terms of Use inure to the benefit of the Siestaz Companies, the Staydilly Partners, and/or their respective suppliers.</p>
  <p><strong>INDEMNIFICATION</strong></p>
  <p>You agree to defend and indemnify the Siestaz Companies, the Staydilly Partners, and/or their respective suppliers and any of their officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought by third parties as a result of:</p>
  <ul>
    <li>your breach of these Terms of Use or the documents referenced herein;</li>
    <li>your violation of any law or the rights of a third party; or</li>
    <li>your use of this Website.</li>
  </ul>
  <p><strong>LINKS TO THIRD-PARTY SITES</strong></p>
  <p>This Website may contain hyperlinks to websites operated by parties other than Staydilly. Such hyperlinks are provided for your reference only. We do not control such websites and are not responsible for their contents or the privacy or other practices of such websites. Further, it is up to you to take precautions to ensure that whatever links you select or software you download (whether from this Website or other websites) is free of such items as viruses, worms, trojan horses, defects and other items of a destructive nature. Our inclusion of hyperlinks to such websites does not imply any endorsement of the material on such websites or any association with their operators.</p>
  <p><strong>SOFTWARE AVAILABLE ON THIS WEBSITE</strong></p>
  <p>Any software that any of the Siestaz Companies make available to download from this Website (&quot;Software&quot;) or through your mobile application store, including the Siestaz mobile application (the &quot;Mobile Application&quot;, is the copyrighted work of the Siestaz Companies and/or our respective suppliers. Your use of such Software is governed by the terms of the end user license agreement, if any, which accompanies, or is included with, the Software (&quot;License Agreement&quot;). You may not install or use any Software that is accompanied by or includes a License Agreement unless you first agree to the License Agreement terms. For any Software made available for download on this Website not accompanied by a License Agreement, we hereby grant to you, the user, a limited, personal, non-exclusive nontransferable license to download, install and use the Software and/or the Mobile Application for viewing and otherwise using this Website and/or accessing the content and information available within the Mobile Application (including, without limitation, price and availability of travel services) in accordance with these Terms of Use and for no other purpose.</p>
  <p>Please note that all Software, including, without limitation, all HTML code and Active X controls contained on this Website, is owned by the Siestaz Companies, Staydilly Partners, and/or our respective suppliers, and is protected by copyright laws and international treaty provisions. Any reproduction or redistribution of the Software is expressly prohibited, and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible.</p>
  <p>WITHOUT LIMITING THE FOREGOING, COPYING OR REPRODUCTION OF THE SOFTWARE TO ANY OTHER SERVER OR LOCATION FOR FURTHER REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PROHIBITED. THE SOFTWARE IS WARRANTED, IF AT ALL, ONLY ACCORDING TO THE TERMS OF THE LICENSE AGREEMENT.</p>
  <p>Your mobile device must be connected to the Internet for the Mobile Application to function correctly. You are responsible for making all arrangements necessary for your device to have internet connectivity and are responsible for all sums your service provider may charge you arising out of the Mobile Application transmitting and receiving data (including but not limited to data roaming charges). As further described in our Privacy Policy, the Mobile Application will automatically transfer a small amount of data as part of its normal operation, including how you use the Mobile Application, which Content you access, and technical errors or problems which the Application may encounter while being used. By using the Mobile Application, you acknowledge, agree and consent to the automatic collection of this information.</p>
  <p><strong>CURRENCY CONVERTER</strong></p>
  <p>In calculating the amount payable we have the right to round up a nominal amount (such as 1 cent, 2 yen, 3 rupees) for each line item to account for variances in the way we and our Suppliers handle currency conversions. The amount rounded-up will not exceed 6 US cents.</p>
  <p>If a currency converter is available on this Website, the following terms and conditions apply: Currency rates are based on various publicly available sources and should be used as guidelines only. Rates are not verified as accurate, and actual rates may vary. Currency quotes are not updated every day. Check the date on the currency converter feature for the day that currency was last updated. The information supplied by this application is believed to be accurate, but the Siestaz Companies, the Staydilly Partners, and/or our respective suppliers do not warrant or guarantee such accuracy. When using this information for any financial purpose, we advise you to consult a qualified professional to verify the accuracy of the currency rates. We do not authorize the use of this information for any purpose other than your personal use and you are expressly prohibited from the resale, redistribution, and use of this information for commercial purposes.<br />
     <br />
  <strong>PAYMENT AND FEES</strong></p>
  <p>In the event that your payment is taken at the time of booking, the company taking that payment and charging your payment card will be: (1) [TO REPLACE] or another member of the Siestaz Companies doing business as Staydilly and taking such payment on behalf of the travel service provider, or (2) the travel service provider directly.</p>
  <p>Many bank and credit card companies charge their account holders a transaction fee when the card issuer and the merchant location (as defined by the card brand (e.g. Visa, MasterCard, American Express) are in different countries. The currency exchange rate, if applicable, and any transaction fee are determined solely by the bank or other agency processing the transaction. These fees may be applied by the card issuer as a charge to the cardholders account. When applied by the card issuer, the fees will be listed separately from the transaction amount on a credit or debit card statement. This means the amount listed on your credit or debit card statement may be a different figure than the figure shown on the billing summary page for a reservation booked on this Website. If you have any questions about these fees or any exchange rate applied to your booking, please contact your bank.</p>
  <p><strong>PAY WITH POINTS</strong></p>
  <p>Staydilly may allow points from selected loyalty programs (&ldquo;Points Programs&rdquo;) to be redeemed for certain travel-related goods and services on this Website. If you use or register to use any points on this Website these terms and conditions apply. To be eligible to use points, you must have an online account with this Website, you must have an eligible account with the provider of the Points Program that is active and in good standing, and your purchase must exceed minimum transaction value for the use of your points (if any).</p>
  <p><strong>COPYRIGHT AND TRADEMARK NOTICES</strong></p>
  <p>All contents of this Website are ©2016 Siestaz Pte Ltd. All rights reserved.<br />
    Other logos and product and company names mentioned herein may be the trademarks of their respective owners. Staydilly is not responsible for content on websites operated by parties other than the sites owned and operated by Staydilly.</p>
  <p>If you are aware of an infringement of our brand, please let us know by e-mailing us at trademarks@siestaz.com. We only address messages concerning brand infringement at this email address. Staydilly is not responsible for content on websites operated by parties other than the websites owned and operated by Staydilly.</p>
  <p><strong>ACCOUNT TERMINATION</strong></p>
  <p>In accordance with the Copyright Act (Cap. 63), its related subsidiary legislation and other applicable laws, Staydilly has adopted a policy of terminating, in appropriate circumstances and at Staydilly 's sole discretion, subscribers or account holders who are deemed to be repeat infringers. Staydilly may also, at its sole discretion, limit access to the Website and/or terminate the accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement. If you believe that an account holder or subscriber is a repeat infringer, please provide information sufficient for us to verify that the account holder or subscriber is a repeat infringer when filing your notice.</p>
  <p><strong>NOTICE OF INFRINGING MATERIAL</strong></p>
  <p>If you believe in good faith that materials hosted by us infringe your copyright, you (or your agent) may send us (by fax, email or regular mail) a written notice that includes the following information. Please note that we will not process your complaint if it is not properly filled out or is incomplete. The making of any false statements in your notice may constitute an offence under the Copyright Act (Cap. 63) and/or other applicable laws, and may expose you to liability for damages.</p>
  <ul>
    <li>A clear identification of the copyrighted work you claim was infringed.</li>
    <li>A clear identification of the material you claim is infringing on the Website, including the online location of that material, such as a link to the infringing material, or identification of the means by which we are alleged to have referred or linked a user to that infringing material.</li>
    <li>Your name, address, email address and telephone number.</li>
    <li>If you are acting on behalf of a copyright owner or exclusive licensee, the name and address of that copyright owner or exclusive licensee.</li>
    <li>If you are not resident in Singapore, your address for service in Singapore.</li>
    <li>A statement that you are, or are authorized to act on behalf of, the owner or exclusive licensee of the copyright in the work identified above.</li>
    <li>A statement that you have a good faith belief that the material that is claimed as infringing copyright is not authorized by the copyright owner, its agent, or the law, and is an infringing copy of the copyright work identified above.</li>
    <li>A statement that you wish us to remove or disable access to the infringing material.</li>
    <li>A statement that the information in the notification is accurate.</li>
    <li>A statement that you submit to the jurisdiction of the courts in Singapore for the purposes of any proceedings relating to the submission and content of the notification.</li>
    <li>Your signature.</li>
  </ul>
  <p>&nbsp;</p>
  <p>Notices with respect to this Website should be sent to us at the following address, or email address:</p>
  <p>Siestaz Pte. Ltd.<br />
    151 Chin Swee Rd #07-12, 69876 Singapore<br />
    Email address: trademarks@siestaz.com<br />
    Attn: Head of Legal</p>
  <p><strong>COUNTER NOTICES</strong></p>
  <p>If material you have posted has been taken down, we will take reasonable steps to notify you of this within a reasonable time, and to provide you with a copy of the notification on which we acted. In response, you may file a counter-notification by fax or regular mail that sets forth the items specified below. You may want to seek legal counsel prior to doing so. The making of any false statements in your notice may constitute an offence under the Copyright Act (Cap. 63) and/or other applicable laws, and may expose you to liability for damages. Please include the following details in your counter-notification:</p>
  <ul>
    <li>Identification of the specific content that was removed or disabled and the location where that content appeared on the Website before it was removed or disabled. Please provide the URL address if possible.</li>
    <li>Your name, address, telephone number and email address.</li>
    <li>If you are not resident in Singapore, your address for service in Singapore.</li>
    <li>A statement that you have a good faith belief that the material that is claimed as infringing copyright was removed, or access to that material was disabled, as a result of mistake or misidentification, or that that material does not infringe any copyright.</li>
    <li>A statement that the information in the counter-notification is accurate.</li>
    <li>A statement that you submit to the jurisdiction of the courts in Singapore for the purposes of any proceedings relating to the material that was removed or disabled, and any proceedings relating to the submission and content of the counter-notification.</li>
    <li>Your signature.</li>
  </ul>
  <p>Send the written communication to the following address:</p>
  <p>Staydilly Pte. Ltd.<br />
    151 Chin Swee Rd #07-12, 69876 Singapore</p>
  <p><strong>PATENT NOTICES</strong></p>
  <p>One or more patents owned by the Siestaz Companies may apply to the Website and to the features and services accessible via the Website. Portions of this Website operate under the license of one or more patents. Other patents are pending.</p>
  <p><strong>GENERAL</strong></p>
  <p>Your use of mapping available on this Website is governed by the Google Terms of Use and Microsoft Terms of Use and Google Privacy Statement and Microsoft Privacy Statement. Google and Microsoft reserve the right to change their Terms of Use and Privacy Statements at any time, at their sole discretion.</p>
  <p>http://privacy.microsoft.com/en-us/default.mspx<br />
    http://www.microsoft.com/maps/assets/docs/terms.aspx<br />
    http://www.google.com/privacy/privacy-policy.html<br />
    http://www.google.com/enterprise/earthmaps/legal/us/maps_AUP.html<br />
    http://www.maps.google.com/help/legalnotices_maps.html<br />
    http://maps.google.com/help/terms_maps.html<br />
     <br />
    This Agreement is governed by the laws of Singapore. You hereby consent to the exclusive jurisdiction and venue of courts in Singapore, in all disputes arising out of or relating to the use of this Website. Use of this Website is unauthorized in any jurisdiction that does not give effect to all provisions of this Agreement, including, without limitation, this paragraph.</p>
  <p>You agree that no joint venture, partnership, or employment relationship exists between you and the Siestaz Companies as a result of the Agreement or use of this Website.</p>
  <p>Our performance of the Agreement is subject to existing laws and legal process, and nothing contained in the Agreement limits our right to comply with law enforcement or other governmental or legal requests or requirements relating to your use of this Website or information provided to or gathered by us with respect to such use. To the extent allowed by applicable law, you agree that you will bring any claim or cause of action arising from or relating to your access or use of this Website within two (2) years from the date on which such claim or action arose or accrued or such claim or cause of action will be irrevocably waived. If any part of the Agreement is found to be invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions will not in any way be affected or impaired. Our failure or delay in enforcing any provision of the Agreement at any time does not waive our right to enforce the same or any other provision(s) hereof in the future.</p>
  <p>The Agreement (and any other terms and conditions or policies referenced herein) constitutes the entire agreement between you and STAYDILLY with respect to this Website, our services and your dealings and relationships with us, and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral, or written, between you and us. A printed version of the Agreement and of any notice given in electronic form shall be admissible in judicial or other administrative proceedings to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.<br />
    Fictitious names of companies, products, people, characters, and/or data mentioned on this Website are not intended to represent any real individual, company, product, or event.</p>
  <p>You may not assign, convey, or delegate your rights, duties or obligations hereunder. Other than the customer and Staydilly, no other person has any rights under the Contracts (Rights of Third Parties) Act (Chapter 53B of Singapore) to enforce any term of the Agreement, however, the Siestaz Companies and Staydilly Partners shall be entitled to enforce the disclaimers and limitations of liability set out in the Agreement. Any rights not expressly granted herein are reserved.</p>
  <p><strong>SELLER OF TRAVEL</strong></p>
  <p>Siestaz Pte. Ltd.<br />
    Registered Address: 151 Chin Swee Rd #07-12, 69876 Singapore</p>
  <p><strong>SERVICE HELP</strong></p>
  <p>For quick answers to your questions or ways to contact us, visit our Customer Support Center.</p>
  <p>©2016 Siestaz Pte Ltd. All rights reserved.</p>
</div>