 <div class="global-wrap container-fluid">
    <div class="row">

	 		<div class="vc_row wpb_row bg-holder vc_custom_1458810483423 bg-parallax img" style="background-position: 50% -24.5333px;">
	 			<div class="bg-mask">
	 			</div>
	 			<div class="container ">
	 				<div class="row">
						<div class="wpb_column column_container col-md-12">
							<div class="wpb_wrapper">
								<div class="wpb_text_column wpb_content_element ">
									<div class="wpb_wrapper">
										<h1 style="text-align: center;">
											<span style="color: #ffffff;">Contact Us</span>
										</h1>
									</div>
								</div>
							</div>
						</div> 	
					</div><!--End .row-->
				</div><!--End .container-->
			</div>

			<div class="vc_row wpb_row bg-holder">
				<div class="row">
					<div class="wpb_wrapper">
						<h1 class="page-title">Contact Us</h1>
					</div>
				</div><!--End .row-->
				<div class="container margin_60">
				    <div class="row">
				        <div class="col-md-8 col-sm-8">
				            <div class="form_title">
				                <h3><strong><i class="icon-pencil"></i></strong>Contact Us on form below. You will get a reply within 24hrs.</h3>
				            </div>
				            <div class="step">
				                <div id="message-contact"></div>
				                <form id="contactform" name="myForm" validate ng-submit="submitContactForm()">
				                    <div class="row">
				                        <div class="col-md-6 col-sm-6">
				                            <div class="form-group">
				                                <label>First Name</label>
				                                <input type="text" class="booking-form-control" id="name_contact" name="name_contact" data-ng-model="contactDetail.firstName" placeholder="Enter Name" required>
				                            </div>
				                        </div>
				                        <div class="col-md-6 col-sm-6">
				                            <div class="form-group">
				                                <label>Last Name</label>
				                                <input type="text" class="booking-form-control" id="lastname_contact" name="lastname_contact" data-ng-model="contactDetail.lastName" placeholder="Enter Last Name" required>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <div class="col-md-6 col-sm-6">
				                            <div class="form-group">
				                                <label>Email</label>
				                                <input type="email" id="email_contact" name="email_contact" class="booking-form-control" data-ng-model="contactDetail.email" placeholder="Enter Email" required>
				                                <span class="error" ng-show="myForm.email_contact.$error.email">
				                                Not valid email!</span>
				                            </div>
				                        </div>
				                        <div class="col-md-6 col-sm-6">
				                            <div class="form-group">
				                                <label>Phone</label>
				                                <input type="text" id="phone_contact" name="phone_contact" class="booking-form-control" data-ng-model="contactDetail.phoneNumber" placeholder="Enter Phone number" required>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <div class="col-md-12">
				                            <div class="form-group">
				                                <label>Message</label>
				                                <textarea rows="5" id="message_contact" name="message_contact" class="booking-form-control" ng-model="contactDetail.message" placeholder="Write your message" style="height:200px;" required></textarea>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <div class="col-md-6">
				                            <label>Human verification</label>
				                            <div class="captcha" vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
				                        </div>
				                    </div>
				                    <button class="btn_1" ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid)}">Submit</button>
				                </form>
				            </div>
				        </div>
				        <!-- End col-md-8 -->

				        <div class="col-md-4 col-sm-4">
				            <div class="box_style_1">
				                <span class="tape"></span>
				                <h4>Address <span><i class="icon-address pull-right"></i></span></h4>
				                <p>
				                    Traveler.mv
									Shop No 1/29 4th FLR, Chandhanee Magu
									Male’
									Maldives
				                </p>
				                <hr>
				                <h4>Email <span><i class="icon-email pull-right"></i></span></h4>
				                <p>
				                    sales@traveler.mv
				                </p>
				                <hr>
				                <h4>Phone Number <span><i class="icon-phone pull-right"></i></span></h4>
				                <p>
				                    +960 301-1720
				                </p>
				            </div>
				        </div>
				        <!-- End col-md-4 -->

				    </div>
				    <!-- End row -->
				</div>
				<!-- End container -->
			</div>

		    <div class="row">
				<div class="wpb_column column_container col-md-12 vc_custom_1416538029306">
					<div class="wpb_wrapper">
						<div class="map_wrap">
							<div data-type="2" data-lat="4.178164" data-lng="73.509944" data-zoom="16" style="height: 480px; position: relative; overflow: hidden;" data-lightness="0" data-saturation="0" data-gama="0.5" class="st_google_map" data-address="Traveler.mv" data-marker=""><div style="height: 100%; width: 100%; position: absolute; background-color: rgb(229, 227, 223);">
								<div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;">
									<div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;">
										<div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 139, -115);">
											<div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;">
											</div>
											<div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;">
											</div>
											<div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;">
											</div>
											<div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;">
												<div style="position: absolute; left: 0px; top: 0px; z-index: -1;">
													<div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;">
														<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 186px; top: 386px;">
														</div>
														<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 442px; top: 386px;">
														</div>
														<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 442px; top: 130px;">
															<canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;">
															</canvas>
														</div>
														<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 186px; top: 130px;">
														</div>
														<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -70px; top: 386px;">
														</div>
														<div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 698px; top: 386px;">
														</div>
														 <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 698px; top: 130px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -70px; top: 130px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 954px; top: 386px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -326px; top: 386px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 954px; top: 130px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -326px; top: 130px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 442px; top: -126px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 186px; top: -126px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 698px; top: -126px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -70px; top: -126px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 954px; top: -126px;"> </div> <div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -326px; top: -126px;"> </div> </div> </div> </div> <div style="position: absolute; left: 0px; top: 0px; z-index: 0;"> <div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"> <div style="position: absolute; left: 442px; top: 130px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738401!3i512107!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=73639" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 442px; top: 386px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738401!3i512108!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=103762" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 186px; top: 386px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738400!3i512108!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=7291" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 186px; top: 130px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738400!3i512107!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=108239" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: -70px; top: 386px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738399!3i512108!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=97122" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 698px; top: 386px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738402!3i512108!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=69162" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 698px; top: 130px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738402!3i512107!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=39039" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: -70px; top: 130px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738399!3i512107!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=66999" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: -326px; top: 386px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738398!3i512108!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=651" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 954px; top: 386px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738403!3i512108!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=34562" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 954px; top: 130px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738403!3i512107!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=4439" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: -326px; top: 130px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738398!3i512107!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=101599" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 186px; top: -126px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738400!3i512106!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=78116" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 442px; top: -126px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738401!3i512106!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=43516" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 698px; top: -126px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738402!3i512106!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=8916" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: -70px; top: -126px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738399!3i512106!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=36876" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: 954px; top: -126px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738403!3i512106!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=105387" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div style="position: absolute; left: -326px; top: -126px; transition: opacity 200ms ease-out;"><img src="https://www.google.com/maps/vt?pb=!1m5!1m4!1i20!2i738398!3i512106!4i256!2m3!1e0!2sm!3i369047127!2m12!1e2!2spsm!4m2!1sgid!2snoNep8orMyKA7rXT0bMyIw!4m2!1ssp!2s1!5i1!8m2!13m1!14b1!3m14!2sen!3sUS!5e18!12m4!1e52!2m2!1sentity_class!2s0!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=71476" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> </div> </div> </div> <div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"> </div> <div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; height: 100%;"><iframe src="https://www.google.com/maps/api/js/widget?pb=!1m2!1u27!2s4!2sen#WzAsMTQwXQ.." frameborder="0" allowtransparency="true" scrolling="no" style="border: 0px; overflow: hidden; height: 100%; width: 100%;"></iframe> </div> <div style="position: absolute; left: 0px; top: 0px; z-index: 4; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 139, -115);"> <div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"> </div> <div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"> </div> <div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"> </div> <div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"> <div style="cursor: default; position: absolute; width: 234px; height: 129px; left: 349px; top: 265px; z-index: 265; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px;"> <div style="width: 0px; height: 0px; border-right: 10px solid transparent; border-left: 10px solid transparent; border-top: 24px solid rgba(0, 0, 0, 0.0980392); position: absolute; left: 107px; top: 129px;"> </div> <div style="position: absolute; left: 0px; top: 0px; background-color: rgba(0, 0, 0, 0.2); border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; width: 234px; height: 129px;"> </div> <div style="border-top-width: 24px; position: absolute; left: 107px; top: 126px;"> <div style="position: absolute; overflow: hidden; left: -6px; top: -1px; width: 16px; height: 30px;"> <div style="position: absolute; left: 6px; background-color: rgb(255, 255, 255); transform: skewX(22.6deg); transform-origin: 0px 0px 0px; height: 24px; width: 10px; box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;"> </div> </div> <div style="position: absolute; overflow: hidden; top: -1px; left: 10px; width: 16px; height: 30px;"> <div style="position: absolute; left: 0px; background-color: rgb(255, 255, 255); transform: skewX(-22.6deg); transform-origin: 10px 0px 0px; height: 24px; width: 10px; box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;"> </div> </div> </div> <div style="position: absolute; left: 1px; top: 1px; border-radius: 2px; background-color: rgb(255, 255, 255); width: 232px; height: 127px;"> </div> </div> <div class="gm-style-iw" style="top: 9px; position: absolute; left: 15px; width: 204px; overflow: hidden;"> <div style="display: inline-block; overflow: auto; max-height: 276px; max-width: 654px;"> </div><iframe src="https://www.google.com/maps/api/js/widget?pb=!1m2!1u27!2s4!2sen#WzIsMTQwXQ.." frameborder="0" allowtransparency="true" scrolling="no" style="border: 0px; overflow: hidden; width: 181px; height: 104px;"></iframe> </div> <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 15px; top: 13px; z-index: 10000; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> </div> </div> </div> </div> <div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=4.178005,73.509958&amp;z=20&amp;t=m&amp;hl=en&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"> <div style="width: 66px; height: 26px; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/google_white5.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"> </div></a> </div> <div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 501px; top: 150px;"> <div style="padding: 0px 0px 10px; font-size: 16px;">Map Data </div> <div style="font-size: 13px;">Map data ©2016 Google </div> <div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> </div> <div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 71px; bottom: 0px; width: 121px;"> <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"> <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"> <div style="width: 1px;"> </div> <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"> </div> </div> <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2016 Google</span> </div> </div> </div> <div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"> <div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2016 Google </div> </div> <div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"> <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"> <div style="width: 1px;"> </div> <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"> </div> </div> <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a> </div> </div> <div style="cursor: pointer; width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"> </div> <div style="z-index: 1000000; position: absolute; width: 37px; margin: 10px; top: 0px; right: -4px; height: 37px;" controlwidth="33" controlheight="33"><iframe src="https://www.google.com/maps/api/js/widget?pb=!1m2!1u27!2s4!2sen#WzEsMTQwXQ.." frameborder="0" allowtransparency="true" scrolling="no" style="border: 0px; overflow: hidden; position: absolute; right: 0px; visibility: visible; width: 37px; height: 37px;"></iframe> </div> <div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;"> <div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"> <div style="width: 1px;"> </div> <div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"> </div> </div> <div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@4.1780048,73.5099581,20z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a> </div> </div> <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; user-select: none; position: absolute; bottom: 107px; right: 28px;"> <div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;"> <div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"> <div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"> <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"> </div> </div> <div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"> </div> <div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"> <div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"> </div> </div> </div> </div> <div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px;"> <div style="position: absolute; left: 1px; top: 1px;"> </div> <div style="position: absolute; left: 1px; top: 1px;"> <div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> </div> </div> <div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"> <div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; background-color: rgb(255, 255, 255); display: none;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> <div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"> </div> </div> </div> <div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;"> <div class="gm-style-mtc" style="float: left;"> <div draggable="false" title="Show street map" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 22px; font-weight: 500;">Map </div> <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 38px; text-align: left; display: none;"> <div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"> <div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"> </div></span><label style="vertical-align: middle; cursor: pointer;">Terrain</label> </div> </div> </div> <div class="gm-style-mtc" style="float: left;"> <div draggable="false" title="Show satellite imagery" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-left: 0px; min-width: 40px;">Satellite </div> <div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 38px; text-align: left; display: none;"> <div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"> <div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"> </div></span><label style="vertical-align: middle; cursor: pointer;">Labels</label> </div> </div> </div> </div> </div> </div> </div> </div> </div>
	 		</div> 
 		</div>

	 </div> 
 </div>