<div class="container-fluid">
  <div class="row">
    <div class="img-resp">
      <img src="views/staydilly/modules/core/client/img/header-thailand-staydilly-sunset-b.jpg" alt="Frequently Asked Questions on Staydilly.com where you find exceptional hotels at unbeatable prices">
      <div class="text-data">
        <h2>FREQUENTLY ASKED QUESTIONS</h2>
        <span>Find answers to the questions we get asked the most on Staydilly</span>
      </div>
    </div>
  </div>
</div>
<div id="position">
  <div class="container">
    <ul>
      <li><a href="#">Home</a></li>
      <li>Faq</li>
    </ul>
  </div>
</div>

<div class="container margin_60">

  <div class="row">
    <aside class="col-lg-3 col-md-3">
      <div class="box_style_cat">
        <ul id="cat_nav">
          <li><a href="#general-enquiries"><i class="icon_set_1_icon-95"></i>General Enquiries</a></li>
          <li><a href="#rates-pricing"><i class="icon_set_1_icon-95"></i>Rates and Pricing</a></li>
          <li><a href="#reservations-bookings"><i class="icon_set_1_icon-95"></i>Making Reservations / Bookings</a></li>
          <li><a href="#hotel-questions"><i class="icon_set_1_icon-95"></i>General Hotel Questions</a></li>
          <li><a href="#special-requests"><i class="icon_set_1_icon-95"></i>Special Requests</a></li>
          <li><a href="#booking-changes"><i class="icon_set_1_icon-95"></i>Booking Changes</a></li>
          <li><a href="#payment-billings"><i class="icon_set_1_icon-95"></i>Payments and Billings</a></li>
        </ul>
      </div>

      <div class="box_style_2">
        <i class="icon_set_1_icon-57"></i>
        <h4>Need <span>Help?</span></h4>
        <a href="" class="phone">+603 2106 8888</a>
        <small>Monday to Friday 9.00am - 6.00pm</small>
      </div>
    </aside>
    <!--End aside -->
    <div class="col-lg-9 col-md-9">


      <!--General Enquiries -->
      <div id="general-enquiries">
        <h2>General Enquiries</h2>
        <div class="panel-group" id="accordion" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-general" aria-expanded="True" aria-controls="collapseOne-general">How does Staydilly work?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseOne-general" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Hotels, even the best and most well-known brands, are rarely fully occupied. On this premise, Staydilly's mission is to enhance the occupancy of partner hotels and fill rooms that otherwise would be left vacant. Staydilly,
                  in collaboration with partner hotels, obtains these rooms as specially discounted prices and through its own online marketing channel markets and facilitates the sale of such rooms at a very competitive price to benefit
                  Staydilly's customers. </p>
                <p>Because the price offered is very much lower than those found elsewhere, and in order not to disrupt the partner hotel's pricing strategy, Staydilly does not display the name of the host hotel until after the booking has
                  been completed. However, to assist you in making your hotel selection, Staydilly provides the photos of the actual hotel and the hotel room, general location and description of the host hotel and the facilities available
                  at the host hotel. Once the booking has been completed, the name of the host hotel will be revealed. To ensure that you do not compromise on quality, Staydilly only works with premium hotels category (3 to 5 Stars)
                  of exceptional quality and have received positive reviews from previous guests at that hotel.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-general" aria-expanded="True" aria-controls="collapseTwo-general">What are the different hotel categories / type?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo-general" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Staydilly only partners with hotels which are of exceptional quality and have received positive reviews from previous guest. We have categorised our hotels based on how travellers choose their hotels against the facilities
                  provided by the hotels.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-general" aria-expanded="True" aria-controls="collapseThree-general">Why can't I see the name of the hotel or the address until after I book?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree-general" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Staydilly hotels are priced lower than any other travel site, guaranteed. We work with hotels to sell their unsold rooms, and as such, our hotel partner's anonymity is important in order to enable them to sell their rooms
                  at higher prices on other distribution channels. For Staydilly to provide these exceptionally low prices we are unable to provide the name of the host hotels until after the booking has been confirmed. Once you've booked
                  your room, we will send you a booking confirmation which will show you the hotel's complete details, including its name and exact location.</p>
                <p>To help you book the hotel that's right for you, actual hotel photos, the hotel's Star Rating, and its customer ratings are clearly stated.. You'll also be able to see the general area where each hotel is located, along
                  with an area map, allowing you to review the hotel's location.</p>
                <p>When you book one of our great Hotels, you guarantee that you will use the reservation as originally booked; refunds, exchanges, transfers, or changes cannot be made. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End General Enquiries -->

      <!--Rates Pricing-->
      <div id="rates-pricing">
        <h2>Rates and Pricing</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-pricing" aria-expanded="true">Does Staydilly guarantee the lowest hotel rates?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseOne-pricing" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Yes, Staydilly operates a lowest price guarantee. Should you be able to obtain a lower price from the hotel you have booked on Staydilly, we will refund you the difference.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-pricing" aria-expanded="true">Are there any hidden charges, like taxes and fees in your rates?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo-pricing" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Because our hotels are located in different countries and locations where taxes and fees as well as choice of payment method may differ, we only charge you the taxes and fees which are relevant to you and your choice of
                  location and payment method.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-pricing" aria-expanded="true">How do I submit a low price guarantee refund request?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree-pricing" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>To qualify for the low price guarantee, we would require documented eveidence of lower price for the same room category, on the same date in the same hotel from you on other online hotel booking sites. Please contact our
                  customer service representative to submit your low price guarantee refund request.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Rates Pricing-->

      <!--Reservations Bookings-->
      <div id="reservations-bookings">
        <h2>Reservations and Bookings</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-booking" aria-expanded="true">How many rooms can I book in one transaction?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseOne-booking" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>The maximum number of rooms you can book per transactions is five (5) rooms. Should you and your party require more than five rooms, please contact our customer service representative as reservations over five rooms would
                  be considered a group booking and may be eligible for additional discounts.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-booking" aria-expanded="true">Are the room rates per person or per room?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo-booking" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>All our room rates are quoted on a per room basis and can accommodate up to two adults unless otherwise stated. Should there be more than two adults or additional children in your party, extra beds requested can be made
                  and provided by the host hotel depending on availability and the hotel's ability to accommodate an extra bed in the room. Please Note: Additional charges may be imposed by the host hotel for extra beds or additional
                  occupant(s) in the room, which will be paid directly to the hotel.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-booking" aria-expanded="true">Can Staydilly recommend the best hotel for my chosen date?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree-booking" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>At Staydilly, we carefully select only the best 3-star hotels and above. Additionally, we only list hotels which have good reviews from previous guest at that hotel. We are unable to make specific recommendation or reveal
                  the host hotel's name prior to the reservation being completed.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-booking" aria-expanded="true">Can I book and stay on the same day?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFour-booking" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>No. In order for Staydilly to provide you with the best possible prices, we are only able to make reservations 2 days prior to stay.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive-booking" aria-expanded="true">Can I make a reservation directly through the hotel?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFive-booking" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>In certain instances, you may be able to identify the host hotel listed on Staydilly based on the photograph or general description of the hotel. However, the prices listed on Staydilly are provided exclusively to Staydilly,
                  as such, should you wish to make a reservation directly with the hotel, we are unable to guarantee that you would be able to obtain the same price as those listed on our website.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix-booking" aria-expanded="true">Do you offer special discounts for senior citizens?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseSix-booking" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>At this time, we do not provide special discounts to senior citizens.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven-booking" aria-expanded="true">Do you offer special discounts to airline employees, hotel member cards or Government officials?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseSeven-booking" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Please check with the respective organisation on special discounts at Staydilly. Staydilly does partner with closed groups and corporations and may offer additional benefits to these groups.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--End Reservations Bookings-->

      <!--Hotel Questions-->
      <div id="hotel-questions">
        <h2>General Hotel Questions</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-hotel" aria-expanded="true">Can the hotel store my luggage before check in or after check out?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseOne-hotel" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Yes, please request this at the front-desk of your hotel. They will be more than happy to store your luggage for you. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-hotel" aria-expanded="true">What is the check in and check out time of the hotel?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo-hotel" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>You may check in as of 3:00pm, check out time is before 12noon. If you would like to enjoy a final day at your destination, you are welcome to store your bags with the left luggage service until you are ready to depart.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-hotel" aria-expanded="true">Where can I find the hotel contact number and address?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree-hotel" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>You will find the hotel contact number and address on your booking confirmation email.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Hotel Questions-->

      <!--Special Requests-->
      <div id="special-requests">
        <h2>Special Requests</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-request" aria-expanded="true">How do I make a special request?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseOne-request" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Please provide any special request when you make your reservation. Any special request is subject to hotel availability and ability to meet these special request and is not guaranteed. Additional charges may be incurred
                  by the hotel for special request and these payment will be made directly to the hotel at check-in.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-request" aria-expanded="true">Do I have to pay for special requests?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo-request" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p> Some special requests may incur additional charges imposed by the host hotel. In circumstances where additional charges are incurred, these payment will be made directly to the hotel at check-in.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-request" aria-expanded="true">How will I know if a special request is confirmed?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree-request" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Special request are forwarded to the host hotels and dependent on the availability and ability of the host hotel to meet these request. Please contact the host hotels directly to confirm any special requests. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Special Requests-->

      <!--Booking Changes-->
      <div id="booking-changes">
        <h2>Booking Changes and Ammendments</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-changes" aria-expanded="true">Can I change / amend my booking dates?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseOne-changes" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>No. In order for Staydilly to provide these unbeatable prices, all confirmed reservations are non-refundable, not transferable and not changeable. For more information on our cancellation policy, please read the terms and
                  conditions prior to making a reservation.</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-changes" aria-expanded="true">How do I shorten my stay?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo-changes" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>You may choose to check out earlier. However, Staydilly has a no refund, no transfer and no change policy. Hence you will be charged for the full length of your reservation.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-changes" aria-expanded="true">Can I add more rooms to my reservation?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree-changes" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>You may add additional rooms to your reservations subject to room availability. However, the price of the additional room may vary from that of your original reservation.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-changes" aria-expanded="true">I will not be able to go anymore. Can I give my booking to someone else to stay?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFour-changes" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p> Bookings made on Staydilly are not transferable. The person whose details are being used to secure the reservation must be present during check-in at the hotel.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Booking Changes-->

      <!--Payment Billings-->
      <div id="payment-billings">
        <h2>Payments and Billings</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-billing" aria-expanded="true">How can I have the receipt under my company name and address?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseOne-billing" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Please submit a request to reservations@staydilly.com should you require a receipt under your company's name and address.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-billing" aria-expanded="true">Does the hotel need a deposit or a payment in advance?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseTwo-billing" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>The host hotel will require a deposit or a credit card details for any incidentals which may be incurred during your stay at the host hotel. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-billing" aria-expanded="true">I have already made my booking. Can I change the currency used?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseThree-billing" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Your credit card will be charged at the time the reservation is made, we are unable to change the currency used after the credit card has been charged. Charges will be made in the local currency where the host hotel is
                  located.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-billing" aria-expanded="true">What do I do if my credit card statement shows a slightly different charge than what is shown on my receipt?<i class="indicator icon-plus pull-right"></i></a>
              </h4>
            </div>
            <div id="collapseFour-billing" class="panel-collapse collapse" aria-expanded="true">
              <div class="panel-body">
                <p>Any discrepancy may be due to foreign exchange or other charges imposed by your credit card issuing bank. This is outside the control of Staydilly. You should contact your credit card issuing bank for clarification on any
                  additional charges or foreign exchange rate used.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Payment Billing-->
    </div>
  </div>
  <!-- End row -->
</div>
<!-- End container -->
