<hr>
        <div class="container" ng-controller="footerController">

            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href="#">Press &amp; Media</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Travel Forum</a></li>
                        <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>Destinations</h3>
                    <ul>
                        <li><a href="#">Maalhos Island</a></li>
                        <li><a href="#">Rasdhoo Island</a></li>
                        <li><a href="#">Ukulhas Island</a></li>
                        <li><a href="#">Thulusdhoo Island</a></li>
                        <li><a href="#">Dhigurah Island</a></li>
                        <li><a href="#">Bodufolhudhoo Islabd</a></li>
                        <li><a href="#">Maafushi Island</a></li>
                        <li><a href="#">Keyodhoo Island</a></li>
                        <li><a href="#">More...</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>Activities</h3>
                    <ul>
                        <li><a href="#">Paragliding</a></li>
                        <li><a href="#">Trekking</a></li>
                        <li><a href="#">Cycling</a></li>
                        <li><a href="#">Skiing</a></li>
                        <li><a href="#">Angling</a></li>
                        <li><a href="#">Birding</a></li>
                        <li><a href="#">Yoga</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">More...</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>Packages</h3>
                    <ul>
                        <li><a href="#">Wildlife Getaway</a></li>
                        <li><a href="#">Snow Holiday</a></li>
                        <li><a href="#">Pilgrimage Package</a></li>
                        <li><a href="#">Birding in Rajaji</a></li>
                        <li><a href="#">Cycling in Sattal</a></li>
                        <li><a href="#">Love By The Lake</a></li>
                        <li><a href="#">The Ramgarh Romance</a></li>
                        <li><a href="#">More..</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>Comment</h3>
                    <ul>
                        <li><a href="#">Sattal</a></li>
                        <li><a href="#">Ramgarh</a></li>
                        <li><a href="#">Rajaji Park</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>Follow Us</h3>
                    <a href="https://www.facebook.com/travelermv/"><img src="views/traveler.mv/modules/core/client/img/social/fb.png" alt="" width="40"></a>&nbsp;
                    <a href="#"><img src="views/traveler.mv/modules/core/client/img/social/insta.png" alt="" width="40"></a>
                </div>
                <div class="col-md-3 col-sm-3 payment">
                    <h3>Payment Modes</h3>
                    <img src="views/traveler.mv/modules/core/client/img/payment/master.png" alt="">&nbsp;<img src="views/traveler.mv/modules/core/client/img/payment/visa.png" alt="">&nbsp;<img src="views/traveler.mv/modules/core/client/img/payment/amex.png" alt="">
                </div>
            </div>
            <!-- End row -->

            <div class="row">
                <div class="col-md-12">
                    <div id="powered">
                        <p>Powered by <a href="http://www.axisrooms.com" target="_blank">AxisRooms</a></p>
                    </div>
                </div>
            </div>
            <!-- End row -->

            <div class="mt10"></div>
        </div>
        <!-- End container -->
