<div ng-controller="HeaderController as $ctrl">
        <div class="container">
            <div class="row">
              <!--visable only on large views -->
                <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
                    <div id="logo_home">
                        <h1><a href="/" title="Traveler.mv">Traveler.mv</a></h1>
                    </div>
                </div>
                <nav class="col-md-8 col-sm-8 col-xs-8 hidden-xs hidden-sm">
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="img/logo_sticky.png" width="160" height="34" alt="Traveler.mv" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href ui-sref="destinations" class="show-submenu">Destinations</a>
                            </li>
                            <li class="submenu">
                                <a href ui-sref="hotels({checkin: checkin, checkout: checkout})" class="show-submenu">Hotels</a>
                            </li>
                            <li class="submenu">
                                <a href ui-sref="packags({checkin: checkin, checkout: checkout})" class="show-submenu">Packages</a>
                            </li>
                            <li class="submenu">
                                <a href ui-sref="experiences" class="show-submenu">Experiences</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End main-menu -->
                    <ul id="top_tools">
                        <li>
                            <div class="dropdown dropdown-search">
                                <div ng-show="!user"><a ui-sref="authentication.signin" style="color: white">Sign in</a></div>
                                <div ng-show="user && isAdmin"><a ui-sref="cms()" style="color: white">Console</a></div>
                                <div ng-show="user && !isAdmin">
                                 <span uib-dropdown on-toggle="toggled(open)">
                                     <a href id="simple-dropdown" class="fnt18" uib-dropdown-toggle>
                                       Hi, {{user.displayName}}!<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                     </a>
                                     <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                       <li>
                                         <a href class="login_Dropdown" ui-sref="user.profile({userId:114858})"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> Profile</a>
                                       </li>
                                       <li>
                                         <a href class="login_Dropdown" ui-sref="user.manageBooking({userId:114858})"><span class="arrow"><i class="fa fa-calendar" aria-hidden="true"></i></span>Bookings</a>
                                       </li>
                                       <li>
                                         <a href class="login_Dropdown" ui-sref="user.wallet({userId:114858})"><span class="arrow"><i class="fa fa-google-wallet" aria-hidden="true"></i></span>Wallet</a>
                                       </li>
                                       <li ng-controller="AuthenticationController as vm">
                                         <a class="login_Dropdown" ng-click="vm.signout()"><span class="arrow"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Log Out</a>
                                       </li>
                                     </ul>
                                  </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown dropdown-search">
                                <span uib-dropdown on-toggle="toggled(open)">
                                    <a href id="currency-dropdown" class="fnt18" uib-dropdown-toggle ng-show="currencyFlag">
                                       {{currency}}<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    </a>
                                    <a href id="currency-dropdown" class="fnt18" uib-dropdown-toggle ng-show="!currencyFlag">
                                       Currency<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    </a>
                                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="currency-dropdown">
                                       <li>
                                         <a href class="login_Dropdown" ng-click="onCurrencyChange('USD')"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> USD</a>
                                       </li>
                                       <li>
                                         <a href class="login_Dropdown" ng-click="onCurrencyChange('INR')"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> INR</a>
                                       </li>
                                       <li>
                                         <a href class="login_Dropdown" ng-click="onCurrencyChange('EUR')"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> EUR</a>
                                       </li>
                                       <li>
                                         <a href class="login_Dropdown" ng-click="onCurrencyChange('MVR')"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> MVR</a>
                                       </li>
                                    </ul>
                                </span>
                            </div>
                            <!-- End dropdown-cart-->
                        </li>
                    </ul>
                </nav>
              <!--visable Only on mobile view-->
              <div class="col-md-4 col-sm-4 col-xs-12 pl35 visable-xs hidden-md hidden-sm hidden-lg">
                <div id="logo_home">
                  <h1><a href="/" title="Traveler.mv">Traveler.mv</a></h1>
                </div>
              </div>
              <nav class="col-md-8 col-sm-8 col-xs-12 visible-xs visible-sm">
                <div class="dropdown dropdown-search">
                                <span uib-dropdown on-toggle="toggled(open)">
                                   <a class="cmn-toggle-switch " href uib-dropdown-toggle id="simple-dropdown"><span>Menu mobile</span></a>
                                    <ul class="dropdown-menu mobileMenu" uib-dropdown-menu aria-labelledby="currency-dropdown">
                                      <li>
                                        <a href class="login_Dropdown" ui-sref="destinations">Destinations</a>
                                        <a href class="login_Dropdown" ui-sref="hotels({checkin: checkin, checkout: checkout})">Hotels</a>
                                        <a href class="login_Dropdown" ui-sref="packags({checkin: checkin, checkout: checkout})">Packages</a>
                                        <a href class="login_Dropdown" ui-sref="destinations">Experiences</a>
                                      </li>
                                    </ul>
                                </span>
                </div>
                <!-- End main-menu -->
                <ul id="top_tools">
                  <li>
                    <div class="dropdown dropdown-search">
                      <div ng-show="!user"><a ui-sref="authentication.signin" style="color: white">Sign in</a></div>
                      <div ng-show="user && isAdmin"><a ui-sref="cms()" style="color: white">Console</a></div>
                      <div ng-show="user && !isAdmin">
                                 <span uib-dropdown on-toggle="toggled(open)">
                                     <a href id="simple-dropdown" class="fnt18" uib-dropdown-toggle>
                                       Hi, {{user.displayName}}!<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                     </a>
                                     <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                       <li>
                                         <a href class="login_Dropdown" ui-sref="user.profile({userId:114858})"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> Profile</a>
                                       </li>
                                       <li>
                                         <a href class="login_Dropdown" ui-sref="user.manageBooking({userId:114858})"><span class="arrow"><i class="fa fa-calendar" aria-hidden="true"></i></span>Bookings</a>
                                       </li>
                                       <li>
                                         <a href class="login_Dropdown" ui-sref="user.wallet({userId:114858})"><span class="arrow"><i class="fa fa-google-wallet" aria-hidden="true"></i></span>Wallet</a>
                                       </li>
                                       <li ng-controller="AuthenticationController as vm">
                                         <a class="login_Dropdown" ng-click="vm.signout()"><span class="arrow"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Log Out</a>
                                       </li>
                                     </ul>
                                  </span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown dropdown-search">
                                <span uib-dropdown on-toggle="toggled(open)">
                                    <a href id="currency-dropdown" class="fnt18" uib-dropdown-toggle ng-show="currencyFlag">
                                      {{currency}}<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    </a>
                                    <a href id="currency-dropdown" class="fnt18" uib-dropdown-toggle ng-show="!currencyFlag">
                                      Currency<span class="arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                    </a>
                                    <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="currency-dropdown">
                                      <li>
                                        <a href class="login_Dropdown" ng-click="onCurrencyChange('USD')"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> USD</a>
                                      </li>
                                      <li>
                                        <a href class="login_Dropdown" ng-click="onCurrencyChange('INR')"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> INR</a>
                                      </li>
                                      <li>
                                        <a href class="login_Dropdown" ng-click="onCurrencyChange('EUR')"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> EUR</a>
                                      </li>
                                      <li>
                                        <a href class="login_Dropdown" ng-click="onCurrencyChange('MVR')"><span class="arrow"><i class="fa fa-user" aria-hidden="true"></i></span> MVR</a>
                                      </li>
                                    </ul>
                                </span>
                    </div>
                    <!-- End dropdown-cart-->
                  </li>
                </ul>
              </nav>
            </div>
        </div>

        <div class="layer"></div>
</div>
    <!-- Mobile menu overlay mask -->
        <!-- container -->
