.section-about {
    background-color: #fff;
    padding-bottom: 75px;
    padding-top: 40px;
}

.section-about .about {
    margin-top: -40px;
}

.section-about .about .about-item {
    margin-top: 40px;
}

.about-item {
    overflow: hidden;
}

.about-item.about-right .img {
    float: right;
}

.about-item.about-right .text {
    float: right;
    padding-left: 0;
    padding-right: 40px;
}

.about-item .img {
    float: left;
    width: 50%;
    position: relative;
}

.about-item .img img {
    width: 100%;
}

.about-item .img:before {
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    content: '';
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    background-color: transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#002366));
    background: -webkit-linear-gradient(top, transparent, #002366);
    background: -moz-linear-gradient(top, transparent, #002366);
    background: -ms-linear-gradient(top, transparent, #002366);
    background: -o-linear-gradient(top, transparent, #002366);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.about-item .img .owl-pagination {
    display: none;
}

.about-item .text {
    width: 50%;
    float: left;
    padding-left: 40px;
    margin-top: 60px;
}

.about-item .text h2 {
    line-height: 1.2em;
}

.about-item .text .desc {
    margin-top: 20px;
    color: #333333;
    font-size: 13px;
}

.about-item .text .desc p {
    line-height: 1.428em;
}

.about-item:hover .img:before {
    opacity: .9;
}

.section-statistics {
    padding: 75px 0;
}

.section-statistics .awe-overlay {
    background-color: rgba(72, 72, 72, 0.6);
}

.statistics_item {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}

.statistics_item:before {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: '';
    border-right: 1px solid #fff;
}

.statistics_item:first-child::before {
    content: none;
}

.statistics_item .count {
    font-size: 60px;
    font-family: 'Montserrat';
    color: #fff;
    display: block;
    line-height: 1.3em;
}

.section-team {
    background-color: #fff;
    padding: 0 0 50px 0;
}

.team_item {
    margin-top: 80px;
    position: relative;
}

.team_item:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: auto;
    width: 0;
    content: '';
    border-bottom: 1px solid #f1f1f1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.team_item .img {
    max-width: 200px;
    overflow: hidden;
    margin: auto;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.team_item .img:before {
    content: '';
    z-index: 1;
    border: 5px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}

.team_item .img img {
    width: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: transform 0.9s ease;
    -moz-transition: transform 0.9s ease;
    -ms-transition: transform 0.9s ease;
    -o-transition: transform 0.9s ease;
}

.team_item .text {
    margin-top: 30px;
}

.team_item .text h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.team_item .text span {
    color: #898989;
    font-size: 15px;
    display: block;
    margin-top: 7px;
}

.team_item .text p {
    margin-top: 20px;
    margin-bottom: 0;
    color: #30373b;
    line-height: 1.5em;
    font-size: 13px;
}

.team_item .text .team-share {
    font-size: 0;
    margin-top: 20px;
}

.team_item .text .team-share a {
    font-size: 12px;
    display: inline-block;
    border: 2px solid #898989;
    color: #898989;
    width: 24px;
    height: 24px;
    line-height: 22px;
    margin: 0 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.team_item .text .team-share a:hover {
    border-color: #F46F22;
    color: #F46F22;
}

.team_item:hover:before {
    width: 100%;
}

.team_item:hover .img:before {
    border-color: #F46F22;
}

.team_item:hover .img img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.main_title p {
    line-height: 140%;
    padding: 0px 20px;
}

.parallax-content-1 .animated h1 {
    color: #fff;
}

.hr-style {
    width: 10%;
    border: 2px solid #F46F22 !important;
}

.no-back {
    background: #fff !important;
}

.img-resp {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
	box-shadow: 0 3px 10px rgba(0,0,0,.5);
}

.img-resp img {
    min-width: 100%;
    position: relative;
    margin-top: -225px;
}

.img-resp h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
}

.img-resp span {
    font-size: 25px;
    line-height: 130%;
}

.text-data{
    position: absolute;
    top: 100px;
    text-align: center;
    color: #fff;
    width: 100%;
}

@media screen and (max-width:800px) {
  .text-data{
        top: 60px;
    }

    .img-resp h2 {
        font-size: 30px;
    }

    .img-resp span {
        font-size: 18px;
        line-height: 100%;
    }
}