@media (max-width: 768px) {
    .top-footer .set,
    .footLinksSet {
        width: 100% !important;
        text-align: center;
    }
    .top-footer h3 {
        text-align: center;
    }
	.pl0{
		padding-left: 15px !important;
	}
	.pr0{
		padding-right: 15px !important;
	}
    .deals {
        background-size: 100% 100% !important;
        height: 200px;
        margin-top: 15px;
    }
    .bg_overlay {
        height: 200px;
        color: #fff;
    }
    .bg_overlay .info {
        display: none;
        padding: 10px 0px 10px 10px;
        font-size: 16px;
        margin-top: -90px;
    }
    .bg_overlay .info .hotelname {
        font-size: 14px;
        font-weight: bold;
    }
    .bg_overlay .info .cost1 {
        font-size: 20px;
        font-weight: bold;
    }
    .dis_per {
        font-size: 25px;
    }
    .dealoffer1 {
        float: right;
        background: url(../images/orange.svg) no-repeat;
        height: 100px;
        width: 100px;
        background-size: 100% 100%;
        text-align: center;
        font-size: 29px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 25px;
    }
    .collection2 {
        height: 200px;
    }
    .collection2 .bgoverlay2 {
        display: none;
        font-family: 'Lato', sans-serif;
        font-size: 14px !important;
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        height: 200px;
        margin-top: 15px;
        padding: 80px;
        font-size: 20px;
        font-weight: lighter;
        text-transform: capitalize;
    }
    .mt60 {
        margin-top: 60px;
    }
    .join-rewards-close-btn {
        position: absolute;
        top: 19px;
        right: 1.17647059em;
        background: transparent;
        border: none;
    }
    .row-cust {
        margin-top: 0px !important;
    }
    .txt-left {
        text-align: left;
        padding: 10px 0px 0px 0px;
    }
    .room-facilities-details {
        border: none !important;
    }

    .viewTopslider {
        height: 300px;
        overflow: hidden;
        position: relative;
    }
    .carousel .item .viewTopimg {
        height: 300px !important;
        margin: auto;
    }
    .price_list {
        padding: 0px 0px 25px 0;
        margin-left: 0px;
    }
    .price_list .marg-top {
        margin-top: 11px !important;
    }
    .roomFacilities .topBorder {
        margin-top: 10px;
        border-top: 1px solid #565A5C;
    }
    .roomimgSize {
        height: 250px;
        padding: 10px 10px 10px 0px;
    }
	.pt10pe{
		padding-top: 10%;
		text-align: center;
	}
	.rating_grid{
		text-align: left;
	}
    .textLeftRes {
        padding-top: 10px;
    }
    .type-badge.list {
        position: absolute;
        margin-left: -42px !important;
    }
    #btn-hotel-select {
        margin-top: 15px;
    }
    .price_list .normal_price_list {
        margin-left: 0px;
        text-align: center;
    }
    .price_list small {
        text-align: center;
    }
    .price_list p {
        text-align: center;
    }
    .price_list .topRes {
        padding-top: 0px;
    }
    .last-rooms {
        margin-top: 9px !important;
    }
    .price_list sup {
        font-size: 18px;
        top: 0px;
    }
    .price_list {
        font-size: 28px;
    }
    .btn-hotel-select-room {
        padding: 7px 25px;
    }
    .textRescenter {
        text-align: center;
    }
    .taxing {
        margin-top: 10px;
    }
    .mt60 {
        margin-top: 12px;
    }
    .navigation .submenu a {
        color: rgb(255, 255, 255);
        padding: 10px 5px;
        font-size: 14px;
    }
	#position-room-details ul{
		padding-left: 0px;
		float: none!important;
		text-align: center;
	}
	#position-room-details ul .arrow:after{
		display: none !important;
	}
	.ficons p{
		font-size: 12px;
	}
}

@media (min-width: 769px) and (max-width: 970px) {
    /*.collection_header {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 85px 250px;
        float: none;
    }


.collection2 {
    height: 200px;
}

.collection2 .bgoverlay2 {
    display: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 200px;
    margin-top: 15px;
    padding: 80px;
    font-size: 20px;
    font-weight: lighter;
    text-transform: capitalize;
}

.row-cust {
    margin-top: 186px;
}*/

    .txt-left {
        text-align: left;
        padding: 10px 0 0 0;
    }
    .price_list .marg-top {
        margin-top: 11px !important;
    }
    .price_list {
        margin-left: 0;
    }

}

@media (min-width: 791px) and (max-width: 1180px) {
    .price_list {
        margin-left: -19px;
        font-size: 30px;
    }
}

@media (min-width: 1400px) {
    .promo-wid h1 {
        font-size: 50px;
    }
    .price_list {
        margin-left: -25px;
        font-size: 36px;
    }
	.Resloader{
		position: absolute;
		text-align: center;
		width: 100%;
		top: 28%;
	}
}
