.header-image {
    background-image: url("../images/inc/header.jpg");
    background-repeat: round;
	box-shadow: 0 3px 10px rgba(0,0,0,.5);
}
#top_line{
	padding: 10px 0px;
}
.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.menu-float {
    float: right;
}

.logo {
    margin-top: -18px;
}

.top-links-select {
    background: transparent;
    border: none;
}

.top-links-select:active {
    background: #f15623;
}

option {
    background: #f15623;
}

.top-footer {
    background-color: #ededed;
    padding: 10px 10px 50px 10px;
}

.top-footer ul {
    list-style: none;
}

.top-footer ul a {
    color: #666666;
    font-size: 12px;
}

.top-footer ul a:hover {
    color: #888;
}

.top-footer ul {
    padding-left: 0;
}

.top-footer .set,
.footLinksSet {
    width: 20% !important;
}

.footer-logo {
    margin-top: -1000px;
}

#social_footer img {
    margin-top: -25px;
}

#submit-newsletter_2 {
    color: #f25625;
    background: #FFF;
}

#submit-newsletter_2:hover {
    background: #f34812;
    color: #FFF;
}


/*Homepage - General Titles*/

.main_title-h {
    text-align: left;
    font-size: 16px;
    margin-bottom: 30px;
}

.main_title-h h2 {
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #f15e22;
    padding-left: 25px;
}

.main_title-h p {
    font-weight: 500;
    font-size: 15px;
    margin-left: 25px;
}

.main_title-h img {}


/*Homepage - General Titles ends*/


/*Homepage - Promotion widget starts*/

.promo-wid {
    position: absolute;
    margin: 0px 0 60px;
    color: #565a5c;
    text-align: left;
    background: rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 30px;
    z-index: 99;
    position: absolute;
    top: 30px;
    right: 70px;
    margin-right: 10px;
    min-height: 240px;
}

.promo-wid h1 {
    color: #F46F22;
    font-size: 30px;
    padding-bottom: 0px;
    letter-spacing: -2px;
    text-transform: none;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.promo-wid h2 {
    color: #565a5c;
    font-weight: 600;
    padding: 0;
    font-size: 40px;
    font-family: "Lato", sans-serif;
    margin-top: -10px;
}

.promo-wid h4 {
    padding: 0px;
}

.promo-wid sup {
    font-size: 30px;
}

.promo-wid span {
    font-size: 13px;
    color: #565a5c;
}

.promo-wid a {
    margin-top: 10px;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: #F46F22;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}


/*Homepage - Promotion widget ends*/


/*Homepage - Booking widget starts*/

.booking-wid {
    position: absolute;
    left: 0;
    color: #fff;
    text-align: left;
    background: rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 0px 30px 20px 30px;
    z-index: 99;
}

.booking-label {
    font-weight: 500 !important;
}

.booking-wid h1 {
    color: #fff;
    font-size: 25px;
    padding-bottom: 3px;
    padding-top: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px !important;
}

.booking-wid h2 {
    color: #fff;
    font-weight: 600;
    padding: 0px;
    font-size: 50px;
    font-family: "Lato", sans-serif;
    margin-top: -10px;
}

.booking-wid h4 {
    padding: 0px;
    color: #fff;
}

.booking-wid p {
    padding-bottom: 30px;
}

.booking-wid sup {
    font-size: 30px;
}

.booking-wid span {
    font-size: 13px;
}

.span-cls {
    color: #fff !important;
}

.booking-wid a {
    margin-top: 10px;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background: #F46F22;
    cursor: pointer;
    padding: 7px 20px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.custom-cls {
    height: 30px !important;
    border-radius: 0px !important;
}

@media screen and (max-width: 992px) {
    .booking-wid {
        width: 80%;
        margin: 5% 10%;
    }
    .promo-wid {
        position: relative;
        right: 9%;
        top: 10%;
        width: 100%;
    }
    .main-menu {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
    .booking-wid {
        left: 9%;
        top: 5%;
        width: 350px;
    }
    .promo-wid {
        right: 9%;
        top: 10%;
        width: 300px;
    }
}

@media screen and (min-width: 1366px) {
    .booking-wid {
        left: 9%;
        top: 5%;
        width: 350px;
    }
    .promo-wid {
        right: 9%;
        top: 10%;
        width: 300px;
    }

}

@media screen and (min-width: 1920px) {
    .booking-wid {
        left: 22%;
        top: 5%;
        width: 350px;
    }
    .promo-wid {
        right: 22%;
        top: 15%;
        width: 350px;
    }
}

@media screen and (min-width: 2560px) {
    .booking-wid {
        left: 29%;
        top: 15%;
        width: 350px;
    }
    .promo-wid {
        right: 29%;
        top: 15%;
        width: 350px;
    }
}


/*Homepage - Booking widget ends*/


/*Homepage - Best Price*/

.best-price-g {
    color: #666666;
}

.best-price-g h1 {
    color: #f15e22;
    margin-bottom: -10px;
    font-size: 48px;
    letter-spacing: -1.2pt;
}

.best-price-g h2 {
    color: #f15e22;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: -1.2pt;
}

.best-price-g p {
    font-size: 16px;
    line-height: 120%;
    padding: 0 40px;
    font-weight: 300;
    padding-bottom: 20px;
}

.best-price-g img {
    width: 100%;
	padding: 0 15px;
}


/*Homepage - Best Price ends*/


/*Homepage - Amazing Travel Deals*/

.thumb {
    opacity: 1;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumb .caption {
    opacity: 0;
    -moz-opacity: 0.5;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.img-responsive.styled {
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.thumb .caption h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15%;
    margin-left: 20%;
}

.thumb .caption h4 span {
    font-size: 30px;
}

.thumb .caption p {
    font-size: 30px;
    color: #fff;
    margin-left: 20%;
}

.caption-style {
    font-size: 20px;
    color: #fff;
    margin-left: 20%;
    font-weight: 400;
    line-height: 270%;
    margin-top: -30px;
    font-family: "Lato", sans-serif;
}

.caption-style span {
    font-size: 80px;
    font-weight: 500;
}

.strike {
    font-size: 50px !important;
    color: #fff;
    padding-left: 10px;
    font-weight: 100;
    font-style: italic;
    font-family: "Lato", sans-serif;
}

.caption-offer-back {
    background-image: url("../images/orange.svg");
}

.caption-offer {
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 19px;
    right: 15px;
    font-size: 25px;
    line-height: 120%;
    text-align: right;
}

.caption-offer span {
    font-style: italic;
}

a.btn_1.white,
.btn_1.white {
    color: #f15e22;
    border-radius: 0px;
    margin-left: 20%;
    margin-top: 10px;
}

a.btn_1.white:hover,
.btn_1.white:hover {
    color: #c33901;
    background: #CCC;
}


/*SMALL*/

.thumb .caption-small {
    opacity: 0;
    -moz-opacity: 0.5;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.thumb .caption-small h4 {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-top: 15%;
    margin-left: 15%;
}

.thumb .caption-small p {
    font-size: 18px;
    color: #fff;
    margin-left: 15%;
}

.thumb .caption-small h4 span {
    font-size: 50px;
}

.thumb .caption-small .caption-style {
    font-size: 20px;
    color: #fff;
    margin-left: 20%;
    font-weight: 400;
}

.caption-style-small {
    font-size: 20px;
    color: #fff;
    margin-left: 15%;
    font-weight: 400;
    line-height: 180%;
    margin-top: -5px;
    font-family: "Lato", sans-serif;
}

.caption-style-small span {
    font-size: 40px;
    font-weight: 500;
}

.strike-small {
    font-size: 30px !important;
    color: #fff;
    padding-left: 10px;
    font-weight: 100;
    font-style: italic;
    font-family: "Lato", sans-serif;
}

.caption-offer-small {
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 19px;
    right: 15px;
    font-size: 20px;
    line-height: 120%;
    text-align: right;
}

.caption-offer-small span {
    font-style: italic;
}

a.btn_1-small.white-small,
.btn_1-small.white-small {
    color: #f15e22;
    border-radius: 0px;
    margin-left: 15%;
    margin-top: 50px;
    background: #fff;
    padding: 5px 10px;
    font-weight: 400;
}

a.btn_1-small.white-small:hover,
.btn_1-small.white-small:hover {
    color: #c33901;
    background: #CCC;
}


/*SMALL ENDS*/


/*Homepage - Amazing Travel Deals Ends*/


/*Blog section*/

.blg-title img {
    border: 1px solid #f15e22;
}

.blg-title h3 {
    color: #f15e22;
    margin-bottom: 0px;
}

.blg-title p {
    font-size: 15px;
}

.blg-title .btn_full_outline {
    color: #f15e22;
    background: none;
    border: solid #f15e22;
    border-radius: 0;
}

.blg-title .btn_full_outline:hover {
    border: solid #c33901;
    color: #c33901;
}


/*Blog section ends*/

.row-cust {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.img-grid {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-grid.styled {
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.sticky #logo {
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Media Queries*/

@media screen and (max-width: 768px) {
    #layerslider {
        height: 550px !important;
    }
    .ls-bg.ls-preloaded {
        height: 550px !important;
        margin-top: 0px !important;
    }
    .ls-gpuhack {
        height: 550px !important;
    }
    /*
    .booking-wid {
        width: 370px !important;
        margin-top: -1140px !important
    } */
    #logo {
        width: 210px;
        /* margin-top: 45px; */
    }
    .sticky #logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /*
    #full-slider-wrapper {
        margin-top: 60px;
    } */
    .carousel .item img {
        height: 500px !important;

    }
    #menu-float {
        float: none !important;
    }
    .top-footer h3 {
        margin-left: 50px;
    }
    .best-price-g img {
        width: 100%;
        text-align: center;
    }
    .main_title-h h2 {
        text-align: center;
        padding-left: 0px;
    }
    .main_title-h p {
        text-align: center;
        margin-left: 0px;
    }
    .thumb {
        opacity: 1;
        overflow: hidden;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .thumb .caption {
        opacity: 0;
        -moz-opacity: 0.5;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        -webkit-transition: opacity 0.2s ease-in-out;
        -moz-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }
    .thumb .caption h4 {
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        margin-top: 10%;
        margin-left: 15%;
    }
    .thumb .caption h4 span {
        font-size: 30px;
    }
    .thumb .caption p {
        font-size: 18px;
        color: #fff;
        margin-left: 15%;
    }
    .caption-style {
        font-size: 20px;
        color: #fff;
        margin-left: 15%;
        font-weight: 400;
        line-height: 180%;
        margin-top: -5px;
        font-family: "Lato", sans-serif;
    }
    .caption-style span {
        font-size: 40px;
        font-weight: 500;
    }
    .strike {
        font-size: 30px !important;
        color: #fff;
        padding-left: 10px;
        font-weight: 100;
        font-style: italic;
        font-family: "Lato", sans-serif;
    }
    .caption-offer-back {
        background-image: url("../images/orange.svg");
    }
    .caption-offer {
        color: #fff;
        font-weight: 700;
        position: absolute;
        top: 19px;
        right: 15px;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
    }
    .caption-offer span {
        font-style: italic;
    }
    a.btn_1.white,
    .btn_1.white {
        color: #f15e22;
        border-radius: 0px;
        margin-left: 15%;
        background: #fff;
        padding: 5px 10px;
        font-weight: 400;
        margin-top: -10px;
    }
    a.btn_1.white:hover,
    .btn_1.white:hover {
        color: #c33901;
        background: #CCC;
    }
    .thumb .caption-small h4 {
        color: #fff;
        font-size: 13px;
        font-weight: 300;
        margin-top: 10%;
        margin-left: 15%;
    }
    .promo-wid {
        margin: 0px 0 60px;
        color: #565a5c;
        text-align: left;
        background: rgba(255, 255, 255, 0.7);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        padding: 30px;
        z-index: 99;
        position: inherit;
        bottom: 0;
        right: 0;
        margin-right: 0;
    }
    /* .booking-wid {
        margin: 0px 0 60px;
        color: #fff;
        text-align: left;
        background: rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        padding: 10px 30px 20px 30px;
        z-index: 99;
        position: inherit;
        bottom: 0;
        right: 0;
        margin-right: 0px;
        width: 305px;
    } */
}

.book-icons {
    position: absolute;
    line-height: 34px;
    margin-top: 23px;
    right: 33px;
    font-size: 22px;
    color: #f26722;
    pointer-events: painted;
}

.daterangepicker.dropdown-menu {
    margin-left: 205px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #f26722 !important;
}

.input-group button:hover {
    background-color: #f25625;
    color: #fff;
    border-color: #f25625;
}

#full-slider-wrapper .carousel-control.left {
    visibility: hidden;
}

#full-slider-wrapper .carousel-control.right {
    visibility: hidden;
}

.homepageslider .carousel .item img {
    height: 640px;
}

.thumb .caption-small:hover {
    opacity: 1;
}

.thumb .caption:hover {
    opacity: 1;
}

.deals {
    background-size: 100% 100% !important;
    height: 415px;
    margin-top: 15px;
}

.bg_overlay {
    height: 415px;
    color: #fff;
}

.bg_overlay .info {
    display: none;
    padding: 10px 0px 20px 120px;
    font-size: 20px;
    margin-top: -70px;
}

.bg_overlay .info .hotelname {
    font-size: 25px;
    font-weight: bold;
}

.bg_overlay .info .cost1 {
    font-size: 50px;
    font-weight: bold;
}

.bg_overlay .info .cost2 {
    font-size: 30px;
    font-weight: bold;
}

.bg_overlay button {
    background: #fff;
    padding: 7px 10px;
    border: none;
    color: #f47621;
    font-weight: bold;
    cursor: pointer;
}

.dealoffer1 {
    float: right;
    background: url(../images/orange.svg) no-repeat;
    height: 130px;
    width: 130px;
    background-size: 100% 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 30px;
}

.fn25 {
    font-size: 19px;
}

.deals:hover .bg_overlay .info {
    display: block;
}

.deals:hover .bg_overlay {
    background: rgba(134, 131, 131, 0.49);
}


/*small deals*/

.deals2 {
    background-size: 100% 100% !important;
    height: 200px;
    margin-top: 15px;
}

.bg_overlay2 {
    height: 200px;
    color: #fff;
}

bg_overlay2 p {
    margin: 5px 0px;
}

.bg_overlay2 .info {
    display: none;
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    margin-top: -90px;
}

.bg_overlay2 .info .hotelname {
    font-size: 14px;
    font-weight: bold;
}

.bg_overlay2 .info .cost1 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.bg_overlay2 .info .cost2 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.bg_overlay2 button {
    background: #fff;
    padding: 5px 5px;
    border: none;
    color: #f47621;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.dealoffer2 {
    float: right;
    background: url(../images/orange.svg) no-repeat;
    height: 100px;
    width: 100px;
    background-size: 100% 100%;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 25px;
}

.deals2:hover .bg_overlay2 .info {
    display: block;
}

.deals2:hover .bg_overlay2 {
    background: rgba(134, 131, 131, 0.49);
}

.collection {
    background-size: 100% 100%;
    height: 200px;
    margin-top: 15px;
}

.collection .bgoverlay {
    display: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 200px;
    margin-top: 15px;
    padding: 80px;
    font-size: 20px;
    font-weight: lighter;
    text-transform: capitalize;
}

.visiblity {
    visibility: hidden;
}


/*.bgoverlay .head {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff5d4;
}*/

.collection:hover .bgoverlay {
    display: block;
}

.collection:hover .collection_header {
    display: none;
}

.collection2 {
    background-size: 100% 100%;
    height: 415px;
    margin-top: 15px;
}

.collection2 .bgoverlay2 {
    display: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px !important;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 415px;
    margin-top: 15px;
    padding: 200px 200px;
    font-size: 40px;
    font-weight: lighter;
    text-transform: capitalize;
    line-height: 1;
}

.locplacehold::before {
    content: "<i class='icon-location book-icons' style='z-index:99999;'></i>";
}

.mt100 {
    margin-top: 100px;
}

.collection2:hover .bgoverlay2 {
    display: block;
}

.collection2:hover .collection_header {
    display: none;
}

.imageSection {
    height: auto !important;
    overflow: hidden;
    width: 100% !important;
}

@media screen and (max-width: 1366px) {
    /* .booking-wid {
        top: 4em;
    } */
    .carousel .item img {
        height: 450px !important;
    }
}

@media screen and (min-width: 1366px) {
	/* .booking-wid {
        top: 4em;
    } */
	.carousel .item img {
		height: 450px !important;
	}
}

@media screen and (min-width: 1920px) {
    /* .booking-wid {
        top: 15em;
    } */
}

@media screen and (min-width: 2560px) {
    /* .booking-wid {
        top: 20em;
    } */
}

@media (min-width: 400px) and (max-width: 768px) {
	.headerSlid .carousel .item img {
		width: 768px !important;
	}

}
@media (min-width: 769px) and (max-width: 1280px) {
	.headerSlid{
		width: 1280px !important;
	}
	.dpwidth {
		width: 250px !important;
	}

}
@media (min-width: 1281px) and (max-width: 1440px) {
	.headerSlid{
		width: 1400px !important;
	}

}
@media screen and (min-width: 1441px)and (max-width: 1900px){
	.headerSlid{
		width: 1900px !important;
	}
}
@media screen and (min-width: 1901px){
	.headerSlid{
		width: 100% !important;
	}
}

@media screen and (min-width: 300px)and (max-width: 410px) {
	.dpwidth table {
		width: 200px;
	}
	.dropdown-cart .dpwidth:before, .dropdown-access .dropdown-menu:before, .dropdown-search .dropdown-menu:before {
		bottom: 101% !important;
		border-bottom-color: transparent;
	}
	.curreEncy .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 18px !important;
		top: 10px;
	}
	.mobileMenu .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 48px !important;
		top: 10px;
	}
	.dpwidth {
		width: 250px !important;
	}

}
@media screen and (min-width: 411px)and (max-width: 500px) {
	.dpwidth table {
		width: 200px;
	}
	.dropdown-cart .dpwidth:before, .dropdown-access .dropdown-menu:before, .dropdown-search .dropdown-menu:before {
		bottom: 101% !important;
		border-bottom-color: transparent;
	}
	.curreEncy .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 82px !important;
		top: 10px;
	}
	.mobileMenu .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 112px !important;
		top: 10px;
	}
	.dpwidth {
		width: 250px !important;
	}

}
@media screen and (min-width: 501px)and (max-width: 600px) {
	.dpwidth table {
		width: 200px;
	}
	.dropdown-cart .dpwidth:before, .dropdown-access .dropdown-menu:before, .dropdown-search .dropdown-menu:before {
		bottom: 101% !important;
		border-bottom-color: transparent;
	}
	.curreEncy .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 180px !important;
		top: 10px;
	}
	.mobileMenu .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 210px !important;
		top: 10px;
	}
	.dpwidth {
		width: 250px !important;
	}

}
@media screen and (min-width: 601px)and (max-width: 700px) {
	.dpwidth table {
		width: 200px;
	}
	.dropdown-cart .dpwidth:before, .dropdown-access .dropdown-menu:before, .dropdown-search .dropdown-menu:before {
		bottom: 101% !important;
		border-bottom-color: transparent;
	}
	.curreEncy .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 230px !important;
		top: 10px;
	}
	.mobileMenu .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 260px !important;
		top: 10px;
	}
	.dpwidth {
		width: 250px !important;
	}

}
@media screen and (min-width: 701px)and (max-width: 767px) {
	.dpwidth table {
		width: 200px;
	}
	.dropdown-cart .dpwidth:before, .dropdown-access .dropdown-menu:before, .dropdown-search .dropdown-menu:before {
		bottom: 101% !important;
		border-bottom-color: transparent;
	}
	.curreEncy .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 313px !important;
		top: 10px;
	}
	.mobileMenu .dropdown-cart .dropdown-menu, .dropdown-access .dropdown-menu, .dropdown-search .dropdown-menu{
		position: absolute;
		left: 343px !important;
		top: 10px;
	}
	.dpwidth {
		width: 250px !important;
	}

}

.resBtn{
	color: #fff;
}
.resToggle{
	padding: 0px 15px;
	font-size: 16px;
	color: #fff;
}
.mrl24 {
    margin-left: -30px;
}

.txtShadow {
    text-shadow: 2px 2px #796161;
}

.plr40 {
    padding: 0px 40px;
}

.less {
    font-size: 24px;
}

.dis_per {
    font-size: 40px;
}

#join-rewards-banner {
    display: block;
    width: 100%;
    min-height: 2.11764706em;
    margin: 0;
    padding: 5px;
    text-align: center;
    color: white;
    z-index: 100;
    top: .58823529em;
    background-color: black;
    font-size: 12px;
}

#join-rewards-container {
    position: relative;
}

#join-rewards-banner #call-to-action-badge {
    font-weight: normal;
    vertical-align: top;
}

.badge-notification.badge-secondary {
    line-height: 1.5;
}

#join-rewards-banner img {
    margin: .11764706em .70588235em .11764706em .47058824em;
    top: -0.05882353em;
    height: 1.05882353em;
}

#join-rewards-banner .cta {
    font-weight: bold;
}

#join-rewards-banner .cta a {
    color: black;
    text-decoration: underline;
}

#join-rewards-close-btn {
    position: absolute;
    top: 0px;
    right: 1.17647059em;
    background: transparent;
    border: none;
}

#join-rewards-close-btn:active #join-rewards-banner {
    display: none;
}

.login_Dropdown {
    color: #333;
    text-align: left;
}
