.page-position ul li a {
    color: #333 !important;
}

.page-position {
    background-color: #f3f4f4 !important;
}

.page-position ul li:first-child:before {
    color: #333 !important;
}

.hotel-list-section {
    background-color: #f3f4f4;
}

.address-hotel {
    font-size: 13px;
    padding-top: 8px;
}

.marg0 {
    margin: 5px 0px;
}

.room-list-row {
    margin-left: 0px;
    margin-right: 0px;
}

.btn.large {
    padding: 5px 20px;
    font-size: 17px;
    border: 1px solid #c0c0c0;
}

.col-md-6.filter {
    text-align: right;
}

.col-md-6.page-position {
    float: left;
}

.list-path-filter {
    border-bottom: 1px solid #c0c0c0;
}

.mar0 {
    padding: 0px;
}

.parallax-overide {
    margin-top: 20px;
    padding: 0px;
}

.parallax-overide a {
    background: #F46F22;
    border-radius: 0px;
    margin-top: 20px;
    text-align: center;
}

.parallax-window {
    min-height: 250px !important;
}

.parallax-content-1 {
    height: 250px;
}

ul#top_links {
    list-style: none;
    margin: 0;
    padding: 5px;
    float: right;
}

ul.top_link_filer a {
    color: #333 !important;
}

#recommended-filter {
    color: #f25d23 !important;
}

.tools-hotellist-page {
    background: #f3f4f4 !important;
}

.carousel-control.right {
    background: none;
}

.carousel-control.left {
    background: none;
}

.hotel-name {
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

#standard {
    background: #cbe3e2;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 15px;
    vertical-align: bottom;
}

#luxe {
    background: #0098ce;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 15px;
    vertical-align: middle;
}

#modern {
    background: #5cba47;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 15px;
    vertical-align: middle;
}

#functional {
    background: #edb2d1;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 15px;
    vertical-align: middle;
}

#localflavor {
    background: #9e958c;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 15px;
    vertical-align: middle;
}

#exclusive {
    background: #f26f7a;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 15px;
    vertical-align: middle;
}

.hotel-map {
    color: #ec4a0a;
}

.no-people-viewing {
    color: #ec4a0a;
}

.trip-review {
    margin: 5px;
    line-height: 10px;
}

.avg-night {
    font-size: 15px;
    color: #8c8080;
}

.room-avg-price {
    letter-spacing: -2px;
}

.title-container {
    z-index: 555;
    color: #fff;
}

.title-container h1 {
    color: #fff;
}

.marg-top {
    margin-top: 30px !important;
}

.price_list .normal_price_list {
    margin-left: 30px;
}

.price_list sup {
    top: -6px;
}

#btn-hotel-select {
    margin-bottom: 0px;
    background: #f25625;
    padding: 10px 40px;
    font-size: 16px;
    margin-top: 30px;
    border-radius: 0px;
}

#btn-hotel-select:hover {
    background: #c93000;
    color: #fff;
}

#btn-hotel-select2 {
    margin-bottom: 0px;
    background: #f25625;
    padding: 10px 30px;
    font-size: 14px;
    margin-top: 0px;
    border-radius: 0px;
}

#btn-hotel-select2:hover {
    background: #c93000;
    color: #fff;
}

.strip_all_tour_list .wishlist {
    left: 15px;
}

.offer-image {
    position: absolute;
    top: 0;
    right: 15px;
    width: 102px;
    height: 30px;
    z-index: 2;
    font-size: 20px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.offer-image2 {
    position: absolute;
    top: 0;
    right: 0px;
    width: 102px;
    height: 30px;
    z-index: 2;
    font-size: 20px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.offer-hotels {
    position: absolute;
    top: 10px;
    right: 48px;
    width: 30px;
    height: 30px;
    z-index: 2;
    line-height: 20px;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #fff !important;
    padding: 5px 40px;
}

.offer-hotels2 {
    position: absolute;
    top: 10px;
    right: 34px;
    width: 30px;
    height: 30px;
    z-index: 2;
    line-height: 20px;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: #fff !important;
    padding: 5px 40px;
}

.text-right.page-count p {
    margin: 0px 0px 0px 0px;
}

.deal-of-the-day {
    border: 2px solid #ec4a0a;
    font-size: 12px;
    padding: 4px 14px;
}

.pagination {
    font-size: 15px;
}

.pagination>li>a,
.pagination>li>span {
    padding: 13px 26px;
}

.pagination>li>a,
.pagination>li>span {
    border: none;
}

#next-btn {
    background-color: #f25625;
    color: #fff;
    border-radius: 0px;
}

#prev-btn {
    background-color: #abaaab;
    color: #fff;
    border-radius: 0px;
}

.modal.fade.in {
    z-index: 999999 !important;
}

.modal-body {
    height: 500px;
}

.hotel_container {
    box-shadow: 0px 0px 3px #aaaaaa;
}

.hotel_container:hover {
    box-shadow: 2px 2px 5px 0px rgb(129, 129, 129);
}

.hotel-list-space {
    padding-left: 0px;
    padding-right: 0px;
}

.hotel-list-space_plr15 {
    padding-left: 15px;
    padding-right: 15px;
}

#hotel-list-row {
    padding: 15px 0;
    background: #fff;
    box-shadow: 0px 0px 3px #aaaaaa;
}

#hotel-list-row:hover {
    box-shadow: 2px 2px 3px #aaaaaa;
}

#description-hotel {
    margin: 0px 0px -26px 0px;
}

@media screen and (max-width: 740px) {
    .pagination {
        font-size: 16px;
    }
    .hotel-map {
        font-size: 13px;
    }
    .add_info {
        text-align: center;
    }
}


/* GridView Page */

.hotel_container .hotel_title h3 {
    margin: 0;
    font-size: 16px;
    color: #777;
}

.wishlist.grid-view {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 40px;
    height: 40px;
    z-index: 2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.icon_set_1_icon-86.wifi {
    font-size: 20px;
    color: #333;
}

.trip-review-grid {
    position: absolute;
    top: 0px;
    right: 16px;
    height: 40px;
    z-index: 2;
    text-align: right;
    cursor: pointer;
}

.type-badge {
    color: #fff;
    padding: 0 5px;
    font-size: 10px;
    line-height: 2;
}

.type-badge.list {
    position: absolute;
    margin-left: 0px;
}

.mt10 {
    margin-top: 10px;
}

#bus {
    background: #58c3bf;
}

#fam {
    background: #0098ce;
}

#pri {
    background: #5cba47;
}

#gro {
    background: #edb2d1;
}

#hon {
    background: #9e958c;
}

#bou {
    background: #f26f7a;
}

#cit {
    background: #5cba47;
}

#loc {
    background: #edb2d1;
}

#lux {
    background: #9e958c;
}

#bea {
    background: #f26f7a;
}

.short_info {
    background: none;
}

.score span {
    border: none;
}

.hotel_container .score span {
    border: none;
}

#avg-price-gridview {
    font-size: 55px;
    font-weight: inherit;
    text-shadow: 1px 1px #333333;
    letter-spacing: -2px;
    border: none;
}

#minor-avg-price-gridview {
    font-size: 45px;
    font-weight: inherit;
    text-shadow: 1px 1px #333333;
    letter-spacing: -2px;
    border: none;
}

#avg-night {
    border: none;
}

#currency-gridview {
    font-size: 22px;
    top: 0em;
    color: #FFF;
}

#minor-currency-gridview {
    font-size: 18px;
    top: 0em;
    color: #FFF;
}

#normal_price_list_grid {
    text-decoration: line-through;
    font-size: 17px;
}

.short_info.hotel small {
    font-size: 15px;
}

.mg0 {
    margin: 0px;
}

.wid100 {
    width: 100%;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}


/*Calender styles*/

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
    background: #F46F22;
    border-color: #d9580d;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
	background: #F46F22;
	border-color: #d9580d;
}
.btn-default:active, .btn-default.active{
	background-color: #F46F22;
	border-color: #d9580d;
	display: block;
	border-radius: 0px;
}
button.btn.btn-danger.guest-btn.dropdown-toggle {
	background: #f46f22;
	border-color: #f46f22;
}
span.btn.btn-default.form-control.ui-select-toggle {
	background: #fff;
	background-image: none;
}
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #F46F22;
	border-color: #d9580d;
	display: block;
	border-radius: 0px;
}

.form-group ul li:nth-child(2) {
    display: none;
}

.form-group table thead tr:nth-child(2) {
    color: #555;
}

.caret {
    color: #fff;
}
.whiteh3{
	margin: 0px;
	color: #ffffff;
}
@media screen and (max-width: 740px) {
    .trip-review-grid {
        position: initial;
    }
    .hotel_container .hotel_title {
        line-height: 25px;
    }
    #avg-price-gridview {
        font-size: 37px;
    }
    #minor-avg-price-gridview {
        font-size: 30px;
    }
    #currency-gridview {
        font-size: 15px;
    }
    #minor-currency-gridview {
        font-size: 12px;
    }
    .grid-mobile {
        text-align: center;
    }
}

.hotel-photos {
    position: absolute;
    margin: auto;
    right: 75px;
    left: 75px;
    cursor: pointer;
    padding-top: 70px;
    z-index: 1;
}
