
.wishlist:before {
    font-style: normal;
    font-weight: normal;
    font-family: "icon_set_1";
    font-size: 40px;
    content: "\72";
    color: #fff;
    position: absolute;
    left: 0;
    top: 4px;
}

.wishlist a {
    color: #fff;
}

#position-room-details ul li:first-child {
    padding-left: 20px;
}

#position-room-details ul li {
    display: inline-block;
    padding-right: 8px;
    margin-right: 3px;
    position: relative;
    z-index: 0;
    margin-top: 10px;
}

#position-room-details ul li a {
    color: #FFF;
}

#position-room-details ul {
    margin: 0;
    padding-bottom: 10px;
    color: #888;
	float: left;
}

#position-room-details {
    background-color: #333;
    padding: 0;
    font-size: 11px;
}

#position-room-details ul li:after {
    content: "\e9ee";
    font-style: normal;
    font-weight: normal;
    font-family: "fontello";
    position: absolute;
    right: 0;
    top: 2px;
}

#position-room-details ul li:last-child:after {
    content: '';
}

.parallax-content-2.room-details-page {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 0px 0 140px 0;
    color: #fff;
    font-size: 13px;
    background: none;
    width: 100%;
}

#room-details-container {
    margin-top: -170px;
}

.parallax-content-2 {
    background: none;
}

.hotelname-detials {
    font-size: 40px;
}

#exclusive {
    background: #f26f7a;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
}

.hotel-details-address {
    font-size: 17px;
    text-shadow: 1px 1px #555;
}

.wishlist {
    left: 17px;
    top: -50px;
    display: none;
}

.margin_50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#choose-heading {
    text-align: left;
    font-size: 25px;
}

.icon_set_1_icon-86 {
    font-size: 25px;
}

.icon_set_2_icon-104 {
    font-size: 25px;
}

.icon_set_1_icon-58 {
    font-size: 25px;
}

.icon_set_1_icon-64 {
    font-size: 25px;
}

.add_info span {
    font-size: 14px;
}

.tax-include {
    margin: 40px 9px 2px 9px;
    line-height: 10px;
}

.add_info {
    line-height: 25px;
    display: inline-block;
}

.last-rooms {
    font-size: 12px;
    margin-top: 20px !important;
}

.btn-hotel-select-room {
    margin-bottom: 0px;
    background-color: #f25625;
    padding: 10px 40px;
    font-size: 16px;
    color: #fff;
}

.btn-hotel-select-room:hover {
    margin-bottom: 0px;
    background-color: #cc3100;
    color: #ebebeb;
}

.room-type-details {
    font-size: 22px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
}

#single_tour_feat ul li immg {
    padding-bottom: 10px;
}

.room-facilities-details {
    font-size: 22px;
    border-top: 1px solid;
    padding-top: 15px;
}

.room-facilities-heading {
    font-size: 22px;
    line-height: 40px;
}

.trip-background {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 0px;
}

.trip-rating-heading {
    font-size: 18px;
    color: #589442;
    line-height: 180%;
    padding-top: 10px;
}

.trip-review-with-star {
    margin-top: -20px;
}

.trip-review-with-star h3 {
    color: #f25625;
    font-family: "Lato", sans-serif;
}

.trip-img span {
    font-size: 15px !important;
}

.trip-img img {
    padding-bottom: 7px;
}

.light-box {
    float: right;
    top: -60px;
    height: 0px;
}

.icon_set_1_icon-86 span {
    display: inline;
}

.strip_all_tour_list {
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
}

@media screen and (max-width: 740px) {
    .parallax-content-2.room-details-page {
        padding-bottom: 20px;
    }
    #room-details-container {
        margin-top: -100px;
    }
    .add_info {
        text-align: justify;
    }
    .detail_map {
        width: 100%;
    }
    .light-box {
        top: -30px;
    }
    #position-room-details {
        height: 100px;
    }
}

.lnr-chevron-right:before {
    content: "\e876";
}

.lnr.lnr-chevron-right {
    color: #FFF;
    font-size: 40px;
    /* To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    right: 25%;
}

.lnr.lnr-chevron-left {
    color: #FFF;
    font-size: 40px;
    /* To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
    position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    left: 25%;
}


/* GridView elements */

.hotel_container .hotel_title h3 {
    margin: 0;
    font-size: 16px !important;
}

.hotel_container .hotel_title .rating {
    font-size: 11px !important;
    padding-top: 3px;
}

.awe-search-tabs__content .ui-tabs-panel {
    padding: 0;
}

.awe-search-tabs__content .ui-tabs-panel h2 {
    font-weight: 400;
    font-size: 32px;
    color: #790000;
    margin: 0;
}

.awe-search-tabs__content .ui-tabs-panel .form-group:nth-child(1) {
    width: 33.2%;
    padding-right: 64px;
}

.awe-search-tabs__content .ui-tabs-panel .form-group {
    float: left;
}

.form-group {
    margin-bottom: 15px;
}

.awe-search-tabs__content .ui-tabs-panel .form-elements {
    margin-top: 24px;
}

.awe-search-tabs__content .ui-tabs-panel label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px;
}

.awe-search-tabs__content .ui-tabs-panel .form-elements .form-item {
    position: relative;
}

.awe-search-tabs__content .ui-tabs-panel .form-elements .awe-icon {
    position: absolute;
    width: 36px;
    height: 34px;
    background-color: #fff;
    line-height: 34px;
    text-align: right;
    top: 1px;
    right: 1px;
    padding-right: 12px;
    font-size: 16px;
    color: #666;
    pointer-events: none;
}

.awe-icon {
    color: #f09608 !important;
}

.awe-search-tabs__content .ui-tabs-panel input {
    border: 1px solid #d4d4d4;
    font-weight: 400;
    color: #68738A;
    height: 36px;
    line-height: 36px;
    width: 100%;
}

.awe-search-tabs__content .ui-tabs-panel .form-elements .form-item {
    position: relative;
}

.awe-search-tabs__content .ui-tabs-panel .form-group:nth-child(2) {
    width: 36.5%;
    padding-right: 100px;
}

.awe-search-tabs__content .ui-tabs-panel .form-group:nth-child(3) {
    width: 18.1%;
    padding-right: 64px;
}

.awe-search-tabs__content .ui-tabs-panel .form-actions {
    width: 12.2%;
    float: left;
    margin-top: 55px;
}

.awe-search-tabs__content .ui-tabs-panel form:after {
    content: '';
    display: table;
    clear: both;
}

.mtb5 {
    margin: 3px 0px;
}

.revinfo p {
    margin: 5px 0px;
}

.detail_map iframe {
    border: none;
    border: none;
    /*pointer-events: none;*/
    height: 280px;
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.mt30 {
    margin-top: 30px;
}

.pt20 {
    padding-top: 20px;
}

.carousel-desc {
    background: transparent;
    position: absolute;
    bottom: 60px;
    z-index: 1;
    left: 80px;
    color: #fff;
}

.carousel-desc h1 {
    color: #fff !important;
}

.room-carousel-desc {
    background: transparent;
    position: absolute;
    bottom: 35px;
    z-index: 1;
    left: 0px;
    width: 100%;
    color: #fff;
}

.room-carousel-desc h1 {
    color: #fff !important;
	text-shadow: 1px 1px #555;
}

.room_amenities_section {
    margin-top: 15px;
}

.room_carousel img {
    max-height: 220px;
}

/*.hotel_amenities {*/
    /*width: auto !important;*/
/*}*/

.lightbox-gallery {
    float: right;
}

.lightbox-gallery ul {
    padding: 5px 0 0 !important;
}

.lightbox-gallery ul li {
    padding: 0 !important;
    margin: 0 2px !important;
    width: 50px;
}

.lightbox-gallery img {
    margin-top: 0 !important;
}

.light-box-img {
    height: 34px !important;
    width: 100px !important;
}
