.rating_list{
	width:300px;
	border:0px solid black;
	margin:0px;
	padding:0px;
	color:#f47621;
	font-family:sans-serif;
	font-size:14px;
	font-weight:bold;
}

.rating_list_text {
	font-size:16px;
}

.rating_simple {
	color:#a9a9a9;
	font-weight:normal;
}

.rating_grid{
	width:180px;
	border:0px solid black;
	margin:0px;
	padding:0px;
	color:#f47621;
	font-family:sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:right;
}

.reviews_image{
	border:0px solid white;
	text-align:right;
}

.reviews_image_inner{
	width:230px;
	border:0px solid black;
	margin-top:46px;
	padding:0px;
	color:#f47621;
	font-family:sans-serif;
	font-size:25px;
	font-weight:bold;
	text-align:left;
    text-shadow: 1px 1px #555;
}

.reviews_white{
	color:white;
}

.reviews_display{
	font-weight:normal;
	font-size:20px;
}

.reviews_secondary{
	font-weight:normal;
	font-size:18px;
}

.reviews_tertiary{
	color:white;
	font-weight:normal;
}

.rating_circle{
	width:100%;
	padding:0px;
	margin:10px;
	border:0px solid black;
}

.rating_text{
	margin-top:6px;
	margin-bottom:6px;
	font-size:18px;
	text-align:center;
	width:100%;
	border:0px solid black;
}

.rating_text_details{
	margin-top:6px;
	margin-bottom:6px;
	font-size:14px;
	text-align:center;
	width:100%;
	border:0px solid black;
}

.review_breakdown_container{
	width:100%;
	padding:0px;
	margin:0px;
}

.review_bar{
	display:inline-block;
	width:100%;
	border:1px solid #AAAAAA;
	height:10px;
}

.most_mentioned{
	width:100%;
	border:0px solid black;
}

.review_table{
	width:340px;
	border:0px solid black;
	margin-bottom:10px;
}

.plus{
	color:#f47621;
	font-size: 1.5em;
}

.most_mentioned_data{
	font-size:13px;
	color:#555555
}
