<div class="row">
    <form name="headingForm" ng-submit="saveHeading()" novalidate>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="titleInput">Title</label>
                <input type="text" class="form-control" id="titleInput" placeholder="Title" ng-model="headingObject.title" required/>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <textarea type="text" class="form-control" id="descriptionInput" placeholder="Description" style="height: 225px;" ng-model="headingObject.description" required></textarea>
            </div>
            <button type="submit" class="btn btn-default pull-right">Save</button>
        </div>
    </form>
</div>