<!--USP starts-->
<div class="container-fluid">
    <div class="clock" ng-hide="dataReceived"></div>

    <div class="container mt150" ng-show="dataReceived">
        <div class="row">

            <aside class="col-lg-3 col-md-3">
                <div id="filters_col">
                    <a class="filter-by" id="filters_col_bt">Filters by:</a>
                    <div>
                        <div class="filter_type">
                            <h6>Price</h6>
                            <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>
                        </div>
                        <div class="filter_type">
                            <h6>Hotel Star</h6>
                            <div class="stars">
                                <input class="icon-star-empty star star-1" id="star-1" type="radio" name="star"/>
                                <label class="icon-star-empty star star-1" for="star-1"></label>
                                <input class="icon-star-empty star star-2" id="star-2" type="radio" name="star"/>
                                <label class="icon-star-empty star star-2" for="star-2"></label>
                                <input class="icon-star-empty star star-3" id="star-3" type="radio" name="star"/>
                                <label class="icon-star-empty star star-3" for="star-3"></label>
                                <input class="icon-star-empty star star-4" id="star-4" type="radio" name="star"/>
                                <label class="icon-star-empty star star-4" for="star-4"></label>
                                <input class="icon-star-empty star star-5" id="star-5" type="radio" name="star"/>
                                <label class="icon-star-empty star star-5" for="star-5"></label>
                            </div>
                        </div>
                        <div class="filter_type">
                            <h6>Review Star</h6>
                            <div class="stars">
                                <input class="icon-star-empty reviewstar star-11" id="star-11" type="radio" name="reviewstar"/>
                                <label class="icon-star-empty reviewstar star-11" for="star-11"></label>
                                <input class="icon-star-empty reviewstar star-12" id="star-12" type="radio" name="reviewstar"/>
                                <label class="icon-star-empty reviewstar star-12" for="star-12"></label>
                                <input class="icon-star-empty reviewstar star-13" id="star-13" type="radio" name="reviewstar"/>
                                <label class="icon-star-empty reviewstar star-13" for="star-13"></label>
                                <input class="icon-star-empty reviewstar star-14" id="star-14" type="radio" name="reviewstar"/>
                                <label class="icon-star-empty reviewstar star-14" for="star-14"></label>
                                <input class="icon-star-empty reviewstar star-15" id="star-15" type="radio" name="reviewstar"/>
                                <label class="icon-star-empty reviewstar star-15" for="star-15"></label>
                            </div>
                        </div>
                    </div>
                    <!--End collapse -->
                </div>
                <!--End filters col-->
            </aside>
            <!--End aside -->

            <div class="col-lg-9 col-md-9">
                <div id="tools">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="gallery" class="final-tiles-gallery  effect-dezoom effect-fade-out caption-top social-icons-right">
                                <div class="ftg-filters">
                                    <a href="#" class="select-filter" ng-click="changeSort('discount', false)">Date</a>
                                    <a href="#" class="select-filter" ng-click="changeSort('price', false)">Price (Low to High)</a>
                                    <a href="#" class="select-filter" ng-click="changeSort('price', true)">Price (High to Low)</a>
                                    <a href="#" class="select-filter" ng-click="changeSort('name', false)">Name (A-Z)</a>
                                    <a href="#" class="select-filter" ng-click="changeSort('name', true)">Name (Z-A)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/tools -->

                <div class="strip_all_tour_list wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;" ng-repeat="packag in packags">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="img_list">
                                <a ui-sref="view({url: packag.package_id, productId: packag.hotel_id, checkin: checkin, checkout: checkout, adults: guest.adults, promo: promo})"><img src="{{packag.images[0] || '/views/traveler.mv/modules/core/client/img/notredame.jpg'}}" alt="Image">
                                </a>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="tour_list_desc">
                                <h3>{{packag.package_name}}</h3>
                                <p>{{packag.address.address_Line}}, {{packag.address.city}}, {{packag.address.state}}, {{packag.address.country}}</p>
                                <p>Duration: {{packag.no_of_nights}} Night(s) / {{packag.no_of_days}} Day(s)
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="price_list" ng-if="packag.sellExclusive > 0">
                                <div>
                                    <div ng-show="currency != undefined">{{currency}}{{packag.sellExclusive*currencyMultiplier[hotel.currency] | number:2}}</div>
                                    <div ng-hide="currency != undefined">{{packag.currency}}{{packag.sellExclusive | number:2}}</div>
                                    <small>per person</small>
                                    <div>{{packag.no_of_nights}}N / {{packag.no_of_days}}D</div>
                                    <p>
                                        <a id="btn-hotel-select" class="btn_1 mt10" ui-sref="view({
                                        url: packag.package_id, productId: packag.hotel_id, checkin: checkin, checkout: checkout, rooms: guest.rooms, adults: guest.adults, promo: promo})"> Book Now</a>
                                </div>
                            </div>
                            <div ng-if="packag.sellExclusive <= 0">
                                <img src="views/traveler.mv/modules/core/client/img/sorry-sold-out.png" height="100" alt="Sold Out">
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <!--End strip -->

                <div class="text-left" ng-show="dataReceived">
                    <div class="Pagination">
                        <ul uib-pagination total-items="totalItem" ng-model="currentPage" class="pagination" items-per-page="itemsPerPage" boundary-links="true" ng-change="pageChanged()" boundary-link-numbers="true" rotate="false" max-size="maxSize"></ul>
                    </div>
                </div>
                <!-- end pagination-->
            </div>
            <!-- End col lg-9 -->
        </div>
        <!-- End row -->
    </div>
</div>