<div class="container-fluid" ng-hide="dataReceived">
    <div class="clock"></div>
</div>

    <section class="parallax-window" ng-show="dataReceived">
        <img ng-if="packag.images.length > 1" ng-src="{{packag.images[1]}}" width="100%" height="470">
        <img ng-if="packag.images.length <= 1" ng-src="{{packag.images[0]}}" width="100%" height="470">
        <div class="parallax-content-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div id="price_single_main" class="back-price">
                            <span ng-show="currency != undefined">{{currency}}{{packag.rooms[0].sellExclusive*currencyMultiplier[packag.currency] | number:2}}</span>
                            <span ng-hide="currency != undefined">{{packag.currency}}{{packag.rooms[0].sellExclusive | number:2}}</span>
                            /per person
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">&nbsp;</div> 
                    <div class="col-md-2 col-sm-2 lightbox-gallery">
                        <div class="lightbox-gallery">
                            <ul lightbox="packag.images">
                                <a href="{{ packag.images[0] }}" class="btn_full lightbox-trigger viewTopimg">View Photos</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-md-12" ng-hide="dataReceived || !dataReceived">
        <div class="detail_map ">
            <div id="map"></div>
            <div id="class " ng-repeat="marker in markers | orderBy : 'title' ">
                <a href="# " ng-click="openInfoWindow($event, marker) ">{{}}</a>
            </div>
        </div>
    </div>

    <div class="container mt50" ng-show="dataReceived">
        <div class="row">
            <div class="col-md-12">
                <div class="strip_all_tour_list wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                    <div class="row">
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="tour_list_desc">
                                <h3>{{packag.package_name}}</h3>
                                <p>{{packag.address.address_Line}}, {{packag.address.city}}, {{packag.address.state}}, {{packag.address.country}}</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="room-rating">
                                <h4>{{packag.no_of_nights}}N / {{packag.no_of_days}}D</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="container" ng-show="dataReceived">
        <div class="row">
            <aside class="col-md-3">

                <!--Check In & Check Out-->
                <div class="row">
                    <div class="check col-md-12">
                        <p>Check In:&nbsp;&nbsp;<span>{{checkin}}</span></p>
                        <p>Check Out:&nbsp;&nbsp;<span>{{checkout}}</span></p>
                    </div>
                </div>
                <hr>

                <!--Distance-->
                <div class="row">
                    <div class="distance col-md-12 col-sm-12">
                        <h3 class="inner">Distance from Airport</h3>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/car.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>by Car</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/ferry.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>bt ferry</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/speed_boat.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>by speed boat</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/seaplane.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>by sea plane</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-3">
                                <img src="../views/traveler.mv/modules/hotels/client/img/facilities/aeroplane.png" alt="">
                            </div>
                            <div class="col-md-9 col-sm-6">
                                <p>00 mins</p>
                                <p>by aeroplane</p>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="col-md-offset-1 col-md-8" id="single_tour_desc">
                <div class="row">
                    <div class="col-md-12 desc">
                        <p>{{packag.description}}</p>
                    </div>
                    <!-- End col-md-9  -->
                </div>
                <!-- End row  -->
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Price Includes</h4>
                    </div>
                    <div class="col-md-12 keywords">
                        <ul class="list-style">
                            <li ng-repeat="includes in packag.inclusion">{{includes}}</li>
                        </ul>
                    </div>
                </div>
                <!-- End row  -->
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Price Excludes</h4>
                    </div>
                    <div class="col-md-12 keywords">
                        <ul class="list-style">
                            <li ng-repeat="excludes in packag.exclusion">{{excludes}}</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <!-- End row -->

                <div class="row">
                    <div class="col-md-4">
                        <h4>Itinerary</h4>
                    </div>
                    <div class="col-md-12">
                        {{packag.itinerary}}
                    </div>
                </div>
                <hr>
                <!-- End row  -->

                <div class="row">
                    <div class="col-md-4">
                        <h4>Cancellation Policy</h4>
                    </div>
                    <div class="col-md-12">
                        {{packag.cancellation_policy}}
                    </div>
                </div>
                <hr>
                <!-- End row  -->

                <div class="row">
                    <div class="col-md-4">
                        <h4>Inportant Information</h4>
                    </div>
                    <div class="col-md-12">
                        {{packag.important_information}}
                    </div>
                </div>
                <hr>
                <!-- End row  -->
                
                <div class="row back-price">
                    Price:
                    <span ng-show="currency != undefined">{{currency}}{{packag.price.sellExclusive*currencyMultiplier[packag.currency] | number:2}}</span>
                    <span ng-hide="currency != undefined">{{packag.currency}}{{packag.price.sellExclusive | number:2}}</span>
                    Inclusive all governemtn taxes for two people ({{packag.startDate}} {{packag.startMonth}} to {{packag.endDate}} {{packag.endMonth}})
                </div>
                <!-- End row  -->
            </div>

            <!--Availability-->
            <div class="col-md-12">
                <hr>
                <div class="col-md-12">
                    <div class="row">
                        <h4>Availability</h4>
                    </div>
                        <!-- search widget -->
                    <section ng-controller="SearchController">
                        <div class="container">
                            <div class="col-md-12 pt20">
                                <form class="mar0 booking-form" name="myForm">
                                    <div class="form-group col-md-2 col-md-offset-1">
                                        <i class=" icon-calendar book-icons " style="right:20px; " ng-click="open1() "></i>
                                        <label class="booking-label ">Check In</label>
                                        <input class="form-control custom-cls config-start-date config-demo dp " ng-keyup="open1() " ng-click="open1() " name="startDate " readonly="readonly " type="text " ng-change="setMinMaxDate(); " uib-datepicker-popup="{{format}}
                                        " popup-placement="bottom " ng-model="startDate " is-open="popup1.opened " datepicker-options="dateOptions1 " ng-required="true " placeholder="Start " close-text="Close " required />
                                        <span ng-show="myForm.startDate.$untouched && myForm.myName.$invalid ">Check-in</span>
                                    </div>
                                    <div class="form-group col-md-2 ">
                                        <i class="icon-calendar book-icons " style="right:20px; " ng-click="open2() "></i>
                                        <label class="booking-label ">Check Out</label>
                                        <input class="form-control custom-cls config-end-date config-demo dp " ng-keyup="open2() " ng-click="open2() " name="endDate " readonly="readonly " type="text " uib-datepicker-popup="{{format}} " popup-placement="bottom
                                        " ng-model="endDate " is-open="popup2.opened " datepicker-options="dateOptions2 " ng-required="true " placeholder="End " close-text="Close " required/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="booking-label">Guests</label>
                                        <ui-select ng-model="guest.adults">
                                            <ui-select-match placeholder="Adults">{{$select.selected}} guests</ui-select-match>
                                            <ui-select-choices repeat="num in numbers">
                                                <span ng-bind-html="num"> guests</span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="booking-label">Rooms</label>
                                        <ui-select ng-model="guest.rooms">
                                            <ui-select-match placeholder="Rooms">{{$select.selected}} rooms</ui-select-match>
                                            <ui-select-choices repeat="num in numbers">
                                                <span ng-bind-html="num"> rooms</span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-3 text-center" style="padding-top: 25px">
                                        <a href ui-sref="view({ checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                                        rooms: guest.rooms, adults: guest.adults}) " class="btn_1 checkbtn ">Request to book</a>
                                    </div>
                                    <!--<div class="col-md-3 "></div>-->
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--End row -->
    </div>
