

<div id="profile" >
  <div class="row">
    <p class="phead">Change My Password</p>
  </div>

  <div class="changepass">
    <form>
      <p class="chhead">Old password</p>
      <input type="password" ng-model="updatePass.oldPassword" required autofocus>
      <p class="chhead">New password</p>
      <input type="password" ng-model="updatePass.newPassword" required>
      <p class="chhead">confirm password</p>
      <input type="password" ng-model="updatePass.confirmPassword" required>
      <div class="errormsg">
        <p ng-if="errorMeassege">{{errorMeassege}}</p>
      </div>
      <p><input type="submit" value="Change Password" class="btn btn-primary chbtn" ng-click="updatepassword(updatePass)" /></p>
    </form>
  </div>
</div>
