<div id="profile" >
  <div class="row">
    <p class="phead">Profile details</p>
    <p class="pdesc">Completing your profile details will make your future booking faster and easier.</p>
    <p class="subhead">Basic information</p>
  </div>
  <div class="row" class="table-responsive">
    <table border="0" class="table">
      <tr>
        <td>First Name:</td>
        <td><input type="text" ng-model="userDeatails.first_name" required autofocus/></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" ng-model="userDeatails.last_name" required/></td>
      </tr>
      <tr>
        <td>E-mail ID:</td>
        <td><input class="inputDisabled" type="email" ng-model="userDeatails.email" readonly/></td>
      </tr>
      <tr>
        <td>Phone No:</td>
        <td><input type="text" name="phone_contact" id="phone_contact" ng-model="userDeatails.mobile" required ng-pattern="patterns.NUM">
                                <span class="error" ng-show="simple-form.phone_contact.$error.pattern">
                                Not valid phone number!</span></td>
      </tr>
      <tr>
        <td>E-mail Subscriptions:</td>
        <td>{{userDeatails.email_subscriptions}}</td>
      </tr>
      <tr>
        <td>Destinations:</td>
        <td><input type="text" ng-model="user.name" /></td>
      </tr>
      <tr>
        <td>Currency:</td>
        <td><input class="inputDisabled" type="text" ng-model="userDeatails.currency" readonly /></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <p class="subhead">Subscriptions</p>
    <p class="pdesc">Sign up now for our regular promotional emails packed with special offers and exclusive deals. You can personalise the offers you receive from us by selecting your favorite cities in the Favorite Destinations section below.</p>
  </div>
</div>
