
  <div id="profile" >
    <div class="row">
      <p class="phead">Profile details</p>
      <p class="pdesc">Completing your profile details will make your future booking faster and easier.</p>
      <p class="subhead">Basic information <span class="pull-right"><a ng-show="!editProfile" class="curser" ng-click="editUser()">Edit</a></span></p>
    </div>
    <div  class="row" class="table-responsive">
      <table ng-if="!editProfile" border="0" class="table">
        <tr>
          <td>First Name:</td>
          <td>{{userDeatails.first_name}}</td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td>{{userDeatails.last_name}}</td>
        </tr>
        <tr>
          <td>E-mail ID:</td>
          <td>{{userDeatails.email}}</td>
        </tr>
        <tr>
          <td>Phone No:</td>
          <td>{{userDeatails.mobile}}</td>
        </tr>
        <tr>
          <td>E-mail Subscriptions:</td>
          <td>{{userDeatails.email_subscriptions}}</td>
        </tr>
        <tr>
          <td>Destinations:</td>
          <td>{{userDeatails.destinations}}</td>
        </tr>
        <tr>
          <td>First Name:</td>
          <td>{{userDeatails.first_name}}</td>
        </tr>
        <tr>
          <td>Currency:</td>
          <td>{{userDeatails.currency}}</td>
        </tr>
      </table>
      <table ng-if="editProfile" border="0" class="table">
        <tr>
          <td>First Name:</td>
          <td><input type="text" ng-model="userDeatails.first_name" required autofocus/></td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td><input type="text" ng-model="userDeatails.last_name" required/></td>
        </tr>
        <tr>
          <td>E-mail ID:</td>
          <td><input class="inputDisabled" type="email" ng-model="userDeatails.email" readonly/></td>
        </tr>
        <tr>
          <td>Phone No:</td>
          <td><input type="text" name="phone_contact" id="phone_contact" ng-model="userDeatails.mobile" required ng-pattern="patterns.NUM">
                                <span class="error" ng-show="simple-form.phone_contact.$error.pattern">
                                Not valid phone number!</span></td>
        </tr>
        <tr>
          <td>E-mail Subscriptions:</td>
          <td>{{userDeatails.email_subscriptions}}</td>
        </tr>
        <tr>
          <td>Destinations:</td>
          <td><input type="text" ng-model="userDeatails.destinations" /></td>
        </tr>
        <tr>
          <td>Currency:</td>
          <td><input class="inputDisabled" type="text" ng-model="userDeatails.currency" readonly /></td>
        </tr>
        <tr>
          <td><input type="submit" value="Submit" class="btn btn-success pbttn curser" ng-click="updateUser(userDeatails)"></td>
          <td><a ng-show="editProfile" class="btn btn-primary pbttn curser" ng-click="profileUser()">Back</a> </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <p class="subhead">Subscriptions</p>
      <p class="pdesc">Sign up now for our regular promotional emails packed with special offers and exclusive deals. You can personalise the offers you receive from us by selecting your favorite cities in the Favorite Destinations section below.</p>
    </div>
  </div>



