
<div class="bgwhite">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div id="custnav">
          <ul>
            <li class="navhead">
              <img class="profileimg" src="/views/staydilly/modules/users/client/img/profile/default.png">
              <br>Hello Ramu <br>
              <span class="usremail">ramu@axisrooms.com</span>
            </li>
            <li>
              <a ui-sref=".manageBooking({userId: userId})" > <i class="fa fa-calendar" aria-hidden="true"></i> Bookings</a>
            </li>
            <li>
              <a ui-sref=".profile({userId: userId})" ><i class="fa fa-user" aria-hidden="true"></i> profile</a>
            </li>
            <li>
              <a ui-sref=".wallet({userId: userId})"><i class="fa fa-credit-card" aria-hidden="true"></i> Wallet</a>
            </li>
            <li>
              <a ui-sref=".changePassword({userId: userId})" ><i class="fa fa-lock" aria-hidden="true"></i> Change Password</a>
            </li>
            <li>
              <a ui-sref=".referAFriend({userId: userId})" ><i class="fa fa-envelope-o" aria-hidden="true"></i> Refer A Friend</a>
            </li>
            <li>
              <a><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12" id="content">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>


