<div id="footerCms">
  <div class="page-footer">
    <div class="page-footer-inner"> 2016 &copy;
      <a target="_blank" href="http://staydilly.com">Staydilly</a> &nbsp;|&nbsp; Developed By
      <a href="http://axisrooms.com" target="_blank">AxisRooms</a>
    </div>
    <div class="scroll-to-top">
      <i class="icon-arrow-up"></i>
    </div>
  </div>
</div>
