<div class="container-fluid">
  <div class="row">
    <div class="img-resp">
      <img src="views/staydilly/modules/core/client/img/header-kl-skyline-b.jpg" alt="">
      <div class="text-data">
      <h2>We're Always Happy to Hear from you</h2>
      <span>LiveChat, telephone, email or snail mail - let us know what we can do for you!</span>
      </div>
    </div>
  </div>
</div>
<div id="position">
  <div class="container">
    <ul>
      <li><a href="#">Home</a></li>
      <li>Contact</li>
    </ul>
  </div>
</div>

<div class="container margin_60">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <div class="form_title">
        <h3><strong><i class="icon-pencil"></i></strong>Contact Us</h3>
        <p>
          To reach us at Staydilly, please use the following webform.
        </p>
      </div>
      <div class="step">

        <div id="message-contact"></div>
        <form id="contactform" name="myForm" validate ng-submit="submitContactForm()">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" id="name_contact" name="name_contact" data-ng-model="contactDetail.firstName" placeholder="Enter Name" required autofocus>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" id="lastname_contact" name="lastname_contact" data-ng-model="contactDetail.lastName" placeholder="Enter Last Name" required>
              </div>
            </div>
          </div>
          <!-- End row -->
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>Email</label>
                <input type="email" id="email_contact" name="email_contact" class="form-control" data-ng-model="contactDetail.email" placeholder="Enter Email" required>
                                <span class="error" ng-show="myForm.email_contact.$error.email">
                                Not valid email!</span>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>Phone</label>
                <input type="text" id="phone_contact" name="phone_contact" class="form-control" data-ng-model="contactDetail.phoneNumber" placeholder="Enter Phone number" required ng-pattern="patterns.MOBILE">
                                <span class="error" ng-show="myForm.phone_contact.$error.pattern">
                                Not valid phone number!</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Message</label>
                <textarea rows="5" id="message_contact" name="message_contact" class="form-control" ng-model="contactDetail.message" placeholder="Write your message" style="height:200px;" required></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Human verification</label>
              <div class="captcha" vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
            </div>
          </div>
          <button class="btn_1" ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid)}">Submit</button>
        </form>
      </div>
    </div>
    <!-- End col-md-8 -->

    <div class="col-md-4 col-sm-4">
      <div class="box_style_1">
        <span class="tape"></span>
        <h4>Address <span><i class="icon-pin pull-right"></i></span></h4>
        <p>
          151 Chin Swee Rd #07-12, 169876 Singapore
        </p>
        <hr>
        <h4>Email <span><i class="icon-pin pull-right"></i></span></h4>
        <p>
          hello@staydilly.com
        </p>
        <hr>
        <h4>Help Center <span><i class="icon-help pull-right"></i></span></h4>
        <p>Be sure to review our Frequently Asked Questions page where many of the more common questions on Staydilly.
        </p>
        <ul id="contact-info">
          <li><a href="/faq">Frequently Asked Questions (FAQs)</a></li>
        </ul>
      </div>
      <div class="box_style_4">
        <i class="icon_set_1_icon-57"></i>
        <h4>Still Need <span>Help?</span></h4>
        <a href="" class="phone">+ 60(3) 2106 8888</a>
        <small>Monday to Friday 9.00am - 7.30pm</small>
      </div>
    </div>
    <!-- End col-md-4 -->
  </div>
  <!-- End row -->
</div>
<!-- End container -->

<div>
  <div style="width: 100%;max-width:100%;overflow:hidden;height:240px;color:red;">
    <div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;">
      <iframe style="    height: 200px;
				    width: 100%;
				    border: 0;
				    position: relative;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Manhattan+House,Singapore&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
    </div>
    <style>
      #my-map-canvas img {
        max-width: none!important;
        background: none!important;
      }
    </style>
  </div>
</div>
<!-- end map-->

<!--recaptcha link-->
<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
