<div>
    <div class="content">
        <div class="container">
            <!-- header title -->
            <div id="destination">


                <div class="row head">
                    <h1 align="center">Privacy Policy</h1>
                    <!-- description -->
                </div>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <p>Last Revised on 17 September, 2016</p>
    <p>This website (&ldquo;Website&rdquo;) is owned and operated by Siestaz Pte. Ltd., a Singapore private company understands that making bookings online involves a great deal of trust on your part. We take this trust very seriously, and make it a high
        priority to ensure the security and confidentiality of the personal information you provide to us. This Privacy Policy applies to data collected on this Website. Our Website is intended for use by individuals who are over 18 years of age.</p>
    <p>The terms &ldquo;we&rdquo;, &ldquo;us&rdquo;, &ldquo;our&rdquo; and &ldquo;Staydilly&rdquo; refer to Siestaz Pte. Ltd. and its subsidiaries and corporate affiliates (collectively, the &ldquo;Siestaz Companies&rdquo;). The term &ldquo;you&rdquo; refers
        to the customer visiting the Website and/or booking a reservation through us on this Website, or through our customer service agents.</p>
    <ul>
        <li>What information we collect from you</li>
        <li>How we use your information</li>
        <li>With whom we share your information</li>
        <li>How you can access your information</li>
        <li>Your choices with respect to the collection and use of your information</li>
        <li>Cookies and other Web technologies</li>
        <li>Display of tailored advertising/Your choices</li>
        <li>Using our mobile phone and tablet Apps (the &ldquo;Mobile Apps&rdquo;)</li>
        <li>How we protect your information</li>
        <li>External links</li>
        <li>Where your data is stored</li>
        <li>Changes to this Privacy Policy</li>
        <li>How you can contact us</li>
        <li>What information we collect from you </li>
    </ul>
    <p><strong>In General.</strong> We receive and store any information you enter on our Website or give us in any other way. This includes information that can identify you (&quot;personal information&quot;), including your first and last name, telephone
        number, postal and email addresses, fax number, and, if you make a reservation through our Website, credit card information (such as credit card number, cardholder name, and expiration date). We also may request information about your hotel room
        preferences, loyalty, frequent flyer and/or car rental program information. You can choose not to provide information to us, but in general some information about you is required in order for you to register as a member; purchase products or services;
        complete a traveler profile; participate in a survey, competition or promotion; ask us a question; or initiate other transactions on our Website.</p>
    <p><strong>Travel Companion Information.</strong> When you make a reservation for someone else through this Website, we will request personal information and travel preferences about that individual. You must obtain the consent of other individuals and
        ensure such other individuals are aware of, understand and accept this Privacy Policy prior to providing us with their personal information and travel preferences, as any access to view or change their information will be available only through
        your account. We will collect, use and disclose that individual's personal information only for the purpose of making a reservation.</p>
    <p><strong>Information from Other Sources.</strong> We also may periodically obtain both personal and non-personal information about you from affiliated entities, business partners and other independent third-party sources and add it to our account information.
        Examples of information we may receive include: updated delivery and address information, purchase history, and demographic information.</p>
    <p><strong>Call Monitoring.</strong> Calls to and from our customer service help desk may be recorded or monitored for the purpose of quality control and for staff training. Call recordings will be maintained as long as reasonably necessary and will
        then be deleted. Any personal information obtained from you during the call will be treated in accordance with the provisions of this Privacy Policy.</p>
    <p><strong>How we use your information</strong></p>
    <p><strong>Generally,</strong> Staydilly collects, uses and discloses your personal information for the following purposes:</p>
    <ul>
        <li>responding to your queries and requests and contacting you for customer service, if necessary</li>
        <li>measuring interest in and improve our products, services, and Website;</li>
        <li>customizing your experience with this Website</li>
        <li>managing the administrative and business operations of Staydilly and complying with internal policies and procedures;</li>
        <li>facilitating business asset transactions (which may extend to any mergers, acquisitions or asset sales) involving any of the Siestaz Companies;</li>
        <li>matching any personal information held which relates to you for any of the purposes listed herein;</li>
        <li>resolving complaints and handling requests and enquiries;</li>
        <li>preventing, detecting and investigating crime, responding to queries from enforcement agencies, and analyzing and managing commercial risks;</li>
        <li>monitoring or recording phone calls and customer-facing interactions for quality assurance, employee training and performance evaluation and identity verification purposes;</li>
        <li>organizing promotional events;</li>
        <li>legal purposes (including but not limited to obtaining legal advice and dispute resolution);</li>
        <li>conducting investigations relating to disputes, billing or fraud and preventing potentially prohibited or illegal activities;</li>
        <li>meeting or complying with any applicable rules, laws, regulations, codes of practice or guidelines issued by any legal or regulatory bodies which are binding on Staydilly (including but not limited to responding to regulatory complaints, disclosing
            to regulatory bodies and conducting audit checks, due diligence and investigations);</li>
        <li>enforcing our Terms of Use; and as otherwise described to you at the point of collection;</li>
        <li>facilitating and completing the provision of travel products and services, including providing you with travel confirmation, travel notifications and updates;</li>
        <li>facilitating daily operations of our travel products and services (including but not limited to managing your account, billing, customer service, customer verification, technical support, network maintenance and troubleshooting);</li>
        <li>managing and executing our service-level agreements with you;</li>
        <li>processing of payment instructions, direct debit facilities and/or credit facilities requested by you;</li>
        <li>enforcement of repayment obligations (including but not limited to debt collection, filing of claims and retrieval of payments from losses made by service partners);</li>
        <li>resolving disputes, collecting fees, or troubleshooting problems;</li>
        <li>administering and processing any insurance claims and payments arising under the respective policies;</li>
        <li>generating internal reports (including but not limited to annual, operational and management reports);</li>
        <li>processing referral payments and commission fees to our external partners;</li>
        <li>administering fee adjustments, refunds and waivers;</li>
        <li>analysing your use of our travel products and services so as to help us improve, review, develop and efficiently manage the travel products and services offered to you; and</li>
        <li>purposes which are reasonably related to the above.</li>
    </ul>
    <p>Furthermore, where permitted by law,</p>
    <ul>
        <li>Staydilly may also collect, use and disclose your personal information for the following &ldquo;Staydilly Additional Purposes&rdquo;:</li>
    </ul>
    <ul>
        <ul>
            <li>analytics and tracking, including facilitating the sale of analytical data</li>
            <li>conducting market research and surveys to enable us to understand and determine customer location, preferences and demographics to develop special offers and marketing programmes in relation to Staydilly's travel products and services, and
                to improve our service delivery and your customer experience at our touchpoints;</li>
            <li>providing additional travel products and services and benefits to you, including special offers, promotions, loyalty and reward programmes from Staydilly;</li>
            <li>matching personal information with other data collected for other purposes and from other sources (including third parties) in connection with the provision, marketing or offering of travel products and services by Staydilly;</li>
            <li>leads generation and management for marketing Staydilly's travel products and services;</li>
            <li>administering contests, competitions and marketing campaigns, and personalizing your experience at Staydilly&rsquo;s touchpoints;</li>
            <li>rewarding you as part of any reward and recognition program you choose to join;</li>
            <li>communicating to you advertisements involving details of our travel products and services, special offers and rewards, either to our customers generally, or which we have identified may be of interest to you (including but not limited to upselling,
                cross selling);</li>
            <li>organizing promotional events and corporate social responsibility projects; and</li>
            <li>purposes which are reasonably related to the above.</li>
            <li>In addition, where permitted by law, your personal information may be disclosed, for Staydilly Additional Purposes, to the vendors or other third party service providers in connection with promotions and services offered by Staydilly. For
                more information, see below. </li>
        </ul>
    </ul>
    <ul>
        <li>Staydilly may also collect, use and disclose your personal information for the following &ldquo;Preferred Partners Additional Purposes&rdquo; :</li>
    </ul>
    <ul>
        <ul>
            <li>conducting market research and surveys to enable us to understand and determine customer location, preferences and demographics to develop special offers and marketing programmes with our preferred partners;</li>
            <li>matching personal information with other data collected for other purposes and from other sources (including third parties) in connection with the provision, marketing or offering of products and services (including promotions, loyalty and
                reward programmes) by our preferred partners;</li>
            <li>leads generation and management for marketing the products and services offered by our preferred partners;</li>
            <li>administering contests, competitions and marketing campaigns in connection with the products and services offered by our preferred partners;</li>
            <li>sending you informational, recruitment and other notification messages communicated by our preferred partners;</li>
            <li>communicating to you advertisements involving details of the products, services, special offers and rewards offered by our preferred partners, either to our customers generally, or which we or our preferred partners have identified may be
                of interest to you (including but not limited to upselling, cross selling); and</li>
            <li>purposes which are reasonably related to the above. </li>
        </ul>
    </ul>
    <p>In addition, where permitted by law, your personal information may be disclosed, for Preferred Partners' Additional Purposes, to the vendors or other third party service providers in connection with promotions and services offered by Staydilly&rsquo;s
        preferred partners. For more information, see below.</p>
    <p>In relation to particular travel products and services or in your interactions with us, we may also have specifically notified you of other purposes for which we collect, use or disclose your personal information. If so, we will collect, use and disclose
        your personal information for these additional purposes as well, unless we have specifically notified you otherwise.</p>
    <p>You have a choice to withdraw your consent for receiving marketing or promotional materials/communication. You may contact us using the contact details found at the bottom of this privacy policy.</p>
    <p>Please be aware that once we receive confirmation that you wish to withdraw your consent for marketing or promotional materials/communication, it may take up to 30 working days for your withdrawal to be reflected in our systems. Therefore, you may
        still receive marketing or promotional materials/communication during this period of time. Please note that even if you withdraw your consent for the receipt of marketing or promotional materials, we may still contact you for other purposes in
        relation to the travel products and services that you hold or have subscribed to with Staydilly.</p>
    <p>All information that we collect from you is retained in the servers of the Siestaz Companies.</p>
    <p><strong>Email Communications.</strong> We want to make it easy for you to take advantage of travel-related opportunities on our Website. One way we do this is by sending you email messages that contain information about your travel-related interests.
        For example, if you search for a hotel in Bangkok on our Website and have saved your itinerary or otherwise not yet booked your travel, we may send you an email message reminding you about your saved travel itinerary or about a special travel
        promotions on Bangkok. Similarly, if you receive an email from us about Bangkok travel and demonstrate an interest in Bangkok hotels by affirmatively clicking on a link about Bangkok hotels in the email, you may receive an email about Bangkok
        hotel offers or other destination information. We believe these email messages will provide you with useful information about travel-related special offers available through our Website. Please note that you will have the opportunity to choose
        not to receive these email messages in any such email we send. </p>
    <p><strong>With whom we share your information</strong><br /> Staydilly will take reasonable steps to protect your personal information against unauthorized disclosure. Subject to the provisions of any applicable law, your personal information may be
        disclosed, for the purposes listed above (where applicable), to the following:</p>
    <p><strong>Suppliers,</strong> such as hotel, airline, car rental, insurance companies and activity providers, who fulfill your travel reservations. Throughout this Website, all services provided by a third-party supplier are described as such. We encourage
        you to review the privacy policies of any third-party travel supplier whose products you purchase through this Website. Please note that these suppliers also may separately contact you as necessary to obtain additional information about you, facilitate
        your travel reservation, or respond to a review you may submit.</p>
    <p><strong>Third-party vendors</strong> who provide services or functions on our behalf, including banks, credit card processing, business analytics, customer service, marketing, promotions, distribution of surveys or sweepstakes programs, and fraud
        prevention. We may share your personal information with telecommunications, content or other service providers to facilitate their provision of content or services, or for interconnection, inter-operability, system operation and maintenance and
        billing between service providers. We may also authorize third-party vendors to collect information on our behalf, including as necessary to operate features of our Website or to facilitate the delivery of online advertising tailored to your interests.
        Third-party vendors have access to and may collect information only as needed to perform their functions and are not permitted to share or use the information for any other purpose.</p>
    <p><strong>Business partners</strong> with whom we may jointly offer products or services, for example financial institutions, credit card services, telecommunications providers or travel-related services, as well as commercial shops and retailers in
        relation to providing rewards and benefits. You can tell when a third party is involved in a product or service you have requested because their name will appear with ours. If you choose to sign up to these optional, jointly-offered services,
        we may share information about you, including your personal information, with those business partners so that they can contact you directly by email or post about the products and services that you have signed up to receive. Such personal information
        may include your contact information as well as other information necessary to provide the travel product or service you have requested. Those third party business partners will not use your personal information for direct marketing purposes,
        except when permitted to do so by applicable law. However, please note that we do not control the privacy practices of these third-party business partners.</p>
    <p><strong>Referring websites.</strong> If you were referred to this Website from another website, we may share some information about you with that referring website so that they can contact you directly by email or post about their products and services.
        We have not placed limitations on the referring websites use of your personal information and we encourage you to review the privacy policies of any website that referred you to this Website.</p>
    <p><strong>Companies within our corporate family.</strong> With your prior specific consent, we may share your personal information with our corporate affiliates in the leisure and travel sector and their respective employees. This sharing enables us
        to: provide you with information about products and services, both leisure- and travel-related, which might interest you; address your questions and requests in relation to your customer accounts, subscription and billing arrangements with us
        as well as our travel products and services; activate, deactivate, install, maintain and operate our systems and/or services.. To the extent that our corporate affiliates have access to your information, they will follow practices that are at
        least as restrictive as the practices described in this Privacy Policy.</p>
    <p><strong>Companies providing services to Siestaz Companies</strong>, such as insurance, auditing, legal or consultancy services, as well as agents, contractors or third party service providers who provide operational services to Staydilly, such as
        courier services, telecommunications, information technology, payment, printing, billing, payroll, processing, technical services, training, market research, call center, security or other services.</p>
    <p><strong>Others,</strong> including any business partner, investor, assignee or transferee (actual or prospective) to facilitate business asset transactions (which may extend to any merger, acquisition or asset sale) involving any of the Siestaz Companies;
        and any other party to whom you authorize us to disclose your personal information.</p>
    <p>We also may share your information:</p>
    <ul>
        <li>Where required by local or foreign law in the good faith belief that disclosure is necessary to comply with applicable laws or legal processes.</li>
        <li>When we believe it is appropriate to investigate, prevent, or take action regarding illegal or suspected illegal activities covering both local and foreign investigations; and upon request from law enforcement agencies in your jurisdiction, for
            example in order to protect and defend the rights, property, or safety of the Siestaz Companies, their websites, or users of their websites; and in connection with our Terms of Use and other agreements.</li>
        <li>In connection with a corporate transaction, such as a sale of a subsidiary or a division, merger, consolidation, or asset sale, or in the unlikely event of winding-up. </li>
    </ul>
    <p>We also may share aggregate or anonymous information with third parties, including advertisers and investors. For example, we may tell our advertisers the number of visitors this Website receives or the most popular hotels and holiday destinations.
        This information does not contain any personal information and is used to develop content and services we hope you will find of interest and to audit the efficacy of our advertising.</p>
    <p><strong>How you can access your information</strong></p>
    <p>You can access, correct and update your contact information by visiting the My Profile page on this Website. You can close your account by contacting us at the email address listed below. Please note that after you close an account, if we no longer
        hold such information, you will not be able to sign in or access any of your personal information. However, you can open a new account at any time. Please also note that we may retain certain information associated with your account, including
        for analytical purposes as well as for record keeping integrity for a period of time, after which we will ensure such information is securely destroyed. Information we may retain includes, for example, accounting data, data for auditing purposes
        and transactional information and/or information required to be retained for compliance with law.</p>
    <p>If you do not hold an account with us or wish to contact us in relation to any personal information that is not displayed in your account, you have the right to ask us to access, correct, delete or modify the information that we hold about you by
        emailing us at the email address listed below.</p>
    <p><strong>Your choices with respect to collection and use of your information</strong></p>
    <p>When you make a booking for a travel reservation with us or choose to access certain services we provide, information we request that is mandatory will be marked with a red asterisk. As discussed above, you can choose not to provide us with requested
        information, but as a result you may not be able to complete your booking or access the requested services.</p>
    <p>You also have the right to add or update information and close your account as described above.</p>
    <p>When you register as a member on this Website, you will be given a choice as to whether you want to receive email messages from us about special offers from us, as well as email messages about products and services of selected third parties. As a
        registered member on this Website, you can modify your choices at any time through the Email Settings of the My Profile page. You will also be given the same choices when you fill in any form on our Website by which you provide your email address
        to us.</p>
    <p>Whether registered as a member or not, you also will be given the opportunity to unsubscribe from messages in any such email we send. Please note that we reserve the right to send you other communications, including service announcements, loyalty
        program updates, administrative messages, and surveys relating either to your account or to your transactions on this Website, without offering you the opportunity to opt out of receiving them.</p>
    <p>The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Please note that if you
        refuse to accept cookies from this Website, you will not be able to access portions of our Website.<br />
        <strong>Cookies and other Web technologies</strong></p>
    <p>We automatically collect some information about you and your computer when you visit this Website. For example, we will collect your IP address, Web browser software (such as Firefox, Internet Explorer or Safari), and referring website. We also may
        collect information about your online activity, such as trips viewed and purchases made. One of our goals in collecting this automatic information is to help customize your user experience.</p>
    <p>As a member or visitor to this Website, you will be assigned a permanent cookie file on your computer's hard drive. When you access the My Bookings or My Profile areas of this Website, reserve or purchase travel, or use selected travel planning tools,
        we may require you to sign in as a member, using your Member ID and password. Once you sign in as a member, we record the Member ID and the name on the member account in the cookie file on your computer. We may also record your password in this
        cookie file as encrypted data if you checked the box entitled &quot;Save this password for automatic sign-in.&quot; Your Member ID, password, and the name on your member account is stored in the cookie file as encrypted data, so no one can view
        the information it contains by obtaining unauthorised access to your computer. Permanent cookie files remain on your computer's hard drive until you manually delete the file.</p>
    <p>In addition to the above cookies, we use Local Shared Objects, also referred to as flash cookies, on our Website. These are used to enhance your user experience, for example, by storing your user preferences and settings, such as your volume/mute
        settings, and in connection with animated content on our Website. Local Shared Objects are similar to browser cookies, but can store data more complex than simple text. By themselves, they cannot do anything to or with the data on your computer.
        Like other cookies, they can only access personally identifiable information that you have provided on this Website, and cannot be accessed by other websites. To find out more about flash cookies or how to disable them, please <a href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html">click here</a>.</p>
    <p>This Website may also use Web beacons (also known as clear gifs, pixel tags or Web bugs), which are tiny graphics with a unique identifier, similar in function to cookies, that are placed in the code of a Web page. We use Web beacons to monitor the
        traffic patterns of users from one page within our Website to another, to deliver or communicate with cookies, to understand whether you have come to our Website from an online advertisement displayed on a third-party website, and to improve Website
        performance. We also may allow our service providers to use Web beacons to help us understand which emails have been opened by recipients and to track the visitor traffic and actions on our Website. This helps us measure the effectiveness of our
        content and other offerings.</p>
    <p>You may block, delete or disable cookies, Web beacons and other Web technologies by amending your browser or device settings. However, if you do disable these technologies, you may not be able to take advantage of certain features or services on our
        Website, including our travel services and planning tools. Disabling these technologies may also mean that you are required to re-enter account information (such as Member ID and password) on several occasions during any browsing session. For
        more information, please refer to your browser or device settings.<br /> If you have any questions about our use of cookies or other technologies, please email us at our customer care email address shown below.</p>
    <p><strong>Display of tailored advertising/Your choices</strong></p>
    <p><strong>Data collected by business partners and ad networks to serve you with relevant advertising.</strong> The advertisements you see on this Website are served by us or by our service providers. But we also allow third parties to collect information
        about your online activities through cookies and other technologies. These third parties include (1) other Siestaz Companies; (2) business partners, who collect information when you view or interact with one of their advertisements on our Websites;
        and (3) advertising networks, which collect information about your interests when you view or interact with one of the advertisements they place on many different websites on the Internet. The information gathered by these third parties is used
        to make predictions about your characteristics, interests or preferences and to display advertisements on our Websites and across the Internet tailored to your apparent interests. We do not permit these third parties to collect personal information
        about you (such as email address) on our Website, nor do we share with them any personal information about you.</p>
    <p>Please note that we do not have access to or control over cookies or other technologies these third parties may use to collect information about your interests, and the information practices of these third parties are not covered by this Privacy Policy.</p>
    <p>Data collected by companies that operate cookie-based exchanges to serve you with relevant advertising. Like other companies operating online, this Website participates in cookie-based exchanges where anonymous information is collected about your
        browsing behavior through cookies and other technologies and segmented into different topics of interest (such as travel). These topics of interest are then shared with third parties, including advertisers and ad networks, so they can tailor advertisements
        to your apparent interests. We do not share personal information (such as your email address) with these companies and we do not permit these companies to collect any such information about you on our Website. Please click here to learn more about
        cookie-based exchanges, including how to access information about the topics of interest associated with cookies on your computer and how to decline participation in these programs.</p>
    <p><strong>Using the mobile phone and tablet Apps (the &ldquo;Mobile Apps&rdquo;)</strong></p>
    <p>When you use our Mobile App, we collect and use information about you in the same way and for the same purposes as we do when you use this Website.<br /> In addition to this, we also use some other information that we collect automatically when you
        use our Mobile Apps. Specifically:</p>
    <ul>
        <li>We collect information about Mobile App functionality that you access and use. This allows us to identify those areas of the Mobile App that are of interest to our customers so that we can refine and continuously improve the Mobile App. The information
            we collect for this purpose does not enable us to directly identify you.</li>
        <li>Each Mobile App also sends us the device's unique device identifier (or &quot;UID&quot;), a sequence of numbers or characters that are unique to your mobile device. We use this only on the first opening of the Mobile App so that we can confirm
            to our advertising networks the number of downloads resulting from clicks on their respective ad banners and other marketing tools.</li>
        <li>When you use a Mobile App, you can choose to allow access to your current location – provided by your mobile device using GPS or similar technologies – in order to identify nearby hotels, airports, or other travel service providers. If you choose
            to allow access, this location data may be collected anonymously as part of search requests logged by our servers. You can switch off the Mobile App&rsquo;s access to your location at any time through your phone settings menu.</li>
        <li>Each Mobile App will also send us error-reporting information in the event that it crashes or hangs. This enables us to investigate the error and to improve the stability of the Mobile App for future releases. As part of these error reports, the
            Mobile App sends us information about the mobile device type and version, the UID, the time the error occurred, the feature being used and the state of the application when the error occurred. We do not use this information for any purpose
            other than investigating and remedying the error.</li>
        <li>You always have the ability to control what information a Mobile App sends to us. You can exercise this control either by changing the settings of the Mobile App under its setting menu or changing the settings of your mobile device. Alternatively,
            you can remove the Mobile App from your mobile device entirely and access our services through our Website. </li>
    </ul>
    <p><strong>How we protect your information</strong></p>
    <p>We want you to feel confident about using this Website to make hotel and travel bookings, and we are committed to protecting the information we collect. While no website can guarantee security, we have implemented appropriate administrative, technical,
        and physical security procedures to help protect the personal information you provide to us. For example, only authorized employees are permitted to access personal information, and they only may do so for permitted business functions. In addition,
        we use encryption when transmitting personal information that is sensitive to you (e.g., credit card details) between your system and ours, and we employ firewalls and intrusion detection systems to help prevent unauthorized persons from gaining
        access to your information.</p>
    <p><strong>Where your data is stored</strong></p>
    <p>Staydilly stores and processes Personal Data about Travelers in secure environments in the country or region where it is collected as well as in the United States. In order to provide its services, Staydilly must transfer your Personal Data to the
        United States, and possibly to other countries where our third party vendors are located. Such transfers of Personal Data will be conducted in accordance with local data protection laws.</p>
    <p><strong>External links</strong></p>
    <p>If any part of this Website links you to other websites, those websites do not operate under this Privacy Policy. We recommend you examine the privacy statements posted on those other websites to understand their procedures for collecting, using,
        and disclosing personal information.</p>
    <p><strong>Changes to this Privacy Policy</strong></p>
    <p>We may update this Privacy Policy in the future. We will notify you about material changes to this Privacy Policy by sending a notice to the email address you provided to us or by placing a prominent notice on our Website. Any changes we may make
        to our Privacy Policy in the future will be posted on this page. We may contact you where appropriate. Please check back frequently to see any updates or changes to our Privacy Policy.</p>
    <p><strong>How you can contact us</strong></p>
    <p>If you have questions about either this Privacy Policy (or your travel planning or purchases) or any complaints about the processing of your personal information, please contact our data privacy officer at privacy@siestaz.com. You can also contact
        your local data protection authority for further information or to file a complaint.</p>
    <p>We will do our best to respond to your request within 48 hours. </p>
    <p>This Privacy Policy is effective as of 17 September 2016.</p>
    <p>Siestaz Pte. Ltd. <br /> 151 Chin Swee Rd #07-12, 69876 Singapore</p>
</div>