<div id="footerCms" class="page-footer footer">
    <div class="footer-container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><h4><u>Quick Links</u></h4></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled">
                    <li><h4><u>Disclaimer</u></h4></li>
                    <li>&copy; copyrights reserved.</li>
                    <li>Unauthorized use of this system can lead to legal penalties.</li>
                    <li>Powered by <a href="http://www.axisrooms.com/">AxisRooms</a> </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><h4><u>Social Links</u></h4></li>
                    <li><a title="Our Facebook Page" href="https://www.facebook.com/travelermv" target="_blank">Facebook</a></li>
                    <li><a title="Our Twitter Page" href="/" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>