<div id="profile" >
  <div class="row">
    <p class="phead">Change My Password</p>
    <hr>
  </div>

  <div class="changepass">
    <form>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <p class="chhead">Old password:</p>
        </div>
        <div class="col-sm-6 col-md-8">
          <input type="password" ng-model="updatePass.oldPassword" required autofocus>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <p class="chhead">New password:</p>
        </div>
        <div class="col-sm-6 col-md-8">
          <input type="password" ng-model="updatePass.newPassword" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <p class="chhead">confirm password:</p>
        </div>
        <div class="col-sm-6 col-md-8">
          <input type="password" ng-model="updatePass.confirmPassword" required>
        </div>
      </div>
      <div class="row errormsg">
        <p ng-if="errorMeassege">{{errorMeassege}}</p>
      </div>
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-md-4">
          <p><input type="submit" value="Change Password" class="btn_1" ng-click="updatepassword(updatePass)" /></p>
        </div>
      </div>
    </form>
  </div>
</div>
