<div id="profile" >
  <div class="container-fluid" ng-hide="dataReceived">
    <div class="clock"></div>
  </div>
  <div class="row" style="border-bottom: black;border-bottom-style: solid;border-width: thin;" ng-show="dataReceived">
    <div class="col-sm-6 col-md-8">
      <p class="phead">Profile details</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <input type="submit" value="Edit Profile" class="btn_1" ng-click="editUser()" ng-show="!editProfile" class="pull-right"/>
    </div>
  </div>
  <div class="row" ng-show="dataReceived">
    <p class="pdesc" style="margin-top: 10px;">Completing your profile details will make your future booking faster and easier.</p>
  </div>
  <div  class="row" class="table-responsive" ng-show="dataReceived">
    <table ng-if="!editProfile" border="0" class="table">
      <tr>
        <td>First Name:</td>
        <td>{{userDeatails.first_name}}</td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>{{userDeatails.last_name}}</td>
      </tr>
      <tr>
        <td>E-mail ID:</td>
        <td>{{userDeatails.email}}</td>
      </tr>
      <tr>
        <td>Phone No:</td>
        <td>{{userDeatails.mobile}}</td>
      </tr>
      <tr>
        <td>E-mail Subscriptions:</td>
        <td>{{userDeatails.email_subscriptions}}</td>
      </tr>
      <tr>
        <td>Destinations:</td>
        <td>{{userDeatails.destinations}}</td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td>{{userDeatails.first_name}}</td>
      </tr>
      <tr>
        <td>Currency:</td>
        <td>{{userDeatails.currency}}</td>
      </tr>
    </table>
    <table ng-if="editProfile" border="0" class="table">
      <tr>
        <td>First Name:</td>
        <td><input class="profile-input" type="text" ng-model="userDeatails.first_name" required autofocus/></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input class="profile-input" type="text" ng-model="userDeatails.last_name" required/></td>
      </tr>
      <tr>
        <td>E-mail ID:</td>
        <td><input class="inputDisabled profile-input" type="email" ng-model="userDeatails.email" readonly/></td>
      </tr>
      <tr>
        <td>Phone No:</td>
        <td><input class="profile-input" type="text" name="phone_contact" id="phone_contact" ng-model="userDeatails.mobile" required ng-pattern="patterns.NUM">
                              <span class="error" ng-show="simple-form.phone_contact.$error.pattern">
                              Not valid phone number!</span></td>
      </tr>
      <tr>
        <td>E-mail Subscriptions:</td>
        <td>{{userDeatails.email_subscriptions}}</td>
      </tr>
      <tr>
        <td>Destinations:</td>
        <td><input class="profile-input" type="text" ng-model="userDeatails.destinations" /></td>
      </tr>
      <tr>
        <td>Currency:</td>
        <td><input class="inputDisabled profile-input" type="text" ng-model="userDeatails.currency" readonly /></td>
      </tr>
    </table>
  </div>
  <div class="row" ng-show="editProfile" ng-show="dataReceived">
    <div class="col-sm-8 col-md-8"></div>
    <div class="col-sm-4 col-md-4">
      <input type="submit" value="Save" class="btn_1" ng-click="updateUser(userDeatails)">
      <input type="submit" value="Back" class="btn_1" ng-click="profileUser()">
    </div>
  </div>
</div>



