<div id="profile" >
  <div class="row">
    <p class="phead">Refer A Friend</p>
    <hr/>
  </div>
  <div class="referfriend">
    <form>
      <div class="row">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>Lorem Ipsum has been the industry's standard dummy </p>
        <p><b>E-Mail:</b>
          <input type="email" class="refinput" ng-model="user.refarelEmail" required autofocus>
          <input type="submit" value="Submit" class="btn_1" ng-click="refer(user)" /></p>
        <p> <span class="error" ng-show="user.refarelEmail.$error.email">Not a valid email!</span></p>
      </div>
    </form>
  </div>
</div>
