<div id="wallet" >
  <div class="container-fluid" ng-hide="dataReceived">
    <div class="clock"></div>
  </div>
  <div class="row" ng-show="dataReceived">
    <p class="phead">My Wallet Amount</p>
    <hr/>
  </div>
  <div class="panel-group" id="accordion" aria-multiselectable="true" ng-show="dataReceived">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-general" aria-expanded="true" aria-controls="collapseOne-general">Wallet Summary<i class="indicator icon-plus pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseOne-general" class="panel-collapse collapse in" aria-expanded="true">
            <div class="panel-body">
                <ul class="list-unstyled">
                  <li>
                    <span class="sale-info">Last Credit Amount to Wallet:</span>
                    <span class="sale-num">{{lastUsedAmount + ' ' + currency}}</span>
                  </li>
                  <li>
                    <span class="sale-info">Last Used Wallet Amount:</span>
                    <span class="sale-num">{{lastCreditAmount + ' ' + currency}}</span>
                  </li>
                  <li>
                    <span class="sale-info">Current Balance:</span>
                    <span class="sale-num">{{curentBalance + ' ' + currency}}</span>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-general" aria-expanded="false" aria-controls="collapseTwo-general">Add Money To Wallet<i class="indicator icon-plus pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseTwo-general" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
                <ul class="list-unstyled">
                  <li>
                    <span class="sale-info">Amount to be added to Wallet:</span>
                    <input type="text" id="txn_amount" name="txn_amount" ng-model="txn_amount" style="width: 350px;margin-top:10px;height:40px" placeholder="Enter Amount">
                    <div class="form-group">
                      <label>
                        <input type="checkbox" name="policy_terms" id="policy_terms" checked required>
                        I accept <a href="/terms-of-use" target="_new">terms and conditions</a> and <a href="/privacy-policy" target="_new" ng-disabled="confirmed">privacy policy.</a>
                      </label>
                    </div>
                    <input ng-click="addWallet();" class="btn btn-orange-lighten btn-sm" type="button" style="width:86px;margin-left:100px;" value="Go for it">
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-general" aria-expanded="false" aria-controls="collapseThree-general">Wallet Transactions<i class="indicator icon-plus pull-right"></i></a>
            </h4>
        </div>
        <div id="collapseThree-general" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
                <form class="mar0 booking-form">
                  <div class="form-group col-md-3">
                    <label>Transaction Type</label>
                    <ui-select ng-model="transactionType" title="Change Transaction Type" ng-change="onTypeChange(transactionType.type)">
                      <ui-select-match placeholder="Transaction Type">{{$select.selected.type}}</ui-select-match>
                      <ui-select-choices repeat="type in transactionTypes">
                        <span ng-bind-html="type.type"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                  <div class="form-group col-md-3">
                    <i class="icon-calendar book-icons" style="right:20px;" ng-click="open1()"></i>
                    <label>Start Date</label>
                    <input class="form-control custom-cls config-start-date config-demo dp" ng-keyup="open1()" ng-click="open1()" name="startDate" required readonly="readonly" type="text" ng-change="setMinMaxDate(startDate,endDate);" uib-datepicker-popup="{{format}}" popup-placement="bottom" ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" placeholder="Start" close-text="Close" />
                  </div>
                  <div class="form-group col-md-3">
                    <i class="icon-calendar book-icons" style="right:20px;" ng-click="open2()"></i>
                    <label>End Date</label>
                    <input class="form-control custom-cls config-end-date config-demo dp" ng-keyup="open2()" ng-click="open2()" name="endDate" required readonly="readonly" type="text" ng-change="setMinMaxDate(startDate,endDate);" uib-datepicker-popup="{{format}}" popup-placement="bottom" ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions2" ng-required="true" placeholder="End" close-text="Close" />
                  </div>
                </form>
                <div class="buyer-txn-history-wrapper" ng-if="walletDetails.length > 0">
                  <table class="table table-hover table-bordered buyer-accounts-table" id="requestTable">
                    <thead class="table-head">
                    <tr>
                      <th>
                        <a class="table-body" href="#" ng-click="orderByField='reference'; reverseSort = !reverseSort"> Reference ID </a>
                      </th>
                      <th>
                        <a class="table-body" href="#" ng-click="orderByField='transaction_date'; reverseSort = !reverseSort"> Transaction Date </a>
                      </th>
                      <th>
                        <a class="table-body" href="#" ng-click="orderByField='type'; reverseSort = !reverseSort"> Type </a>
                      </th>
                      <th>
                        <a class="table-body" href="#" ng-click="orderByField='mode'; reverseSort = !reverseSort"> Mode </a>
                      </th>
                      <th>
                        <a class="table-body" href="#" ng-click="orderByField='status'; reverseSort = !reverseSort"> Status </a>
                      </th>
                      <th>
                        <a class="table-body" href="#" ng-click="orderByField='amount'; reverseSort = !reverseSort"> Amount </a>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="wallet in walletDetails|orderBy:orderByField:reverseSort">
                      <td>{{wallet.reference}}</td>
                      <td>{{wallet.transaction_date}}</td>
                      <td>{{wallet.type}}</td>
                      <td>{{wallet.mode}}</td>
                      <td>{{wallet.status}}</td>
                      <td>{{wallet.amount}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="buyer-txn-history-wrapper" ng-if="walletDetails.length <= 0">
                  <div class="row">No TRANSACTIONS!</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


