<div class="custom-loader" ng-hide="dataReceived">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!-- Slider -->
<div id="full-slider-wrapper">
  <div id="" style="width:100%;height:100%; min-height: 450px; position: relative; box-shadow: 0 3px 10px rgba(0,0,0,.5);">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div class="booking-wid" ng-controller="SearchController">
        <form>
          <h1>{{ widgetText }}</h1>
          <div class="form-group">
            <i class="icon-location book-icons" style="z-index:99999;"></i>
            <label class="booking-label">Search your Destination</label>
            <ui-select ng-model="location" title="Change Location" ng-change="setLoc(location)">
              <ui-select-match placeholder="Location">
                <div ng-show="$select.selected.city_id != -1">{{$select.selected.city}},&nbsp{{$select.selected.state}}</div>
                <div ng-hide="$select.selected.city_id != -1">{{$select.selected.state}}</div>
              </ui-select-match>
              <ui-select-choices repeat="loc in allLocations | filter: $select.search | orderBy: 'state'" >
                <div ng-hide="loc.city_id == -1">
                  &nbsp &nbsp <i class="icon-level-up icon-rotate-90 search-icon"></i> <span ng-bind-html="loc.city | highlight: $select.search"></span>,&nbsp<span>{{loc.state}}</span>
                </div>
                <div ng-show="loc.city_id == -1">
                  <span ng-bind-html="loc.state | highlight: $select.search"></span>,&nbsp<span>{{loc.country}}</span>
                </div>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="form-group">
            <i class="icon-calendar book-icons" ng-click="open1()"></i>
            <label class="booking-label">Check In</label>
            <input class="form-control custom-cls config-start-date config-demo dp" ng-keyup="open1()" ng-click="open1()" name="startDate" required readonly="readonly" type="text" ng-change="setMinMaxDate();" uib-datepicker-popup="{{format}}" popup-placement="bottom"
                   ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true" placeholder="Start" close-text="Close" />
          </div>
          <div class="form-group">
            <i class="icon-calendar book-icons" ng-click="open2()"></i>
            <label class="booking-label">Check Out</label>
            <input class="form-control custom-cls config-end-date config-demo dp" ng-keyup="open2()" ng-click="open2()" name="endDate" required readonly="readonly" type="text" uib-datepicker-popup="{{format}}" popup-placement="bottom" ng-model="endDate" is-open="popup2.opened"
                   datepicker-options="dateOptions2" ng-required="true" placeholder="End" close-text="Close" />
          </div>
          <div class="form-group">
            <i class="icon-angle-down book-icons"></i>
            <label class="booking-label">Guests</label>
            <div class="btn-group wid100" uib-dropdown auto-close="outsideClick" dropdown-append-to-body>
              <input type="text" class="form-control custom-cls guests" id="split-button" placeholder="{{ guest.rooms }} Rooms, {{ guest.adults }} Adults" readonly/>
              <button type="button" class="btn btn-danger guest-btn" uib-dropdown-toggle>
                <span class="caret span-cls"></span>
                <span class="sr-only">Split button!</span>
              </button>
              <div class="dropdown-menu guest-selection mg0" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="width: 240px;">
                <span>Adults</span>
                <div class="input-group number-spinner1">
                                        <span class="input-group-btn">
                                <button class="btn btn-default"  ng-click="spinDown('adults')">
                                  <span class="glyphicon glyphicon-minus span-cls"></span>
                                </button>
                                        </span>
                  <input type="text" class="form-control text-center" ng-model="guest.adults" value="{{ guest.adults }}" ng-change="onAdultsChange()">
                                        <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="spinUp('adults')">
                                  <span class="glyphicon glyphicon-plus span-cls"></span>
                                </button>
                                        </span>
                </div>
                <br>
                <span>Rooms</span>
                <div class="input-group number-spinner">
                                        <span class="input-group-btn span-cls">
                                <button class="btn btn-default" ng-click="spinDownroom('rooms')">
                                  <span class="glyphicon glyphicon-minus span-cls"></span>
                                </button>
                                        </span>
                  <input type="text" class="form-control text-center" ng-model="guest.rooms" value="{{ guest.rooms }}" ng-change="onRoomChange()">
                                        <span class="input-group-btn span-cls">
                                <button class="btn btn-default" ng-click="spinUproom('rooms')">
                                  <span class="glyphicon glyphicon-plus span-cls"></span>
                                </button>
                                        </span>
                </div>

              </div>
            </div>
          </div>
          <a href ui-sref="list({
                       location: (cityId != -1) ? cityId : null,
                       checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()),
                       checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                       rooms: guest.rooms,
                       adults: guest.adults,
                       stateId: (cityId != -1) ? null : stateId})" class="btn_full">search</a>
        </form>
      </div>
      <div uib-slide ng-repeat="promo in promos track by $index" index="$index" >
        <!-- Show images based on screen size -->
        <picture>
          <source class="headerSlid" srcset="views/staydilly/modules/core/client/images/slides/{{promo.large_url}} 2500w" media="(min-width: 1900px)" >
          <source class="headerSlid" srcset="views/staydilly/modules/core/client/images/slides/{{promo.large_url}} 1900w" media="(min-width: 1440px)" >
          <source class="headerSlid" srcset="views/staydilly/modules/core/client/images/slides/{{promo.medium_url}} 1440w" media="(min-width: 1280px)" >
          <source class="headerSlid" srcset="views/staydilly/modules/core/client/images/slides/{{promo.small_url}} 1280w" media="(min-width: 768px)" >
          <source class="headerSlid" srcset="views/staydilly/modules/core/client/images/slides/{{promo.default_url}} 768w" media="(min-width: 400px)">
          <source class="headerSlid" srcset="views/staydilly/modules/core/client/images/slides/{{promo.portrait_url}} 400w" media="(max-width: 400px)">
          <img class="headerSlid" srcset="views/staydilly/modules/core/client/images/slides/{{promo.default_url}} 100w" alt="StaydillySlider">
        </picture>
      <!-- Check if showwidget is true and then display -->
        <div class="promo-wid" ng-if="promo.showWidget">
          <h1>{{ promo.title}}</h1>
          <p>{{promo.description}}</p>
          <h4>{{promo.from}}</h4>
          <h2 ng-show="currency != undefined">{{ currency }} {{promo.pricelarge * currencyMultiplier[promo.currency] | number:shiftDecimal[currency] | intPriceFormat }}</h2>
          <h2 ng-hide="currency != undefined">{{ promo.currency }} {{promo.pricelarge | number:shiftDecimal[promo.currency] | intPriceFormat }}</h2>
          <a href ui-sref="list({promo: promo.id, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()), rooms: guest.rooms, adults: guest.adults})" class="btn_1 col-md-12">Book Now</a>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End layerslider -->

<div class="container margin_40">
  <div class="best-price-g txt-center">
    <h1>EXCEPTIONAL HOTELS AT UNBEATABLE PRICES.</h1>
    <h2>Book with confidence. You won't find lower prices anywhere else.</h2>
    <p>Discover the height of luxury at Asia's most beautiful destinations and enjoy holidays the Staydilly way. We partner with notable hotels in the region to provide you with the best secret hotel deals at truly
      <br /> remarkable prices you won't find elsewhere. </p>
    <!--<a ui-sref="countryList({country:'Thailand'})">-->
    <img src="/views/staydilly/modules/core/client/images/Thailand-970x90-.jpg" alt="">
    <!--</a>-->
  </div>
</div>
<div class="container margin_50">
  <div class="row">
    <div class="main_title-h">
      <div class="col-md-1 col-sm-12 col-xs-12 txt-center">
        <img ng-src="{{ sections.collections.icon }}" height="100" width="100" alt="">
      </div>
      <div class="col-md-9 col-sm-12">
        <h2>{{ sections.deals.header }}</h2>
        <p>{{ sections.deals.description }}</p>
      </div>
    </div>

    <div class="container">
      <div class="row-cust">
        <div class="col-md-12">
          <div class="col-sm-12 col-md-8 pr0">
            <a ui-sref="view({
                                        searchId: searchid,
                                        url:large_hotel.id ,
                                        productId:large_hotel.id ,
                                        checkin: ((large_hotel.startDate.getMonth() + 1)+ '-' + large_hotel.startDate.getDate() + '-' + large_hotel.startDate.getFullYear()),
                                        checkout: ((large_hotel.endDate.getMonth() + 1)+ '-' + large_hotel.endDate.getDate() + '-' + large_hotel.endDate.getFullYear()),
                                        rooms: guest.rooms,adults:guest.adults})">
              <div class="deals" style="background: url('{{ large_hotel.image }}')">
                <div class="bg_overlay" ng-show="large_hotel.isStock">
                  <div class="dealoffer1" ng-if="large_hotel.discount > 0">
                    <p class="dis_per">{{ large_hotel.discount | number:0 }}%
                      </n><span class="less">less</span></p>
                  </div>
                  <div class="dealoffer1" ng-if="!(large_hotel.discount > 0)">
                    <p class="dis_per">{{ large_hotel.discount | number:0 }}%
                      </n><span class="less">less</span></p>
                  </div>
                  <div style="clear:both;"></div>
                  <div class="info">
                    <p class="location">{{ large_hotel.address }}
                      <br>
                      <span class="hotelname">{{ large_hotel.hotel_name }}</span></p>
                    <p>From</p>
                    <p>
                      <span ng-show="currency != undefined" class="cost1">{{ currency }} {{large_hotel.sellExclusive * currencyMultiplier[large_hotel.currency] | number:shiftDecimal[currency] | intPriceFormat}}</span>
                      <span ng-hide="currency != undefined" class="cost1">{{ large_hotel.currency }} {{large_hotel.sellExclusive | number:shiftDecimal[large_hotel.currency] | intPriceFormat}}</span>
                    /night</p>
                  </div>
                  <p></p>
                </div>
                <!-- <div class="bg_overlay2" ng-show="!large_hotel.isStock">
                  <img src="/views/staydilly/modules/core/client/images/sorry-sold-out.png" height="100" alt="Sold Out">
                </div> -->
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 pr0" ng-if="!hoteldel.large" ng-repeat="hoteldel in hoteldeal">
            <a ui-sref="view({
                                        searchId: searchid,
                                        url:hoteldel.id ,
                                        productId:hoteldel.id ,
                                        checkin: ((hoteldel.startDate.getMonth() + 1)+ '-' + hoteldel.startDate.getDate() + '-' + hoteldel.startDate.getFullYear()),
                                        checkout: ((hoteldel.endDate.getMonth() + 1)+ '-' + hoteldel.endDate.getDate() + '-' + hoteldel.endDate.getFullYear()),
                                        rooms: guest.rooms,adults: guest.adults})">
              <div class="deals2" style="background: url('{{ hoteldel.image }}')">
                <div class="bg_overlay2" ng-show="hoteldel.isStock">
                  <div class="dealoffer2" ng-if="hoteldel.discount > 0">
                    <p>{{ hoteldel.discount | number:0 }}%
                      <br> <span class="fn25">less</span></p>
                  </div>
                  <div class="dealoffer2 visiblity" ng-if="!(hoteldel.discount > 0)">
                    <p>{{ hoteldel.discount | number:0 }}%
                      <br> <span class="fn25">less</span></p>
                  </div>
                  <div style="clear:both;"></div>
                  <div class="info">
                    <p class="location">{{hoteldel.address }}
                      <br>
                      <span class="hotelname">{{hoteldel.hotel_name }}</span></p>
                    <p>From
                      <br>
                      <span class="cost1" ng-show="currency != undefined">{{ currency }}{{ hoteldel.sellExclusive * currencyMultiplier[hoteldel.currency] | number:shiftDecimal[currency] | intPriceFormat }}</span>
                      <span class="cost1" ng-hide="currency != undefined">{{ hoteldel.currency }}{{ hoteldel.sellExclusive | number:shiftDecimal[hoteldel.currency] | intPriceFormat }}</span>
                      /night
                    </p>
                  </div>
                  <p></p>
                </div>
                <!-- <div class="bg_overlay2" ng-show="!hoteldel.isStock">
                  <img src="/views/staydilly/modules/core/client/images/sorry-sold-out.png" height="100" alt="Sold Out">
                </div> -->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--collections section-->
<div class="container-fluid" style="background-color:#f2f1f0;">
  <div class="container margin_60">
    <div class="main_title-h">
      <div class="col-md-1 col-sm-12 col-xs-12 txt-center">
        <img ng-src="{{ sections.collections.icon }}" alt="">
      </div>
      <div class="col-md-9 col-sm-12">
        <h2>{{ sections.collections.header }}</h2>
        <p>{{ sections.collections.description }}</p>
      </div>
    </div>
    <div class="container">
      <div class="row-cust">
        <div class="col-md-4 pr0">
          <div class="col-md-12 pr0" ng-if="coll.small" ng-repeat="coll in smallcollections track by $index" index="$index">
            <a ui-sref="list({propertyType: coll.id, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()),
                       checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                       rooms: guest.rooms,
                       adults: guest.adults})">
              <div class="collection" ng-style="{'background-image':'url({{coll.image || '/views/staydilly/modules/core/client/img/notredame.jpg'}})'}">
                <div class="collection_header">
                  <h1><span class="txtShadow">{{ coll.name | uppercase }}</span></h1>
                </div>
                <div class="bgoverlay">
                  <div class="text">
                    <p>{{coll.description}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-8" ng-if="largecollections.large">
          <div class="col-md-12 pl0 mt60">
            <a ui-sref="list({propertyType: largecollections.id, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()),
                       checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                       rooms: guest.rooms,
                       adults: guest.adults})">
              <div class="collection2" ng-style="{'background-image':'url({{largecollections.image || '/views/staydilly/modules/core/client/img/notredame.jpg'}})'}">
                <div class="collection_header">
                  <h1><span class="txtShadow">{{ largecollections.name | uppercase }}</span></h1>
                </div>
                <div class="bgoverlay2">
                  <div class="text">

                    <p>{{largecollections.description}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 pl0" ng-if="coll.bottom" ng-repeat="coll in bottomcollections track by $index" index="$index">
            <a ui-sref="list({propertyType: coll.id, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()),
                       checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                       rooms: guest.rooms,
                       adults: guest.adults})">
              <div class="collection" ng-style="{'background-image':'url({{coll.image || '/views/staydilly/modules/core/client/img/notredame.jpg'}})'}">
                <div class="collection_header">
                  <h1><span class="txtShadow">{{ coll.name | uppercase }}</span></h1>
                </div>
                <div class="bgoverlay">
                  <div class="text">
                    <p>{{coll.description}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
      </div>
    </div>
    <!-- End row -->
  </div>
</div>
<!--collections section ends-->

<!--Discover cities section-->
<div class="container-fluid" style="background-color:#ffffff;">
  <div class="container margin_60">
    <div class="main_title-h">
      <div class="col-md-1 col-sm-12 col-xs-12 txt-center">
        <img ng-src="{{ sections.cities.icon }}" alt="">
      </div>
      <div class="col-md-9 col-sm-12">
        <h2>{{ sections.cities.header }}</h2>
        <p>{{ sections.cities.description }}</p>
      </div>
    </div>
    <div class="container containerPadding">
      <div class="row-cust">
        <div class="col-md-8 pl0 mt60">
          <!--<a ui-sref="destinationview({country: getCountryName(largeCityVisit.id), city: getCityName(largeCityVisit.id), cityId: largeCityVisit.id})">-->
          <a ui-sref="list({stateId: largeState.id, propertyType: coll.id, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()),
                       checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-' + endDate.getFullYear()),
                       rooms: guest.rooms,
                       adults: guest.adults})">
            <div class="collection2" ng-style="{'background-image':'url({{largeState.image || '/views/staydilly/modules/core/client/img/notredame.jpg'}})'}">
            </div>
          </a>
        </div>
        <div class="col-md-4 pl0" ng-repeat="citvisit in states track by $index" index="$index" ng-if="!citvisit.large">
          <a ui-sref=" list({stateId: citvisit.id, propertyType: coll.id, checkin: ((startDate.getMonth() + 1)+ '-' + startDate.getDate() + '-' + startDate.getFullYear()), checkout: ((endDate.getMonth() + 1)+ '-' + endDate.getDate() + '-'
                    + endDate.getFullYear()), rooms: guest.rooms, adults: guest.adults}) ">
            <div class="collection " ng-style="{ 'background-image': 'url({{citvisit.image || '/views/staydilly/modules/core/client/img/notredame.jpg '}})'} ">
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
</div>
<!--Discover cities section ends-->

<!--Blog Section-->
<div class="container-fluid " style="background-color:#f2f1f0; ">
  <div class="container margin_30 ">
    <div class="row ">
      <div class="main_title-h ">
        <div class="col-md-1 col-sm-12 col-xs-12 txt-center ">
          <img ng-src="{{ sections.blog.icon }} " height="100 " width="100 " alt=" ">
        </div>
        <div class="col-md-9 col-sm-12 ">
          <h2>{{ sections.blog.header }}</h2>
          <p>{{ sections.blog.description }}</p>
        </div>
      </div>
      <div class="row blogContainer">
        <div class="col-md-12 ">
          <div class="col-md-6 blg-title " ng-repeat="blog in blogs track by $index " index="$index " ">
          <a ng-href="{{blog.link}}" target="_blank">
            <div><img ng-src="{{blog.better_featured_image.source_url}} " alt=" " class="img-responsive styled blogimg "></div>
          </a>
          <a ng-href="{{blog.link}}" target="_blank">
            <h3 ng-bind-html="blog.title.rendered"></h3>
          </a>
          <div ng-bind-html="blog.excerpt.rendered | trim:true:120 "></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5 "></div>
  <div class="col-md-2 blg-title ">
    <a href="http://blog.staydilly.com/" target="_blank" class="btn_full_outline ">Read Our Blog</a>
  </div>
  <div class="col-md-5 "></div>
</div>
</div>

<!--Blog Section Ends-->
