<!--Partner with Us starts-->
<div class="container-fluid">
  <div class="row">
    <div class="img-resp">
      <img src="views/staydilly/modules/core/client/img/header-pool-b.jpg" alt="">
      <div class="text-data">
        <h2>Staydilly can Help!</h2>
        <span>Partner with Staydilly to increase your revenues</span>.</div>
    </div>
  </div>
</div>

<div class="container margin_60">

  <div class="main_title">
    <h2>Staydilly <span>partners </span>with hotels to create a better customer experience and increase revenues.</h2>
    <p></p>
    <p></p>
  </div>
</div>

<!-- End container -->

<hr class="hr-style">
<!-- End container -->



<!--Partner with us ends-->
