<div class="loginModel">
    <div ng-if="!setFlag" class="modal-header">
      <div class="col-md-11 col-sm-11 col-xs-11">
        <h3 class="modal-title modelTitle" id="modal-title">Log In</h3>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-1">
        <button class="closeBtn" ng-click="$ctrl.cancel()">X</button>
      </div>
    </div>
    <div ng-if="setFlag" class="modal-header">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
          <button type="button" class="btn btnSmall" ng-click="$ctrl.logIn()">Back</button>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
          <h3 class="modal-title modelTitle" id="modal-title">Forgot Password</h3>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
          <button class="closeBtn" ng-click="$ctrl.cancel()">X</button>
        </div>
      </div>

    </div>
    <div class="modal-body" id="modal-body">
      <div ng-if="!setFlag" class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <form name="loginForm" novalidate>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group login_input">
                <label>Email</label>
                <input type="email" name="email" ng-model="user.emailId" value="" class="form-control" required autofocus>
                <span class="error" ng-show="loginForm.email.$error.email">Not a valid Email!</span>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-group login_input ">
                <label>Password</label>
                <input type="password" ng-model="user.password" class="form-control" required>
              </div>
            </div>
            <div ng-show="message" class="col-md-12 col-sm-12 col-xs-12">
              <p>{{message}}. Please, Try Again!!!</p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <button class="btn continueBtn" type="submit" ng-click="$ctrl.LoginAuth(user)">Continue<i class="fa fa-chevron-right"></i></button>
              <span><a href class="fogLink" ng-click="$ctrl.forgotPassword()">Forgot Password?</a></span>
            </div>
          </form>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div style="margin: 30px 10px 0px 30px">
            <!--<google-plus-signin clientid="913110640346-qqev4u7vfssnp266qnghocgkitgbv5mn"></google-plus-signin>-->
            <button ng-click="authenticate('google')" class="loginBtn loginBtn--google">
              Login with Google
            </button>
          </div>
          <div style="margin: 20px 10px 0px 30px">
            <!--<button class="btn btn-primary" style="width:186px;height:36px" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Login with Facebook</button>-->
            <button ng-click="authenticate('facebook')" class="loginBtn loginBtn--facebook">
              Login with Facebook
            </button>
          </div>
        </div>
      </div>
      <div ng-if="setFlag" class="row">
        <div class="forgotPass" ng-if="!resetMessage">
          <p>We will send you the new Password to your registered Email-Id</p>

          <form novalidate name="resetPassword">
            <p>E-mailID <input class="emaiInput" name="emaiInput" type="email" value="" ng-model="user.email">
              <input type="submit" name="" class="btn btn-primary" value="Submit" ng-click="$ctrl.resetPassword(user)"></p>
            <span class="error" ng-show="resetPassword.emaiInput.$error.email">Not a valid Email!</span>

          </form>

        </div>
        <div class="errormsg">
          <p ng-if="resetMessage">New password is sent to your mailId.<br>Please, go back and Login Again..!!!</p>
          <p ng-if="!resetMessage">{{resetErrorMeassege}}</p>
        </div>

      </div>

