.tour_list_desc h3 {
    font-family: 'skolamedium', sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
}

hr {
    border-color: #010101;
}

.tour_list_desc p {
    font-family: 'skolalightitalic', sans-serif;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    width: 35%;
    line-height: 150%;
    color: #231f20 !important;
}

.parallax-content-2 {
    background: none;
}

.back-price {
    background: #50bcbb;
    position: absolute;
    bottom: -69px;
    padding: 5px 20px;
    color: #fff;
}

.back-price span {
    color: #fff !important;
}

.desc {
    text-align: justify;
    font-size: 12px;
}

a.btn_full,
.btn_full {
    background: #231f20 !important;
    border-radius: 0px;
}

a.btn_full:hover,
.btn_full:hover {
    background: #000000 !important;
}

.disabled {
    color: #CCC !important;
}

.list-style {
    list-style: none;
}

.keywords ul li {
    font-family: 'skolamedium', sans-serif;
    font-size: 12px;
}

.list-style li {
    padding: 3px 0;
}

.room-rating p:nth-child(1) {
    padding-top: 30px;
    font-size: 60px;
    font-family: 'skolalight', sans-serif;
    color: #231f20;
}

.room-rating p:nth-child(2) {
    margin: 0px;
    font-size: 30px;
    font-family: 'skolalight', sans-serif;
    color: #231f20;
    padding-top: 10px;
}

.room-rating p:nth-child(3) {
    margin: 0px;
    font-size: 17px;
    font-family: 'skolalight', sans-serif;
    color: #231f20;
    padding-top: 15px;
}

.aside h3 {
    text-transform: uppercase;
    font-family: 'skolabold', sans-serif;
    font-size: 20px;
}

.aside img {
    padding-top: 20px;
}

.aside p {
    margin: 0px;
    font-size: 40px;
    font-family: 'skolalight', sans-serif;
    color: #231f20;
    padding-top: 35px;
}

.tour_list_desc {
    height: 150px;
}

.check p {
    margin: 10px;
    font-family: 'skolaregular', sans-serif;
    font-weight: 600;
}

.check p span {
    margin: 10px;
    color: #797979;
}

.distance h3 {
    text-transform: uppercase;
    font-family: 'skolabold', sans-serif;
    font-size: 20px;
}

.distance p {
    margin: 0px;
    font-size: 13px;
    font-family: 'skolaregular', sans-serif;
    color: #231f20;
}

.distance p:nth-child(1) {
    padding-top: 10px;
}

.rooms h4 {
    font-family: 'skolabold', sans-serif;
    font-size: 20px;
}

.img-responsive.styled {
    margin-top: 0px !important;
}

.sub-p h4 {
    padding-top: 15px;
}

.sub-p p {
    font-family: 'skolaregular', sans-serif;
    color: #231f20;
    margin: 0px;
}

.sub-p p:nth-child(1) {
    padding-top: 2px;
}

.roomoccunrate p {
    font-family: 'skolaregular', sans-serif;
    color: #231f20;
    padding-top: 40px;
    margin: 0px;
}

.roomoccunrate h4 {
    font-family: 'skolabold', sans-serif;
    font-size: 35px;
    margin: 0px !important;
}

.rating {
    font-size: 15px;
}

.reviewnstar h5 i {
    color: #50BCBB !important;
}

@media only screen and (max-width: 768px) {
    .tour_list_desc h3 {
        line-height: 120%;
        display: block;
    }
    .tour_list_desc p {
        text-align: center;
        width: 100%;
    }
    .room-rating p:nth-child(1) {
        margin-top: 50px;
    }
    .back-price {
        background: none;
        position: absolute;
        bottom: 0px;
        padding: 5px 20px;
        color: #fff;
        font-size: 13px !important;
    }
    .back-price span {
        color: #fff;
        font-size: 27px !important;
    }
}


/*Block Quote related*/

blockquote {
    font-family: 'skolalight', sans-serif;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    border-left: 3px solid #CCC;
}

blockquote p {
    display: inline;
    font-size: 15px;
}

.reviews p:nth-child(2) {
    color: #50BCBB;
    font-family: 'skolalight', sans-serif;
    display: inherit;
    padding-top: 3px;
}

div.stars {
  display: inline-block;
}

div.reviewstar {
  display: inline-block;
}
 
input.star { display: none; }
input.reviewstar { display: none; }
 
label.star {
  float: right;
  padding: -10px 1px;
  font-size: 26px;
  color: #444;
  transition: all .2s;
}

label.reviewstar {
  float: right;
  padding: -10px 1px;
  font-size: 26px;
  color: #444;
  transition: all .2s;
}
 
input.star:checked ~ label.star:before {
  content: '\ea99';
  color: #FD4;
  transition: all .25s;
}

input.reviewstar:checked ~ label.reviewstar:before {
  content: '\ea99';
  color: #FD4;
  transition: all .25s;
}
 
input.star-1:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-5:checked ~ label.star:before { color: #F62; }

input.star-11:checked ~ label.reviewstar:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
 
input.star-15:checked ~ label.reviewstar:before { color: #F62; }
 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.reviewstar:hover { transform: rotate(-15deg) scale(1.3); }
