header.sticky #logo_home h1 a {
    background-image: url(../../../core/client/img/logo.png);
}

.sticky .main-menu > ul > li > a {
    color: #fff !important;
}

.sticky ul#top_tools a {
    color: #fff !important;
}

.rating .voted {
    color: #50bcbb;
}

.strip_all_tour_list {
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0;
}

.filter_type h6 {
    font-size: 20px;
    font-family: 'skolamedium', sans-serif;
}

#filters_col {
    border: none;
    padding: 0 10px 15px 15px;
}

.filter-by {
    width: 100%;
    background: #50bcbb;
    padding: 11px;
    font-size: 25px;
    color: #fff !important;
}

#tools {
    background: #231f20;
    padding: 0px !important;
    height: 40px !important;
}

.final-tiles-gallery .ftg-filters a:hover,
.final-tiles-gallery .ftg-filters a.selected,
.final-tiles-gallery .ftg-filters a.active {
    color: #fff !important;
    border-color: #50bcbb !important;
    background: #50bcbb;
    text-decoration: none;
    height: 40px !important;
    line-height: 250%;
}

.final-tiles-gallery .ftg-filters a {
    height: 40px !important;
    border: none !important;
    line-height: 250%;
    color: #fff !important;
    padding: 4px 15px !important;
}

.final-tiles-gallery .ftg-filters {
    margin-bottom: 0px !important;
}

.tour_list_desc h3 {
    font-family: 'skolamedium', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
}

.tour_list_desc p {
    font-family: 'skolalightitalic', sans-serif;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    width: 85%;
    line-height: 150%;
    color: #231f20 !important;
}

.tour_list_desc {
    border: none;
}

.price_list div {
    text-align: left !important;
    vertical-align: top;
}

.price_list {
    display: table;
    height: 220px;
    font-size: 30px;
    color: #231f20 !important;
    width: 100%;
}

.price_list small {
    font-size: 14px;
    color: #231f20;
    display: inline !important;
    line-height: 16px;
    font-family: 'skolalightitalic', sans-serif;
    margin-bottom: 30px;
}

.price_list p {
    font-size: 14px;
    color: #231f20;
    margin-bottom: 10px;
    line-height: 16px;
    text-align: left;
    font-family: 'skolalight', sans-serif;
    margin-top: 30px;
}

a.btn_1, .btn_1 {
    text-transform: capitalize !important;
    font-size: 15px;
    border-radius: 0px;
}

a.btn_1:hover, .btn_1:hover {
    
}

/*Star Ratings*/

.fil-rating {
    direction: rtl;
    font-size: 20px;
    letter-spacing: 5px;
    unicode-bidi: bidi-override;
    position: relative;
}

.fil-rating span.star {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
}

.fil-rating span.star:hover {
    cursor: pointer;
}

.fil-rating span.star:before {
    color: #2e2e2e;
    content: "\f006";
    font-family: "FontAwesome";
}

.fil-rating span.star:hover:before,
.fil-rating span.star:hover ~ span.star:before {
    color: #50bcbb;
    content: "\f005";
    font-family: "FontAwesome";
}

.fil-rating span.star:hover:after {
    direction: ltr;
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: -22px;
    white-space: nowrap;
    font: normal 25px/normal Arial, Helvetica, sans-serif;
}

.ratings {
    width: 85px;
    height: 17px;
    display: inline-block;
    position: relative;
}

.ratings:before,
.ratings:after {
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.ratings:before {
    color: #2e2e2e;
    content: "\f006\f006\f006\f006\f006";
}

.ratings:after {
    color: #50bcbb;
    content: "\f005\f005\f005\f005\f005";
    overflow: hidden;
}

.ratings.one:after {
    content: "\f005";
}

.ratings.onehalf:after {
    content: "\f005\f089";
}

.ratings.two:after {
    content: "\f005\f005";
}

.ratings.twohalf:after {
    content: "\f005\f005\f089";
}

.ratings.three:after {
    content: "\f005\f005\f005";
}

.ratings.threehalf:after {
    content: "\f005\f005\f005\f089";
}

.ratings.four:after {
    content: "\f005\f005\f005\f005";
}

.ratings.fourhalf:after {
    content: "\f005\f005\f005\f005\f089";
}